# Adoption extraction tables

# Contents
1. [Import packages and options](#import_packages)
2. [Define key variables](#define_key_variables)
3. [Adoption_parties](#adoption_parties)
4. [Adoptions_applications](#adoptions_applications)
5. [Adoptions_cases](#adoptions_cases)
6. [Adoptions_disposals](#adoptions_disposals)
7. [Adoptions_disposal_fields](#adoptions_disposal_fields)
8. [adopt_app_count](#adopt_app_count)
9. [adopt_appl_rtc](#adopt_appl_rtc)
10. [adopt_applicant_type](#adopt_applicant_type)
11. [adopt_child_parties](#adopt_child_parties)
12. [adopt_application_4](#adopt_application_4)
13. [adopt_application_5](#adopt_application_5)
14. [adopt_apps_6_adoptions_only](#adopt_apps_6_adoptions_only)
15. [adopt_apps_6_non_adoptions](#adopt_apps_6_non_adoptions)
16. [summaries](#summaries)
17. [adopt_adopt_only_case_count](#adopt_adopt_only_case_count)
18. [disposals](#disposals)
19. [adopt_order_type](#adopt_order_type)
20. [adopt_disposals_type](#adopt_disposals_type)
21. [adopt_country_of_birth](#adopt_country_of_birth)
22. [adopt_disposals_with_child](#adopt_disposals_with_child)
23. [adopt_disposals5](#adopt_disposals5)
24. [adopt_disposals5_adoption](#adopt_disposals5_adoption)
25. [adopt_disposals5_non_adoption](#adopt_disposals5_non_adoption)
26. [adopt_disposals5_non_orders](#adopt_disposals5_non_orders)
27. [adopt_disposals5_2011](#adopt_disposals5_2011)
28. [Country of birth lookup update](#Country of birth lookup update)
29. [adopt_birth_country_unknown](#adopt_birth_country_unknown)
30. [adopt_birth_country_added](#adopt_birth_country_added)
31. [adopt_country_lookup_update](#adopt_country_lookup_update)
32. [adopt_birth_country_lookup](#adopt_birth_country_lookup)
33. [Stage 5 - Preparing the final output](#Stage 5 - Preparing the final output)
34. [adopt_adoptions_only_standard](#adopt_adoptions_only_standard)
35. [adopt_adoption_only_convention](#adopt_adoption_only_convention)
36. [adopt_adoption_only_foreign](#adopt_adoption_only_foreign)
37. [adopt_adoptions_other_only](#adopt_adoptions_other_only)
38. [adopt_adoption_only](#adopt_adoption_only)
39. [adopt_adoption_placement](#adopt_adoption_placement)
40. [adopt_placement_revoke_or_vary](#adopt_placement_revoke_or_vary)
41. [adopt_adoption_contact_s26](#adopt_adoption_contact_s26)
42. [adopt_contact_s26_revoke_vary](#adopt_contact_s26_revoke_vary)
43. [adopt_change_surname](#adopt_change_surname)
44. [adopt_remove_child_from_uk](#adopt_remove_child_from_uk)
45. [adopt_other_order_type](#adopt_other_order_type)
46. [adopt_non_adopt_types](#adopt_non_adopt_types)
47. [adopt_non_adoptions](#adopt_non_adoptions)
48. [adopt_applications](#adopt_applications)
49. [adopt_disp_details](#adopt_disp_details)
50. [adopt_disp_csv_data](#adopt_disp_csv_data)
51. [adopt_disp_order_type](#adopt_disp_order_type)
52. [adopt_disposals](#adopt_disposals)
53. [adopt_application_case_count](#adopt_application_case_count)
54. [adopt_disposal_case_count](#adopt_disposal_case_count)
55. [adopt_csv](#adopt_csv)
56. [adopt_csv2](#adopt_csv2)

## Import packages and set options 
<a name="import_packages"></a>

In [1]:
import pandas as pd  # for the data structures to store and manipulate tables
import pydbtools as pydb  # see https://github.com/moj-analytical-services/pydbtools
import boto3  # for working with AWS

# few things for viewing dataframes better
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 900)
pd.set_option("display.max_colwidth", 200)

## Define some variables to be used throughout the notebook 
<a name="define_key_variables"></a>

In [2]:
database = "familyman_dev_v2"
snapshot_date = "2021-08-19"
database_derived = "familyman_derived_dev_v1"

fcsq_database = "fcsq"

s3 = boto3.resource("s3")
bucket = s3.Bucket("alpha-family-data")

## Adoption_parties table
<a name="adoption_parties"></a>

### Drop the adoptions_parties table if it already exists and remove its data from the S3 bucket

In [3]:
drop_adoptions_parties = f"""
DROP TABLE IF EXISTS fcsq.ADOPTIONS_PARTIES;
"""
pydb.start_query_execution_and_wait(drop_adoptions_parties)

# clean up previous adoptions_parties files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adoptions_Parties/").delete()

[{'ResponseMetadata': {'RequestId': 'NQY4B0MTVSG6310N',
   'HostId': 'vCYDQRN07SBr/xXn4eOe3J6x4KTrB2ItXSgwKF8wZF38lhIhpTNMvGrtMM0Mw66HZJyNwg14QZA=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'vCYDQRN07SBr/xXn4eOe3J6x4KTrB2ItXSgwKF8wZF38lhIhpTNMvGrtMM0Mw66HZJyNwg14QZA=',
    'x-amz-request-id': 'NQY4B0MTVSG6310N',
    'date': 'Wed, 06 Apr 2022 16:46:50 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_b78b99a3-1298-47b8-84e7-d455ea6af855',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lubNV6eA_JjJUF9FjlsnRVx2IC1p6IJ8'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_2675c408-82af-4538-b8fa-a979ca25b245',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vgBXn54ABU0dV9mabQpSI798uOaLIsSk'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_065ae8a2-7e65-4a51-8710-f33028f11790',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ysuElfkQGhqZlICupEB9.fr.0oT2_f2W'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_0bce9307-41a9-47d0-b6f2-09feb7c6e1a0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BsrO84hlwXpk8ToqNNq6zUzoaPQfgI7q'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_2862c3f2-2987-47cb-a68e-7e37251c8b59',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'V0bwGiLafDGoJQirxE5t1NPTQjYW2Z2k'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_9c7109f0-e4ec-451b-bf6c-3a6a229cd394',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'maIUKwGSxrKIcgblkojLMmcj8yqNAm3G'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_db742863-de3f-4ccb-a54c-476161bae9b8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Lq7qSHNxLqJdjl4KQOAVM7oerqFcVOdK'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_d73917ae-b628-481f-88ec-da352d121844',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'KWLoxrqwFHMEi0qxe79NT9GcrP6FRQ10'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_6552862e-a8fb-40f1-9c0b-2846735e7203',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0FqaCrLFuqCBCvY11cCQOMoj6Ce_c7CS'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_6365520a-5c32-4406-87d5-9de77840c66b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'KS1aqHFdPEuk1.J9kIdjKaujkUEBTJOj'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_43457560-4855-4426-9882-e60e438303df',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'm18BK1MQeG7zTFFt.M11yZDTRHxRJZx_'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_510ec522-0966-47bf-8f6b-60b71bb15e97',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1WKqIqWkwDHGp30YCnjwbcH5S0KDimf.'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_4b2f817e-30d2-44e6-a1d7-7591af3dfcd8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QGmqaL5GsoFm4NWym7rA7ziWC.J2Awb3'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_20ba2a3d-769c-4651-9cf8-1ff93549a9b9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TVJ.EOzobMOx0S82uy958Ngm.oSb_nXn'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_1de471ba-bdd4-445a-97b9-c7f7be67c019',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9o4_Q2R70o_eEhSdO_TU203gIcybietf'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_524e1b65-db3f-4cc4-86eb-8ec055b5e7ac',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'eXxssp_E068eDQBjAmbgJaJklhodrvs9'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_0533519f-6ba1-4474-9701-fd32ee0a864b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cBwYriIEe3z4N_g5yofDml.M9bUzMD1d'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_43abe2ca-0e60-4474-ab3f-90bdfd44c617',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'nCpSpk.LzYsyBi5UCNQckmkwuc63lf35'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_740da325-c35a-4c97-b63b-e64f4c333d29',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'IioFMdlRjASsHguf6.jDGjp9I_aBQ5f6'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_b919ebc9-b0bd-4688-9c1b-04defcc7590a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FL.GYLxLBc8uEs.hIbekiT74YkaAfOnj'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_8afee7ad-cd63-4f22-9fa6-bdf39f140c3c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'NK.MAA99tNwCvVsLVU4hfmLAthIXmye2'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_217ac095-5c56-4103-9507-faa62b04c54a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'kcEvF3M2BQReZsQyFdQ4BakZz3.dhbZR'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_47763823-f223-4446-9855-2c6cfeacde48',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dnc3RsmTSjRb2S8xYNip7L_z0E.VqRSR'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_a27d8ee0-05c1-4cf5-8d0d-81751c0e5852',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cHjf1.MIqW1bVimhy5pZWxngrQ7Rb1vK'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_3ce8a125-0751-4531-90f6-7e08db530589',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'j5_sUmX9UyG7Ts139UuruyPlsn6lnsBk'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_07bfac8f-61a4-46ea-ae48-882631f4baae',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GCpsQJdMix9E3NZBt3n4yfN1ZAmS2Iyw'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_5f32fc34-3e92-4474-a00a-f0cb3fdcae00',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '73IRwl7AH.7th_t1gGZfHbl5Bahb.e9f'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_0873f8d5-59a7-4e81-a665-98fda342d48c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_6nRdozZV3yE0RMvGYdSOosjrPqlOeiD'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_1beeb605-c5d1-4fe5-8193-8d6a198b6132',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FOI1cKCk8eMzGqs3kqwxLKsoylZqE5zg'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_Parties/20220406_153523_00112_6sk6p_286aef5f-7e27-41f2-b767-7e8df1203a7e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TvPhppIBWeyydRFSYUKGsjcJHkb3orsv'}]}]

### Create the adoptions_parties table in Athena

In [4]:
create_adoptions_parties = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_PARTIES
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_Parties') AS
SELECT R.CASE_NUMBER,
  R.ROLE,
  R.ROLE_MODEL,
  R.REPRESENTATIVE_ROLE AS Representative,
  F.FIELD_MODEL,
  F.VALUE AS Rel_to_child,
  R.PARTY,
  P.DOB,
  P.GENDER,
  P.MOJAP_SNAPSHOT_DATE
FROM {database}.parties P
INNER JOIN {database}.roles R
ON P.PARTY = R.PARTY
INNER JOIN {database}.role_fields F
ON R.ROLE               = F.ROLE
WHERE ((R.ROLE_MODEL     = 'APLZ'
AND F.FIELD_MODEL = 'APLZ_RTC')
OR (R.ROLE_MODEL        = 'CHLDZ'
AND F.FIELD_MODEL = 'CHLDZ_CP'))
AND R.mojap_snapshot_date = date '{snapshot_date}'
AND F.mojap_snapshot_date = date '{snapshot_date}'
AND P.mojap_snapshot_date = date '{snapshot_date}'
"""

pydb.start_query_execution_and_wait(create_adoptions_parties)

{'QueryExecutionId': 'e179b15c-b0b9-45e4-9939-70c98ac6e466',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_PARTIES\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_Parties') AS\nSELECT R.CASE_NUMBER,\n  R.ROLE,\n  R.ROLE_MODEL,\n  R.REPRESENTATIVE_ROLE AS Representative,\n  F.FIELD_MODEL,\n  F.VALUE AS Rel_to_child,\n  R.PARTY,\n  P.DOB,\n  P.GENDER,\n  P.MOJAP_SNAPSHOT_DATE\nFROM familyman_dev_v2.parties P\nINNER JOIN familyman_dev_v2.roles R\nON P.PARTY = R.PARTY\nINNER JOIN familyman_dev_v2.role_fields F\nON R.ROLE               = F.ROLE\nWHERE ((R.ROLE_MODEL     = 'APLZ'\nAND F.FIELD_MODEL = 'APLZ_RTC')\nOR (R.ROLE_MODEL        = 'CHLDZ'\nAND F.FIELD_MODEL = 'CHLDZ_CP'))\nAND R.mojap_snapshot_date = date '2021-08-19'\nAND F.mojap_snapshot_date = date '2021-08-19'\nAND P.mojap_snapshot_date = date '2021-08-19'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/e179b15c-b0b9-45e4-9939-70c98ac6e466'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 46, 52, 454000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 47, 11, 2000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 18344,
  'DataScannedInBytes': 878001621,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/e179b15c-b0b9-45e4-9939-70c98ac6e466-manifest.csv',
  'TotalExecutionTimeInMillis': 18548,
  'QueryQueueTimeInMillis': 156,
  'QueryPlanningTimeInMillis': 1338,
  'ServiceProcessingTimeInMillis': 48},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adoption_parties validation

In [5]:
# Query the table just created. The database to query is called __temp__, this is
# an alias for a sandbox database that is created for each user. For more details, see
# the pydbtools docs

parties_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_parties")

parties_count

    count
0  311659

## Adoptions_applications table
<a name="adoptions_applications"></a>

### Drop the adoptions_applications table if it already exists and remove its data from the S3 bucket

In [6]:
drop_adoptions_applications = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_APPLICATIONS;"
pydb.start_query_execution_and_wait(drop_adoptions_applications)

bucket.objects.filter(
    Prefix="fcsq_processing/Adoption/Adoptions_applications/"
).delete()

[{'ResponseMetadata': {'RequestId': '0VDRH9TA5K3EXD32',
   'HostId': 'Q7vw2t9AE2I3k0NmfUkpORPyQHYF44guPT02MYK8+fBjD/OzpqqLNvWyYXbCWra0Tr81/uUhB0E=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'Q7vw2t9AE2I3k0NmfUkpORPyQHYF44guPT02MYK8+fBjD/OzpqqLNvWyYXbCWra0Tr81/uUhB0E=',
    'x-amz-request-id': '0VDRH9TA5K3EXD32',
    'date': 'Wed, 06 Apr 2022 16:47:21 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_59ce96c2-c085-4364-8ddf-9d83c6ab0389',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'j9bOQyshVuUqGHTomNsFBEymuH73TVUO'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_f86125df-4e54-4f3b-96a3-8d1f77587242',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9SJCm8dmuEzqI9X9pe9Pj5MMLTA2rCqf'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_7dd5b65a-54f5-4dda-8622-4277c9ea4607',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Q8FBzHHWBDoKfdRFfzbkP7L9ldWbPZHy'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_38126380-40e0-4a66-a6ae-41251d4c2de7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'K74Dbm81in_5GaZCi0dvw_NtmLRuC.6J'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_6a144c87-0063-478d-b29a-831d3db5a4a5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tEBupJrRLj6Gln_imYay5dUycnDmekfC'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_d56d1978-e152-4ce4-a69a-079effb1a14f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'toDCgB8rHV8PxCmOEG5QkRGkHyz6w.7K'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_a8cfda07-b415-43d5-aa93-cdd95789df6b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '69VjCy_zCvUg41J31biWY1b6wW5Inj7G'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_4d5dd10b-0f45-43b1-a653-f50607276356',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OWzFiSwEl3MLRuqkpL2ot1EUzm._pDbr'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_4d7d53db-2636-4263-8d59-5898190c4519',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gvSu1sVy0XMAHCNh2HbeBuLK2TewMTnE'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_ae80e425-d18f-4171-a7a4-444a6beb87aa',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'heyofuGL5LkZbL.aOl_iujxr9QrFErIp'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_4b283db4-f722-4613-be32-4bb8e33d9502',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'g9azVvBcfuzWX_gU9g1YEj6lJoHgHOTE'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_45388383-e3d4-4e8c-bc61-a081c3ab5859',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'hcXK9lDCLAtOfM4cWpzddKKTC1Nvd7uL'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_ae91df67-ad86-4763-b50d-f17ab0e51af1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'VHAVRMYwtQuwaKX0aQL8gFfaza_X0J_c'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_d7b4060f-1b1c-48d4-b6d8-833df4051582',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rUkOFa9UHbDtijMzdKLLkKIEft9_Nd.w'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_4f0cb8a8-0db6-45c4-b0c4-97502ff542c2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'l4Tb7naSGCNCgGODWk1YcriUYPHfUGne'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_567a1a2c-943a-471b-a209-b996e2c625e5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2FEJI9HKXgsZxGMJ.u33SXh_gvO5mA4d'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_1aa2db0c-33f9-418f-8fe3-90042913ff4f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'U81xJJDCbpk3qjM1hIl_MPShHzFL1J4A'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_e744b423-fefc-48d7-baa0-a83e9db3e22d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'f2IDubjeUQK741Y7d_QeT2SMGPaGZZ.e'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_6cb6ea15-5404-4330-8757-7d689a1020c9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'HnpUXbDhpdMgh6ZDbL.7Orb3VYsYujV4'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_2bf7a7d3-d3fb-418d-8070-735387023a6f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'fGP27m8u25mKUj9aMquGx0QClzoqjcRh'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_9859b548-8021-42b5-8578-d59b0a46f71d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8FEwO9FMYN1V_XuPLpQ1z9YVSVn4ovOh'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_69775658-38cd-4e27-9d83-3a1949f3c96c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'W4WXKTEdOZtHmeG1B_TbCJd.henX2YbK'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_2fe5af36-a68a-4a3d-941b-44221d66b5be',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'V_w4keSD12sgcHgPkTwMD9sypOXoY1XY'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_3ad1152f-2a34-4d37-95b7-b3edd0dc2b0e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'XyTS490RNF5Rv0XhpJ7gTvwjURT9q17q'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_5aac4fb0-4918-449b-8a8a-ef1177f55c86',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'qtUaF6EbzXRt02MEWfUwJvCG1BXACBpT'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_ce1c3f46-3cea-4661-977b-3b566f3ad5ba',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zEtN3RLuk31zB064LwYtpfYCw6mmWd7e'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_08b024fe-f991-4bf8-a1c4-7d17bc9d2944',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bHlQ._ApN1XPEQyz4LmocFWu9T63DWT2'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_68797533-e662-4ea5-a669-db67d2205cfd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'wTlT6fssWQGkpuj_gCtRrDp8037454AR'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_1da23f22-4f29-4650-9389-92f1e7c9007b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Yvddasbb8gF5cf8qSZqpThwbXDZhrKIc'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_c9c1619b-91c9-422c-bc18-5c48abe46498',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'm.MW7HdiOE10GJuk2zRul5X84zljv48Q'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_applications/20220208_114022_00049_65igx_601b0cdf-70b1-4013-885f-66ecda0599b9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'odF61zlFiFK6ZHZIzF5dTQkH.bpcokPu'}]}]

### Create the adoptions_applications table in Athena

In [7]:
create_adoptions_applications_u21 = f"""
SELECT E.CASE_NUMBER,
  E.EVENT,
  E.RECEIPT_DATE,
  E.ENTRY_DATE,
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE
  END AS Receipt_date2,
  E.EVENT_MODEL,
  F.VALUE  AS App_Type,
  date_parse(F1.VALUE, '%Y-%m-%d') AS Date_of_issue,
  F2.VALUE AS High_court
FROM {database}.events E
INNER JOIN {database}.event_fields F2
ON E.EVENT = F2.EVENT
INNER JOIN {database}.event_fields F1
ON E.EVENT = F1.EVENT
INNER JOIN {database}.event_fields F
ON E.EVENT               = F.EVENT
WHERE (E.EVENT_MODEL      = 'U21'
AND F.FIELD_MODEL  = 'U21_1'
AND F1.FIELD_MODEL = 'U21_2'
AND F2.FIELD_MODEL = 'U21_HC')
AND E.mojap_snapshot_date = date '{snapshot_date}'
AND F.mojap_snapshot_date = date '{snapshot_date}'
AND F1.mojap_snapshot_date = date '{snapshot_date}'
AND F2.mojap_snapshot_date = date '{snapshot_date}';
"""


pydb.create_temp_table(create_adoptions_applications_u21, "adoptions_applications_u21")
print("u21 applications done")

create_adoptions_applications_G50 = f"""
SELECT
  E.CASE_NUMBER,
  E.EVENT,
  E.RECEIPT_DATE,
  E.ENTRY_DATE,
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE
  END AS Receipt_date2,
  E.EVENT_MODEL,
  CASE WHEN F.VALUE like '%RUK%' and F.VALUE like '%CCS%' THEN 'RUK,CCS'
       WHEN F.VALUE like '%RUK%' THEN 'RUK'
       WHEN F.VALUE like '%CCS%' THEN 'CCS'
        END AS App_Type, /*Have done it like this so that we do not include non adoption app types*/
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE
  END AS Date_of_issue,
  'N' AS High_court
FROM
  {database}.events E
  INNER JOIN {database}.event_fields F
    ON E.EVENT = F.EVENT
WHERE
  F.FIELD_MODEL = 'G50_AT'
  AND (F.VALUE like '%RUK%'
   OR F.VALUE like '%CCS%')
   AND E.mojap_snapshot_date = date '{snapshot_date}'
   AND F.mojap_snapshot_date = date '{snapshot_date}';
"""

pydb.create_temp_table(create_adoptions_applications_G50, "adoptions_applications_G50")


print("G50 cases done")

create_adoptions_applications = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_APPLICATIONS
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_applications') AS
SELECT
  *
FROM
  __temp__.ADOPTIONS_APPLICATIONS_U21
WHERE case_number <> 'CV11Z00105'
UNION ALL
SELECT
  *
FROM
  __temp__.ADOPTIONS_APPLICATIONS_G50
WHERE case_number <> 'CV11Z00105';
"""

pydb.start_query_execution_and_wait(create_adoptions_applications)

print("adoptions_applications table created")

u21 applications done
G50 cases done
adoptions_applications table created

#### Adoptions_applications validation

In [8]:
applications_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_applications")
applications_count

    count
0  175169

## Adoptions_cases table
<a name="adoptions_cases"></a>

### Drop the adoptions_cases table if it already exists and remove its data from the S3 bucket

In [9]:
drop_adoptions_cases = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_CASES;"
pydb.start_query_execution_and_wait(drop_adoptions_cases)

bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adoptions_cases/").delete()

[{'ResponseMetadata': {'RequestId': 'N4BSGGGDPASEGYT3',
   'HostId': '3uL2MF56H1q+oouzLMboczj44ScRICWI2pdwJHfOLO1LSipSi+N+9TYJMNbrL8SEg24fW/GltUk=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '3uL2MF56H1q+oouzLMboczj44ScRICWI2pdwJHfOLO1LSipSi+N+9TYJMNbrL8SEg24fW/GltUk=',
    'x-amz-request-id': 'N4BSGGGDPASEGYT3',
    'date': 'Wed, 06 Apr 2022 16:48:04 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adoptions_cases/20220208_114028_00014_6fsnz_bc120fa9-0499-4b62-a28b-e16e5a5297f2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'inzaBOKVJadzOgCPWDKMU.ir13QJWz.U'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_cases/20220208_114028_00014_6fsnz_8a109ade-7d51-4541-af35-566b96531d6a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'yp6EYjJcMa8mvqO7qk3UhiHXcFt1zHPp'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_cases/20220208_114028_00014_6fsnz_fc3c0d89-2f34-4053-b529-6151c9fc6f51',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'JkFPbjm7GgLXVnQGCD6epXxYxBVQsdHV'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_cases/20220208_114028_00014_6fsnz_e8d5998c-87c1-4799-a0e4-db351f3f5271',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'luc8lIzM1igEMxWih2KCKqk.GB0wmd5y'}]}]

### Create the adoptions_cases table in Athena

In [10]:
create_adoptions_cases = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_CASES
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_cases') AS
SELECT F.CASE_NUMBER,
  F.VALUE AS Contested,
  F1.VALUE AS Case_issue_date,
  F2.VALUE AS Case_app_type,
  CASE F.CASE_NUMBER
      WHEN 'BM08Z09028' THEN '2008-09-19'
      ELSE F1.VALUE
  END AS Case_issue_date2
FROM {database}.case_fields F
INNER JOIN {database}.case_fields F2
ON F.CASE_NUMBER = F2.CASE_NUMBER
INNER JOIN {database}.case_fields F1
ON F.CASE_NUMBER    = F1.CASE_NUMBER
WHERE F.FIELD_MODEL = 'FM3A_AC'
AND F1.FIELD_MODEL  = 'FM3A_DOI'
AND F2.FIELD_MODEL  = 'FM3A_AT'
AND F.case_number <> 'CV11Z00105'
AND F.mojap_snapshot_date = date '{snapshot_date}'
AND F1.mojap_snapshot_date = date '{snapshot_date}'
AND F2.mojap_snapshot_date = date '{snapshot_date}';

"""
pydb.start_query_execution_and_wait(create_adoptions_cases)

{'QueryExecutionId': '5b603aad-048d-4ccc-a4aa-687e1119cbf7',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_CASES\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_cases') AS\nSELECT F.CASE_NUMBER,\n  F.VALUE AS Contested,\n  F1.VALUE AS Case_issue_date,\n  F2.VALUE AS Case_app_type,\n  CASE F.CASE_NUMBER\n      WHEN 'BM08Z09028' THEN '2008-09-19'\n      ELSE F1.VALUE\n  END AS Case_issue_date2\nFROM familyman_dev_v2.case_fields F\nINNER JOIN familyman_dev_v2.case_fields F2\nON F.CASE_NUMBER = F2.CASE_NUMBER\nINNER JOIN familyman_dev_v2.case_fields F1\nON F.CASE_NUMBER    = F1.CASE_NUMBER\nWHERE F.FIELD_MODEL = 'FM3A_AC'\nAND F1.FIELD_MODEL  = 'FM3A_DOI'\nAND F2.FIELD_MODEL  = 'FM3A_AT'\nAND F.case_number <> 'CV11Z00105'\nAND F.mojap_snapshot_date = date '2021-08-19'\nAND F1.mojap_snapshot_date = date '2021-08-19'\nAND F2.mojap_snapshot_date = date '2021-08-19'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/5b603aad-048d-4ccc-a4aa-687e1119cbf7'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 6, 55000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 10, 234000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 4016,
  'DataScannedInBytes': 1681998645,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/5b603aad-048d-4ccc-a4aa-687e1119cbf7-manifest.csv',
  'TotalExecutionTimeInMillis': 4179,
  'QueryQueueTimeInMillis': 127,
  'QueryPlanningTimeInMillis': 550,
  'ServiceProcessingTimeInMillis': 36},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adoptions_cases validation

In [11]:
cases_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_cases")
cases_count

    count
0  133333

## Adoptions_disposals table
<a name="adoptions_disposals"></a>

### Drop the adoptions_disposals table if it already exists and remove its data from the S3 bucket

In [12]:
drop_adoptions_disposals = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_DISPOSALS;"
pydb.start_query_execution_and_wait(drop_adoptions_disposals)

bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adoptions_disposals/").delete()

[{'ResponseMetadata': {'RequestId': 'P7JKFTAVRXMBFGJW',
   'HostId': '+h6B5zJREyanDmV04m3EV/NAkUbl8rZS5OwgsS23TzSMPugtFjwAN65ZBxYN/OmOiL5qBPB0RA8=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '+h6B5zJREyanDmV04m3EV/NAkUbl8rZS5OwgsS23TzSMPugtFjwAN65ZBxYN/OmOiL5qBPB0RA8=',
    'x-amz-request-id': 'P7JKFTAVRXMBFGJW',
    'date': 'Wed, 06 Apr 2022 16:48:19 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_69055f4d-37f5-4c20-9c3e-bfb16a9bd1e1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ywFe5H22fti8RC1YZiA659dbZkBR6lnM'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_6f5fd5a6-b0a2-4fcd-809e-bec6d18e2894',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'DLUfLgOenE6efbQ_SgHTvrlJGa04wD0x'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_d8c0e9b0-5b7f-4f70-b7e1-d11ea9d39353',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cTfqLQg7S69Ihey6yG46esW9QP6RVYBR'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_116ca7d8-04a3-4185-a8e5-7a45aeb6073d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8dvaf4Qne5n4ODeBiF5LfJtsGC5SPcOD'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_685d0b41-e0f4-4b99-ac26-19bf8644bc8a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rYDc3b47X3E43tQ2NW0QWaPYac7Nenmq'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_ef7462bb-a63e-4c10-827c-17e9c462badc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'kRAcV51YDHXhXGW305TND1oTlGpstygL'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_1f95bd1a-d97b-4d4b-8c97-b7a28ff99875',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9wnsCrqN531PKhEqRdE9r_TuLjDiYseG'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposals/20220208_114038_00046_wsbdw_3885bcaf-c5a4-4d9e-b284-80c1242a985a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lhhBQbBzbxJPBm0_ELr3DE2syhTolngk'}]}]

### Create the adoptions_disposals table in Athena

In [13]:
create_adoptions_disposals = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_DISPOSALS
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_disposals') AS
SELECT E.CASE_NUMBER,
  E.EVENT,
  E.RECEIPT_DATE,
  E.ENTRY_DATE,
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE  
  END AS Receipt_date2,
  E.EVENT_MODEL
FROM {database}.events E
WHERE ((E.EVENT_MODEL IN ('A70', 'A71', 'A72', 'A73', 'A74', 'A75', 'A76', 'A77', 'A78', 'A79', 'A80', 'A81', 'A12', 'A13', 'A15')
AND E.ERROR          = 'N')
OR (E.EVENT_MODEL    IN ('G63', 'ORDREF', 'ORDNOM')
AND E.ERROR          = 'N')
OR (E.EVENT_MODEL    IN ('A12', 'A13', 'A15')
AND E.ERROR          = 'N'))
AND E.case_number <> 'CV11Z00105'
AND E.mojap_snapshot_date = date '{snapshot_date}'; 
"""
pydb.start_query_execution_and_wait(create_adoptions_disposals)

{'QueryExecutionId': '6077748d-8609-4b34-a4de-5c4641464b8e',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_DISPOSALS\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_disposals') AS\nSELECT E.CASE_NUMBER,\n  E.EVENT,\n  E.RECEIPT_DATE,\n  E.ENTRY_DATE,\n  CASE E.RECEIPT_DATE\n      WHEN NULL THEN E.ENTRY_DATE\n      ELSE E.RECEIPT_DATE  \n  END AS Receipt_date2,\n  E.EVENT_MODEL\nFROM familyman_dev_v2.events E\nWHERE ((E.EVENT_MODEL IN ('A70', 'A71', 'A72', 'A73', 'A74', 'A75', 'A76', 'A77', 'A78', 'A79', 'A80', 'A81', 'A12', 'A13', 'A15')\nAND E.ERROR          = 'N')\nOR (E.EVENT_MODEL    IN ('G63', 'ORDREF', 'ORDNOM')\nAND E.ERROR          = 'N')\nOR (E.EVENT_MODEL    IN ('A12', 'A13', 'A15')\nAND E.ERROR          = 'N'))\nAND E.case_number <> 'CV11Z00105'\nAND E.mojap_snapshot_date = date '2021-08-19'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/6077748d-8609-4b34-a4de-5c4641464b8e'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 20, 483000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 24, 684000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 4011,
  'DataScannedInBytes': 4571859088,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/6077748d-8609-4b34-a4de-5c4641464b8e-manifest.csv',
  'TotalExecutionTimeInMillis': 4201,
  'QueryQueueTimeInMillis': 152,
  'QueryPlanningTimeInMillis': 528,
  'ServiceProcessingTimeInMillis': 38},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adoptions_disposals validation

In [14]:
disposals_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_disposals")
disposals_count

    count
0  478447

## Adoptions_disposal_fields table
<a name="adoptions_disposal_fields"></a>

### Drop the adoptions_disposal_fields table if it already exists and remove its data from the S3 bucket

In [15]:
drop_adoptions_disposal_fields = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_DISPOSAL_FIELDS;"
pydb.start_query_execution_and_wait(drop_adoptions_disposal_fields)

bucket.objects.filter(
    Prefix="fcsq_processing/Adoption/Adoptions_disposal_fields/"
).delete()

[{'ResponseMetadata': {'RequestId': 'FG5EHARP84CQWS3Y',
   'HostId': 'crreztcU0qskrxQj6FO/2n6msfLCdVU8b+5Ps4bDc4RcIr1nBNwB1Hau7/UTMbKkkiVty+84Q6w=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'crreztcU0qskrxQj6FO/2n6msfLCdVU8b+5Ps4bDc4RcIr1nBNwB1Hau7/UTMbKkkiVty+84Q6w=',
    'x-amz-request-id': 'FG5EHARP84CQWS3Y',
    'date': 'Wed, 06 Apr 2022 16:48:33 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adoptions_disposal_fields/20220208_114047_00040_z3s2z_1addf592-9e82-4ed5-a16b-4d32c230eb52',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GBnk3VdE65dCQzqJ1qPiL_flQx8hK48s'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposal_fields/20220208_114047_00040_z3s2z_5d91c866-4f2c-4a02-9c69-8f5467bec4bb',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '180gj5HFng6VwtRPuPoK9KXv6af36AlO'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposal_fields/20220208_114047_00040_z3s2z_e6683d73-6f6f-46db-b195-8fa8ba8c0c3b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WyuT.lPeFLYTKXL9lfhRgZ0rkUey4UCO'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposal_fields/20220208_114047_00040_z3s2z_21243177-82f8-438d-af8a-3bb12d8a6690',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'XQa5o6AbKS6d2Y_GT.4bzIEqUb1IB4ur'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposal_fields/20220208_114047_00040_z3s2z_ca3876c2-8735-42fe-a4db-37ac27b3506a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'aVZl4jITKsqLycz4gsbPzoDJz7CHjlcu'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposal_fields/20220208_114047_00040_z3s2z_7abf51cf-4c28-4779-ba7b-abe946e9dfb1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ulJJuNdngMeLcC03ytQUyxprGO0vzogF'},
   {'Key': 'fcsq_processing/Adoption/Adoptions_disposal_fields/20220208_114047_00040_z3s2z_b6ca6e0d-6feb-40e9-97dc-9966360785f2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ICEzGiftHo0dypNlI6gSP05Ubfx1wUZK'}]}]

### Create the adoptions_disposal_fields table in Athena

In [16]:
create_adoptions_disposal_fields = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_DISPOSAL_FIELDS
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_disposal_fields') AS
SELECT EVENT,
FIELD_MODEL,
VALUE
FROM {database}.event_fields E
WHERE (FIELD_MODEL LIKE 'A1%'
  OR FIELD_MODEL LIKE 'A7%'
  OR FIELD_MODEL IN ('G63_1', 'ORDNOM_5', 'ORDREF_5', 'A80_4', 'A81_5'))
  AND E.mojap_snapshot_date = date '{snapshot_date}';
"""
pydb.start_query_execution_and_wait(create_adoptions_disposal_fields)

{'QueryExecutionId': 'b5764b19-6e16-4f6d-8b52-ebba8ae4cc92',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_DISPOSAL_FIELDS\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_disposal_fields') AS\nSELECT EVENT,\nFIELD_MODEL,\nVALUE\nFROM familyman_dev_v2.event_fields E\nWHERE (FIELD_MODEL LIKE 'A1%'\n  OR FIELD_MODEL LIKE 'A7%'\n  OR FIELD_MODEL IN ('G63_1', 'ORDNOM_5', 'ORDREF_5', 'A80_4', 'A81_5'))\n  AND E.mojap_snapshot_date = date '2021-08-19'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/b5764b19-6e16-4f6d-8b52-ebba8ae4cc92'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 35, 269000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 46, 204000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 10791,
  'DataScannedInBytes': 2529244537,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/b5764b19-6e16-4f6d-8b52-ebba8ae4cc92-manifest.csv',
  'TotalExecutionTimeInMillis': 10935,
  'QueryQueueTimeInMillis': 109,
  'QueryPlanningTimeInMillis': 571,
  'ServiceProcessingTimeInMillis': 35},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adoptions_disposal_fields validation

In [17]:
disposal_fields_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_disposal_fields")
disposal_fields_count

     count
0  1216487

# Stage 1 - Create The Main Parties Data

## Adopt_app_count table
<a name="adopt_app_count"></a>

### Drop the adopt_app_count table if it already exists and remove its data from the S3 bucket

In [18]:
drop_adopt_app_count = f"""
DROP TABLE IF EXISTS fcsq.ADOPT_APP_COUNT;
"""
pydb.start_query_execution_and_wait(drop_adopt_app_count)

# clean up previous adopt_app_count files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_app_count/").delete()

[{'ResponseMetadata': {'RequestId': '0818T1PJJFDDY8BH',
   'HostId': 'og4dS47hXrGjyGFRnw6pp603CdSdvcOVRq2RKt34ESBI5fdH2RcX+H6EvlWxCbZGmEvmO3FVbto=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'og4dS47hXrGjyGFRnw6pp603CdSdvcOVRq2RKt34ESBI5fdH2RcX+H6EvlWxCbZGmEvmO3FVbto=',
    'x-amz-request-id': '0818T1PJJFDDY8BH',
    'date': 'Wed, 06 Apr 2022 16:48:55 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_db600184-9725-4d23-9a55-c4d29ef7ca69',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bLTFD1d7i8Iv6n54T6nv2iti0fa6hGJd'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_a79e2789-c73e-4721-af8a-bb848e86016a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.qXaIySfe_ZWFeslwPk8CyUxlUn7ZQkq'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_848ecb67-4f42-4089-b1f7-af8284537d15',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'jkF7xJhPr5u1E9.D0hK8NqYTeruXRlIM'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_8861d2ad-c4f5-4581-ab97-6b4e7f81d191',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'fAA011.7RTbEWm7o7U1IzGo85Y2hWrux'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_8e188027-d264-489e-a747-de37f4a7d513',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Uyr6GDyel.qJ1WMnl.h4Yawtuei3oAH2'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_92abcb81-c23e-4629-a8cc-3dedce099974',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cpoP9m.ob7t2BOGAx4KLro7aRWZUK_5V'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_b569dc8c-f476-4e0f-9e55-0daf98c422c9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gPsvknI.HXCqQXVjEhVdrCPYQVSeU0Sy'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_e09b99c3-99b3-4f9c-9eb4-e84c72ab9bfe',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FXtm.RYZ7yk5X5TCjAF6C2aX_s9rj9cR'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_b050b24e-5e10-4add-9af5-e14ac2d53fb7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'houou8WN5TDsOeMB9zN9s3hRNI3BNWmV'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_dc8a6a89-4db6-423a-9b78-fc283b0f7e03',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'w0.Ul9NO6PVWtL0.J9Bl5rbR0nLPjlYV'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_2897f483-2102-4aef-a01e-cd63671444d9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ExXB8m4qzOcnEMfhDYDuCAMDnvYOLHU7'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_bbf30bbf-aa57-4198-87f2-995b374ee18c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ZeZyohMNCL_nVRYWINQqKMr.LCCQaG3n'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_79bf5079-f065-4b0a-9bac-33f4af676348',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mGHTyekFGsRMiGAj.ReSwqww1oBhIEXe'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_be2ae4fd-84bc-4d30-8829-423726aead14',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ybNU4W_n5z5jTduCUdSlo0nYudVmzDR.'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_015690ef-44a9-4473-9404-5271af4da837',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ggNDwEu1rD3vyoHrPcvQnY2IGjyGkvmA'},
   {'Key': 'fcsq_processing/Adoption/adopt_app_count/20220208_114056_00016_49pf3_7137ded1-e452-4bfd-b2be-d06ecadb2b62',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '3e1ZnESwBWl3luz4Voe2WVr6wIP7MM32'}]}]

### Create the adopt_app_count table in Athena

In [19]:
create_adopt_app_count = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APP_COUNT
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_app_count') AS
SELECT case_number, role_model, COUNT(role) AS countofrole
FROM fcsq.adoptions_parties
GROUP BY case_number, role_model
HAVING role_model = 'APLZ';
"""

pydb.start_query_execution_and_wait(create_adopt_app_count)

{'QueryExecutionId': 'fa60ccbc-5d8c-46a7-bef7-790cb3627869',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APP_COUNT\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_app_count') AS\nSELECT case_number, role_model, COUNT(role) AS countofrole\nFROM fcsq.adoptions_parties\nGROUP BY case_number, role_model\nHAVING role_model = 'APLZ'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/fa60ccbc-5d8c-46a7-bef7-790cb3627869'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 57, 270000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 48, 59, 545000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2123,
  'DataScannedInBytes': 2616251,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/fa60ccbc-5d8c-46a7-bef7-790cb3627869-manifest.csv',
  'TotalExecutionTimeInMillis': 2275,
  'QueryQueueTimeInMillis': 108,
  'QueryPlanningTimeInMillis': 95,
  'ServiceProcessingTimeInMillis': 44},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_app_count validation

In [20]:
create_adopt_app_count_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_app_count")
create_adopt_app_count_count

    count
0  133193

## Adopt_appl_sex table
<a name="adopt_appl_sex"></a>

### Drop the adopt_appl_sex table if it already exists and remove its data from the S3 bucket

In [21]:
drop_adopt_appl_sex = f"""
DROP TABLE IF EXISTS fcsq.ADOPT_APPL_SEX;
"""
pydb.start_query_execution_and_wait(drop_adopt_appl_sex)

# clean up previous adopt_appl_sex files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_appl_sex/").delete()

[{'ResponseMetadata': {'RequestId': 'D6G9506XN7RADW73',
   'HostId': 'caT0HW1ncVcFMexGZWYeWycqzq5+nHAG2yufWokfFE12QAJXnYmdNC0IAg9+3si4P9E4UilRFKU=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'caT0HW1ncVcFMexGZWYeWycqzq5+nHAG2yufWokfFE12QAJXnYmdNC0IAg9+3si4P9E4UilRFKU=',
    'x-amz-request-id': 'D6G9506XN7RADW73',
    'date': 'Wed, 06 Apr 2022 16:49:09 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_3c9111cf-a6fb-4b6c-b8d3-64fc02bd51d8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9G3Uyldb57Qq99Yowx8ETEe_L3PUXDDl'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_45158b4c-8367-4bca-bbc6-6a8db260666c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5d1UEVyAlwIV3S7hNThbUW6lRt2EFH6U'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_db0d5986-f1e8-447e-80bd-64914ad0eac9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'V6K9cUwFO8uJUeuD3dULPfKVglgpdKxu'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_c895f5e8-c21d-4b7c-b4f8-48e1918a1407',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Z89pyy2GCpS.PNklJMqIElIY08QKBPhz'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_ce0d3a30-214a-41f5-baa7-365f1bda8b8d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Ar9BIAi803gPTRxn0YPRTFvX1GDZi5F1'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_156a947f-d94a-4b52-8039-f53dd6b059b5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'p9BwoG1u9P344TDxPJYYhxMAGJ2eMYw.'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_6786f0fd-7f79-4851-98f6-074a04a754e4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'PciF.PAgd6Z7xcZJfishsyT32.7Xz7st'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_8ad795be-eaf8-48a8-94b2-5dd113e17cb8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ufV.NcuH6A2PTwj9xB1chR1CZSUJPbf.'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_65911e4f-3e61-482a-8bbc-8be88ca15b1f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gCRyYYejXJ1h1bnJBljn86GC4zncnl8V'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_91fdd1e6-139c-4aae-a68c-ecfcb87ab4a1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'X0NWtpz90MfjPW0s.6VjZWc9uLla_oW1'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_28a6ef04-166d-4c32-b376-879a4efa44b4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1CYYT6zmqCVJCJ67exDwZU8AJu0M.xst'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_a05808c7-e616-4604-ab8b-3f1740c9d39e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1ravuO8uVTDrLVEl_ZTlMo2zeySmnulP'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_eb299433-e157-425b-9f93-c702a6699397',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'oT2QzjnTvO0HKCRcQ1XaF3Z7VuaEoE2y'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_b2595ae0-8ba9-4a6b-8098-38d89a10d1b7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'sgkBCdSp67yF.d1CmkrrzEAdKvD7cCt5'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_a995b077-ecbd-45a9-ba04-a857b50688d5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mbn2h_izoWTt1T6WQf7E1rm5m0uVSU9R'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_sex/20220208_114108_00030_n8n9w_14f9acd8-aa0c-4b95-8553-32db5271df67',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'M1iAg6zip_mUww3dYQ.jhhBbl8YhfFIX'}]}]

### Create the adopt_appl_sex table in Athena

In [22]:
create_adopt_appl_sex = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPL_SEX
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_appl_sex') AS
SELECT app_count.case_number, app_count.role_model, 
app_count.countofrole, 
MIN(parties.gender) min_sex,
MAX(parties_1.gender) max_sex
FROM fcsq.adopt_app_count app_count INNER JOIN fcsq.adoptions_parties parties ON app_count.case_number = parties.case_number
INNER JOIN fcsq.adoptions_parties parties_1 ON app_count.case_number = parties_1.case_number
GROUP BY app_count.case_number, app_count.role_model, app_count.countofrole, parties.role_model, parties_1.role_model
HAVING parties.role_model='APLZ' AND parties_1.role_model='APLZ';
"""

pydb.start_query_execution_and_wait(create_adopt_appl_sex)

{'QueryExecutionId': 'a96e9b21-d240-44c4-845c-6861066b96d6',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPL_SEX\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_appl_sex') AS\nSELECT app_count.case_number, app_count.role_model, \napp_count.countofrole, \nMIN(parties.gender) min_sex,\nMAX(parties_1.gender) max_sex\nFROM fcsq.adopt_app_count app_count INNER JOIN fcsq.adoptions_parties parties ON app_count.case_number = parties.case_number\nINNER JOIN fcsq.adoptions_parties parties_1 ON app_count.case_number = parties_1.case_number\nGROUP BY app_count.case_number, app_count.role_model, app_count.countofrole, parties.role_model, parties_1.role_model\nHAVING parties.role_model='APLZ' AND parties_1.role_model='APLZ'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/a96e9b21-d240-44c4-845c-6861066b96d6'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 49, 10, 217000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 49, 13, 309000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2864,
  'DataScannedInBytes': 3608670,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/a96e9b21-d240-44c4-845c-6861066b96d6-manifest.csv',
  'TotalExecutionTimeInMillis': 3092,
  'QueryQueueTimeInMillis': 178,
  'QueryPlanningTimeInMillis': 224,
  'ServiceProcessingTimeInMillis': 50},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_appl_sex validation

In [23]:
adopt_appl_sex_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_appl_sex")
adopt_appl_sex_count

    count
0  133193

## adopt_appl_rtc table
<a name="adopt_appl_rtc"></a>

### Drop the adopt_appl_rtc table if it already exists and remove its data from the S3 bucket

In [24]:
drop_adopt_appl_rtc = f"""
DROP TABLE IF EXISTS fcsq.adopt_appl_rtc;
"""
pydb.start_query_execution_and_wait(drop_adopt_appl_rtc)

# clean up previous adopt_appl_rtc files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_appl_rtc/").delete()

[{'ResponseMetadata': {'RequestId': 'NEM2Z3XD24ZGJBHG',
   'HostId': 'XZDvV+1snDIkh1QnquT65/zwtRgEf0EHEqWwlW3JSVQcQleEtLNxmBQ+adrK2mcLpgONoQ09VOM=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'XZDvV+1snDIkh1QnquT65/zwtRgEf0EHEqWwlW3JSVQcQleEtLNxmBQ+adrK2mcLpgONoQ09VOM=',
    'x-amz-request-id': 'NEM2Z3XD24ZGJBHG',
    'date': 'Wed, 06 Apr 2022 16:49:23 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_03ed8bd3-154b-489f-b583-81ad5d06db58',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tBPw6Av7QbCgf7KWTbbtCoI1j7QgvV2a'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_2f28717d-fca8-4ef3-bc24-25e251226799',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bwBTFeKanyyf2Za0FbdtiPAXKiD8hsj.'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_014c3513-a162-4721-8ab4-82dbc04c9909',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'qpl0mFoYncZ1cxHsw45bAe2n5VldN4QV'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_432e2002-f9e0-40dc-9686-5a88902dac23',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9eXpLDT4NdViGkEK_f1gmWFIkaDQPc9o'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_6eb1b5e1-bd1b-4655-bfa3-f583a8533707',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2w5cVvmg_kf0ayxTLBVkyy9PkiP9qUA_'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_58b55e57-958b-44d0-9d76-acb97dacb61a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bKmYXeljdkKsHyljdvOEn1CwdKdhpfcL'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_5a394feb-abd9-4277-a4d4-d1a8d472f4d7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '4JZJJs5rgdPkacXNORVcfaM.zDnRPkON'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_e1483e28-2379-4046-be60-57327af0438c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'uCEPx6GVmJNUHhoO3oAg2HaQViISor_P'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_0d50e219-d3ac-47a6-8dcd-1b69f941444d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'LzUPa7XBC.OzG0yNSkz6S9jlOylZ88dP'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_725070c7-ea8f-4a71-8981-1d2e59e97a83',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'E8AqeyzkB_unzuX36E7noZ7RkZLsw.JG'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_ccd2b4ee-3902-43ba-a8d3-915183192ff6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'jqmrUE_gRwH4NR104fAb1ugJZpvtRm7t'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_b93454ad-73c2-4114-9304-41bfe724805f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'x6YjGX8Nfp4d.ILedAaJ2bbXbSTH4ZRe'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_36d90112-b477-49ff-ab72-112f0c298930',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '22pSuzbR7K4XfA624pjH0KiHxMC5uuE0'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_438af0bd-55a0-4ab1-99d7-d8b4cb3345d3',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'hSur.iuMNPwYxel1J8EcwiNHbD1IYiEN'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_81201dfe-ef66-4867-af3e-513825358d47',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ithoJtZsxznRDbDamy_4nuxq3s9Exfpz'},
   {'Key': 'fcsq_processing/Adoption/adopt_appl_rtc/20220208_114116_00013_j4ryk_0ad0cf38-eff6-4482-8fa6-620d9e3d1225',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'NMAKwgCgl8CmcIs3_gZBWAu6rqvtSSIY'}]}]

### Create the adopt_appl_rtc table in Athena

In [25]:
create_adopt_appl_rtc = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPL_RTC
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_appl_rtc') AS
SELECT appl_sex.case_number, 
        appl_sex.role_model, 
        appl_sex.countofrole, 
        appl_sex.min_sex, 
        appl_sex.max_sex, 
        MIN(parties.rel_to_child) min_rtc, 
        MAX(parties_1.rel_to_child) max_rtc
FROM fcsq.adopt_appl_sex appl_sex
INNER JOIN fcsq.adoptions_parties parties 
        ON appl_sex.case_number = parties.case_number 
INNER JOIN fcsq.adoptions_parties parties_1 
        ON appl_sex.case_number = parties_1.case_number
GROUP BY appl_sex.case_number, 
          appl_sex.role_model, 
          appl_sex.countofrole, 
          appl_sex.min_sex, 
          appl_sex.max_sex, 
          parties.role_model, 
          parties_1.role_model
HAVING parties.role_model='APLZ' AND parties_1.role_model='APLZ';
"""

pydb.start_query_execution_and_wait(create_adopt_appl_rtc)

{'QueryExecutionId': '12b17a0c-21dd-492f-a80e-5840e8b33079',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPL_RTC\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_appl_rtc') AS\nSELECT appl_sex.case_number, \n        appl_sex.role_model, \n        appl_sex.countofrole, \n        appl_sex.min_sex, \n        appl_sex.max_sex, \n        MIN(parties.rel_to_child) min_rtc, \n        MAX(parties_1.rel_to_child) max_rtc\nFROM fcsq.adopt_appl_sex appl_sex\nINNER JOIN fcsq.adoptions_parties parties \n        ON appl_sex.case_number = parties.case_number \nINNER JOIN fcsq.adoptions_parties parties_1 \n        ON appl_sex.case_number = parties_1.case_number\nGROUP BY appl_sex.case_number, \n          appl_sex.role_model, \n          appl_sex.countofrole, \n          appl_sex.min_sex, \n          appl_sex.max_sex, \n          parties.role_model, \n          parties_1.role_model\nHAVING parties.role_model='APLZ' AND parties_1.role_model='APLZ'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/12b17a0c-21dd-492f-a80e-5840e8b33079'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 49, 24, 856000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 49, 27, 749000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2727,
  'DataScannedInBytes': 3789889,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/12b17a0c-21dd-492f-a80e-5840e8b33079-manifest.csv',
  'TotalExecutionTimeInMillis': 2893,
  'QueryQueueTimeInMillis': 106,
  'QueryPlanningTimeInMillis': 231,
  'ServiceProcessingTimeInMillis': 60},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_appl_rtc validation

In [26]:
adopt_appl_rtc_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_appl_rtc")
adopt_appl_rtc_count

    count
0  133193

## adopt_applicant_type table
<a name="adopt_applicant_type"></a>

### Drop the adopt_applicant_type table if it already exists and remove its data from the S3 bucket

In [27]:
drop_adopt_applicant_type = f"""
DROP TABLE IF EXISTS fcsq.adopt_applicant_type;
"""
pydb.start_query_execution_and_wait(drop_adopt_applicant_type)

# clean up previous adopt_applicant_type files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_applicant_type/").delete()

[{'ResponseMetadata': {'RequestId': 'QD78MQMKZ1C1Q9DX',
   'HostId': 'Akum2Qbhqa07ODnxVdEGLjqBfTLxxuesj5K7/m9vP5JZGHR2P5M+j77X8yDSYapzoSwCv892yyI=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'Akum2Qbhqa07ODnxVdEGLjqBfTLxxuesj5K7/m9vP5JZGHR2P5M+j77X8yDSYapzoSwCv892yyI=',
    'x-amz-request-id': 'QD78MQMKZ1C1Q9DX',
    'date': 'Wed, 06 Apr 2022 16:49:38 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_d5b03d31-79fa-4021-b729-6de0b1bccc42',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'NZQW3OmAnaXfam.Bpr2dgE0QUhpJ8p7r'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_1352bcac-478a-4ace-b363-f4f5b9b2c002',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'A461WhfPO4lf9_lia3WP_J5b1HvKeVG2'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_21e0bc1e-7ff9-478d-a9bf-c8dc356d0026',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'aG3OLPPG8GMsaUwXi2_bmK2X8w1HvjV0'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_70b9a5a2-ddd6-4516-a8a4-f86eeee805f3',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'L1ArHhe90MSVxy_E.9nuA5QNVa62_Nkw'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_f20f3ce3-8c30-431b-8a1a-b7e61147b8fc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'HMFkGGbMzQfwxKo0bpPh5SJue8Y66AT6'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_fb108778-7349-4aeb-ae15-7f86e2ccc5ae',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QDbZk5UC17alXR58fl5O5DyIwaTOe5Jc'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_f25627ca-32b0-4b0a-92fd-c7c0ebabede0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bjTRfzmch_V3eAw_Cb1kec7knNozDrsu'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_30b6a5f2-c577-4b1f-96cb-7a4ee526e53e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CO0T5RZnV8UQ430AUJrpd631w1.noi60'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_97de9729-9ab1-4d48-a570-7cb6757e884a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'LajQf8D83U4iPjmZns0PAxi5XlKwZzA2'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_1ec512e7-f7d9-4641-9c9d-7188a059bac6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'phF8bh8w8snvqNMCWSb1okz.oFZdurLK'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_788c1959-376d-4ed1-abae-0daa7f406b1b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QwOnDl.C3wn5U_SOchgiLoB8dVOZG086'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_eae951a6-e2a0-4abb-8b39-f7ba9fb2abe8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'LwO8P8wUxI7.7yLECoylhHqT8r6jQ042'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_b676aa4b-b123-4079-a190-16ec458996bd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '6rVH2ng8FA1XatcoakjQshNnlAUxbI9G'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_9e464417-b75b-421a-9da2-2e57e0887e5b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'HxjB8y06htmwzRbMLugK.WSNqbyMo4Hs'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_19396ef4-e447-4b26-9b8b-d788eb56df8b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8YkZnDtRHAKhkKrXO69GVMKUxwMnFU7i'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_a8f1036b-7e37-45e5-b8ba-18f86532a463',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5oXLU2_ILpGW48b2RanWiGhpiY8hHpqb'},
   {'Key': 'fcsq_processing/Adoption/adopt_applicant_type/20220208_114141_00042_yafe3_a74d367c-9dd0-4601-aaa9-01651d4eedf8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'KSMCe75dUsAL85KwmDorQvtRgBLGlx7E'}]}]

### Create the adopt_applicant_type table in Athena

In [28]:
create_adopt_applicant_type_a = f"""
SELECT case_number, 
        role_model, 
        countofrole number_applicants, 
        min_sex, 
        max_sex, 
        min_rtc, 
        max_rtc,
CASE  WHEN countofrole=1 THEN 'single' 
      WHEN min_sex=1 AND max_sex =1 THEN 'same-sex couple' 
      WHEN min_sex=2 AND max_sex=2  THEN 'same-sex couple' 
      WHEN min_sex=1 AND max_sex =2 THEN 'mixed-sex couple'
                ELSE 'Other or not stated'       
END adopter_type
FROM fcsq.adopt_appl_rtc;
"""
pydb.create_temp_table(create_adopt_applicant_type_a, "adopt_applicant_type_a")

create_adopt_applicant_type_b = f"""
SELECT case_number, 
        role_model, 
        number_applicants, 
        min_sex, 
        max_sex, 
        min_rtc,
        max_rtc,
        adopter_type,
CASE WHEN (min_rtc Like 'Step%' OR max_rtc Like 'Step%') THEN 'Step parent'
      WHEN (min_rtc Like 'Natural%' OR max_rtc like 'Natural%') THEN 'Other or not stated'  
      WHEN number_applicants > 2 THEN 'Other or not stated'
      WHEN (min_rtc = 'Other' OR max_rtc = 'Other') THEN 'Other or not stated'
      WHEN (min_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation') AND max_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation')) THEN 'Other or not stated'
      WHEN (min_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation') OR max_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation')) THEN 'Sole applicant'
      WHEN number_applicants >1 THEN adopter_type 
      ELSE 'Sole applicant' 
      END adopter 
FROM __temp__.adopt_applicant_type_a;
"""

pydb.create_temp_table(create_adopt_applicant_type_b, "adopt_applicant_type_b")

create_adopt_applicant_type = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_applicant_type
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_applicant_type') AS
SELECT
case_number, 
  role_model, 
  number_applicants, 
  min_sex, 
  max_sex, 
  min_rtc, 
  max_rtc, 
  adopter_type,
CASE WHEN (min_rtc = 'Foster Carer' AND max_rtc = 'Sibling') THEN 'Other or not stated'
        WHEN (adopter_type = 'mixed-sex couple' AND min_rtc = 'Uncle' AND max_rtc = 'Uncle') THEN 'Other or not stated'
        ELSE adopter
        END adopter
FROM __temp__.adopt_applicant_type_b;
"""

pydb.start_query_execution_and_wait(create_adopt_applicant_type)

{'QueryExecutionId': 'ca40bc3a-b785-4af2-a048-586cdc53f3ae',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_applicant_type\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_applicant_type') AS\nSELECT\ncase_number, \n  role_model, \n  number_applicants, \n  min_sex, \n  max_sex, \n  min_rtc, \n  max_rtc, \n  adopter_type,\nCASE WHEN (min_rtc = 'Foster Carer' AND max_rtc = 'Sibling') THEN 'Other or not stated'\n        WHEN (adopter_type = 'mixed-sex couple' AND min_rtc = 'Uncle' AND max_rtc = 'Uncle') THEN 'Other or not stated'\n        ELSE adopter\n        END adopter\nFROM mojap_de_temp_alpha_user_thomasauburnmoj.adopt_applicant_type_b",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ca40bc3a-b785-4af2-a048-586cdc53f3ae'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 49, 57, 724000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 49, 59, 988000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2052,
  'DataScannedInBytes': 1240928,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ca40bc3a-b785-4af2-a048-586cdc53f3ae-manifest.csv',
  'TotalExecutionTimeInMillis': 2264,
  'QueryQueueTimeInMillis': 162,
  'QueryPlanningTimeInMillis': 270,
  'ServiceProcessingTimeInMillis': 50},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_applicant_type validation

In [29]:
adopt_applicant_type_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_applicant_type")
adopt_applicant_type_count

    count
0  133193

## adopt_child_parties table
<a name="adopt_child_parties"></a>

### Drop the adopt_child_parties table if it already exists and remove its data from the S3 bucket

In [30]:
drop_adopt_child_parties = f"""
DROP TABLE IF EXISTS fcsq.adopt_child_parties;
"""
pydb.start_query_execution_and_wait(drop_adopt_child_parties)

# clean up previous adopt_child_parties files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_child_parties/").delete()

[{'ResponseMetadata': {'RequestId': '4B9S56E67CF8E38F',
   'HostId': 'TGV6AyS+Jxz9GomutcvEYOoJ2uaRbUF3KmMOIMACdEHnhUCywiU5pgavdXfEmgYF3catjwu9NHU=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'TGV6AyS+Jxz9GomutcvEYOoJ2uaRbUF3KmMOIMACdEHnhUCywiU5pgavdXfEmgYF3catjwu9NHU=',
    'x-amz-request-id': '4B9S56E67CF8E38F',
    'date': 'Wed, 06 Apr 2022 16:50:12 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_94f3c990-aad6-43ee-8987-ba1a84149c12',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CWtnkDi2K.xqHbTz0snpQ.WJqmn5dvHC'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_f479a18d-8b68-41cf-aa01-6984fffba1ae',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'SXDFWO19zzn9KMq0NWiuEQ4HjKWPIzuK'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_7eb183df-05d5-485d-8a7b-dfd962dc32b8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'VOCyx0jSEIFM9xEGDvV.xdFQfvC6hFJ2'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_aadbc7a5-0287-47bb-a729-2ebe0e38c52a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'AUQIeh3d.ou3gmWi56oG9.o_RFxsiV71'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_8b5e1e08-7633-4c60-a771-57913e0f9ac2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lwRORXtt1ame74j._oepbJsmwOdxAI8P'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_8baa677e-a5c6-4231-8600-e24d9a0d914e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'a1kMIaFJ6xR5qjks4Hn1IqmQGgPY6Ejg'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_88142feb-74fe-4152-a090-be5a6a79e066',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CUqM3.TQsbzYIc2OBvwO6ZrZ1OLi8u9c'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_b4d1dbb7-f661-4089-97a5-c66567354d64',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'o.6ux0QxjDrEvv6nxHV.bJ7dLyfOwdZa'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_c77eb458-20d2-462c-b894-9fb4dc0df307',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'kPuIsffpE157h.uQOsUDP8U_h79WJo12'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_2f14839e-d71b-4198-adc8-617bececcee4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7jv.oMlYmg9X58oNcMGxFu40OtLQVcHl'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_1dc8c88c-0c1e-4e47-8855-6665fd589279',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'JcXIEcyhCrEZvW0GhSQ.hJEgscKtFP_T'},
   {'Key': 'fcsq_processing/Adoption/adopt_child_parties/20220208_114148_00030_snct4_f83c2359-611f-417d-9a72-ba67401e8b16',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mcL84WJ7cwHM0lFdfabRHnILqJcK.Oub'}]}]

### Create the adopt_child_parties table in Athena

In [31]:
create_adopt_child_parties = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_child_parties
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_child_parties') AS
SELECT case_number, 
        role child_role, 
        party child_party, 
        dob, 
        gender child_sex
FROM fcsq.adoptions_parties
WHERE role_model='CHLDZ';
"""


"""
Note:
Removed dob TO_DATE as not supported and left dob as original timestamp

"""
pydb.start_query_execution_and_wait(create_adopt_child_parties)

{'QueryExecutionId': '049f465b-6c76-487a-bf0f-561c4dc7e906',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_child_parties\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_child_parties') AS\nSELECT case_number, \n        role child_role, \n        party child_party, \n        dob, \n        gender child_sex\nFROM fcsq.adoptions_parties\nWHERE role_model='CHLDZ'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/049f465b-6c76-487a-bf0f-561c4dc7e906'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 50, 13, 64000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 50, 15, 95000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1888,
  'DataScannedInBytes': 4244603,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/049f465b-6c76-487a-bf0f-561c4dc7e906-manifest.csv',
  'TotalExecutionTimeInMillis': 2031,
  'QueryQueueTimeInMillis': 105,
  'QueryPlanningTimeInMillis': 106,
  'ServiceProcessingTimeInMillis': 38},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_child_parties validation

In [32]:
adopt_child_parties_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_child_parties")
adopt_child_parties_count

    count
0  130580

# Stage 2 - Applications

## adopt_application_4 table
<a name="adopt_application_4"></a>

### Drop the adopt_application_4 table if it already exists and remove its data from the S3 bucket

In [33]:
drop_adopt_application_4 = f"""
DROP TABLE IF EXISTS fcsq.adopt_application_4;
"""
pydb.start_query_execution_and_wait(drop_adopt_application_4)

# clean up previous adopt_application_4 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_application_4/").delete()

[{'ResponseMetadata': {'RequestId': 'ZCQFMSDN62WC2EAR',
   'HostId': 'Qrny/X1qwdodTCfAR7/okK7fhNGbIrNzG+kdUSZI00O1Vjx2H/hBdUsljpNX8NGTZM1+y9sX6OA=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'Qrny/X1qwdodTCfAR7/okK7fhNGbIrNzG+kdUSZI00O1Vjx2H/hBdUsljpNX8NGTZM1+y9sX6OA=',
    'x-amz-request-id': 'ZCQFMSDN62WC2EAR',
    'date': 'Wed, 06 Apr 2022 16:50:23 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_10d468b4-0e58-4385-b1da-7d77ffc0e812',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'E3zNdTFeUCGKu5F4cgpy98JSzwssdrn5'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_48861de7-b7ee-4746-95c7-3099cade45ef',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Ei2u2bYqxncJtPwp53ARO.2R719eH7Ir'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_738fec05-104c-4bbc-bd57-d5cc50693a88',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'p.YjFmrnMyv458zJX__n7SqzCEsBuGr7'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_7e36cef0-bc3a-4d2a-9184-264e557da825',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'H7KxWrqKGMLtRLn3C9MHiCsrmK6cggWR'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_9bbc5c2a-5d5e-45a8-b547-e439a0d01705',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'xXqNcPhgSbRcTQry39Y.HvGtoFX8N6r7'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_4819e0dd-4ba7-4625-b1b4-1ee40f3e231b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ehASTF_dNOVxsTdLgWsHJVj4wyjBCbEX'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_42c3ea75-3389-46db-b628-f1ae04a3a7e5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vjEBPgFrzmit2brxvn0sAI49WVPb3MuS'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_918af5b1-72f7-4803-9993-4bd75f8f3b65',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'EydT4Aj_EOO3ds6gbvjTUkNsM4aTUOEu'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_a0fdf0e7-d7f5-4e51-b8db-55287dd1fce5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'koUpzxWrqmnrtO2d_fz_0Gu3mcowljgv'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_ca2d71af-6f59-46bf-b267-b7d5c25369eb',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'XltoC040_jM0NMXwBrZRDRkpZA3S_xVH'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_eba539a0-a188-4164-bcf3-ea4b96e60e13',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GRw0NODuXAMnL2xtnrWzP6EhxDjlQ0Gu'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_88a4a880-f6ba-4907-9822-7a7b4416d45c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rzox7qW4s6rZCgHRIXiJZuuMg9Pi468j'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_ff89e24f-8f0a-4c8b-afcc-dc47dc2e6d1e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2GDPCKY1M5.ylx_OJu1swAeAwjSv7kAH'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_75cc619a-bc8d-40a6-9593-aa967bf18fa6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BRM1Bkc5FpWtPe6DbpC5qM2Ep1bFf0S1'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_9fc72e79-82ab-490b-b0a6-2b4f81bc96c7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'D19f_snzsaetz7yUWA4WrBLGZc6rAa5L'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_8d7af526-9485-4f8f-a816-ae9d34a59926',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7xXoXk9p6ikHFjBW8NC.AnN7h4r17kkk'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_e488f48e-398e-4627-8351-c22a5a70ec4c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ytFCyLH91QkNy1lB7z.GFsg4HOlcAkbC'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_52033ad2-9f28-4de2-afac-f952b0b67aa7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5j5Dh62Eg7i3D0KWCwYarnikt2cou_1k'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_0bae6f59-cd27-496e-9dea-de10c41bc75e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'R4Of5FRM7f0Z7n0nuQRnMTdAbVL_77EQ'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_0c1f741c-4110-4980-b1e5-1150e3c13544',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2qWpljwA.F8E41zhS6DxkR5uEs73FQLK'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_ab591372-1a63-4dac-915e-90cebfb6ffef',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1S_IOiyD_ge6KxsH_KyJHeMAEkGwu5Z5'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_2f2579e7-a591-4db8-b0ff-51a53e921683',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WY4ncArhNlt5hM5tM7KVtqv8.S54.jw_'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_4/20220208_115022_00038_3g97r_d02532b2-5fdc-4f80-a275-70577641febf',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'R1V48cT7u1krTtd7.aak9gtSlTWEO4Sl'}]}]

### Create the adopt_application_4 table in Athena

In [34]:
create_adopt_application1 = f"""
SELECT     a1.case_number, 
        a1.event, 
        a1.receipt_date2, 
        a1.app_type, 
        c1.case_app_type, 
        a1.date_of_issue, 
        date_parse(c1.case_issue_date2, '%Y-%m-%d') AS case_issue_date2,
        a1.high_court, 
        c1.contested, 
        b1.number_applicants, 
        b1.min_sex, 
        b1.max_sex, 
        b1.adopter_type, 
        b1.min_rtc,
        b1.max_rtc, 
        b1.adopter, 
        SUBSTR(cast(event as varchar(50)), 1,3) court, 
        ', '||  app_type ||  ',' app_type2,
    
        CASE WHEN a1.date_of_issue <= a1.receipt_date2 
                THEN a1.date_of_issue
              ELSE a1.receipt_date2
              END min_date,

        CASE WHEN a1.app_type='AO' OR a1.app_type='CA' OR a1.app_type='PFO' OR a1.app_type='AD' OR a1.app_type='PF' OR a1.app_type='SP' THEN 'Adoption'
              WHEN a1.app_type LIKE '%AO%' OR a1.app_type LIKE  '%CA%' OR a1.app_type LIKE '%PF%' OR a1.app_type LIKE '%AD%' OR a1.app_type LIKE '%SP%' THEN 'Adoption+other'
              ELSE 'Non-adoption'
              END adoption

FROM (fcsq.adoptions_applications a1 
LEFT JOIN fcsq.adopt_applicant_type b1 ON a1.case_number = b1.case_number) 
LEFT JOIN fcsq.adoptions_cases c1 ON a1.case_number = c1.case_number;
"""

pydb.create_temp_table(create_adopt_application1,"adopt_application1")

create_adopt_application2 = f"""
SELECT case_number, 
        event, 
        min_date, 
        EXTRACT(YEAR FROM min_date) year,

        CASE WHEN  min_date IS NULL THEN NULL
              WHEN EXTRACT(MONTH FROM min_date) between 1 and 3 THEN 1
              WHEN EXTRACT(MONTH from min_date) between 4 and 6 THEN 2
              WHEN EXTRACT(month from min_date) between 7 and 9 THEN 3
              WHEN EXTRACT(month from min_date) between 10 and 12 THEN 4
              END quarter,

        court, 
        app_type, 
        app_type2, 
        adoption, 
        case_app_type, 
        high_court, 
        contested, 
        number_applicants, 
        min_sex, 
        max_sex, 
        adopter_type, 
        min_rtc, 
        max_rtc, 
        adopter, 
        receipt_date2, 
        date_of_issue, 
        case_issue_date2,

        CASE WHEN app_type2 LIKE ', AO%' OR app_type2 LIKE ', AD%' OR app_type2 LIKE ', CA%' OR app_type2 LIKE ', PFO%' OR app_type2 LIKE ', PF%' THEN 'Adoption' 
              ELSE 'N'
              END adoption1 ,

        CASE WHEN app_type2 LIKE ', AO%' OR app_type2 LIKE ', AD%' OR app_type2 LIKE ', SP%' THEN 1
              ELSE 0
              END standard ,

        CASE WHEN app_type2 LIKE '%, CA%' OR app_type2 LIKE '%, CA%'
              THEN 1 
              ELSE 0
              END convention , 

        CASE WHEN app_type2 LIKE '%, PF%'
              THEN 1
                ELSE 0
                END foreign , 

        CASE WHEN app_type2 LIKE '%, PLA%' OR app_type2 LIKE ', FO%'
              THEN 1
              ELSE 0
              END placement , 

        CASE WHEN app_type2 LIKE '%, RPLA%'
              THEN 1
              ELSE 0
              END placement_revoke  , 


        CASE WHEN app_type2 LIKE '%, VPLA%'
              THEN 1
              ELSE 0
              END  placement_vary , 

        CASE WHEN app_type2 LIKE '%, CNO%'
              THEN 1
              ELSE 0
              END contact_s26 , 

        CASE WHEN app_type2 LIKE '%, RCNO%'
              THEN 1
              ELSE 0
              END contact_s26_revoke, 

        CASE WHEN app_type2 LIKE '%, VCNO%'
              THEN 1
              ELSE 0
              END contact_s26_vary , 

        CASE WHEN app_type2 LIKE '%, CCS%' 
              THEN 1
              ELSE 0
              END change_surname , 

        CASE WHEN app_type2 LIKE '%, RUK%'
              THEN 1
              ELSE 0
              END  remove_child_from_uk, 

        CASE WHEN app_type2 LIKE '%, OR%'
              THEN 1
              ELSE 0
              END other_recovery,

        CASE WHEN app_type2 LIKE '%, PT10%'
              THEN 1
              ELSE 0
              END other_part_10, 

        CASE WHEN app_type2 LIKE '%, PT9%'
              THEN 1
              ELSE 0
              END other_part_9, 

        CASE WHEN app_type2 LIKE '%, S84%'
              THEN 1
              ELSE 0
              END other_s84_order, 

        CASE WHEN app_type2 LIKE '%, S88%'
              THEN 1
              ELSE 0
              END other_s88_direction , 

        CASE WHEN app_type2 LIKE '%, S89%'
              THEN 1
              ELSE 0
              END other_s89_order 

FROM __temp__.adopt_application1;
"""

pydb.create_temp_table(create_adopt_application2,"adopt_application2")

create_adopt_application3 = f"""
SELECT application2.case_number, 
        MIN(application2.min_date) app_date, 
        application2.year, 
        application2.quarter, 
        application2.court, 
        application2.app_type, 
        application2.app_type2, 
        application2.case_app_type, 
        application2.adoption, 
        application2.high_court, 
        application2.contested, 
        application2.number_applicants, 
        application2.min_sex, 
        application2.max_sex, 
        application2.adopter_type, 
        application2.min_rtc, 
        application2.max_rtc, 
        application2.adopter
FROM __temp__.adopt_application2 application2
GROUP BY application2.case_number, 
          application2.year, 
          application2.quarter, 
          application2.court, 
          application2.app_type, 
          application2.app_type2, 
          application2.case_app_type, 
          application2.adoption, 
          application2.high_court, 
          application2.contested, 
          application2.number_applicants, 
          application2.min_sex, 
          application2.max_sex, 
          application2.adopter_type, 
          application2.min_rtc, 
          application2.max_rtc, 
          application2.adopter
HAVING (application2.case_number)<>'CV11Z00105';
"""

pydb.create_temp_table(create_adopt_application3,"adopt_application3")

create_adopt_application4 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_application_4
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application_4') AS
SELECT application2.case_number, 
        application2.min_date app_date, 
        application2.year, 
        application2.quarter, 
        application2.court, 
        application2.app_type, 
        application2.case_app_type, 
        application2.adoption, 
        application2.high_court, 
        application2.contested, 
        application2.number_applicants, 
        application2.min_sex, 
        application2.max_sex, 
        application2.adopter_type, 
        application2.min_rtc, 
        application2.max_rtc, 
        application2.adopter, 
        application2.standard, 
        application2.convention, 
        application2.foreign, 
        application2.placement, 

        application2.placement_revoke + application2.placement_vary  placement_revoke_or_vary, 

        application2.contact_s26, 

        application2.contact_s26_revoke + application2.contact_s26_vary contact_s26_revoke_or_vary, 
        
        application2.change_surname, 
        application2.remove_child_from_uk, 

        application2.other_recovery+application2.other_part_10+application2.other_part_9+application2.other_s84_order+application2.other_s88_direction+application2.other_s89_order other_order_type


FROM __temp__.adopt_application2 application2;
"""
pydb.start_query_execution_and_wait(create_adopt_application4)

{'QueryExecutionId': '7e06b3bc-fa37-4ae6-b720-4f97ede8b219',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_application_4\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application_4') AS\nSELECT application2.case_number, \n        application2.min_date app_date, \n        application2.year, \n        application2.quarter, \n        application2.court, \n        application2.app_type, \n        application2.case_app_type, \n        application2.adoption, \n        application2.high_court, \n        application2.contested, \n        application2.number_applicants, \n        application2.min_sex, \n        application2.max_sex, \n        application2.adopter_type, \n        application2.min_rtc, \n        application2.max_rtc, \n        application2.adopter, \n        application2.standard, \n        application2.convention, \n        application2.foreign, \n        application2.placement, \n\n        application2.placement_revoke + application2.placement_vary  placement_revoke_or_vary, \n\n        application2.contact_s26, \n\n        application2.contact_s26_revoke + application2.contact_s26_vary contact_s26_revoke_or_vary, \n        \n        application2.change_surname, \n        application2.remove_child_from_uk, \n\n        application2.other_recovery+application2.other_part_10+application2.other_part_9+application2.other_s84_order+application2.other_s88_direction+application2.other_s89_order other_order_type\n\n\nFROM mojap_de_temp_alpha_user_thomasauburnmoj.adopt_application2 application2",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/7e06b3bc-fa37-4ae6-b720-4f97ede8b219'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 50, 50, 841000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 50, 53, 885000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2890,
  'DataScannedInBytes': 3023210,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/7e06b3bc-fa37-4ae6-b720-4f97ede8b219-manifest.csv',
  'TotalExecutionTimeInMillis': 3044,
  'QueryQueueTimeInMillis': 111,
  'QueryPlanningTimeInMillis': 103,
  'ServiceProcessingTimeInMillis': 43},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_application_4 validation

In [35]:
adopt_application_4_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_application_4")
adopt_application_4_count

    count
0  175169

## adopt_application_5 table
<a name="adopt_application_5"></a>

### Drop the adopt_application_5 table if it already exists and remove its data from the S3 bucket

In [36]:
drop_adopt_application_5 = f"""
DROP TABLE IF EXISTS fcsq.adopt_application_5;
"""
pydb.start_query_execution_and_wait(drop_adopt_application_5)

# clean up previous adopt_application_5 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_application_5/").delete()

[{'ResponseMetadata': {'RequestId': '7MCGW4V0EVQE2W8B',
   'HostId': 'x0wJpzG/a7k807h1U0LOHLxsR3dfMPDMdNb0OnihAEe6r9Z4ZWPrL/6LpM2rXf1acPb0v9oESQk=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'x0wJpzG/a7k807h1U0LOHLxsR3dfMPDMdNb0OnihAEe6r9Z4ZWPrL/6LpM2rXf1acPb0v9oESQk=',
    'x-amz-request-id': '7MCGW4V0EVQE2W8B',
    'date': 'Wed, 06 Apr 2022 16:51:04 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_d5b8f581-94c1-46d0-98d1-732d9bf13ec5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Y6KaRd3fT2Y11MddB7EEaKm7tWb00Iys'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_088f649f-13b0-4f8a-b88a-0b256ce7040b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'kBa69bGl8KWXITLmDILiSz2GNjvNRDSV'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_4411ff13-7046-4f50-8693-ab338bc901bc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.d4g0cqXVQdf4_pxQ_xHk0A6gIVzfH.d'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_edc509f0-ef84-4b9f-9e28-3283b2139e6c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9UiuR68venGS2uXUm_anb3xZinbiyFgf'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_09594c6d-a3fa-4c5d-9ae1-4dabafc57c1f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'LxctiqUFrRX4F3jUI_btLcLFTh8UgAm8'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_fb1c25ba-be6c-4d8e-b40c-42cca4705cdf',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'RXJfEknHZuQZXtj7Pd5KC09FeupiPtwY'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_28176053-3467-4bbb-b657-fe6b3bd41f4c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WOZD4hLo_5V1_uSy72vRRQxFg6pa3UoP'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_4f7eac92-6484-49f7-b391-c7b73213228f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'KwVon8M9yTRPqyhrIMQ3nU2E.UBiAwDB'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_125a487b-808d-4f86-a991-2f852763439a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dLfGb6KNR9pAo.PDH0jAFAVSWweZcTaE'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_2ac5a0ba-f7e1-4023-894b-7bf3096efa17',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'viwR2P0lxXclgpp.rtFmE8NM3VNEJbNL'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_b6d76ed4-12ff-42c7-8a95-4e2b51bbeb0d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'P.R3CvFzis4JtWDWiHoXjAzwHsu8RMIj'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_ca4cac0f-d99b-4939-ab90-6e91804a4b6d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zUAKO72Wm99_MXmx.CRVtYXsxwVnrYQc'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_6c6df247-59d8-4f79-ae73-582cdf44d262',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mPiSIhsdMpFIED1bL4n28ildgdD1I_CE'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_f4a3c8e9-06b6-49b0-9a20-ac4433814dd5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Kj9ONDU0bdWkea4SJaDWCZrfsKAELh7N'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_a811c097-ebb5-4c07-ab87-ee2f046f8cd0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tXIXUVR6KAuNN4Ns2ZOedEng8Z0f1UFm'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_3e27dd6d-5b3a-425b-9484-c16817730910',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dTBJvgtETi_hDErkndD4beciocKDJrLQ'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_1613277a-3823-45a4-b860-070b93e15bd1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'xZoa3WJQzGThNG_UfleRI3rQpUvwuU5j'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_686a95b2-7554-4c5a-93ae-d7a0ff09a2d1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'jl.emWpuFi8rOoVoW8Uq_E_7ARDnzr33'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_2af46f9a-4d6a-4f77-896d-5d95a9cd5328',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Iz5xtDNroMTUYZdL9E7K2zjH7gC22mtP'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_f5974e28-f651-4049-aa4a-9b27b214fb75',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'S6Y12ZVJnb4rdlOnlJJ6CmgEVQ.quAbD'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_fca92123-b538-4172-8b71-ab9d10a31992',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'T4B58Sm5yjxGxYWf9I_ALk4FXLD4cug5'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_750372b0-bd3f-4eba-bce5-36163bfdf9f4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ItnizSx23pDLwqDT5fVBAPo0.JqxCg4K'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_75804c0b-56d2-4170-9188-5ea43c7ceb74',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Xhxo57yXmez2lCaN9rFPagN6qRWfhRUi'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_0ef5ae19-09ba-481f-83a4-b028a923a160',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'f9yoG9h9QAql_yy2R6f3Nzo0iv8naqGn'},
   {'Key': 'fcsq_processing/Adoption/adopt_application_5/20211027_134916_00033_wgnzr_b2e27468-0731-4884-b844-10b86f884a9d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9CZE7TiLTGRQ2MZvaqWoaOUO9RxgQJQ9'}]}]

### Create the adopt_application_5 table in Athena

In [38]:
create_adopt_application_5 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_application_5
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application_5') AS
SELECT application4.*, 

        CASE WHEN adoption='Adoption' OR adoption='Adoption+other' 
              THEN 'Adoption'
              ELSE ' '
              END AS adoption_cases, 

        CASE WHEN adoption='Non-adoption' OR adoption='Adoption+other'
              THEN 'Non-adoption'
              ELSE '' 
              END AS non_adoption_cases, 

        CASE WHEN adopter IS NULL
              THEN 'Other or not stated'
              ELSE adopter
              END AS adopter_2

FROM fcsq.adopt_application_4 application4;
"""

pydb.start_query_execution_and_wait(create_adopt_application_5)

{'QueryExecutionId': 'a857fa41-9c29-4088-856e-a3e1f77a6dde',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_application_5\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application_5') AS\nSELECT application4.*, \n\n        CASE WHEN adoption='Adoption' OR adoption='Adoption+other' \n              THEN 'Adoption'\n              ELSE ' '\n              END AS adoption_cases, \n\n        CASE WHEN adoption='Non-adoption' OR adoption='Adoption+other'\n              THEN 'Non-adoption'\n              ELSE '' \n              END AS non_adoption_cases, \n\n        CASE WHEN adopter IS NULL\n              THEN 'Other or not stated'\n              ELSE adopter\n              END AS adopter_2\n\nFROM fcsq.adopt_application_4 application4",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/a857fa41-9c29-4088-856e-a3e1f77a6dde'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 5, 8000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 8, 609000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 3141,
  'DataScannedInBytes': 2280594,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/a857fa41-9c29-4088-856e-a3e1f77a6dde-manifest.csv',
  'TotalExecutionTimeInMillis': 3601,
  'QueryQueueTimeInMillis': 215,
  'QueryPlanningTimeInMillis': 291,
  'ServiceProcessingTimeInMillis': 245},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_application_5 validation

In [39]:
adopt_application_5_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_application_5")
adopt_application_5_count

    count
0  175169

## adopt_apps_6_adoptions_only table
<a name="adopt_apps_6_adoptions_only"></a>

### Drop the adopt_apps_6_adoptions_only table if it already exists and remove its data from the S3 bucket

In [40]:
drop_adopt_apps_6_adoptions_only = f"""
DROP TABLE IF EXISTS fcsq.adopt_apps_6_adoptions_only;
"""
pydb.start_query_execution_and_wait(drop_adopt_apps_6_adoptions_only)

# clean up previous adopt_apps_6_adoptions_only files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_apps_6_adoptions_only/").delete()

[{'ResponseMetadata': {'RequestId': '3A37CNFSBCHVAPB0',
   'HostId': 'unvTQtAChawZY2dcRrUCw+FewS/hSe7vn7ZoeOYP5726ae+lNiExA7a1r/QXrjSp4vWLxQk19QY=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'unvTQtAChawZY2dcRrUCw+FewS/hSe7vn7ZoeOYP5726ae+lNiExA7a1r/QXrjSp4vWLxQk19QY=',
    'x-amz-request-id': '3A37CNFSBCHVAPB0',
    'date': 'Wed, 06 Apr 2022 17:00:30 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_99cf6179-4539-4632-bdc4-d16b5669eb1b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1g0Qs4fgRIcpdLfNZBzsXrVzGp.T7GOy'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_b0d8a7b6-5265-4440-b898-f47bf851a158',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'sY544_NoBIh_BliCQP438JgvzaUx8D7_'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_845fab5c-7969-4a4b-a81e-752a23957e2c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'MAFZykTjcE35nYHGavnL5zZShTUqBh7k'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_aebba698-9581-4240-b1ff-3587f41f444d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9F0lHdwR_xyZJRAqftFy5qoK86y0yw55'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_f4cfc377-c88f-41d1-b3ba-493e73479f7f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'NfoNnG08lqwZtKtgQ3gPZvFFpsxXGoc_'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_86e6ae50-c000-4e86-9a40-5f0b0d7bd78f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'r.0hzaKOvwdOM94U_A6wvWNASTAS7Qic'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_9b510b1e-4de4-436b-996c-9c76e5f12419',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '10d36LJ17ZbzP8Ye4MXbX0GXFV3z1ABk'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_f1a6bf61-9a32-4681-93d6-b625924ff1d4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'iZwY6Me3DeN7I6tI0WdnYf9wxKXimf1s'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_d874477f-7de6-4628-8a04-54dc0afb9b3b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QyHS4UlwdmTz29niDgqdkIEQuaPAeRDD'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_1a920353-edb1-466a-91e2-074bf18ec088',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Vf7YvEoVJhc.X_4nZCtBdg0QU.ptmP7o'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_df504c27-b785-4317-9f9c-713e10f55d78',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_avRrGTDinPvbb.uFUDfUpRp9VHto5AA'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_5d1c5c1a-fbbb-4a20-a0a0-adca97fd791d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gkD2opQxpOBHcf0oy6dbZ2B5UiK_KQKh'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_3a43b4a0-b544-445e-bd3d-bb64e2c838cc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'HsNpSIX0h2aLxqd9GWY2gaJ6z18a7dsP'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_3fc6826b-c70b-4e87-9400-54cfdf2b0c8f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FAEZVUg5yto2DjSAfUCaMcZ3tLqRwoOr'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_7b1ab44a-fc6e-4ea8-b720-af53d7485f90',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_5bWqkUTL3SyYkiDEDLX_Dm_tJG0EvX.'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_2d674251-6c39-4779-a9c6-9ea7b14ff5b1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'P1KA4czZQTITOVKYQsEbujNeUfHmseLN'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_a80a662f-d37c-48c0-aa67-1931e9682b4d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mBhO7HyYCO5hy5Z1..kDbEzdbfa.XjTK'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_adoptions_only/20211027_123203_00062_mzyrh_fd20cfea-ad57-4c52-a292-400db2d1789c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ELgFPKZ.0Ha_D.hUZvplO.3eMG2IweSZ'}]}]

### Create the adopt_apps_6_adoptions_only table in Athena

In [41]:
create_adopt_apps_6_adoptions_only = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_apps_6_adoptions_only
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_apps_6_adoptions_only')
AS
SELECT application_5.case_number, 
        application_5.app_date, 
        application_5.year, 
        application_5.quarter,
        application_5.court, 
        application_5.app_type, 
        application_5.case_app_type, 
        application_5.adoption, 
        application_5.high_court, 
        application_5.contested, 
        application_5.number_applicants, 
        application_5.min_sex, 
        application_5.max_sex, 
        application_5.adopter_type,
        application_5.min_rtc, 
        application_5.max_rtc, 
        application_5.adopter, 
        application_5.standard, 
        application_5.convention, 
        application_5.foreign,
        application_5.adoption_cases, 
        application_5.adopter_2,
        
        (application_5.standard + application_5.convention + application_5.foreign) AS adoptions_total 
        
FROM fcsq.adopt_application_5 application_5
WHERE application_5.adoption_cases='Adoption';
"""

pydb.start_query_execution_and_wait(create_adopt_apps_6_adoptions_only)

{'QueryExecutionId': 'ac87a2e4-4ab5-45b2-924f-3f5605a6fd50',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_apps_6_adoptions_only\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_apps_6_adoptions_only')\nAS\nSELECT application_5.case_number, \n        application_5.app_date, \n        application_5.year, \n        application_5.quarter,\n        application_5.court, \n        application_5.app_type, \n        application_5.case_app_type, \n        application_5.adoption, \n        application_5.high_court, \n        application_5.contested, \n        application_5.number_applicants, \n        application_5.min_sex, \n        application_5.max_sex, \n        application_5.adopter_type,\n        application_5.min_rtc, \n        application_5.max_rtc, \n        application_5.adopter, \n        application_5.standard, \n        application_5.convention, \n        application_5.foreign,\n        application_5.adoption_cases, \n        application_5.adopter_2,\n        \n        (application_5.standard + application_5.convention + application_5.foreign) AS adoptions_total \n        \nFROM fcsq.adopt_application_5 application_5\nWHERE application_5.adoption_cases='Adoption'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ac87a2e4-4ab5-45b2-924f-3f5605a6fd50'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 31, 986000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 34, 607000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2430,
  'DataScannedInBytes': 2317593,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ac87a2e4-4ab5-45b2-924f-3f5605a6fd50-manifest.csv',
  'TotalExecutionTimeInMillis': 2621,
  'QueryQueueTimeInMillis': 139,
  'QueryPlanningTimeInMillis': 119,
  'ServiceProcessingTimeInMillis': 52},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_apps_6_adoptions_only validation

In [42]:
adopt_apps_6_adoptions_only_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_apps_6_adoptions_only")
adopt_apps_6_adoptions_only_count

   count
0  68360

## adopt_apps_6_non_adoptions table
<a name="adopt_apps_6_non_adoptions"></a>

### Drop the adopt_apps_6_non_adoptions table if it already exists and remove its data from the S3 bucket

In [43]:
drop_adopt_apps_6_non_adoptions = f"""
DROP TABLE IF EXISTS fcsq.adopt_apps_6_non_adoptions;
"""
pydb.start_query_execution_and_wait(drop_adopt_apps_6_non_adoptions)

# clean up previous adopt_apps_6_non_adoptions files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_apps_6_non_adoptions/").delete()

[{'ResponseMetadata': {'RequestId': 'Z23NPPATHBG8S42N',
   'HostId': 'qX6ij1FR62iXbLpSrmKpba1Qey6Qn/atiJ4Gaox+Geue0r3jTHFl+FuagYnNsdbmOJ0AtoQEIpU=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'qX6ij1FR62iXbLpSrmKpba1Qey6Qn/atiJ4Gaox+Geue0r3jTHFl+FuagYnNsdbmOJ0AtoQEIpU=',
    'x-amz-request-id': 'Z23NPPATHBG8S42N',
    'date': 'Wed, 06 Apr 2022 17:00:46 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_419062db-472d-4987-8b44-074273f4255c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Jb6iSuWAQVV2Epk51XxaQZv1xKYodZPk'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_0a441a78-56d0-461c-aa66-4d64e25311ec',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2GdCaF9r.X.fL_tEnjpUW8x.vcf66vdt'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_a7a0ac7d-c25a-4726-8676-336acccfacb1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'xkAdpGt1pqzVn.vjbJXHRkKUWmpndfgy'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_2a2d4723-d9cd-4bd4-84a0-48425a0d03a1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '38vBjeGW.8F6JYTdk8j5t2bkENkZ6_7T'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_95bffd60-36ac-45f8-a376-a82758e6ec4f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'COwsKYqY0bf5BEFEIx5H0qp5Ollcu72V'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_63c68fde-741a-444e-a29a-8475e9adb72a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9W21aEhMqSSCmkUId0Ke8va0Y3KYwoM1'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_e23fac1d-4568-45da-99c9-c7309934a7ae',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YhBmxTKAeMRph8hb3UQXUdPVZ.zpIglC'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_eef9050a-1556-4bcd-b997-f5af737fdbda',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Rd_RgkXH4ILTDmOBxndvlDg_nUjniqsf'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_9d7bbb21-ac69-4468-9d1f-40af1ff8f139',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'hr0pqHGnlzYntLS7RMLZtgY_Sca95Dgt'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_706b6660-9c77-4cf9-8ec1-1a3b06d508d1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Y8izY8xVQUKO6Js0deWPguzoUIOj4Nad'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_8925c53b-3553-4ea3-bf57-b77cb17c468a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'K7Pfaq9x5IamJGwmlp8HbI1WghaDTpNU'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_370c0e2a-ac49-4db0-8b14-6eeebab2d14b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5RoYTr4_bQIjO_S68zBWquYG0bHk_eLD'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_8867cfd5-7f2e-4c20-a036-6470cae5d1c6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lBg2O8NxVVHQFEeIHsJu9eg7HCez9iZQ'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_2f207322-a4d2-4c96-818f-eccc5fdb3b7e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WjG1KkFewns5B.jPa_UNmNCbVBoUjBKj'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_5133c1c2-1b35-48dc-bbb7-9b242279e068',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'uBOvjXuGPcMEKbI3xy3SCW527flvV.oK'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_c03e9785-f661-4ae4-b341-779cca862287',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Yz..MXm6V.o0CEODA5gPKL3eJ6AMPFqT'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_cc0fb334-d850-4e7d-9512-ff4bf7cc322d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'eUJdDwswuObPEuO5LWkRWiaRxa9l65HS'},
   {'Key': 'fcsq_processing/Adoption/adopt_apps_6_non_adoptions/20211027_123351_00041_e24a4_e69a92da-10a4-4092-b9fd-1020f416a6bf',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vh.MfshzUDVlHRwcjTXIXmBw7usmH6FF'}]}]

### Create the adopt_apps_6_non_adoptions table in Athena

In [44]:
create_adopt_apps_6_non_adoptions = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_apps_6_non_adoptions
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_apps_6_non_adoptions') AS
SELECT application_5.case_number, 
        application_5.app_date, 
        application_5.year, 
        application_5.quarter, 
        application_5.court, 
        application_5.app_type, 
        application_5.case_app_type, 
        application_5.adoption, 
        application_5.high_court, 
        application_5.contested, 
        application_5.number_applicants, 
        application_5.min_sex, 
        application_5.max_sex, 
        application_5.adopter_type, 
        application_5.min_rtc, 
        application_5.max_rtc, 
        application_5.adopter, 
        application_5.placement, 
        application_5.placement_revoke_or_vary, 
        application_5.contact_s26, 
        application_5.contact_s26_revoke_or_vary, 
        application_5.change_surname, 
        application_5.remove_child_from_uk, 
        application_5.other_order_type, 
        application_5.non_adoption_cases, 
        application_5.adopter_2, 
        
        placement+placement_revoke_or_vary+contact_s26+contact_s26_revoke_or_vary+change_surname+remove_child_from_uk+other_order_type AS non_adoptions_total,
        
        REPLACE(app_type,'AO, ','') AS remove_ao
        
FROM fcsq.adopt_application_5 application_5
WHERE application_5.non_adoption_cases='Non-adoption' AND 
(placement+placement_revoke_or_vary+contact_s26+contact_s26_revoke_or_vary+change_surname+remove_child_from_uk+other_order_type)>0;
"""

pydb.start_query_execution_and_wait(create_adopt_apps_6_non_adoptions)

{'QueryExecutionId': '7321f8d3-f01b-4421-8660-3eb768bc81e5',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_apps_6_non_adoptions\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_apps_6_non_adoptions') AS\nSELECT application_5.case_number, \n        application_5.app_date, \n        application_5.year, \n        application_5.quarter, \n        application_5.court, \n        application_5.app_type, \n        application_5.case_app_type, \n        application_5.adoption, \n        application_5.high_court, \n        application_5.contested, \n        application_5.number_applicants, \n        application_5.min_sex, \n        application_5.max_sex, \n        application_5.adopter_type, \n        application_5.min_rtc, \n        application_5.max_rtc, \n        application_5.adopter, \n        application_5.placement, \n        application_5.placement_revoke_or_vary, \n        application_5.contact_s26, \n        application_5.contact_s26_revoke_or_vary, \n        application_5.change_surname, \n        application_5.remove_child_from_uk, \n        application_5.other_order_type, \n        application_5.non_adoption_cases, \n        application_5.adopter_2, \n        \n        placement+placement_revoke_or_vary+contact_s26+contact_s26_revoke_or_vary+change_surname+remove_child_from_uk+other_order_type AS non_adoptions_total,\n        \n        REPLACE(app_type,'AO, ','') AS remove_ao\n        \nFROM fcsq.adopt_application_5 application_5\nWHERE application_5.non_adoption_cases='Non-adoption' AND \n(placement+placement_revoke_or_vary+contact_s26+contact_s26_revoke_or_vary+change_surname+remove_child_from_uk+other_order_type)>0",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/7321f8d3-f01b-4421-8660-3eb768bc81e5'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 47, 743000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 49, 753000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1846,
  'DataScannedInBytes': 2338979,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/7321f8d3-f01b-4421-8660-3eb768bc81e5-manifest.csv',
  'TotalExecutionTimeInMillis': 2010,
  'QueryQueueTimeInMillis': 113,
  'QueryPlanningTimeInMillis': 144,
  'ServiceProcessingTimeInMillis': 51},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_apps_6_non_adoptions validation

In [45]:
adopt_apps_6_non_adoptions_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_apps_6_non_adoptions")
adopt_apps_6_non_adoptions_count

   count
0  85983

## Summary 1: Adoption applications by adopter
<a name="summaries"></a>

In [46]:
distinct_adopter_2 = f"""
SELECT DISTINCT adopter_2  FROM fcsq.adopt_apps_6_adoptions_only;
"""
table1 = pydb.start_query_execution_and_wait(distinct_adopter_2)
table1

{'QueryExecutionId': '7866aecc-d248-4738-9ca5-2048a4e78482',
 'Query': 'SELECT DISTINCT adopter_2  FROM fcsq.adopt_apps_6_adoptions_only',
 'StatementType': 'DML',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/7866aecc-d248-4738-9ca5-2048a4e78482.csv'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 57, 959000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 17, 0, 59, 69000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 815,
  'DataScannedInBytes': 23593,
  'TotalExecutionTimeInMillis': 1110,
  'QueryQueueTimeInMillis': 187,
  'QueryPlanningTimeInMillis': 177,
  'ServiceProcessingTimeInMillis': 108},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

In [48]:
sum_adopter_types = f"""
SELECT year, 
        quarter,
        SUM(CASE WHEN adopter_2='Other or not stated' THEN adoptions_total ELSE 0 END) other_or_not_stated,
        SUM(CASE WHEN adopter_2='Sole applicant' THEN adoptions_total ELSE 0 END) Sole_applicant,
        SUM(CASE WHEN adopter_2='Step parent' THEN adoptions_total ELSE 0  END) Step_Parent,
        SUM(CASE WHEN adopter_2='mixed-sex couple' THEN adoptions_total ELSE 0 END) mix_sex_couple,
        SUM(CASE WHEN adopter_2='same-sex couple' THEN adoptions_total ELSE 0 END) same_sex_couple,
        SUM(adoptions_total) as adoptions_total
FROM fcsq.adopt_apps_6_adoptions_only WHERE year > 2010 
GROUP BY year, 
          quarter
ORDER BY 1,2;
"""
table1 = pydb.read_sql_query(sum_adopter_types)
table1

    year  quarter  other_or_not_stated  sole_applicant  step_parent  mix_sex_couple  same_sex_couple  adoptions_total
0   2011        1                   28             195          143             945               50             1361
1   2011        2                   27             155          143             777               51             1153
2   2011        3                   11             189          138             783               42             1163
3   2011        4                   19             207          129             780               60             1195
4   2012        1                   16             251          129             965               67             1428
5   2012        2                    8             199          132             882               73             1294
6   2012        3                   18             233          121             883               69             1324
7   2012        4                   17             213           94            1033               91             1448
8   2013        1                   26             255          104            1126              117             1628
9   2013        2                   10             246          123            1167               99             1645
10  2013        3                   22             226           97            1141              104             1590
11  2013        4                   12             236          109            1222              105             1684
12  2014        1                   18             277          103            1270              163             1831
13  2014        2                   14             246          101            1245              133             1739
14  2014        3                   15             244          102            1201              145             1707
15  2014        4                    9             211          101            1093              138             1552
16  2015        1                   17             270          106            1202              145             1740
17  2015        2                   15             248          127             957              141             1488
18  2015        3                   23             266          116            1023              147             1575
19  2015        4                    8             251          109             972              117             1457
20  2016        1                   14             262          104            1042              124             1546
21  2016        2                    9             232          112             958              126             1437
22  2016        3                    6             242          117             956              139             1460
23  2016        4                   14             240          124             904              146             1428
24  2017        1                   26             238          154             888              162             1468
25  2017        2                   10             213          123             785              138             1269
26  2017        3                    8             288          106             832              143             1377
27  2017        4                    9             235          122             799              143             1308
28  2018        1                   10             269          123             748              155             1305
29  2018        2                    5             257          112             746              139             1259
30  2018        3                   13             246          108             722              153             1242
31  2018        4                    9             274           86             767              166             1302
32  2019        1                    6             308          101             761              149             1325
33  2019        2                    7             258           97             725              148             1235
34  2019        3                    7             222           67             704              176             1176
35  2019        4                    8             252           73             732              163             1228
36  2020        1                    6             221           64             681              138             1110
37  2020        2                    9             157           42             499              129              836
38  2020        3                   10             243           61             626              163             1103
39  2020        4                   11             216           39             755              167             1188
40  2021        1                    9             267           67             658              177             1178
41  2021        2                    9             198           85             590              178             1060
42  2021        3                   68              60           20             192               39              379

## Summary 2: non-adoption applications by adopter

In [49]:
adopt_non_adopt_summary = f"""
SELECT year, 
        quarter,
        SUM (placement) AS placement_total,
        SUM (placement_revoke_or_vary) AS placement_revoke_or_vary,
        SUM (contact_s26 ) AS contact_s26,
        SUM (contact_s26_revoke_or_vary) AS contact_s26_revoke_or_vary,
        SUM (change_surname)AS change_surname,
        SUM (remove_child_from_uk) AS remove_child_from_uk,
        SUM (other_order_type)AS other_order_type,
        SUM (non_adoptions_total) AS non_adoptions_total_sum

FROM fcsq.adopt_apps_6_non_adoptions 
WHERE year > 2010 /*RB Note (18/11/15): Added this qualifier in as presently results before 2010 not used.*/
GROUP BY year, 
          quarter
ORDER BY year,
          quarter;
"""

table1 = pydb.start_query_execution_and_wait(adopt_non_adopt_summary)
table1

    year  quarter  placement_total  placement_revoke_or_vary  contact_s26  contact_s26_revoke_or_vary  change_surname  remove_child_from_uk  other_order_type  non_adoptions_total_sum
0   2011        1             1496                        72            7                           1              11                     1                 9                     1597
1   2011        2             1353                        79           15                           1               6                     2                 4                     1460
2   2011        3             1509                        74            6                           1              16                     2                 5                     1613
3   2011        4             1466                        99            5                           1              24                     2                 9                     1606
4   2012        1             1731                       116            2                           2              10                     2                 3                     1866
5   2012        2             1712                        94            5                           4              26                     0                12                     1853
6   2012        3             1838                       166           10                           2              16                     3                 7                     2042
7   2012        4             1804                       146            4                           2               6                     5                 5                     1972
8   2013        1             1716                       231           15                           4              17                     5                 5                     1993
9   2013        2             1892                       259            9                           2              20                     4                 3                     2189
10  2013        3             2080                       272            7                           1              12                     3                 8                     2383
11  2013        4             1494                       242            9                           0              17                     1                 7                     1770
12  2014        1             1296                       314            9                           0              14                     2                13                     1648
13  2014        2             1203                       335            3                           3              12                     4                18                     1578
14  2014        3             1229                       283            6                           0              16                     6                18                     1558
15  2014        4             1216                       287            5                           0              11                     1                34                     1554
16  2015        1             1281                       342            8                           5               7                     2                13                     1658
17  2015        2             1167                       309           14                           1               7                     4                17                     1519
18  2015        3             1375                       301           14                           1               9                     2                27                     1729
19  2015        4             1378                       290           11                           0              11                     3                13                     1706
20  2016        1             1314                       276            7                           0               7                     2                18                     1624
21  2016        2             1391                       243           26                           1              12                     5                13                     1691
22  2016        3             1305                       173            5                           0               9                     1                14                     1507
23  2016        4             1373                       154            8                           3               8                     1                14                     1561
24  2017        1             1501                       174           11                           1              10                     1                13                     1711
25  2017        2             1451                       159            8                           0              10                     2                15                     1645
26  2017        3             1316                       142            2                           0               9                     2                 9                     1480
27  2017        4             1369                       139            1                           0              13                     0                38                     1560
28  2018        1             1363                       154            3                           0              20                     1                21                     1562
29  2018        2             1293                       172            4                           0               3                     2                21                     1495
30  2018        3             1302                       171            5                           1               1                     0                 6                     1486
31  2018        4             1314                       165            6                           2               0                     0                12                     1499
32  2019        1             1230                       203            4                           2               4                     1                23                     1467
33  2019        2             1127                       223            2                           0              10                     1                20                     1383
34  2019        3             1110                       212           16                           0               7                     1                17                     1363
35  2019        4             1050                       184           13                           0               6                     2                21                     1276
36  2020        1             1122                       178            7                           1              17                     0                11                     1336
37  2020        2              981                       196            6                           0               2                     1                14                     1200
38  2020        3              931                       225            3                           0              13                     0                12                     1184
39  2020        4             1098                       217            7                           0              11                     1                 7                     1341
40  2021        1             1076                       181            7                           0               9                     1                13                     1287
41  2021        2             1009                       174            3                           2               4                     1                 0                     1193
42  2021        3              398                        60            3                           0               1                     0                 4                      466

## Summary 3 - produces a case level table for purposes of case level counts

In [50]:
adopt_application_case_count_a = f"""
SELECT case_number,
        court, 
        MIN(app_date) AS minofapp_date
FROM fcsq.adopt_application_4 
WHERE year > 2010
GROUP BY case_number,court
ORDER BY 1,2;
"""
pydb.create_temp_table(adopt_application_case_count_a,"adopt_application_case_count_a")

In [51]:
adopt_application_case_count_b = f"""
SELECT case_number, 
        minofapp_date, 
        CAST(EXTRACT(YEAR FROM minofapp_date) as varchar(3)) || ' - ' ||
        
        (CASE WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 1 AND 3  THEN CAST(1 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 4 AND 6 THEN CAST(2 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 7 AND 9 THEN CAST(3 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 10 AND 12 THEN CAST(4 as varchar(3))
              END) quarter

FROM __temp__.adopt_application_case_count_a;
"""
pydb.create_temp_table(adopt_application_case_count_b,"adopt_application_case_count_b")

In [52]:
adopt_apps_case_count_total = f"""
SELECT quarter, 
        COUNT(case_number) count_of_case
FROM __temp__.adopt_application_case_count_b
GROUP BY quarter
ORDER BY quarter; 
"""


pydb.create_temp_table(adopt_apps_case_count_total,"adopt_apps_case_count_total")

In [53]:
table1 = pydb.read_sql_query("select * from __temp__.adopt_application_case_count_a")
table1

       case_number court minofapp_date
0       TA19Z00032   347    2019-04-24
1       TA19Z00033   347    2019-04-26
2       TA19Z00034   347    2019-05-03
3       TA19Z00035   347    2019-05-08
4       TA19Z00036   347    2019-05-10
...            ...   ...           ...
125163  PD14Z00353   299    2014-06-17
125164  PD14Z00356   299    2014-06-24
125165  PD14Z00357   299    2014-06-24
125166  PD14Z00358   299    2014-06-24
125167  PD14Z00359   299    2014-06-24

[125168 rows x 3 columns]

In [54]:
table2 = pydb.read_sql_query("select * from __temp__.adopt_application_case_count_b")
table2

       case_number minofapp_date   quarter
0       GC11Z00042    2011-11-09  2011 - 4
1       GC11Z00043    2011-11-11  2011 - 4
2       GC11Z00044    2011-12-07  2011 - 4
3       GC11Z00045    2011-12-07  2011 - 4
4       GC12Z00001    2012-01-23  2012 - 1
...            ...           ...       ...
125163  SE11Z00736    2011-09-27  2011 - 3
125164  SE11Z00737    2011-09-27  2011 - 3
125165  SE11Z00739    2011-09-27  2011 - 3
125166  SE11Z00741    2011-09-28  2011 - 3
125167  SE11Z00761    2011-10-03  2011 - 4

[125168 rows x 3 columns]

In [55]:
table3 = pydb.read_sql_query("select * from __temp__.adopt_apps_case_count_total")
table3

     quarter  count_of_case
0   2011 - 1           2946
1   2011 - 2           2606
2   2011 - 3           2762
3   2011 - 4           2777
4   2012 - 1           3286
5   2012 - 2           3123
6   2012 - 3           3348
7   2012 - 4           3410
8   2013 - 1           3602
9   2013 - 2           3810
10  2013 - 3           3960
11  2013 - 4           3430
12  2014 - 1           3457
13  2014 - 2           3298
14  2014 - 3           3243
15  2014 - 4           3086
16  2015 - 1           3387
17  2015 - 2           2995
18  2015 - 3           3293
19  2015 - 4           3149
20  2016 - 1           3158
21  2016 - 2           3106
22  2016 - 3           2953
23  2016 - 4           2972
24  2017 - 1           3161
25  2017 - 2           2898
26  2017 - 3           2841
27  2017 - 4           2844
28  2018 - 1           2843
29  2018 - 2           2742
30  2018 - 3           2726
31  2018 - 4           2790
32  2019 - 1           2780
33  2019 - 2           2600
34  2019 - 3           2525
35  2019 - 4           2493
36  2020 - 1           2419
37  2020 - 2           2028
38  2020 - 3           2269
39  2020 - 4           2515
40  2021 - 1           2449
41  2021 - 2           2247
42  2021 - 3            841

## adopt_adopt_only_case_count summary
<a name="adopt_adopt_only_case_count"></a>

In [56]:
adopt_adopt_only_case_count_a = f"""
SELECT case_number, 
        MIN(app_date) AS minofapp_date 
FROM fcsq.adopt_apps_6_adoptions_only
WHERE year > 2010
GROUP BY case_number, court;
"""
pydb.create_temp_table(adopt_adopt_only_case_count_a,"adopt_adopt_only_case_count_a")

adopt_adopt_only_case_count_b = f"""
SELECT case_number, 
        minofapp_date, 
        CAST(EXTRACT(YEAR FROM (minofapp_date)) as varchar(3)) || ' - ' ||

        (CASE WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 1 AND 3  THEN CAST(1 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 4 AND 6 THEN CAST(2 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 7 AND 9 THEN CAST(3 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 10 AND 12 THEN CAST(4 as varchar(3))
              END) quarter

FROM __temp__.adopt_adopt_only_case_count_a;
"""
pydb.create_temp_table(adopt_adopt_only_case_count_b,"adopt_adopt_only_case_count_b")

adopt_only_case_count_total = f"""
SELECT quarter, 
        COUNT (case_number) AS count_of_case
FROM __temp__.adopt_adopt_only_case_count_b
GROUP BY quarter
ORDER BY quarter;
"""
pydb.create_temp_table(adopt_only_case_count_total,"adopt_adopt_only_case_count_total")

## The next couple of queries are here to find the court level data for the court level/DFJ CSV file. Currently these are not used for FCSQ

In [57]:
applications_court_level = f"""
SELECT year, 
        quarter, 
        court, 
        COUNT(*) n 
FROM fcsq.adopt_apps_6_adoptions_only
WHERE year>2010
GROUP BY year, 
          quarter, 
          court
ORDER BY 1,2,3;
"""

pydb.start_query_execution_and_wait(applications_court_level)

      year  quarter court   n
0     2011        1   100  90
1     2011        1   127  37
2     2011        1   130  14
3     2011        1   139  15
4     2011        1   150  47
...    ...      ...   ...  ..
3417  2021        3   380   1
3418  2021        3   384   3
3419  2021        3   386   5
3420  2021        3   388   4
3421  2021        3   554   8

[3422 rows x 4 columns]

In [58]:
#Secondly the applications case level court level file
adopt_application_case_count_c = f"""
SELECT 
  case_number, 
  MIN(app_date) AS minofapp_date,
  court 
FROM fcsq.adopt_apps_6_adoptions_only 
GROUP BY case_number,
          court;
"""

pydb.create_temp_table(adopt_application_case_count_c,"adopt_application_case_count_c")

adopt_application_case_count_d = f"""
SELECT case_number, 
        EXTRACT(YEAR FROM (minofapp_date)) year,
        CAST(EXTRACT(YEAR FROM (minofapp_date)) as varchar(3)) || ' - ' ||

        (CASE WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 1 AND 3  THEN CAST(1 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 4 AND 6 THEN CAST(2 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 7 AND 9 THEN CAST(3 as varchar(3))
              WHEN (EXTRACT (MONTH FROM minofapp_date)) BETWEEN 10 AND 12 THEN CAST(4 as varchar(3))
              END) quarter,
        minofapp_date,
        court 
FROM __temp__.adopt_application_case_count_c;
"""

pydb.create_temp_table(adopt_application_case_count_c,"adopt_application_case_count_c")
pydb.create_temp_table(adopt_application_case_count_d,"adopt_application_case_count_d")


final_query = f"""
SELECT year, 
        quarter, 
        court, 
        COUNT(*) n 
FROM __temp__.adopt_application_case_count_d
WHERE year > 2010
GROUP BY year, 
          quarter, 
          court
ORDER BY year, 
          quarter, 
          court;
"""

pydb.read_sql_query(final_query)

      year   quarter court   n
0     2011  2011 - 1   100  90
1     2011  2011 - 1   127  37
2     2011  2011 - 1   130  14
3     2011  2011 - 1   139  15
4     2011  2011 - 1   150  47
...    ...       ...   ...  ..
3417  2021  2021 - 3   380   1
3418  2021  2021 - 3   384   3
3419  2021  2021 - 3   386   5
3420  2021  2021 - 3   388   4
3421  2021  2021 - 3   554   8

[3422 rows x 4 columns]

# Stage 3 - Disposals
<a name="disposals"></a>

## adopt_order_type table
<a name="adopt_order_type"></a>

In [59]:
#Create new disposal_fields table while old one not working
data = pd.read_csv('s3://alpha-family-data/fcsq_processing/Adoption/disposal_fields_csv/ADOPTIONS_DISPOSAL_FIELDS.csv')

import awswrangler as wr
wr.s3.to_parquet(  # Storing the data and metadata to Data Lake
    df=data,
    path="s3://alpha-family-data/fcsq_processing/Adoption/disposal_fields_csv/fields_parquet/",
    dataset=True, database = "default", table = "temporary_df"
)

{'paths': ['s3://alpha-family-data/fcsq_processing/Adoption/disposal_fields_csv/fields_parquet/61a23ee6419645e99b47f0a97e797c56.snappy.parquet'],
 'partitions_values': {}}

### Drop the adopt_order_type table if it already exists and remove its data from the S3 bucket

In [60]:

drop_adopt_order_type = f"""
DROP TABLE IF EXISTS fcsq.adopt_order_type;
"""
pydb.start_query_execution_and_wait(drop_adopt_order_type)

# clean up previous adopt_order_type files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_order_type/").delete()

[{'ResponseMetadata': {'RequestId': 'MPCMZEJ56BZKNGAD',
   'HostId': 'Dp0XFpl1RO6WvZ9+oiXfQRSar0rgLwN0N8R8N3L+zu7/E9bHPSpUU5dwZ/jXR+u776JEoUBHmSGg5rNBIaYOow==',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'Dp0XFpl1RO6WvZ9+oiXfQRSar0rgLwN0N8R8N3L+zu7/E9bHPSpUU5dwZ/jXR+u776JEoUBHmSGg5rNBIaYOow==',
    'x-amz-request-id': 'MPCMZEJ56BZKNGAD',
    'date': 'Wed, 06 Apr 2022 17:10:25 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_679f6828-8308-464c-8022-24ea57439d07',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lzAj6j5wai3Fogtd2nCP8DjE6lpzIKtb'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_e785589b-3bb2-4038-b1e7-591334552608',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'JwoZPoZfMARi4WBYotpE5KecI.66U1X_'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_04d83b4b-2d9f-4a45-8fa1-a7408fc9d990',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'l7s40Y3Jj8TZAGbrpMF7Ad8B.81lM1SI'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_bdef1fe6-13a6-4da0-9bd5-482388c2bf6c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2c6wg5xG9Pn_si8._0sLq.BgtLDZzBfV'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_f0000651-9976-4fdc-87fc-0dd5e3a39879',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Y3_rTTbYilh3W.VC8wXcDcX4kM0XQ89D'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_8d4f1af7-bd2c-4e12-831e-cd446b943e20',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'UqX_b4pi4wp0AJ4dmUo5l.wOYlcQiDeW'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_639f498e-f819-4d36-bc2c-4c4190d25d7c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_.uUkQMixy33QKuau0rYkUyJuUiFAS75'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_9bded982-a0d7-4166-a883-30abb6e8a058',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'K0fDDNzpcvEV8C7UMWhITmtUt3Pfxv4_'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_0d898adb-7db0-413c-a430-8fd483a85881',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'y98XzY37.I_Uj.JpVJh0_E3ptllKD29.'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_17b77d2a-3418-49ca-b3b3-13a6d7124134',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Uulc9GC1bu1LQPVeZEEsAFJs.XRHLg7f'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_a8474f55-b319-4025-811d-6af658d35b84',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '91yfoKw6jWq1DE5q0k_eOMDeDXWJL7z0'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_a5a07003-10ee-46c2-9402-4c5f87c652ef',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'SrhHfZqjIJNo_Tzan0CX1bF_e3ieyESC'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_d0342a37-9f60-4fc8-8fc0-1d3bea4764eb',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'W7mP2ikFJsaD_QSotm.cDZMTqDDrdZ0Z'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_8cc09b71-512d-46be-a4ef-b8c2680fb71e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'eJj21uFbolP_x3EqcXf06stoK_RYLb7Q'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_32110ce6-e198-423e-8310-a2794f35ac2b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'PP8nwgOT_kXFToaeVqW.if_ORkuq59nm'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_36920698-c339-4158-99fd-a11d9ba20d1b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7vl768..4nUNJA6Nl_Pz3xhbYVoOP28_'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_7eafe959-140a-4dcc-b5c0-d3132daa21bf',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'uHhRXn760NPkwKx7CZjjyGt2TP6uA3LU'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_8c8244b6-4203-4a6d-8fa7-9b9fa3add9e2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QIa_IRi9YKhnLzX_bw7IJX47Hf_N2Uy5'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_078f8979-0dca-4f46-b4c7-9585b104412d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OZtSN6B7ITAGIwlJJ87M3ip372mTGtR.'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_47ab9835-aee6-4001-a9a3-f4b3a09e57b2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lNHLM24XVGEYXdqVZUNU6YAPo25rA7rg'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_dff32088-1651-4f56-b8a0-3e6f6f6dd3fe',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'IfnmfYImOJbD9lfQoP0EtqOgQhP12M9u'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_5ae54f1c-9618-480c-8f4e-479dd48dbc5f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rctyBg2rWFDx7z0Zb3lsJhSpz4.7EXg8'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_8cef64cd-bf9f-430c-a139-86698ee60452',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'EqO8.DxCVuEejPA7EtjVDY2V2C1HPPql'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_a002c54b-f1b0-49e4-a952-6439f7b83333',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QZx13NiQ_B61dc7I8dxZB6HziZyX3xXE'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_3a942eed-be72-4719-8194-89cd0ff267a9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9yaeFna9.9mTktD02llyNuBsi7u9ignv'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_f5419bcb-70d1-455b-9985-9b45066fb63a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_lFiDAUQmnarfl1TPZ2YSS2pDG462BgC'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_21365ee5-524c-452b-a1ad-7b15fb4eb21c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'U7kmhdh0nu5UopPBX092nNUbdR_ikw6m'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_ef266d31-ac5d-49c5-ae08-f9f34a07f9b2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9Q5lZmyIt3l.2jstIKUbOm_NfhiniV7q'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_100d7343-9a4c-4240-b0be-5442ebe3115d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '6IohSxpFmQx6r_7beNWDuYaehIvyKLhV'},
   {'Key': 'fcsq_processing/Adoption/adopt_order_type/20211108_164347_00035_ahtvy_f7656771-c065-4e86-a781-ba00359407e9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QGPj7SxgHDlWOR_0Jp8RSmR1SBJ5TStA'}]}]

### Create the adopt_order_type table in Athena

In [61]:
create_adopt_order_type = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_order_type
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_order_type') AS
SELECT event, 
        field_model, 
        value 
FROM fcsq.adoptions_disposal_fields_temporary
WHERE field_model='A73_1'
  OR field_model='A74_2' 
  OR field_model='A80_4' 
  OR field_model='G63_1' 
  OR field_model='ORDNOM_5' 
  OR field_model='ORDREF_5' 
  OR field_model='A81_5';
"""

pydb.start_query_execution_and_wait(create_adopt_order_type)

{'QueryExecutionId': '3f1209d2-85a6-48d5-8372-73dda8980211',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_order_type\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_order_type') AS\nSELECT event, \n        field_model, \n        value \nFROM fcsq.adoptions_disposal_fields_temporary\nWHERE field_model='A73_1'\n  OR field_model='A74_2' \n  OR field_model='A80_4' \n  OR field_model='G63_1' \n  OR field_model='ORDNOM_5' \n  OR field_model='ORDREF_5' \n  OR field_model='A81_5'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/3f1209d2-85a6-48d5-8372-73dda8980211'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 17, 10, 27, 214000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 17, 10, 30, 819000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 3427,
  'DataScannedInBytes': 39919371,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/3f1209d2-85a6-48d5-8372-73dda8980211-manifest.csv',
  'TotalExecutionTimeInMillis': 3605,
  'QueryQueueTimeInMillis': 124,
  'QueryPlanningTimeInMillis': 130,
  'ServiceProcessingTimeInMillis': 54},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_order_type validation

In [62]:
adopt_order_type_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_order_type")
adopt_order_type_count

    count
0  683448

## adopt_disposals_type table
<a name="adopt_disposals_type"></a>

### Drop the adopt_disposals_type table if it already exists and remove its data from the S3 bucket

In [63]:
drop_adopt_disposals_type = f"""
DROP TABLE IF EXISTS fcsq.adopt_disposals_type;
"""
pydb.start_query_execution_and_wait(drop_adopt_disposals_type)

# clean up previous adopt_disposals_type files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_disposals_type/").delete()

[{'ResponseMetadata': {'RequestId': 'VMPQ82KSEPY25S8Q',
   'HostId': 'jl8rqHM85DgaAXBbOBvDd0Md/WrK0jPEZmNlECKKuMaHMAe5ojXKVdUxznYNegwfOoOaCKWkhIE=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'jl8rqHM85DgaAXBbOBvDd0Md/WrK0jPEZmNlECKKuMaHMAe5ojXKVdUxznYNegwfOoOaCKWkhIE=',
    'x-amz-request-id': 'VMPQ82KSEPY25S8Q',
    'date': 'Wed, 06 Apr 2022 17:10:40 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_828eb710-7c70-43cc-ab80-b5e7969ded9e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'biBASyh8uG92ztqBCA1IGFnHwFuRogzN'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_9f193e59-305e-4499-8682-1f0c4e80f202',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'uKU3PiH.ZzhpvsTieAJztpRNYGFLzpsf'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_557d0e34-c076-45f4-8f02-b0c16ff9882e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ivHtoUyEKG_1HxbrOSHKs6YbF4Me1Rm0'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_e0d11ecf-470b-46a1-8dd4-ba6e85b915ff',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'C4IB_sXE1MnSBZiGqX2HEJfuz2ZnFIzC'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_8cab775f-7101-4f50-b864-6ebc515d7d6e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'a1ub1GbQux.3EIzQhuLwXBxgH2EyQ7oa'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_10599d4b-8f25-4258-9618-fc7098663990',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'VERdNic2VZgy48Kh70MfFq28AcIy67Ub'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_387dcdab-6a39-4199-8b9b-e9aa94148a6f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'soLWYdR9fektTsC9Dj0bBD1ij6W4BHIA'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_a0173f16-c56f-4b9c-bff8-855591e3bb25',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rES8r1IpD4NEN9qpHTn3pC_7FaDKh6G6'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_a474fb92-74e9-47fd-8405-357bb3dd0b8e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GGoSRktDNepkGYHjawhRDQz5fa5gdXnk'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_5b7cf3b5-3e68-4c4e-9894-4add8be797f8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'SJOcevxEC2InzObSkz3cw7f6IE5ak901'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_90acb4be-725d-4467-8bfe-6591acffe0b9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'O51eu4AxLoLxFflse_bmy1QJAsqrFwP3'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_f005d881-5d1c-4029-a737-72abb9dc34b8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TGw8s5yYOmj1awBrEuTtZoQFSS6FlBsD'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_65297761-3ffe-4a6a-8cc0-50572741428c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zWTmanE.wFXknJJ4cKnWZrL3Fi0nqP.T'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_a5b61107-be4c-44a5-8535-af46889f2788',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ILe0OSrLAFcjHRGi.4lngEBrh39WWoAy'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_38ef7881-047a-4e55-af3f-fbc905f0dbf7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ptGHTU2dCJ1yoGMgEfo2.ZrDzvUNlFWY'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_7cac67f9-9bf9-4437-94de-f6b74b951db6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zqwGIhP1vGxnVzicWewb0nSFQtRZFe4r'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_30a90090-49af-4b28-8c86-7a2e3713c4ce',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BhH5e_Vggs3xLIuomSXAmBllkOFC4SlN'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_cf4a4479-5b34-47dc-ae9e-351cba879763',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'H1MRMIfEj5Eba539FUiF0F.Z6RlAIv4A'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_c76e53d0-4fbe-49a3-b638-b37bbbcce4e4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'JJ9VvWiQpwQCoIzvJp96HcNL_ySx1zPq'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_5057cb21-7c90-4df5-9829-b84695a40e05',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2gWFWh7DFkxEX18jFrhzYlgRh2ASgylk'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_2b0c53de-3485-4b8c-b3bd-ae8dbb913084',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WrZDeKyKV6miLDRx1M2sbrNNgvtyvhjG'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_645d1dae-c2e3-42dc-b196-a48a5126c0de',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'LcalgOcZlUhWEJdvoEdA6gMfZ9YJamOH'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_81830200-1237-497e-af3e-4cd1fe898b9d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'sBjjFndbDuE5gJkflIP5uhyebM6OzZfp'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_13933c8f-cdbc-47fa-acfc-4d40ac7acfe1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'yj_XVQOswPZu79bSZ6dEtINuf2uGCCQS'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_e5a5e572-f811-4706-aa4e-80be33336207',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.pciuoM1zXlnbSD3qIDDa._fRM1Dm5Jv'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_ec11f35c-be71-4d29-a776-eeef185d96f1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0fixr9gdaYV3myz_lQsATg.QMhglVdgh'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_564f28d4-1d13-4b38-84b4-049c9d940cf5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9rOfjtWCH6EUrqAG8gDdp0UdoWOvNITw'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_dee25839-0cc4-4275-a8d7-813eee5d559b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cHEAbC0GoyasbwRwlFQ18HreUOpzLSA.'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_e1cbee48-cd43-4b05-b876-b9e4f61cbd15',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gBGywHpzMhyisUij5PlmOktVWe6xRhQ9'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_type/20211108_164416_00047_2nnh4_c55a158d-ec41-4ebd-afc3-5188de88e2cf',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ivhf8xKIpj5rYMd_xGprrgXeJOfDbpCd'}]}]

### Create the adopt_disposals_type table in Athena

In [64]:
create_adopt_disposals_type = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals_type
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals_type') AS

SELECT disposals.case_number, 
        disposals.event, 
        disposals.receipt_date2, 
        disposals.event_model, 
        disposal_fields.field_model, 
        disposal_fields.value AS order_type, 
        EXTRACT(YEAR FROM (disposals.receipt_date2)) AS year, 

        CASE WHEN EXTRACT(MONTH FROM (disposals.receipt_date2))<4 THEN 1
              WHEN EXTRACT(MONTH FROM(disposals.receipt_date2)) <7 THEN 2
              WHEN EXTRACT( MONTH FROM (disposals.receipt_date2))<10 THEN 3
              ELSE 4
              END AS quarter

FROM fcsq.adoptions_disposals disposals 
  LEFT JOIN fcsq.ADOPTIONS_DISPOSAL_FIELDS_TEMPORARY disposal_fields 
  ON disposals.event = disposal_fields.event

WHERE (((disposals.event_model)='A70' 
    OR (disposals.event_model)='A71' 
    OR (disposals.event_model)='A72' 
    OR (disposals.event_model)='A75' 
    OR (disposals.event_model)='A79') 
    AND ((disposal_fields.field_model) LIKE '%_JG')) 
  OR (((disposals.event_model)='A76') 
    AND ((disposal_fields.field_model)='A76_12')) 
  OR (((disposals.event_model)='A77') 
    AND ((disposal_fields.field_model)='A77_12')) 
  OR (((disposals.event_model)='A78') 
    AND ((disposal_fields.field_model)='A78_15')) 
  OR (((disposals.event_model)='A12' 
    OR (disposals.event_model)='A13' 
    OR (disposals.event_model)='A15') 
    AND ((disposal_fields.field_model) LIKE '%_FO')) 
  OR (((disposals.event_model)='A73' 
    OR (disposals.event_model)='G63') 
    AND ((disposal_fields.field_model) LIKE '%_1')) 
  OR (((disposals.event_model)='A74') 
    AND ((disposal_fields.field_model)='A74_2')) 
  OR (((disposals.event_model)='A80') 
    AND ((disposal_fields.field_model)='A80_4')) 
  OR (((disposals.event_model)='ORDNOM' 
    OR (disposals.event_model)='ORDREF') 
    AND ((disposal_fields.field_model) LIKE '%_5'));
"""

pydb.start_query_execution_and_wait(create_adopt_disposals_type)

{'QueryExecutionId': 'be187696-c3da-4c39-9088-b3af4997760e',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals_type\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals_type') AS\n\nSELECT disposals.case_number, \n        disposals.event, \n        disposals.receipt_date2, \n        disposals.event_model, \n        disposal_fields.field_model, \n        disposal_fields.value AS order_type, \n        EXTRACT(YEAR FROM (disposals.receipt_date2)) AS year, \n\n        CASE WHEN EXTRACT(MONTH FROM (disposals.receipt_date2))<4 THEN 1\n              WHEN EXTRACT(MONTH FROM(disposals.receipt_date2)) <7 THEN 2\n              WHEN EXTRACT( MONTH FROM (disposals.receipt_date2))<10 THEN 3\n              ELSE 4\n              END AS quarter\n\nFROM fcsq.adoptions_disposals disposals \n  LEFT JOIN fcsq.ADOPTIONS_DISPOSAL_FIELDS_TEMPORARY disposal_fields \n  ON disposals.event = disposal_fields.event\n\nWHERE (((disposals.event_model)='A70' \n    OR (disposals.event_model)='A71' \n    OR (disposals.event_model)='A72' \n    OR (disposals.event_model)='A75' \n    OR (disposals.event_model)='A79') \n    AND ((disposal_fields.field_model) LIKE '%_JG')) \n  OR (((disposals.event_model)='A76') \n    AND ((disposal_fields.field_model)='A76_12')) \n  OR (((disposals.event_model)='A77') \n    AND ((disposal_fields.field_model)='A77_12')) \n  OR (((disposals.event_model)='A78') \n    AND ((disposal_fields.field_model)='A78_15')) \n  OR (((disposals.event_model)='A12' \n    OR (disposals.event_model)='A13' \n    OR (disposals.event_model)='A15') \n    AND ((disposal_fields.field_model) LIKE '%_FO')) \n  OR (((disposals.event_model)='A73' \n    OR (disposals.event_model)='G63') \n    AND ((disposal_fields.field_model) LIKE '%_1')) \n  OR (((disposals.event_model)='A74') \n    AND ((disposal_fields.field_model)='A74_2')) \n  OR (((disposals.event_model)='A80') \n    AND ((disposal_fields.field_model)='A80_4')) \n  OR (((disposals.event_model)='ORDNOM' \n    OR (disposals.event_model)='ORDREF') \n    AND ((disposal_fields.field_model) LIKE '%_5'))",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/be187696-c3da-4c39-9088-b3af4997760e'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 17, 10, 41, 883000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 17, 10, 48, 442000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 6379,
  'DataScannedInBytes': 42488288,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/be187696-c3da-4c39-9088-b3af4997760e-manifest.csv',
  'TotalExecutionTimeInMillis': 6559,
  'QueryQueueTimeInMillis': 153,
  'QueryPlanningTimeInMillis': 253,
  'ServiceProcessingTimeInMillis': 27},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_disposals_type validation

In [65]:
adopt_disposals_type_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_disposals_type")
adopt_disposals_type_count

    count
0  462616

## adopt_country_of_birth table
<a name="adopt_country_of_birth"></a>

### Drop the adopt_country_of_birth table if it already exists and remove its data from the S3 bucket

In [66]:
drop_adopt_country_of_birth = f"""
DROP TABLE IF EXISTS fcsq.adopt_country_of_birth;
"""
pydb.start_query_execution_and_wait(drop_adopt_country_of_birth)

# clean up previous adopt_country_of_birth files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_country_of_birth/").delete()

[{'ResponseMetadata': {'RequestId': '0JZAYTKZ5R7G7QCQ',
   'HostId': 'BH1v607+vVowxry2q0lPM5ia9BVkWeNUNkEK3PWoN5UESi6kCsAPTHA6pIQtTFv8iaekleuqnNw=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'BH1v607+vVowxry2q0lPM5ia9BVkWeNUNkEK3PWoN5UESi6kCsAPTHA6pIQtTFv8iaekleuqnNw=',
    'x-amz-request-id': '0JZAYTKZ5R7G7QCQ',
    'date': 'Wed, 06 Apr 2022 17:10:57 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_country_of_birth/20211111_145521_00138_6tiqd_dcb96bb4-37ed-49db-be89-b7a15341d606',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'eSRFEq.4D4iP0RKUvkgTg_KnddTGkD.3'}]}]

### Create the adopt_country_of_birth table in Athena

In [67]:
create_adopt_country_of_birth = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_country_of_birth
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_country_of_birth') AS
SELECT disposal_fields.event, 
        disposal_fields.field_model, 
        disposal_fields.value
FROM fcsq.ADOPTIONS_DISPOSAL_FIELDS_TEMPORARY disposal_fields
WHERE (((disposal_fields.field_model)='A70_5' 
    OR (disposal_fields.field_model)='A76_2' 
    OR (disposal_fields.field_model)='A77_10' 
    OR (disposal_fields.field_model)='A78_13' 
    OR ((disposal_fields.field_model)='A12_1' 
    OR (disposal_fields.field_model)='A15_1')));
"""

pydb.start_query_execution_and_wait(create_adopt_country_of_birth)

{'QueryExecutionId': 'e3f15b3e-de11-47d9-8ec0-cf3ccae5c41d',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_country_of_birth\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_country_of_birth') AS\nSELECT disposal_fields.event, \n        disposal_fields.field_model, \n        disposal_fields.value\nFROM fcsq.ADOPTIONS_DISPOSAL_FIELDS_TEMPORARY disposal_fields\nWHERE (((disposal_fields.field_model)='A70_5' \n    OR (disposal_fields.field_model)='A76_2' \n    OR (disposal_fields.field_model)='A77_10' \n    OR (disposal_fields.field_model)='A78_13' \n    OR ((disposal_fields.field_model)='A12_1' \n    OR (disposal_fields.field_model)='A15_1')))",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/e3f15b3e-de11-47d9-8ec0-cf3ccae5c41d'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 17, 10, 58, 251000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 17, 11, 0, 737000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2321,
  'DataScannedInBytes': 39919371,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/e3f15b3e-de11-47d9-8ec0-cf3ccae5c41d-manifest.csv',
  'TotalExecutionTimeInMillis': 2486,
  'QueryQueueTimeInMillis': 124,
  'QueryPlanningTimeInMillis': 109,
  'ServiceProcessingTimeInMillis': 41},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_country_of_birth validation

In [68]:
adopt_country_of_birth_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_country_of_birth")
adopt_country_of_birth_count

   count
0   8494

# NOTE: LEFT OUT AGE FIX

## adopt_disposals_with_child table
<a name="adopt_disposals_with_child"></a>

### Drop the adopt_disposals_with_child table if it already exists and remove its data from the S3 bucket

In [69]:
drop_adopt_disposals_with_child = f"""
DROP TABLE IF EXISTS fcsq.adopt_disposals_with_child;
"""
pydb.start_query_execution_and_wait(drop_adopt_disposals_with_child)

# clean up previous adopt_disposals_with_child files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_disposals_with_child/").delete()

[{'ResponseMetadata': {'RequestId': 'KHE107XE93084C40',
   'HostId': 'KxashoPY/MEO70FWv+Mb+rr7mxikpt/yZ0Su92ItHiq+B0F1WhJd6Wb7eAxlz7rRSJyt4YeTmRs=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'KxashoPY/MEO70FWv+Mb+rr7mxikpt/yZ0Su92ItHiq+B0F1WhJd6Wb7eAxlz7rRSJyt4YeTmRs=',
    'x-amz-request-id': 'KHE107XE93084C40',
    'date': 'Wed, 06 Apr 2022 17:11:10 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_728d6fd2-2c72-4909-90d5-6ddc1698c4ee',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'nXVAVzv1gJGvGqiNqgs7UKam8XEgFun0'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_c2ffe527-c415-462c-ba58-f7698fa201c9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'drDq.NL1az_rsO._tBIVz76mHh8t70Nj'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_bdc4c61f-57a7-47b8-a64d-0eaf605e2038',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5lk9BGUFpWZuk3_IS9dPXUdKhN4xeVho'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_a8ba7f2f-11b3-4bbd-b89a-f89367b9bc17',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'atkKYQITV3Gr_u1tBuAvoHIMKNNx92G7'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_6ca7583b-0db4-4593-a71d-8451b75d6cee',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9.NEYRmXEh_DYvxFmxXH8HOoatbcUkfi'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_d600ea38-5f03-4f91-9bd4-f041a6dc3844',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dbSop9ZPSXATZgg6_9yYA062.ZKx0cFL'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_9dabc152-cb18-4ba5-93ef-5eb2abeb7921',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TjFO9PPZgCgyNlGMBiSzN9CkNyxSvg1N'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_eb043cb2-386d-4f5c-9b8a-cf8b72806f96',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cDNqNsAOfGFyG5rm1mxl0NlQMbH0j7mJ'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_4b35b466-10c9-4789-8594-71c5b6e51ebc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Dh8xtwD14SCsidxxM4c3A0Su_2ajV4dU'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_102c4a27-4dfe-4a5f-994e-c89c775342fe',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'g2FR8PeSej_WjFX4KNPKKgDkoTOUjsn9'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_80e18ca3-b182-424c-b524-8392d7b5b41f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'a664kOip76TwBY4NJHPbkyM6mrRuY8cE'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_37dcb270-493b-43b5-9a62-3f292febf6fe',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9T9NfGituR10OXj3530C6sC6sE0OF9lF'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_6d3e40f8-223f-4d5d-b349-8b584e0c75e9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tcCzDoli3e11GW03Sev9Uj131u_Y.4un'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_7b6c9a7a-eee6-42c5-95fd-a1052d1487e8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lV9fV76KOJClzxJSolAYqzixT3FYvK6E'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_e076dc8c-37c6-4fd6-8aa2-3bb9bef1cc56',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'eDD0GuKXZCHvNqxKkpGwom3ww9oJT1zY'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_5610c7f8-5082-40d1-83b5-2a6f371a1481',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '6Gy8Q4x_AvzrKfYyvLAscth6HotbG1T6'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_7a235bb9-aeb4-49f5-9d8d-de44464bc9b8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OLhmb3Pb81n8pVifLZiwMXd8cF0P6YVz'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_604ab518-ae95-4727-861a-e42ba7b99298',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GHHPlz4e2ha40IV9j2EPCC_3qfAjKgDw'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_43744885-7d10-4185-b193-10b965b4c83a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'S16V.gq3bCt3Sncs1cuwG9LaUmltgna7'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_1e8b0df8-75f0-4d08-9c14-0131948bc1c1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'F15zrVBsS_mWCAwgnlePoY2XD6FpDD0i'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_046755a8-b892-463e-9ddf-0f09416f45ee',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'VqPn69ASD9YZYFPYIyl2yk16dlIHvm2W'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_0a03c4bf-612c-4ff6-a021-d9b29c7fbe08',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8eFmgP72hkJoGjMunGLVHmqIRccAB1lg'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_500cac57-4bb1-4824-9a04-35e76c210538',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CuUoe2OjcM4jjcGXfpAgjhNrtZgM_VBE'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_8cca7bcf-e638-44d9-9cff-7c30c28d4213',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'fTl55ZeC2fxCm9LIgCcAt0Th5wYQWRCx'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_60866493-cd1e-4b02-90e1-3bf97201c7f8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'VJqLPzMOb4tnPtRpgVYDKyg34xqY4COl'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_63963755-eed1-46c2-8644-e0e2021f61b2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'sDohC197GJrHdGkn84UtzknuTW2nXg24'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_77bb06ee-97d6-4ed0-9f39-98cb4388f390',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'PRRqLlTA5NJl8NpIUtUco7nMaMFxRUiD'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_f9006edf-651b-487d-bdea-b475483cd934',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'woMYNcJj32xpA0LuYRTYWGhpHoIMRK5l'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_b6c1bc74-173f-4743-9987-fa7ef57c9bc2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OhATsHxbNlVqtbKmN1TOSbFoWguefiPE'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals_with_child/20211115_144054_00104_p8agt_7f1ee2ad-f577-46fe-808b-778640cec983',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TkMVXysj3fRxk2pR4uNf.xfsh1X2F.nt'}]}]

### Create the adopt_disposals_with_child table in Athena

In [72]:
create_adopt_disposals2 =f"""
SELECT disposals1.case_number, 
        disposals1.event, 
        disposals1.receipt_date2, 
        disposals1.event_model, 
        order_type.field_model, 
        order_type.value AS order_type, 
        country_of_birth.value AS country_of_birth, 
        EXTRACT(YEAR FROM (disposals1.receipt_date2)) AS year, 

        CASE WHEN EXTRACT(Month FROM (disposals1.receipt_date2)) <4 THEN 1
              WHEN EXTRACT(Month FROM (disposals1.receipt_date2)) <7 THEN 2
              WHEN EXTRACT(Month FROM (disposals1.receipt_date2))<10 THEN 3
              ELSE 4
              END AS quarter
              
FROM fcsq.adoptions_disposals disposals1 
  LEFT JOIN fcsq.adopt_order_type order_type 
    ON disposals1.event = Order_type.event 
  LEFT JOIN fcsq.adopt_country_of_birth country_of_birth 
    ON disposals1.event = country_of_birth.event
WHERE (((disposals1.event_model)<>'G63' 
    AND (disposals1.event_model)<>'ORDNOM' 
    AND (disposals1.event_model)<>'ORDREF')) 
  OR (((disposals1.case_number) LIKE '____A%' 
      OR (disposals1.case_number) LIKE '____Z%') 
    AND ((disposals1.event_model)='G63' 
      OR (disposals1.event_model)='ORDNOM' 
      OR (disposals1.event_model)='ORDREF'));
"""

pydb.create_temp_table(create_adopt_disposals2,"adopt_disposals2")


create_adopt_disposals3 = f"""
SELECT disposals2.case_number, 
        disposals2.year, 
        disposals2.quarter, 
        disposals2.event, 
        disposals2.receipt_date2, 
        disposals2.event_model, 
        disposals2.field_model, 
        disposals2.order_type, 
        lower(disposals2.country_of_birth) as country_of_birth, 
        applicant_type.number_applicants,
        applicant_type.min_sex, 
        applicant_type.max_sex, 
        applicant_type.adopter_type, 
        applicant_type.min_rtc, 
        applicant_type.max_rtc, 
        applicant_type.adopter 
        
FROM __temp__.adopt_disposals2 disposals2 
  LEFT JOIN fcsq.adopt_applicant_type applicant_type
    ON disposals2.case_number = applicant_type.case_number;
"""
pydb.create_temp_table(create_adopt_disposals3,"adopt_disposals3")

create_adopt_disposals4 = f"""
SELECT disposals3.case_number, 
        substr(CAST(disposals3.event as varchar(3)),1,3) AS court, 
        disposals3.year, 
        disposals3.quarter,
        MIN(disposals3.receipt_date2) AS receipt_date, 
        disposals3.event_model, 
        disposals3.field_model, 
        disposals3.order_type, 
        MAX(disposals3.country_of_birth) AS country_of_birth_new,
        disposals3.number_applicants,
        disposals3.min_sex, 
        disposals3.max_sex, 
        disposals3.adopter_type, 
        disposals3.min_rtc, 
        disposals3.max_rtc, 
        disposals3.adopter
        
FROM __temp__.adopt_disposals3 disposals3
GROUP BY disposals3.case_number, 
          substr(CAST(disposals3.event as varchar(3)),1,3), 
          disposals3.year, 
          disposals3.quarter, 
          disposals3.event_model, 
          disposals3.field_model,
          disposals3.order_type, 
          disposals3.number_applicants, 
          disposals3.min_sex, 
          disposals3.max_sex, 
          disposals3.adopter_type, 
          disposals3.min_rtc, 
          disposals3.max_rtc, 
          disposals3.adopter
HAVING (((disposals3.case_number)<>'CV11Z00105'))
ORDER BY disposals3.case_number;
"""

pydb.create_temp_table(create_adopt_disposals4,"adopt_disposals4")

create_adopt_disposals4a = f"""
SELECT disposals4.case_number, 
        MIN(disposals4.court)AS court_new, 
        disposals4.year, 
        disposals4.quarter,
        disposals4.receipt_date, 
        disposals4.event_model, 
        disposals4.field_model, 
        disposals4.order_type, 
        disposals4.country_of_birth_new,
        disposals4.number_applicants,
        disposals4.min_sex, 
        disposals4.max_sex, 
        disposals4.adopter_type, 
        disposals4.min_rtc, 
        disposals4.max_rtc, 
        disposals4.adopter
        
FROM __temp__.adopt_disposals4 disposals4
GROUP BY disposals4.case_number,  
        disposals4.year, 
        disposals4.quarter,
        disposals4.receipt_date, 
        disposals4.event_model, 
        disposals4.field_model, 
        disposals4.order_type, 
        disposals4.country_of_birth_new,
        disposals4.number_applicants,
        disposals4.min_sex, 
        disposals4.max_sex, 
        disposals4.adopter_type, 
        disposals4.min_rtc, 
        disposals4.max_rtc, 
        disposals4.adopter
ORDER BY disposals4.case_number;
"""

pydb.create_temp_table(create_adopt_disposals4a,"adopt_disposals4a")

create_adopt_disposals_with_child = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals_with_child
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals_with_child') AS
SELECT disposals4a.*, 
        child_parties.dob, 
        child_parties.child_sex, 
        date_diff('day',dob,receipt_date)/365.25 AS child_age 
FROM __temp__.adopt_disposals4a Disposals4a
  LEFT JOIN fcsq.adopt_child_parties child_parties
    ON disposals4a.case_number = child_parties.case_number;
"""

pydb.start_query_execution_and_wait(create_adopt_disposals_with_child)

{'QueryExecutionId': '8f3d9b5e-357c-4cb7-a7be-99ae64eaec9c',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals_with_child\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals_with_child') AS\nSELECT disposals4a.*, \n        child_parties.dob, \n        child_parties.child_sex, \n        date_diff('day',dob,receipt_date)/365.25 AS child_age \nFROM mojap_de_temp_alpha_user_thomasauburnmoj.adopt_disposals4a Disposals4a\n  LEFT JOIN fcsq.adopt_child_parties child_parties\n    ON disposals4a.case_number = child_parties.case_number",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/8f3d9b5e-357c-4cb7-a7be-99ae64eaec9c'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 1, 31, 70000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 1, 34, 201000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2947,
  'DataScannedInBytes': 4166660,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/8f3d9b5e-357c-4cb7-a7be-99ae64eaec9c-manifest.csv',
  'TotalExecutionTimeInMillis': 3131,
  'QueryQueueTimeInMillis': 128,
  'QueryPlanningTimeInMillis': 168,
  'ServiceProcessingTimeInMillis': 56},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_disposals_with_child validation

In [73]:
adopt_disposals_with_child_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_disposals_with_child")
adopt_disposals_with_child_count

    count
0  329483

## adopt_disposals5 table
<a name="adopt_disposals5"></a>

### Drop the adopt_disposals5 table if it already exists and remove its data from the S3 bucket

In [74]:
drop_adopt_disposals5 = f"""
DROP TABLE IF EXISTS fcsq.adopt_disposals5;
"""
pydb.start_query_execution_and_wait(drop_adopt_disposals5)

# clean up previous adopt_disposals5 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_disposals5/").delete()

[{'ResponseMetadata': {'RequestId': '82D687RNTHH4SA15',
   'HostId': 'H3zWBzFSSOEOaKsQ+NWc24FHUQ/sGXQHzN+5Whf+eH8gK5l5HGW7FIQG7THuQSmouF7zsIHpJN8=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'H3zWBzFSSOEOaKsQ+NWc24FHUQ/sGXQHzN+5Whf+eH8gK5l5HGW7FIQG7THuQSmouF7zsIHpJN8=',
    'x-amz-request-id': '82D687RNTHH4SA15',
    'date': 'Thu, 07 Apr 2022 10:02:18 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_58bc2f8e-1dd6-4383-8707-cc79086ab845',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'utMDYjqaMcUm6QpRmbYMJdrcEOeWhh2M'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_cc300b19-6c56-4220-b17c-9e14029c6fcc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'oNwbZaZ5kmLWWqQG9RCD7dv0XAw4M4L9'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_b31500e3-b573-4aef-86d1-6abf626e29bc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9FS.h7615xt.cc7d4GvziC9BCkZuysAW'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_540d9aac-2943-4c82-98a0-bfedb9627efd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ubyJDcWoocw8aUql6y9ANUhjB2hamXOC'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_59f776b2-ff6f-4d16-afb7-ee80075908de',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OHicttM6FeQviVaAMbxXzI.qFOBm9PPp'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_013cf28e-cba6-4eb2-bd22-c09a327e92c4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'fJP4T.mtaG3SZYAIwIUbd7DfK5ikb6nh'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_c8cc68b5-d4fc-4a9f-a456-a0bd6ceb7f1c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FBweDYn5zqyI3RxDGyAcBQAvleJafV6r'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_2813eea7-780c-40d5-8a1e-587b680f4336',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0XS1juIh6sAL0raekTfbsqwbIOPA7QW8'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_5d7f5af3-27de-499a-b521-13497a1b5cba',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GRAgZkyGeC_KWzhw7KamOJWpb60zBVMy'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_0c7ede82-b2b7-4c84-8ed5-7f086462477a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0KGsT1hSjwRoDGTP6L5WylDL_NkKcF1A'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_0c1c0213-37d7-41a3-afcb-5558851e2c10',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '676O56WzghcXy7TGGyDGv27FJItyBnEA'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_fc472a02-59fd-4b5a-a6c6-69c1b2d48ddc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zQck5XRjVH.DCr1lnBAFB9VAw3ewvBiY'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_45616434-9492-49f6-b3f0-cf24027b1ba5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Z_iWhTv2wKeWuWhvRhsEfXkWAWW9USRG'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_6263d82c-8bac-45d2-8d97-57dcda8ffac6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '11h.KCIVtJgQCux_P56qkirqCrwWYlEt'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_97724e22-cc4a-4fb3-8bfd-2da9b3582386',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'qqadG66DMKYOfLifwuFWyE__39Gc_OzJ'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_6549b935-3a91-4049-8b88-1097f22303d2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TG_p2xaNLBm4j0K..Wxz0Am05Y03xN7a'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_84479154-497b-4724-844c-8a9485f0582d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gYd.WBz8.Q3FKrcteqQuu.QKB6ra5f2P'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_e25adaf0-4f6c-4c6e-afd5-688494ca9f58',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'qLiNlXWohmcbxVTYKxKupK6bJinq_1AC'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_48627cd9-a1b9-4b4c-8870-a7c7da9903b0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'MAZnCHa6rwPYQwk0s0jw9AXzw.YRfTMt'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_7cf47f71-e828-417f-9957-3223d05aeaae',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mQarHP8sLPcWrGk2qU.oKYuuSXdH4YJH'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_21a182da-ef44-4f59-87bf-c6eb0187ca2d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rZ08zEW8J6qPafhX6ySxx3y7zPhrDbrF'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_9aa9bef5-6598-4e7f-9caf-f94baa013d8d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8pNFA572vhIPAE98RS1uGPavZothocK0'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_298f5435-f890-45a0-9013-a3166d526dd6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'L0Mi0GMW2_0OAQMugNK.HeObrodLc3bj'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_c37d9062-f7cf-42c8-a483-1f815e65ec73',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dnVdS1XtrOquigOnCPCgdmQ.Hynji31J'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_4ed5e37a-5381-4dc9-8148-b73de89df22d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vlpEIQkxu0FNUKqY4LXCy06itDss2D57'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_b5f792d5-014c-49cc-83ca-a457dba5ba67',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'iydb2t_MBvuIxqoxnWsvr9u31gaR0qmj'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_cc570c78-928a-477a-9b9b-e30e6198c995',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'toj74A8PjRPvI7bt2paPcfg0hwnCHusG'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_24e8d77f-1348-483b-9fb8-707e1bf9f7d7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BfpO6UyuCUsiE022Ctg9xx.rkdFtANmZ'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_aec16854-1694-488e-9edc-ac274903ac2c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Vqf3Ine.CL_1HZJXd_N7dNRYB6qjciy8'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5/20211115_144414_00034_qq5b3_4693b053-2ec6-4ee2-8819-d645ce5e1440',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zP.mygw.2k2bwlbjSRHHTBNNiITtBsMR'}]}]

### Create the adopt_disposals5 table in Athena

In [75]:
create_adopt_disposals5 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5') AS
SELECT disposals_with_child.case_number, 
        disposals_with_child.court_new AS court, 
        disposals_with_child.year, 
        disposals_with_child.quarter, 
        disposals_with_child.receipt_date, 
        disposals_with_child.event_model, 
        disposals_with_child.field_model, 
        disposals_with_child.order_type, 
        disposals_with_child.country_of_birth_new AS country_of_birth, 
        disposals_with_child.number_applicants, 
        disposals_with_child.adopter_type, 
        disposals_with_child.adopter,
        max_rtc, 
        max_sex, 
        min_rtc, 
        min_sex, 
        child_sex,

        CASE WHEN disposals_with_child.child_age IS NULL THEN 'Unknown'
              WHEN disposals_with_child.child_age<0 THEN 'Other'
              WHEN disposals_with_child.child_age<1 THEN '<1 year'
              WHEN disposals_with_child.child_age<5 THEN '1-4 years'
              WHEN disposals_with_child.child_age<10 THEN'5-9 years'
              WHEN disposals_with_child.child_age<15 THEN '10-14 years'
              WHEN disposals_with_child.child_age<18 THEN '15-17 years'
              ELSE 'Other'
              END AS age_band, 

        disposals_with_child.child_age, 

        CASE WHEN event_model='A15' 
                OR event_model='A76' 
                OR event_model='A77' 
                THEN 'Adoption'
              WHEN event_model='G63' 
                OR event_model='ORDREF' 
                OR event_model='ORDNOM' 
                THEN 'No order made'
              ELSE 'Non-adoption'
              END  AS adoption, 

        CASE WHEN event_model='A77'     
                THEN 'Convention'
              WHEN country_of_birth_new <>'' 
                And event_model='A76' 
                THEN '?Foreign?'
              WHEN event_model='A76' 
                OR event_model='A15' 
                THEN 'Standard'
              WHEN event_model='A12' 
                OR event_model='A70' 
                THEN 'Placement'
              WHEN event_model='A13' 
                OR event_model='A71' 
                OR event_model='A72' 
                THEN 'Placement_revoke_or_vary'
              WHEN order_type='CNO' 
                THEN 'Contact_s26'
              WHEN order_type='RCNO' 
                OR order_type='VCNO' 
                OR order_type='OFNC' 
                THEN 'Contact_s26_revoke_or_vary'
              WHEN order_type='CCS' 
                THEN 'Change_surname'
              WHEN order_type='RUK' 
                THEN 'Remove_child_from_UK'
              WHEN event_model='A75' 
                OR event_model='A78' 
                OR event_model='A79' 
                OR event_model='A80' 
                THEN 'Other_order_type'
              ELSE ''
              END AS Type,

        CASE WHEN adopter IS NULL 
              THEN 'Other or not stated'
              ELSE adopter
              END AS adopter_2

FROM fcsq.adopt_disposals_with_child disposals_with_child
WHERE (disposals_with_child.event_model<>'A81') 
ORDER BY disposals_with_child.receipt_date;
"""

pydb.start_query_execution_and_wait(create_adopt_disposals5)

{'QueryExecutionId': 'ee434bae-5a7c-4c97-a6d6-863e4227644e',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5') AS\nSELECT disposals_with_child.case_number, \n        disposals_with_child.court_new AS court, \n        disposals_with_child.year, \n        disposals_with_child.quarter, \n        disposals_with_child.receipt_date, \n        disposals_with_child.event_model, \n        disposals_with_child.field_model, \n        disposals_with_child.order_type, \n        disposals_with_child.country_of_birth_new AS country_of_birth, \n        disposals_with_child.number_applicants, \n        disposals_with_child.adopter_type, \n        disposals_with_child.adopter,\n        max_rtc, \n        max_sex, \n        min_rtc, \n        min_sex, \n        child_sex,\n\n        CASE WHEN disposals_with_child.child_age IS NULL THEN 'Unknown'\n              WHEN disposals_with_child.child_age<0 THEN 'Other'\n              WHEN disposals_with_child.child_age<1 THEN '<1 year'\n              WHEN disposals_with_child.child_age<5 THEN '1-4 years'\n              WHEN disposals_with_child.child_age<10 THEN'5-9 years'\n              WHEN disposals_with_child.child_age<15 THEN '10-14 years'\n              WHEN disposals_with_child.child_age<18 THEN '15-17 years'\n              ELSE 'Other'\n              END AS age_band, \n\n        disposals_with_child.child_age, \n\n        CASE WHEN event_model='A15' \n                OR event_model='A76' \n                OR event_model='A77' \n                THEN 'Adoption'\n              WHEN event_model='G63' \n                OR event_model='ORDREF' \n                OR event_model='ORDNOM' \n                THEN 'No order made'\n              ELSE 'Non-adoption'\n              END  AS adoption, \n\n        CASE WHEN event_model='A77'     \n                THEN 'Convention'\n              WHEN country_of_birth_new <>'' \n                And event_model='A76' \n                THEN '?Foreign?'\n              WHEN event_model='A76' \n                OR event_model='A15' \n                THEN 'Standard'\n              WHEN event_model='A12' \n                OR event_model='A70' \n                THEN 'Placement'\n              WHEN event_model='A13' \n                OR event_model='A71' \n                OR event_model='A72' \n                THEN 'Placement_revoke_or_vary'\n              WHEN order_type='CNO' \n                THEN 'Contact_s26'\n              WHEN order_type='RCNO' \n                OR order_type='VCNO' \n                OR order_type='OFNC' \n                THEN 'Contact_s26_revoke_or_vary'\n              WHEN order_type='CCS' \n                THEN 'Change_surname'\n              WHEN order_type='RUK' \n                THEN 'Remove_child_from_UK'\n              WHEN event_model='A75' \n                OR event_model='A78' \n                OR event_model='A79' \n                OR event_model='A80' \n                THEN 'Other_order_type'\n              ELSE ''\n              END AS Type,\n\n        CASE WHEN adopter IS NULL \n              THEN 'Other or not stated'\n              ELSE adopter\n              END AS adopter_2\n\nFROM fcsq.adopt_disposals_with_child disposals_with_child\nWHERE (disposals_with_child.event_model<>'A81') \nORDER BY disposals_with_child.receipt_date",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ee434bae-5a7c-4c97-a6d6-863e4227644e'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 2, 20, 656000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 2, 23, 748000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2877,
  'DataScannedInBytes': 3362530,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ee434bae-5a7c-4c97-a6d6-863e4227644e-manifest.csv',
  'TotalExecutionTimeInMillis': 3092,
  'QueryQueueTimeInMillis': 149,
  'QueryPlanningTimeInMillis': 243,
  'ServiceProcessingTimeInMillis': 66},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_disposals5 validation

In [76]:
adopt_disposals5_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_disposals5")
adopt_disposals5_count

    count
0  156802

## adopt_disposals5_adoption table
<a name="adopt_disposals5_adoption"></a>

### Drop the adopt_disposals5_adoption table if it already exists and remove its data from the S3 bucket

In [77]:
drop_adopt_disposals5_adoption = f"""
DROP TABLE IF EXISTS fcsq.adopt_disposals5_adoption;
"""
pydb.start_query_execution_and_wait(drop_adopt_disposals5_adoption)

# clean up previous adopt_disposals5_adoption files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_disposals5_adoption/").delete()

[{'ResponseMetadata': {'RequestId': '9AZ11RDXN9MM8KXQ',
   'HostId': 'KxzMutTgoA2H3Oej5pWcvkBCzxpjbxQjnCOXWzl/ocsJuuiOnUcYS0XnxW1utc+JeVFav1ty/oA=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'KxzMutTgoA2H3Oej5pWcvkBCzxpjbxQjnCOXWzl/ocsJuuiOnUcYS0XnxW1utc+JeVFav1ty/oA=',
    'x-amz-request-id': '9AZ11RDXN9MM8KXQ',
    'date': 'Thu, 07 Apr 2022 10:02:33 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_85e028bd-7912-43da-9542-34b1c3434799',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'XHbwPCp8ba.Hetw.6rF.0tvqQvJGOmnw'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_86587597-9a3f-4b9f-a8c8-1a00dc4bdc01',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7gxs4ou0czUS0E9kL2JYiZZr01Y_RoJF'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_4b5795e1-206b-4f62-9065-787d496e6f19',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YuTTjL9wfuaB0ycGLftmiRWYDSlegntz'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_02845ba3-b229-4f33-990b-f495d9373402',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'IiI4k1_EbWGG2diQbdaDKGkF5pDYS4tq'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_56436b87-6a36-4584-b274-215ba2e2c81c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'xtVSx0.PDyI5T0JysWUXAaQXCVtafdOG'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_df2879e9-85d0-418b-9e6e-8b7bf6aa6599',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ZiHy3qR.R1Bdg.HFJZtkV0Ka6g3tBu3x'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_5acbbc4d-8254-487a-aacd-e1236ad55472',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'RQB7nZNnOd9hCnMca_0zlFu7Y.ZEK2GM'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_0400aaf0-74a9-4d9b-9c46-c5c816b56e67',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'EpdJx_HYh5yKqEfBpmmQatitQQPQcDvu'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_d7d8148c-87b4-4479-8c74-f2d066f20d6b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mwf_44CBJVFRx.Uui2HIvrIG53fbTrTH'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_b5de283a-df5d-41df-b097-d63d3d34134c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rAakqDh2t8QW4fIUZN_KxpRZvWXqD8ZS'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_af94cb06-ff02-4986-b691-b7d286a7bfe5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'AU6C0F9XnvZ89toFMJnAZUKBmLOq5wz1'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_adoption/20211108_190310_00013_q792v_ba6be230-857b-4aa4-a6f8-1582f24e4798',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'S_76vAi1.Kk7FR91hS6CL8_64iNNiibM'}]}]

### Create the adopt_disposals5_adoption table in Athena

In [78]:
create_adopt_disposals5_adoption = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_adoption
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_adoption') AS
SELECT disposals5.case_number, 
        disposals5.court, 
        disposals5.year, 
        disposals5.quarter, 
        disposals5.receipt_date, 
        disposals5.event_model, 
        disposals5.country_of_birth, 
        disposals5.number_applicants, 
        disposals5.adopter_type, 
        disposals5.adopter, 

        CASE WHEN child_sex=1 THEN'M'
              WHEN child_sex=2 THEN'F'
              ELSE 'U'
              END AS ch_sex, 

        disposals5.age_band, 
        disposals5.adoption, 
        disposals5.child_sex, 
        disposals5.type, 
        disposals5.adopter_2 

FROM fcsq.adopt_disposals5 disposals5
WHERE disposals5.adoption='Adoption';
"""

pydb.start_query_execution_and_wait(create_adopt_disposals5_adoption)

{'QueryExecutionId': '46d473e7-0a1e-4841-bf42-21019d831a59',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_adoption\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_adoption') AS\nSELECT disposals5.case_number, \n        disposals5.court, \n        disposals5.year, \n        disposals5.quarter, \n        disposals5.receipt_date, \n        disposals5.event_model, \n        disposals5.country_of_birth, \n        disposals5.number_applicants, \n        disposals5.adopter_type, \n        disposals5.adopter, \n\n        CASE WHEN child_sex=1 THEN'M'\n              WHEN child_sex=2 THEN'F'\n              ELSE 'U'\n              END AS ch_sex, \n\n        disposals5.age_band, \n        disposals5.adoption, \n        disposals5.child_sex, \n        disposals5.type, \n        disposals5.adopter_2 \n\nFROM fcsq.adopt_disposals5 disposals5\nWHERE disposals5.adoption='Adoption'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/46d473e7-0a1e-4841-bf42-21019d831a59'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 2, 34, 963000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 2, 38, 310000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 3088,
  'DataScannedInBytes': 1072842,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/46d473e7-0a1e-4841-bf42-21019d831a59-manifest.csv',
  'TotalExecutionTimeInMillis': 3347,
  'QueryQueueTimeInMillis': 211,
  'ServiceProcessingTimeInMillis': 48},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_disposals5_adoption validation

In [79]:
adopt_disposals5_adoption_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_disposals5_adoption")
adopt_disposals5_adoption_count

   count
0  81437

## adopt_disposals5_non_adoption table
<a name="adopt_disposals5_non_adoption"></a>

### Drop the adopt_disposals5_non_adoption table if it already exists and remove its data from the S3 bucket

In [80]:
drop_adopt_disposals5_non_adoption = f"""
DROP TABLE IF EXISTS fcsq.adopt_disposals5_non_adoption;
"""
pydb.start_query_execution_and_wait(drop_adopt_disposals5_non_adoption)

# clean up previous adopt_disposals5_non_adoption files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_disposals5_non_adoption/").delete()

[{'ResponseMetadata': {'RequestId': 'THP68E0C449KEBEF',
   'HostId': 'QADGjCum2Zq65Y4dQ0jfNp0A2RTEMZPnw30HBAgV6GLZpLXddDRAXs+lYlOtpqY2FHKCznGJQ2U=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'QADGjCum2Zq65Y4dQ0jfNp0A2RTEMZPnw30HBAgV6GLZpLXddDRAXs+lYlOtpqY2FHKCznGJQ2U=',
    'x-amz-request-id': 'THP68E0C449KEBEF',
    'date': 'Thu, 07 Apr 2022 10:02:47 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_456cc1d8-a717-4fd1-98b3-ca9e27624bc1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1bxyD7N0PrPEg2u3EgT4xwyBs8ts2Ge2'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_46131d1a-6248-465d-9899-9c045d24dc20',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dx1sCUgbtqkW276en5b.oN6_LMVNl8ez'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_5db7fcfa-6bfd-4b8a-8006-fabc2fa6c542',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'UveWJ_ecHUgAHQaIjnlN8iVWOPjHgmi_'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_b4b076af-37c3-4ba8-9566-272a3b99922a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'wMWPwzbkJaRwAW9FJlCPsUoZDWdOZA5S'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_c7974d5a-3592-45f2-b077-3c326bcdd843',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ZW_CdnCPLr0v0del5OSy1JIfg1CVeeTF'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_ba2c658c-eb6f-485f-8b25-ce95fcdce063',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CaLszc9QXbju1ZYN8uf0inI3lP0hBMb1'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_d0ef0321-39c5-4139-8b98-260ef7e5ddf6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bniporeVR3q5u3GIDYJ2GK0isQRb3FBQ'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_962bd88b-a671-48e4-aebc-c4ca126f5dac',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'UiLXu.fsVwbBJZwlSgKxld4LQgE7iDUK'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_2713ec10-2db1-4227-86db-44765938ca8d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WRrPSjgyJGv7q_iZowXYNVM0mWadnDUt'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_adoption/20211108_190401_00094_26y5d_bcc8aa81-3137-4f7d-bca8-a2e85af0ab86',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9u552fmX1xlf8z7kz3cwaR4U3ddnfehS'}]}]

### Create the adopt_disposals5_non_adoption table in Athena

In [81]:
create_adopt_disposals5_non_adoption = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_non_adoption
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_non_adoption') AS
SELECT disposals5.case_number, 
        disposals5.court, 
        disposals5.year, 
        disposals5.quarter, 
        disposals5.receipt_date,
        disposals5.event_model, 
        disposals5.order_type, 
        disposals5.adoption, 
        disposals5.type, 
        disposals5.adopter_2,

        CASE WHEN type='Placement' THEN type
              ELSE 'Other Order'
              END  placement

FROM fcsq.adopt_disposals5 disposals5
WHERE (disposals5.event_model<>'A81') 
  AND (disposals5.adoption='Non-adoption');
"""

pydb.start_query_execution_and_wait(create_adopt_disposals5_non_adoption)

{'QueryExecutionId': 'fc757bec-35d9-4f2f-b7c9-9afc96ba0fbe',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_non_adoption\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_non_adoption') AS\nSELECT disposals5.case_number, \n        disposals5.court, \n        disposals5.year, \n        disposals5.quarter, \n        disposals5.receipt_date,\n        disposals5.event_model, \n        disposals5.order_type, \n        disposals5.adoption, \n        disposals5.type, \n        disposals5.adopter_2,\n\n        CASE WHEN type='Placement' THEN type\n              ELSE 'Other Order'\n              END  placement\n\nFROM fcsq.adopt_disposals5 disposals5\nWHERE (disposals5.event_model<>'A81') \n  AND (disposals5.adoption='Non-adoption')",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/fc757bec-35d9-4f2f-b7c9-9afc96ba0fbe'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 2, 49, 311000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 2, 52, 59000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2549,
  'DataScannedInBytes': 976579,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/fc757bec-35d9-4f2f-b7c9-9afc96ba0fbe-manifest.csv',
  'TotalExecutionTimeInMillis': 2748,
  'QueryQueueTimeInMillis': 134,
  'QueryPlanningTimeInMillis': 137,
  'ServiceProcessingTimeInMillis': 65},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_disposals5_non_adoption validation

In [82]:
adopt_disposals5_non_adoption_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_disposals5_non_adoption")
adopt_disposals5_non_adoption_count

   count
0  69187

## adopt_disposals5_non_orders table
<a name="adopt_disposals5_non_orders"></a>

### Drop the adopt_disposals5_non_orders table if it already exists and remove its data from the S3 bucket

In [83]:
drop_adopt_disposals5_non_orders = f"""
DROP TABLE IF EXISTS fcsq.adopt_disposals5_non_orders;
"""
pydb.start_query_execution_and_wait(drop_adopt_disposals5_non_orders)

# clean up previous adopt_disposals5_non_orders files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_disposals5_non_orders/").delete()

[{'ResponseMetadata': {'RequestId': 'TMQJFDW3CZ949K7R',
   'HostId': 'lLtf3FxZKZAGXkBrqNETVKePXZSLmhUtpua3dQluzp7Qn8QnQ91QAU6YEAIcgJ2Hi2dQplCIj7o=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'lLtf3FxZKZAGXkBrqNETVKePXZSLmhUtpua3dQluzp7Qn8QnQ91QAU6YEAIcgJ2Hi2dQplCIj7o=',
    'x-amz-request-id': 'TMQJFDW3CZ949K7R',
    'date': 'Thu, 07 Apr 2022 10:03:02 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_disposals5_non_orders/20211108_190459_00016_kukkn_e98cdffa-0a77-4436-a58b-6c4110eed64d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'fdiXI4mCLLisq8DEVDue8BCRVUhUYBhT'}]}]

### Create the adopt_disposals5_non_orders table in Athena

In [84]:
create_adopt_disposals5_non_orders = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_non_orders
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_non_orders') AS
SELECT disposals5.case_number, 
        disposals5.court, 
        disposals5.year, 
        disposals5.quarter, 
        disposals5.receipt_date, 
        disposals5.event_model,
        disposals5.adoption, 
        disposals5.adopter_2 
FROM fcsq.adopt_disposals5 disposals5
WHERE disposals5.adoption='No order made';
"""

pydb.start_query_execution_and_wait(create_adopt_disposals5_non_orders)

{'QueryExecutionId': '48a98c38-f1e6-4e86-8cae-383a973fd5fb',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_non_orders\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_non_orders') AS\nSELECT disposals5.case_number, \n        disposals5.court, \n        disposals5.year, \n        disposals5.quarter, \n        disposals5.receipt_date, \n        disposals5.event_model,\n        disposals5.adoption, \n        disposals5.adopter_2 \nFROM fcsq.adopt_disposals5 disposals5\nWHERE disposals5.adoption='No order made'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/48a98c38-f1e6-4e86-8cae-383a973fd5fb'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 3, 3, 472000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 3, 5, 696000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2057,
  'DataScannedInBytes': 846538,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/48a98c38-f1e6-4e86-8cae-383a973fd5fb-manifest.csv',
  'TotalExecutionTimeInMillis': 2224,
  'QueryQueueTimeInMillis': 149,
  'ServiceProcessingTimeInMillis': 18},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_disposals5_non_orders validation

In [85]:
adopt_disposals5_non_orders_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_disposals5_non_orders")
adopt_disposals5_non_orders_count

   count
0   6178

In [86]:
#Summary 4
summary4 = f"""
SELECT year, 
        quarter, 
        SUM(CASE WHEN adopter_2 ='Other or not stated' THEN 1 ELSE 0 END) other_or_not_stated,
        SUM(CASE WHEN adopter_2 ='Sole applicant' THEN 1 ELSE 0 END) sole_applicant,
        SUM(CASE WHEN adopter_2 ='Step parent' THEN 1 ELSE 0 END) step_parent,
        SUM(CASE WHEN adopter_2 ='mixed-sex couple' THEN 1 ELSE 0 END) mixed_sex_couple,
        SUM(CASE WHEN adopter_2 ='same-sex couple' THEN 1 ELSE 0 END) same_sex_couple,
        COUNT(*) adopter_2_total
from fcsq.adopt_disposals5_adoption
where year > 2010
GROUP BY year, 
          quarter
ORDER BY year,
          quarter;
"""

pydb.start_query_execution_and_wait(summary4)

{'QueryExecutionId': '47ec8edb-abad-4a2c-b5e0-57b11a0bf3a8',
 'Query': "SELECT year, \n        quarter, \n        SUM(CASE WHEN adopter_2 ='Other or not stated' THEN 1 ELSE 0 END) other_or_not_stated,\n        SUM(CASE WHEN adopter_2 ='Sole applicant' THEN 1 ELSE 0 END) sole_applicant,\n        SUM(CASE WHEN adopter_2 ='Step parent' THEN 1 ELSE 0 END) step_parent,\n        SUM(CASE WHEN adopter_2 ='mixed-sex couple' THEN 1 ELSE 0 END) mixed_sex_couple,\n        SUM(CASE WHEN adopter_2 ='same-sex couple' THEN 1 ELSE 0 END) same_sex_couple,\n        COUNT(*) adopter_2_total\nfrom fcsq.adopt_disposals5_adoption\nwhere year > 2010\nGROUP BY year, \n          quarter\nORDER BY year,\n          quarter",
 'StatementType': 'DML',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/47ec8edb-abad-4a2c-b5e0-57b11a0bf3a8.csv'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 3, 14, 171000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 3, 15, 684000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1344,
  'DataScannedInBytes': 24393,
  'TotalExecutionTimeInMillis': 1513,
  'QueryQueueTimeInMillis': 141,
  'QueryPlanningTimeInMillis': 103,
  'ServiceProcessingTimeInMillis': 28},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

In [87]:
summary5 = f"""
SELECT year, 
        quarter, 
        COUNT (case_number) AS count_of_case

FROM fcsq.adopt_disposals5_adoption
GROUP BY year, quarter
ORDER BY year, quarter;
"""
pydb.start_query_execution_and_wait(summary5)

{'QueryExecutionId': '80d4845d-1cbe-4a3c-8889-6f60241365e1',
 'Query': 'SELECT year, \n        quarter, \n        COUNT (case_number) AS count_of_case\n\nFROM fcsq.adopt_disposals5_adoption\nGROUP BY year, quarter\nORDER BY year, quarter',
 'StatementType': 'DML',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/80d4845d-1cbe-4a3c-8889-6f60241365e1.csv'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 3, 17, 849000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 3, 18, 510000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 497,
  'DataScannedInBytes': 291298,
  'TotalExecutionTimeInMillis': 661,
  'QueryQueueTimeInMillis': 96,
  'QueryPlanningTimeInMillis': 92,
  'ServiceProcessingTimeInMillis': 68},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

In [90]:
summary6 = f"""
SELECT year, 
        quarter,
        SUM(CASE WHEN ch_sex='F' THEN 1 ELSE 0 END) f,
        SUM(CASE WHEN ch_sex='M' THEN 1 ELSE 0 END) m,
        SUM(CASE WHEN ch_sex='U' THEN 1 ELSE 0 END) u,
        COUNT(*) total
from fcsq.adopt_disposals5_adoption
WHERE year > 2010
GROUP BY year, quarter
ORDER BY year,quarter;
"""
pydb.read_sql_query(summary6)

    year  quarter    f    m   u  total
0   2011        1  538  539  12   1089
1   2011        2  611  600   0   1211
2   2011        3  583  584   2   1169
3   2011        4  630  604   0   1234
4   2012        1  585  624   1   1210
5   2012        2  623  633   0   1256
6   2012        3  663  679   0   1342
7   2012        4  736  715   0   1451
8   2013        1  668  666   3   1337
9   2013        2  823  807   0   1630
10  2013        3  803  770   0   1573
11  2013        4  790  744   0   1534
12  2014        1  815  825   0   1640
13  2014        2  833  853   0   1686
14  2014        3  860  898  10   1768
15  2014        4  796  857   0   1653
16  2015        1  772  844   0   1616
17  2015        2  807  821   0   1628
18  2015        3  700  775   0   1475
19  2015        4  730  745   0   1475
20  2016        1  702  863   0   1565
21  2016        2  714  778   0   1492
22  2016        3  729  737   0   1466
23  2016        4  611  690   1   1302
24  2017        1  735  688   0   1423
25  2017        2  692  695   0   1387
26  2017        3  620  687   0   1307
27  2017        4  641  679   1   1321
28  2018        1  615  676   1   1292
29  2018        2  668  607   0   1275
30  2018        3  565  606   0   1171
31  2018        4  548  640   0   1188
32  2019        1  653  679   0   1332
33  2019        2  597  606   1   1204
34  2019        3  630  639   1   1270
35  2019        4  602  605   0   1207
36  2020        1  528  572   0   1100
37  2020        2  305  286   0    591
38  2020        3  487  544   0   1031
39  2020        4  545  563   3   1111
40  2021        1  583  593   1   1177
41  2021        2  563  594   1   1158
42  2021        3  229  242   0    471

In [91]:
summary7 = f"""
SELECT year, 
        quarter,
        SUM(CASE WHEN age_band ='<1 year' THEN 1 ELSE 0 END) less_1_year,
        SUM(CASE WHEN age_band='1-4 years' THEN 1 ELSE 0 END) years_1_4,
        SUM(CASE WHEN age_band ='5-9 years' THEN 1 ELSE 0 END) years_5_9,
        SUM(CASE WHEN age_band ='10-14 years' THEN 1 ELSE 0 END) years_10_14,
        SUM(CASE WHEN age_band ='15-17 years' THEN 1 ELSE 0 END) year_15_17,
        SUM(CASE WHEN age_band = 'Other' THEN 1 ELSE 0 END) other,
        SUM(CASE WHEN age_band = 'Unknown' THEN 1 ELSE 0 END) unknown,
        COUNT(*) total
FROM fcsq.adopt_disposals5_adoption
WHERE year > 2010
GROUP BY year, quarter
ORDER BY year,quarter;

"""
pydb.read_sql_query(summary7)

    year  quarter  less_1_year  years_1_4  years_5_9  years_10_14  year_15_17  other  unknown  total
0   2011        1           26        685        247           85          31      3       12   1089
1   2011        2           20        777        268          120          22      4        0   1211
2   2011        3           23        671        304          129          36      4        2   1169
3   2011        4           21        790        255          121          42      5        0   1234
4   2012        1           33        745        285           98          45      3        1   1210
5   2012        2           25        777        288          124          35      7        0   1256
6   2012        3           20        834        323          122          39      4        0   1342
7   2012        4           43        928        344           96          37      3        0   1451
8   2013        1           22        895        309           76          27      5        3   1337
9   2013        2           53       1081        353          105          33      5        0   1630
10  2013        3           41       1051        340           88          47      6        0   1573
11  2013        4           53       1009        335           99          32      6        0   1534
12  2014        1           58       1150        307           75          42      8        0   1640
13  2014        2           60       1157        349           88          26      6        0   1686
14  2014        3           51       1203        363           88          46      7       10   1768
15  2014        4           66       1120        336           94          32      5        0   1653
16  2015        1           64       1064        355           86          39      8        0   1616
17  2015        2           57       1072        364           86          42      7        0   1628
18  2015        3           71        893        355          102          44     10        0   1475
19  2015        4           59        904        356          106          40     10        0   1475
20  2016        1           66        950        399          105          42      3        0   1565
21  2016        2           68        908        360          108          39      9        0   1492
22  2016        3           73        904        328          110          40     11        0   1466
23  2016        4           85        796        277          101          36      7        0   1302
24  2017        1           91        847        348           87          38     12        0   1423
25  2017        2           77        812        318          110          59     11        0   1387
26  2017        3           91        771        292           97          42     14        0   1307
27  2017        4           86        736        299          122          59     19        0   1321
28  2018        1           74        759        288          111          44     15        1   1292
29  2018        2           50        772        254          118          75      6        0   1275
30  2018        3           75        695        251           99          42      9        0   1171
31  2018        4           65        701        245           97          68     12        0   1188
32  2019        1           66        870        222          115          51      8        0   1332
33  2019        2           63        764        216          103          44     14        0   1204
34  2019        3           57        800        223          110          65     14        1   1270
35  2019        4           64        755        206          125          40     17        0   1207
36  2020        1           56        717        183           87          45     12        0   1100
37  2020        2           31        373         83           60          35      9        0    591
38  2020        3           33        662        210           72          37     17        0   1031
39  2020        4           31        742        192           71          57     15        3   1111
40  2021        1           31        798        207           74          50     17        0   1177
41  2021        2           46        731        225           93          50     12        1   1158
42  2021        3           16        295         88           39          19     14        0    471

In [92]:
summary8 = f"""
SELECT year, 
        quarter,
        SUM(CASE WHEN placement ='Other Order' THEN 1 ELSE 0 END) other_order,
        SUM(CASE WHEN placement ='Placement' THEN 1 ELSE 0 END) placement,
        COUNT(*) total
FROM  fcsq.adopt_disposals5_non_adoption
WHERE year>2010
GROUP BY year, quarter
ORDER BY year, quarter;
"""
pydb.read_sql_query(summary8)

    year  quarter  other_order  placement  total
0   2011        1           36       1204   1240
1   2011        2           49       1182   1231
2   2011        3           66       1307   1373
3   2011        4           81       1424   1505
4   2012        1           76       1472   1548
5   2012        2           75       1514   1589
6   2012        3          117       1738   1855
7   2012        4           98       1753   1851
8   2013        1          139       1520   1659
9   2013        2          190       1651   1841
10  2013        3          221       1724   1945
11  2013        4          211       1360   1571
12  2014        1          215       1128   1343
13  2014        2          221       1019   1240
14  2014        3          269       1079   1348
15  2014        4          233       1074   1307
16  2015        1          257       1082   1339
17  2015        2          284       1021   1305
18  2015        3          254       1115   1369
19  2015        4          251       1170   1421
20  2016        1          239       1150   1389
21  2016        2          240       1137   1377
22  2016        3          191       1147   1338
23  2016        4          166       1137   1303
24  2017        1          134       1313   1447
25  2017        2          104       1170   1274
26  2017        3          103       1148   1251
27  2017        4          101       1059   1160
28  2018        1          100       1090   1190
29  2018        2          101       1151   1252
30  2018        3           98       1044   1142
31  2018        4          153       1127   1280
32  2019        1          106        978   1084
33  2019        2          138       1040   1178
34  2019        3          157        914   1071
35  2019        4          151        937   1088
36  2020        1          137        807    944
37  2020        2          110        554    664
38  2020        3          141        892   1033
39  2020        4          173        900   1073
40  2021        1          149        942   1091
41  2021        2          124        800    924
42  2021        3           43        234    277

In [93]:
summary9 = f"""
SELECT year,
        quarter, 
        COUNT(*) total_non_orders
FROM fcsq.adopt_disposals5_non_orders
WHERE year>2010
GROUP BY year, quarter
ORDER BY year, quarter;

"""
pydb.read_sql_query(summary9)

    year  quarter  total_non_orders
0   2011        1                44
1   2011        2                52
2   2011        3                50
3   2011        4                40
4   2012        1                70
5   2012        2                43
6   2012        3                61
7   2012        4                80
8   2013        1               100
9   2013        2               113
10  2013        3               123
11  2013        4               129
12  2014        1               192
13  2014        2               138
14  2014        3               178
15  2014        4               144
16  2015        1               149
17  2015        2               172
18  2015        3               202
19  2015        4               142
20  2016        1               139
21  2016        2               123
22  2016        3               134
23  2016        4               137
24  2017        1               174
25  2017        2               140
26  2017        3               115
27  2017        4               147
28  2018        1               122
29  2018        2               124
30  2018        3               121
31  2018        4               140
32  2019        1               112
33  2019        2               151
34  2019        3               127
35  2019        4               135
36  2020        1                95
37  2020        2                67
38  2020        3               139
39  2020        4               141
40  2021        1               162
41  2021        2                90
42  2021        3                38

In [94]:
#Summary 10: of disposal case counts


create_adopt_disposal_cases = f"""
SELECT disposals5.case_number, 
        MIN(disposals5.receipt_date) AS minofreceipt_date 
FROM fcsq.adopt_disposals5 disposals5
GROUP BY disposals5.case_number;
"""

pydb.create_temp_table(create_adopt_disposal_cases, "adopt_disposal_cases")

create_adopt_disposal_cases_b = f"""
SELECT disposal_cases.minofreceipt_date,
        disposal_cases.case_number,
        cast(EXTRACT(YEAR FROM (disposal_cases.minofreceipt_date)) as varchar(3)) ||' - '||

        CASE WHEN EXTRACT(MONTH FROM (disposal_cases.minofreceipt_date))<4 THEN '1'
              WHEN EXTRACT(MONTH FROM (disposal_cases.minofreceipt_date))<7 THEN '2'
              WHEN EXTRACT(MONTH FROM (disposal_cases.minofreceipt_date))<10 THEN '3'
              ELSE '4'
              END AS quarter

FROM __temp__.adopt_disposal_cases disposal_cases;
"""
pydb.create_temp_table(create_adopt_disposal_cases_b, "adopt_disposal_cases_b")

create_adopt_disp_case_count_total ="""
SELECT quarter, 
        COUNT(case_number) as count_of_case
FROM __temp__.adopt_disposal_cases_b
GROUP BY  quarter;

"""
pydb.read_sql_query(create_adopt_disp_case_count_total)

     quarter  count_of_case
0   1998 - 4              1
1   2019 - 2           2485
2   2013 - 3           3596
3   2003 - 1           1133
4   2003 - 2           1414
..       ...            ...
86  2017 - 4           2592
87      <NA>             32
88  2020 - 4           2288
89  2008 - 4            183
90  2004 - 3           1263

[91 rows x 2 columns]

## adopt_disposals5_2011 table
<a name="adopt_disposals5_2011"></a>

### Drop the adopt_disposals5_2011 table if it already exists and remove its data from the S3 bucket

In [95]:
drop_adopt_disposals5_2011 = f"""
DROP TABLE IF EXISTS fcsq.adopt_disposals5_2011;
"""
pydb.start_query_execution_and_wait(drop_adopt_disposals5_2011)

# clean up previous adopt_disposals5_2011 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_disposals5_2011/").delete()

[{'ResponseMetadata': {'RequestId': 'DFNERRH9T3TTG43R',
   'HostId': '0YGjR6am5NlaLh9B1zBnWSZyAYILZAkfM2fn/Wp6JSQ5f7mbnAPsen9r0KMNMVR2Bxrcy915ojs=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '0YGjR6am5NlaLh9B1zBnWSZyAYILZAkfM2fn/Wp6JSQ5f7mbnAPsen9r0KMNMVR2Bxrcy915ojs=',
    'x-amz-request-id': 'DFNERRH9T3TTG43R',
    'date': 'Thu, 07 Apr 2022 10:08:39 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_7a8e0f6b-9114-4b92-8f18-3c27e5abd6da',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'RmLSiE3Wny8fSePw47y.Nv8tQIrHpkR8'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_893a71c8-a9df-4152-986f-59c8f28c13d6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'o4IgICkKBofKE_ixnon7VFg4RR80eHA2'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_f46c7edc-f416-4670-bd49-55a57c619eee',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7U7ZTAWXq570NQOHoqsj01W8UsJM2ShP'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_d3d2dda6-44bf-4019-974b-dd25d15344df',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1klwK4TxbO6uSHYGVfKP04MZeoX5E6aA'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_5e5e7dd8-49ae-49c9-9a70-273806db9841',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'jlmR__koGWrjikXzrW7NgYmvWi_bqIZx'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_186892bf-7195-4d4b-8595-10323c53847a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'XYiubR0HBO6uIZgloCoDa76ZZdyb47u7'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_3e9e5faf-56b5-4e75-ba26-7b6401c00cdb',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'x7jEvvE8.S1kmfhFUyYenkhnUioNsHFc'},
   {'Key': 'fcsq_processing/Adoption/adopt_disposals5_2011/20211109_135140_00014_swnaz_61b8b3f2-2dae-4dea-9fd0-d18d4e58466c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vbFLPDz0JS4VYJueBe0YAD3QiE_w6Vi4'}]}]

### Create the adopt_disposals5_2011 table in Athena

In [96]:
create_adopt_disposals5_2011 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_2011
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_2011') AS
SELECT t1.*
FROM fcsq.adopt_Disposals5 t1
WHERE year >2010;
"""

pydb.start_query_execution_and_wait(create_adopt_disposals5_2011)

{'QueryExecutionId': '0ab60fa7-15b9-41fd-8a8f-a1da33e4dfd8',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_disposals5_2011\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_disposals5_2011') AS\nSELECT t1.*\nFROM fcsq.adopt_Disposals5 t1\nWHERE year >2010",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/0ab60fa7-15b9-41fd-8a8f-a1da33e4dfd8'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 8, 41, 30000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 8, 43, 147000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1929,
  'DataScannedInBytes': 1711845,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/0ab60fa7-15b9-41fd-8a8f-a1da33e4dfd8-manifest.csv',
  'TotalExecutionTimeInMillis': 2117,
  'QueryQueueTimeInMillis': 157,
  'QueryPlanningTimeInMillis': 98,
  'ServiceProcessingTimeInMillis': 31},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_disposals5_2011 validation

In [97]:
adopt_disposals5_2011_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_disposals5_2011")
adopt_disposals5_2011_count

    count
0  117623

In [98]:
"""
/* The next couple of queries are here to find the court level data for the 
court level/DFJ file. We do not use the below for FCSQ anymore - table names will be wrong*/

/*Query 18
Firstly the disposals court level file*/

/*

select year, 
        quarter, 
        court, 
        count(*) court_Total
from Adoptions_Disposals5_adoption
where year>2010
group by year, quarter, court
order by year, quarter, court;
     
/*Secondly the applications case level court level file*/

/*
drop table adopt_Disposal_case_count_A; 
Create table adopt_Disposal_case_count_A AS

SELECT t1.CASE_NUMBER, 
        Min(t1.Receipt_date) AS MinOfReceipt_date,
        t1.Court 
FROM adopt_Disposals5 t1 
GROUP BY t1.CASE_NUMBER, t1.Court;

drop table adopt_Disposal_case_count_B;
Create table adopt_Disposal_case_count_B AS

SELECT CASE_NUMBER, 
        extract (Year from (MinOfReceipt_date)) AS YEAR,

        CASE WHEN extract(Month from(MinOfReceipt_date))<4 THEN 1
              WHEN extract(Month from(MinOfReceipt_date))<7 THEN 2
              WHEN extract(Month from(MinOfReceipt_date))<10 THEN 3
              ELSE 4
              END AS Quarter,
        
        MinOfReceipt_date,
        Court 
        
FROM adopt_Disposal_case_count_A;
"""

'\n/* The next couple of queries are here to find the court level data for the \ncourt level/DFJ file. We do not use the below for FCSQ anymore - table names will be wrong*/\n\n/*Query 18\nFirstly the disposals court level file*/\n\n/*\n\nselect year, \n        quarter, \n        court, \n        count(*) court_Total\nfrom Adoptions_Disposals5_adoption\nwhere year>2010\ngroup by year, quarter, court\norder by year, quarter, court;\n     \n/*Secondly the applications case level court level file*/\n\n/*\ndrop table adopt_Disposal_case_count_A; \nCreate table adopt_Disposal_case_count_A AS\n\nSELECT t1.CASE_NUMBER, \n        Min(t1.Receipt_date) AS MinOfReceipt_date,\n        t1.Court \nFROM adopt_Disposals5 t1 \nGROUP BY t1.CASE_NUMBER, t1.Court;\n\ndrop table adopt_Disposal_case_count_B;\nCreate table adopt_Disposal_case_count_B AS\n\nSELECT CASE_NUMBER, \n        extract (Year from (MinOfReceipt_date)) AS YEAR,\n\n        CASE WHEN extract(Month from(MinOfReceipt_date))<4 THEN 1\n              WHEN extract(Month from(MinOfReceipt_date))<7 THEN 2\n              WHEN extract(Month from(MinOfReceipt_date))<10 THEN 3\n              ELSE 4\n              END AS Quarter,\n        \n        MinOfReceipt_date,\n        Court \n        \nFROM adopt_Disposal_case_count_A;\n'

# Stage 4 - Now to update the country of birth lookup
<a name="Country of birth lookup update"></a>

In [99]:
#Create parquet file to add into athena for birth_country_lookup table
data = pd.read_csv('s3://alpha-family-data/fcsq_processing/Adoption/birth_country_lookup_csv/Adopt_birth_country_lookup.csv')
import os
os.environ['AWS_DEFAULT_REGION'] = 'eu-west-2'
import awswrangler as wr
wr.s3.to_parquet(  # Storing the data and metadata to Data Lake
    df=data,
    path="s3://alpha-family-data/fcsq_processing/Adoption/birth_country_lookup_csv/birth_country_lookup_parquet/",
    dataset=True, database = "default", table = "birth_country_lookup"
)

{'paths': ['s3://alpha-family-data/fcsq_processing/Adoption/birth_country_lookup_csv/birth_country_lookup_parquet/6e99137e307a475fbe560b3d0698e2b2.snappy.parquet'],
 'partitions_values': {}}

In [100]:
#Create parquet file to add into athena for event_model_desc table
data = pd.read_csv('s3://alpha-family-data/fcsq_processing/Adoption/event_model_desc_csv/Event_model_desc.csv')
import os
os.environ['AWS_DEFAULT_REGION'] = 'eu-west-2'
import awswrangler as wr
wr.s3.to_parquet(  # Storing the data and metadata to Data Lake
    df=data,
    path="s3://alpha-family-data/fcsq_processing/Adoption/event_model_desc_csv/Event_model_desc_parquet/",
    dataset=True, database = "default", table = "adoption_event_model_desc"
)

{'paths': ['s3://alpha-family-data/fcsq_processing/Adoption/event_model_desc_csv/Event_model_desc_parquet/c1f5ec052aa24d229d8bd82ead6d08af.snappy.parquet'],
 'partitions_values': {}}

## adopt_birth_country_unknown table
<a name="adopt_birth_country_unknown"></a>

### Create the adopt_birth_country_unknown temp table

In [101]:
create_adopt_birth_country_unknown = f"""
SELECT DISTINCT
        a.country_of_birth,
        b.nationality
FROM fcsq.adopt_disposals5_2011 a

LEFT JOIN fcsq.adopt_birth_country_lookup b
  ON a.country_of_birth = b.country_of_birth
  
WHERE a.country_of_birth IS NOT NULL
  AND b.nationality IS NULL;
"""

pydb.create_temp_table(create_adopt_birth_country_unknown,"adopt_birth_country_unknown")

#### adopt_birth_country_unknown validation

In [102]:
adopt_birth_country_unknown_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_birth_country_unknown")
adopt_birth_country_unknown_count

   count
0      4

## adopt_birth_country_added table
<a name="adopt_birth_country_added"></a>

### Create the adopt_birth_country_added temp table

In [103]:
create_adopt_birth_country_added = f"""
SELECT country_of_birth,
        CASE WHEN country_of_birth IN ('lithunia', 'republic of the philipines', 'united states of america (the city of new york)', 'morroco', 'saint lucia') /*update countries listed according to list in 'adopt_birth_country_unknown'*/
                THEN 2 /* For foreign countries only */
              /*WHEN country_of_birth in ('...')
                THEN 1*/ /*UK countries only - add to when necessary*/
              END AS nationality

FROM __temp__.adopt_birth_country_unknown;
"""

pydb.create_temp_table(create_adopt_birth_country_added,'adopt_birth_country_added')

#### adopt_birth_country_added validation

In [104]:
adopt_birth_country_added_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_birth_country_added")
adopt_birth_country_added_count

   count
0      4

## adopt_country_lookup_update table
<a name="adopt_country_lookup_update"></a>

### Create the adopt_country_lookup_update temp table

In [105]:
create_adopt_country_lookup_update = f"""
SELECT country_of_birth, nationality      /* To account for the columns being in a different order from the '_added' table */
FROM fcsq.adopt_birth_country_lookup

UNION
SELECT *
FROM __temp__.adopt_birth_country_added

ORDER BY country_of_birth;

"""

pydb.create_temp_table(create_adopt_country_lookup_update,'adopt_country_lookup_update')

#### adopt_country_lookup_update validation

In [106]:
adopt_country_lookup_update_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_country_lookup_update")
adopt_country_lookup_update_count

   count
0    599

## adopt_birth_country_lookup table
<a name="adopt_birth_country_lookup"></a>

### Drop the adopt_birth_country_lookup table if it already exists and remove its data from the S3 bucket

In [107]:
drop_adopt_birth_country_lookup = f"""
DROP TABLE IF EXISTS fcsq.adopt_birth_country_lookup;
"""
pydb.start_query_execution_and_wait(drop_adopt_birth_country_lookup)

# clean up previous adopt_birth_country_lookup files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_birth_country_lookup/").delete()

[{'ResponseMetadata': {'RequestId': 'WZ1MZZ0ZZCPXEDDF',
   'HostId': '3ByYf72jV1eS4lcKitQjNNsai17Xi5r1eBFIOAj6uwpGw8EWSjyyIcPGctrwyBId4Diej4URSJ8=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '3ByYf72jV1eS4lcKitQjNNsai17Xi5r1eBFIOAj6uwpGw8EWSjyyIcPGctrwyBId4Diej4URSJ8=',
    'x-amz-request-id': 'WZ1MZZ0ZZCPXEDDF',
    'date': 'Thu, 07 Apr 2022 10:09:32 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_birth_country_lookup/20211118_104656_00011_yb9hc_bac4fedc-28d9-4367-bc63-8f499b3e5818',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'hIVolRYM5hZuj68nC68icThRtNoZohbI'}]}]

### Update the adopt_birth_country_lookup table in Athena

In [108]:
create_adopt_birth_country_lookup = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_birth_country_lookup
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_birth_country_lookup') AS
SELECT *
FROM __temp__.adopt_country_lookup_update;
"""

pydb.start_query_execution_and_wait(create_adopt_birth_country_lookup)

{'QueryExecutionId': '895cbf20-f5ee-4399-8f94-7bd4b657b2d7',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_birth_country_lookup\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_birth_country_lookup') AS\nSELECT *\nFROM mojap_de_temp_alpha_user_thomasauburnmoj.adopt_country_lookup_update",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/895cbf20-f5ee-4399-8f94-7bd4b657b2d7'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 7, 10, 9, 33, 247000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 7, 10, 9, 34, 801000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1402,
  'DataScannedInBytes': 8547,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/895cbf20-f5ee-4399-8f94-7bd4b657b2d7-manifest.csv',
  'TotalExecutionTimeInMillis': 1554,
  'QueryQueueTimeInMillis': 105,
  'QueryPlanningTimeInMillis': 97,
  'ServiceProcessingTimeInMillis': 47},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_birth_country_lookup validation

In [109]:
adopt_birth_country_lookup_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_birth_country_lookup")
adopt_birth_country_lookup_count

   count
0    599

# Stage 5 - Now to prepare the final output
<a name="Stage 5 - Preparing the final output"></a>

## adopt_adoptions_only_standard table
<a name="adopt_adoptions_only_standard"></a>

### Create the adopt_adoptions_only_standard temp table

In [110]:
create_adopt_adoptions_only_standard = f"""
SELECT type,
        year,
        quarter,
        application,
        order_type,
        adopter_3,
        COUNT(*) AS count
FROM(

SELECT
  'Application' as type,
  year,
  quarter,
  adoption_cases AS application, /*see where clause below*/
  'Standard' AS order_type,
  CASE WHEN adopter_2 IN ('','Other')
         THEN 'Other or not stated'
       WHEN adopter_2 = 'mixed-sex couple'    
         THEN 'M/F couple'
       WHEN adopter_2 = 'same-sex couple'
         THEN 'Same sex couple'
     ELSE adopter_2
    END AS adopter_3
FROM
  fcsq.adopt_apps_6_adoptions_only
WHERE
  standard = 1 /*and adoption_cases = 'Adoption'*//*Adopt+other and foreign use adoption, standard and convention use adoption cases (copied from excel process*/
)

GROUP BY
  type,
  year,
  quarter,
  application,
  order_type,
  adopter_3;
"""

pydb.create_temp_table(create_adopt_adoptions_only_standard,"adopt_adoptions_only_standard")

#### adopt_adoptions_only_standard validation

In [111]:
adopt_adoptions_only_standard_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_adoptions_only_standard")
adopt_adoptions_only_standard_count

   count
0    351

## adopt_adoption_only_convention table
<a name="adopt_adoption_only_convention"></a>

### Create the adopt_adoption_only_convention temp table

In [112]:
create_adopt_adoptions_only_convention = f"""
SELECT type,
        year,
        quarter,
        application,
        order_type,
        adopter_3,
        COUNT(*) AS count
FROM(
  
SELECT
  'Application' as type,
  year,
  quarter,
  adoption_cases AS application, /*see where clause below*/
  'Convention' AS order_type,
  CASE WHEN adopter_2 IN ('','Other')
         THEN 'Other or not stated'
       WHEN adopter_2 = 'mixed-sex couple'
         THEN 'M/F couple'
       WHEN adopter_2 = 'same-sex couple'
         THEN 'Same sex couple'
     ELSE adopter_2
    END AS adopter_3
FROM
  fcsq.adopt_apps_6_adoptions_only
WHERE
  convention = 1 /*and adoption_cases = 'Adoption'*//*Adopt+other and foreign use adoption, standard and convention use adoption cases (copied from excel process*/
)

GROUP BY
  type,
  year,
  quarter,
  application,
  order_type,
  adopter_3;
"""

pydb.create_temp_table(create_adopt_adoptions_only_convention,'adopt_adoptions_only_convention')

#### adopt_adoption_only_convention validation

In [113]:
pydb.read_sql_query("select count(*) as count from __temp__.adopt_adoptions_only_convention")

   count
0     92

## adopt_adoptions_only_foreign table
<a name="adopt_adoption_only_foreign"></a>

### Create the adopt_adoptions_only_foreign temp table

In [114]:
create_adopt_adoptions_only_foreign = f"""
SELECT type,
        year,
        quarter,
        application,
        order_type,
        adopter_3,
        COUNT(*) AS count
FROM(  
  
SELECT
  'Application' as type,
  year,
  quarter,
  adoption AS application, /*see where clause below*/
  'Foreign' AS order_type,
  CASE WHEN adopter_2 IN ('','Other')
         THEN 'Other or not stated'
       WHEN adopter_2 = 'mixed-sex couple'    
         THEN 'M/F couple'
       WHEN adopter_2 = 'same-sex couple'
         THEN 'Same sex couple'
     ELSE adopter_2
    END AS adopter_3
FROM
  fcsq.adopt_apps_6_adoptions_only
WHERE
  foreign = 1 and adoption = 'Adoption'/*Adopt+other and foreign use adoption, standard and convention use adoption cases (copied from excel process*/
)  
  
GROUP BY
  type,
  year,
  quarter,
  application,
  order_type,
  adopter_3;
"""

pydb.create_temp_table(create_adopt_adoptions_only_foreign,'adopt_adoptions_only_foreign')

#### adopt_adoptions_only_foreign validation

In [115]:
adopt_adoptions_only_foreign_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_adoptions_only_foreign")
adopt_adoptions_only_foreign_count

   count
0    139

## adopt_adoptions_other_only table
<a name="adopt_adoptions_other_only"></a>

### Create the adopt_adoptions_other_only temp table

In [116]:
create_adopt_adoptions_other_only = f"""
SELECT type,
        year,
        quarter,
        application,
        order_type,
        adopter_3,
        COUNT(*) AS COUNT
FROM(  
  
SELECT
  'Application' as type,
  year,
  quarter,
  adoption AS application, /*see where clause below*/
  'Foreign' AS order_type,
  CASE WHEN adopter_2 IN ('','Other')
         THEN 'Other or not stated'
       WHEN adopter_2 = 'mixed-sex couple'    
         THEN 'M/F couple'
       WHEN adopter_2 = 'same-sex couple'
         THEN 'Same sex couple'
     ELSE adopter_2
    END AS adopter_3
FROM
  fcsq.adopt_apps_6_adoptions_only
WHERE
  foreign = 1 AND adoption = 'Adoption+other'/*Adopt+other and foreign use adoption, standard and convention use adoption cases (copied from excel process*/
)

GROUP BY
        type,
        year,
        quarter,
        application,
        order_type,
        adopter_3;
"""

pydb.create_temp_table(create_adopt_adoptions_other_only,'adopt_adoptions_other_only')

#### adopt_adoptions_other_only validation

In [117]:
adopt_adoptions_other_only_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_adoptions_other_only")
adopt_adoptions_other_only_count

   count
0     19

## adopt_adoption_only table
<a name="adopt_adoption_only"></a>

### Create the adopt_adoption_only temp table

In [118]:
create_adopt_adoption_only = f"""
SELECT
  *
FROM
  __temp__.adopt_adoptions_only_standard
UNION ALL 
SELECT
  *
FROM
  __temp__.adopt_adoptions_only_convention
UNION ALL 
SELECT
  *
FROM
  __temp__.adopt_adoptions_only_foreign
UNION ALL 
SELECT
  *
FROM
  __temp__.adopt_adoptions_other_only;
"""

pydb.create_temp_table(create_adopt_adoption_only,'adopt_adoption_only')

#### adopt_adoption_only validation

In [119]:
adopt_adoption_only_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_adoption_only")
adopt_adoption_only_count

   count
0    601

## adopt_adoption_placement table
<a name="adopt_adoption_placement"></a>

### Create the adopt_adoption_placement temp table

In [120]:
create_adopt_adoption_placement = f"""
SELECT
  'Application' AS type,
  year,
  quarter,
  'Non-adoption' as application,
  'Placement' AS order_type,
  'n/a' AS adopter,
   placement AS count
FROM
 fcsq.adopt_apps_6_non_adoptions
WHERE
  placement > 0;

"""

pydb.create_temp_table(create_adopt_adoption_placement,'adopt_adoption_placement')

#### adopt_adoption_placement validation

In [121]:
adopt_adoption_placement_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_adoption_placement")
adopt_adoption_placement_count

   count
0  76376

## adopt_placement_revoke_or_vary table
<a name="adopt_placement_revoke_or_vary"></a>

### Create the adopt_placement_revoke_or_vary temp table

In [122]:
create_adopt_placement_revoke_or_vary = f"""
SELECT
  'Application' AS type,
  year,
  quarter,
  'Non-adoption' as application,
  'Placement_revoke_or_vary' AS order_type,
  'n/a' AS adopter,
  placement_revoke_or_vary AS count
FROM
  fcsq.adopt_apps_6_non_adoptions
WHERE
  placement_revoke_or_vary > 0;
"""

pydb.create_temp_table(create_adopt_placement_revoke_or_vary,'adopt_placement_revoke_or_vary')

#### adopt_placement_revoke_or_vary validation

In [123]:
adopt_placement_revoke_or_vary_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_placement_revoke_or_vary")
adopt_placement_revoke_or_vary_count

   count
0   8657

## adopt_adoption_contact_s26 table
<a name="adopt_adoption_contact_s26"></a>

### Create the adopt_adoption_contact_s26 temp table

In [124]:
create_adopt_adoption_contact_s26 = f"""
SELECT
  'Application' AS type,
  year,
  quarter,
  'Non-adoption' as application,
  'Contact_s26' AS order_type,
  'n/a' AS adopter,
  contact_s26 AS count
FROM
  fcsq.adopt_apps_6_non_adoptions
WHERE
  contact_s26 > 0;
"""

pydb.create_temp_table(create_adopt_adoption_contact_s26,'adopt_adoption_contact_s26')

#### adopt_adoption_contact_s26 validation

In [125]:
adopt_adoption_contact_s26_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_adoption_contact_s26")
adopt_adoption_contact_s26_count

   count
0    341

## adopt_contact_s26_revoke_vary table
<a name="adopt_contact_s26_revoke_vary"></a>

### Create the adopt_contact_s26_revoke_vary temp table

In [126]:
create_adopt_contact_s26_revoke_vary = f"""
SELECT
  'Application' AS type,
  year,
  quarter,
  'Non-adoption' as application,
  'Contact_s26_revoke_or_vary' AS order_type,
  'n/a' AS adopter,
  contact_s26_revoke_or_vary AS count
FROM
  fcsq.adopt_apps_6_non_adoptions
WHERE
  contact_s26_revoke_or_vary > 0;
"""

pydb.create_temp_table(create_adopt_contact_s26_revoke_vary,'adopt_contact_s26_revoke_vary')

#### adopt_contact_s26_revoke_vary validation

In [127]:
adopt_contact_s26_revoke_vary_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_contact_s26_revoke_vary")
adopt_contact_s26_revoke_vary_count

   count
0     46

## adopt_change_surname table
<a name="adopt_change_surname"></a>

### Create the adopt_change_surname temp table

In [128]:
create_adopt_change_surname = f"""
SELECT
  'Application' AS type,
  year,
  quarter,
  'Non-adoption' as application,
  'Change_surname' AS order_type,
  'n/a' AS adopter,
  change_surname AS count
FROM
  fcsq.adopt_apps_6_non_adoptions
WHERE
  change_surname > 0;
"""

pydb.create_temp_table(create_adopt_change_surname,'adopt_change_surname')

#### adopt_change_surname validation

In [129]:
adopt_change_surname_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_change_surname")
adopt_change_surname_count

   count
0    486

## adopt_remove_child_from_uk table
<a name="adopt_remove_child_from_uk"></a>

### Create the adopt_remove_child_from_uk temp table

In [130]:
create_adopt_remove_child_from_uk = f"""
SELECT
  'Application' AS type,
  year,
  quarter,
  'Non-adoption' as application,
  'Remove_child_from_UK' AS order_type,
  'n/a' AS adopter,
  remove_child_from_uk AS count
FROM
  fcsq.adopt_apps_6_non_adoptions
WHERE
  remove_child_from_uk > 0;
"""

pydb.create_temp_table(create_adopt_remove_child_from_uk,'adopt_remove_child_from_uk')

#### adopt_remove_child_from_uk validation

In [131]:
adopt_remove_child_from_uk_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_remove_child_from_uk")
adopt_remove_child_from_uk_count

   count
0     81

## adopt_other_order_type table
<a name="adopt_other_order_type"></a>

### Create the adopt_other_order_type temp table

In [132]:
create_adopt_other_order_type = f"""
SELECT
  'Application' AS type,
  year,
  quarter,
  'Non-adoption' as application,
  'Other_order_type' AS order_type,
  'n/a' AS adopter,
  other_order_type AS count
FROM
  fcsq.adopt_apps_6_non_adoptions
WHERE
  other_order_type > 0;
"""

pydb.create_temp_table(create_adopt_other_order_type,'adopt_other_order_type')

#### adopt_other_order_type validation

In [133]:
adopt_other_order_type_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_other_order_type")
adopt_other_order_type_count

   count
0    589

## adopt_non_adopt_types table
<a name="adopt_non_adopt_types"></a>

### Create the adopt_non_adopt_types temp table

In [134]:
create_adopt_non_adopt_types = f"""
SELECT
  *
FROM
  __temp__.adopt_adoption_placement
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_placement_revoke_or_vary
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_adoption_contact_s26
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_contact_s26_revoke_vary
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_change_surname
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_remove_child_from_uk
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_other_order_type;
"""

pydb.create_temp_table(create_adopt_non_adopt_types,'adopt_non_adopt_types')

#### adopt_non_adopt_types validation

In [135]:
adopt_non_adopt_types_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_non_adopt_types")
adopt_non_adopt_types_count

   count
0  86576

## adopt_non_adoptions table
<a name="adopt_non_adoptions"></a>

### Create the adopt_non_adoptions temp table

In [136]:
create_adopt_non_adoptions = f"""
SELECT
  type,
  year,
  quarter,
  application,
  order_type,
  adopter,
  SUM (count) AS count
FROM
  __temp__.adopt_non_adopt_types
GROUP BY
  type,
  year,
  quarter,
  application,
  order_type,
  adopter;
"""

pydb.create_temp_table(create_adopt_non_adoptions,'adopt_non_adoptions')

#### adopt_non_adoptions validation

In [137]:
adopt_non_adoptions_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_non_adoptions")
adopt_non_adoptions_count

   count
0    365

## adopt_applications table
<a name="adopt_applications"></a>

### Create the adopt_applications temp table

In [138]:
create_adopt_applications = f"""

SELECT
  type,
  year,
  quarter,
  application,
  order_type,
  adopter_3 AS adopter,
  'n/a' as adopted_child_sex,    
  'n/a' as adopted_child_age,
  count
FROM
  __temp__.adopt_adoption_only
UNION ALL
SELECT
  type,
  year,
  quarter,
  application,
  order_type,
  adopter,
  'n/a' as adopted_child_sex,    
  'n/a' as adopted_child_age,
  count
FROM
  __temp__.adopt_non_adoptions;

"""

pydb.create_temp_table(create_adopt_applications,'adopt_applications')

#### adopt_applications validation

In [139]:
adopt_applications_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_applications")
adopt_applications_count

   count
0    966

# Disposals

## adopt_disp_details table
<a name="adopt_disp_details"></a>

### Create the adopt_disp_details temp table

In [140]:
create_adopt_disp_details = f"""
SELECT
  a.*,
  CASE WHEN b.nationality = 2
    THEN 'Foreign'
    ELSE 'N'
  END AS foreign,
  c.event_model_desc
FROM
  fcsq.adopt_disposals5_2011 a
   LEFT JOIN fcsq.adopt_birth_country_lookup b
   ON a.country_of_birth = b.country_of_birth
   LEFT JOIN fcsq.adoption_event_model_desc c
    ON a.event_model = c.event_model;
"""

pydb.create_temp_table(create_adopt_disp_details,'adopt_disp_details')

#### adopt_disp_details validation

In [141]:
adopt_disp_details_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_disp_details")
adopt_disp_details_count

    count
0  235246

## adopt_disp_csv_data table
<a name="adopt_disp_csv_data"></a>

### Create the adopt_disp_csv_data temp table

In [142]:
create_adopt_disp_csv_data = f"""
SELECT
  CASE WHEN adoption IN ('Adoption', 'Non-adoption') THEN 'Order granted'
       WHEN adoption = 'No order made' THEN 'No order granted'
     ELSE 'Check'
    END AS type,
  year,
  quarter,
  adoption,
  CASE WHEN adoption = 'Adoption'
         AND event_model = 'A77'
      THEN 'Convention'
       WHEN adoption = 'Adoption'
         AND foreign = 'Foreign'
      THEN 'Foreign'
       WHEN adoption = 'Adoption'
      THEN 'Standard'
     ELSE type
    END AS type_of_adoption,
  event_model_desc,
  CASE WHEN adoption IN ('No order made','Non-adoption')
         THEN 'n/a'
       WHEN adopter_2 IN ('','Other')
         THEN 'Other or not stated'
       WHEN adopter_2 = 'mixed-sex couple'    
         THEN 'M/F couple'
       WHEN adopter_2 = 'same-sex couple'
         THEN 'Same sex couple'
     ELSE adopter_2
    END AS adopter,
  CASE WHEN adoption IN ('No order made','Non-adoption')
         THEN 'n/a'
       WHEN child_sex = 1 THEN 'Male'
       WHEN child_sex = 2 THEN 'Female'
       ELSE 'Unknown'
     END AS adopted_child_sex,
  CASE WHEN adoption IN ('No order made','Non-adoption')
         THEN 'n/a'
       WHEN age_band IN ('<1 year', '10-14 years', '1-4 years', '15-17 years', '5-9 years', 'Unknown')
        THEN age_band
      ELSE 'Other'
   END AS adopted_child_age
 FROM
   __temp__.adopt_disp_details;
"""

pydb.create_temp_table(create_adopt_disp_csv_data,'adopt_disp_csv_data')

#### adopt_disp_csv_data validation

In [143]:
adopt_disp_csv_data_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_disp_csv_data")
adopt_disp_csv_data_count

    count
0  235246

## adopt_disp_order_type table
<a name="adopt_disp_order_type"></a>

### Create the adopt_disp_order_type temp table

In [144]:
create_adopt_disp_order_type = f"""
SELECT
  a.*,
  CASE WHEN a.adoption IN ('Adoption', 'Non-adoption')
      THEN type_of_adoption
       WHEN a.adoption = 'No order made'
      THEN event_model_desc
     END AS order_type
FROM
  __temp__.adopt_disp_csv_data a;
"""

pydb.create_temp_table(create_adopt_disp_order_type,'adopt_disp_order_type')

#### adopt_disp_order_type validation

In [145]:
adopt_disp_order_type_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_disp_order_type")
adopt_disp_order_type_count

    count
0  235246

## adopt_disposals table
<a name="adopt_disposals"></a>

### Create the adopt_disposals temp table

In [146]:
create_adopt_disposals = f"""
SELECT
  type,
  year,
  quarter,
  adoption,
  order_type,
  adopter,
  adopted_child_sex,
  adopted_child_age,
  COUNT (*) AS count
FROM
  __temp__.adopt_disp_order_type
GROUP BY
  type,
  year,
  quarter,
  adoption,
  order_type,
  adopter,
  adopted_child_sex,
  adopted_child_age;
"""

pydb.create_temp_table(create_adopt_disposals,'adopt_disposals')

#### adopt_disposals validation

In [147]:
adopt_disposals_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_disposals")
adopt_disposals_count

   count
0   2986

# Cases

## adopt_application_case_count table
<a name="adopt_application_case_count"></a>

### Create the adopt_application_case_count temp table

In [148]:
adopt_application_case_count_a = f"""
SELECT case_number,
        court, 
        MIN(app_date) AS minofapp_date
FROM fcsq.adopt_application_4 
WHERE year > 2010
GROUP BY case_number,court
ORDER BY 1,2;
"""
pydb.create_temp_table(adopt_application_case_count_a,"adopt_application_case_count_a")

In [149]:
create_adopt_application_case_count_table= f"""
SELECT type,
        year,
        quarter,
        adoption,
        order_type,
        adopter,
        adopted_child_sex,
        adopted_child_age,
        COUNT(*) AS count
FROM(        

SELECT 
  'Cases started' AS type,
  EXTRACT(YEAR FROM minofapp_date) year,

  CASE WHEN  Minofapp_date is null THEN null
        WHEN EXTRACT(MONTH FROM minofapp_date) BETWEEN 1 AND 3 THEN 1
        WHEN EXTRACT(MONTH FROM minofapp_date) BETWEEN 4 AND 6 THEN 2
        WHEN EXTRACT(MONTH FROM minofapp_date) BETWEEN 7 AND 9 THEN 3
        WHEN EXTRACT(MONTH FROM minofapp_date) BETWEEN 10 AND 12 THEN 4
        END quarter,
  
  'n/a' AS adoption,
  'n/a' AS order_type,
  'n/a' AS adopter,
  'n/a' AS adopted_child_sex,
  'n/a' AS adopted_child_age
FROM 
  __temp__.adopt_application_case_count_a
)  
  
GROUP BY
  type,
  year,
  quarter,
  adoption,
  order_type,
  adopter,
  adopted_child_sex,
  adopted_child_age;
"""
#table1 = pydb.start_query_execution_and_wait(create_adopt_application_case_count)
pydb.create_temp_table(create_adopt_application_case_count_table,"adopt_application_case_count_table")

#### adopt_application_case_count validation

In [150]:
adopt_application_case_count_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_application_case_count_table")
adopt_application_case_count_count

   count
0     43

## adopt_disposal_case_count table
<a name="adopt_disposal_case_count"></a>

### Create the adopt_disposal_case_count temp table

In [151]:
create_adopt_disposal_case_count = f"""
SELECT type,
        year,
        quarter,
        adoption,
        order_type,
        adopter,
        adopted_child_sex,
        adopted_child_age,
        COUNT(*) AS count
FROM( 

SELECT 
  'Cases closed' as type,
  EXTRACT(YEAR FROM minofreceipt_date) year,

  CASE WHEN  minofreceipt_date IS NULL THEN NULL
        WHEN EXTRACT(Month FROM minofreceipt_date) BETWEEN 1 AND 3 THEN 1
        WHEN EXTRACT(Month FROM minofreceipt_date) BETWEEN 4 AND 6 THEN 2
        WHEN EXTRACT(Month FROM minofreceipt_date) BETWEEN 7 AND 9 THEN 3
        WHEN EXTRACT(Month FROM minofreceipt_date) BETWEEN 10 AND 12 THEN 4
        END quarter,
  'n/a' AS adoption,
  'n/a' AS order_type,
  'n/a' AS adopter,
  'n/a' AS adopted_child_sex,
  'n/a' AS adopted_child_age
FROM 
  __temp__.adopt_disposal_cases
WHERE
  (EXTRACT(YEAR FROM minofreceipt_date)) > 2010
)  
  
GROUP BY
  type,
  year,
  quarter,
  adoption,
  order_type,
  adopter,
  adopted_child_sex,
  adopted_child_age;
"""

pydb.create_temp_table(create_adopt_disposal_case_count,'adopt_disposal_case_count')

#### adopt_disposal_case_count validation

In [152]:
adopt_disposal_case_count_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_disposal_case_count")
adopt_disposal_case_count_count

   count
0     43

## adopt_csv table
<a name="adopt_csv"></a>

### Create the adopt_csv temp table

In [153]:
create_adopt_csv = f"""
SELECT
  *
FROM
  __temp__.adopt_applications
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_disposals
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_application_case_count_table
UNION ALL
SELECT
  *
FROM
  __temp__.adopt_disposal_case_count;
"""

pydb.create_temp_table(create_adopt_csv,'adopt_csv')

In [154]:
pydb.read_sql_query("SELECT distinct type from __temp__.adopt_csv")

               type
0      Cases closed
1     Order granted
2     Cases started
3       Application
4  No order granted

#### adopt_csv validation

In [155]:
pydb.read_sql_query("select count(*) as count from __temp__.adopt_csv")

   count
0   4038

## adopt_csv2 table
<a name="adopt_csv2"></a>

### Create the adopt_csv2 table csv

In [159]:
create_adopt_csv2 = f"""
SELECT
  *
FROM
  __temp__.adopt_csv
WHERE
  year > 2010
  AND NOT (year = 2021 AND quarter = 3)
ORDER BY
  type,
  application,
  order_type,
  year,
  quarter,
  adopter,
  adopted_child_sex,
  adopted_child_age;
"""
temp_table = pydb.create_temp_table(create_adopt_csv2,'adopt_csv2')
table = pydb.read_sql_query(create_adopt_csv2)
table.to_csv(path_or_buf = '~/FCSQ_data/adopt_csv2.csv')
table

               type  year  quarter   application            order_type         adopter adopted_child_sex adopted_child_age  count
0       Application  2011        1      Adoption            Convention      M/F couple               n/a               n/a      5
1       Application  2011        1      Adoption            Convention  Sole applicant               n/a               n/a      3
2       Application  2011        2      Adoption            Convention      M/F couple               n/a               n/a      3
3       Application  2011        3      Adoption            Convention      M/F couple               n/a               n/a      1
4       Application  2011        4      Adoption            Convention      M/F couple               n/a               n/a      1
...             ...   ...      ...           ...                   ...             ...               ...               ...    ...
3652  Order granted  2016        3  Non-adoption  Remove_child_from_UK             n/a               n/a               n/a      2
3653  Order granted  2016        4  Non-adoption  Remove_child_from_UK             n/a               n/a               n/a      4
3654  Order granted  2017        3  Non-adoption  Remove_child_from_UK             n/a               n/a               n/a      4
3655  Order granted  2017        4  Non-adoption  Remove_child_from_UK             n/a               n/a               n/a      2
3656  Order granted  2021        2  Non-adoption  Remove_child_from_UK             n/a               n/a               n/a      2

[3657 rows x 9 columns]

In [160]:
adopt_csv2_count = pydb.read_sql_query("select count(*) as count from __temp__.adopt_csv2")
adopt_csv2_count

   count
0   3657