# Adoption extraction tables

# Contents
1. [Import packages and options](#import_packages)
2. [Define key variables](#define_key_variables)
3. [Adoption_parties](#adoption_parties)
4. [Adoptions_applications](#adoptions_applications)
5. [Adoptions_cases](#adoptions_cases)
6. [Adoptions_disposals](#adoptions_disposals)
7. [Adoptions_disposal_fields](#adoptions_disposal_fields)

## Import packages and set options 
<a name="import_packages"></a>

In [ ]:
import pandas as pd  # for the data structures to store and manipulate tables
import pydbtools as pydb  # see https://github.com/moj-analytical-services/pydbtools
import boto3  # for working with AWS

# few things for viewing dataframes better
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 900)
pd.set_option("display.max_colwidth", 200)

## Define some variables to be used throughout the notebook 
<a name="define_key_variables"></a>

In [ ]:
database = "familyman_dev_v2"
snapshot_date = "2021-08-19"
database_derived = "familyman_derived_dev_v1"

fcsq_database = "fcsq"

s3 = boto3.resource("s3")
bucket = s3.Bucket("alpha-family-data")

## Adoption_parties table
<a name="adoption_parties"></a>

### Drop the adoptions_parties table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adoptions_parties = f"""
DROP TABLE IF EXISTS fcsq.ADOPTIONS_PARTIES;
"""
pydb.read_sql_query(drop_adoptions_parties)

# clean up previous adoptions_parties files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adoptions_Parties/").delete()

### Create the adoptions_parties table in Athena

In [ ]:
create_adoptions_parties = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_PARTIES
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_Parties') AS
SELECT R.CASE_NUMBER,
  R.ROLE,
  R.ROLE_MODEL,
  R.REPRESENTATIVE_ROLE AS Representative,
  F.FIELD_MODEL,
  F.VALUE AS Rel_to_child,
  R.PARTY,
  P.DOB,
  P.GENDER,
  P.MOJAP_SNAPSHOT_DATE
FROM {database}.parties P
INNER JOIN {database}.roles R
ON P.PARTY = R.PARTY
INNER JOIN {database}.role_fields F
ON R.ROLE               = F.ROLE
WHERE ((R.ROLE_MODEL     = 'APLZ'
AND F.FIELD_MODEL = 'APLZ_RTC')
OR (R.ROLE_MODEL        = 'CHLDZ'
AND F.FIELD_MODEL = 'CHLDZ_CP'))
AND R.mojap_snapshot_date = date '{snapshot_date}'
AND F.mojap_snapshot_date = date '{snapshot_date}'
AND P.mojap_snapshot_date = date '{snapshot_date}'
"""

pydb.read_sql_query(create_adoptions_parties)

#### Adoption_parties validation

In [ ]:
# Query the table just created. The database to query is called __temp__, this is
# an alias for a sandbox database that is created for each user. For more details, see
# the pydbtools docs

parties_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_parties")
parties_count

## Adoptions_applications table
<a name="adoptions_applications"></a>

### Drop the adoptions_applications table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adoptions_applications = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_APPLICATIONS;"
pydb.read_sql_query(drop_adoptions_applications)

bucket.objects.filter(
    Prefix="fcsq_processing/Adoption/Adoptions_applications/"
).delete()

### Create the adoptions_applications table in Athena

In [ ]:
create_adoptions_applications_u21 = f"""
SELECT E.CASE_NUMBER,
  E.EVENT,
  E.RECEIPT_DATE,
  E.ENTRY_DATE,
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE
  END AS Receipt_date2,
  E.EVENT_MODEL,
  F.VALUE  AS App_Type,
  date_parse(F1.VALUE, '%Y-%m-%d') AS Date_of_issue,
  F2.VALUE AS High_court
FROM {database}.events E
INNER JOIN {database}.event_fields F2
ON E.EVENT = F2.EVENT
INNER JOIN {database}.event_fields F1
ON E.EVENT = F1.EVENT
INNER JOIN {database}.event_fields F
ON E.EVENT               = F.EVENT
WHERE (E.EVENT_MODEL      = 'U21'
AND F.FIELD_MODEL  = 'U21_1'
AND F1.FIELD_MODEL = 'U21_2'
AND F2.FIELD_MODEL = 'U21_HC')
AND E.mojap_snapshot_date = date '{snapshot_date}'
AND F.mojap_snapshot_date = date '{snapshot_date}'
AND F1.mojap_snapshot_date = date '{snapshot_date}'
AND F2.mojap_snapshot_date = date '{snapshot_date}';
"""

"""
Changes made to original code (not including variable name changes):

Changed decode statement to case statement as decode is not supported
Changed TO_DATE to date_parse as TO_DATE not supported
(date_parse currently gives time as well, I will look to change this)


"""

pydb.create_temp_table(create_adoptions_applications_u21, "adoptions_applications_u21")
print("u21 applications done")

create_adoptions_applications_G50 = f"""
SELECT
  E.CASE_NUMBER,
  E.EVENT,
  E.RECEIPT_DATE,
  E.ENTRY_DATE,
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE
  END AS Receipt_date2,
  E.EVENT_MODEL,
  CASE WHEN F.VALUE like '%RUK%' and F.VALUE like '%CCS%' THEN 'RUK,CCS'
       WHEN F.VALUE like '%RUK%' THEN 'RUK'
       WHEN F.VALUE like '%CCS%' THEN 'CCS'
        END AS App_Type, /*Have done it like this so that we do not include non adoption app types*/
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE
  END AS Date_of_issue,
  'N' AS High_court
FROM
  {database}.events E
  INNER JOIN {database}.event_fields F
    ON E.EVENT = F.EVENT
WHERE
  F.FIELD_MODEL = 'G50_AT'
  AND (F.VALUE like '%RUK%'
   OR F.VALUE like '%CCS%')
   AND E.mojap_snapshot_date = date '{snapshot_date}'
   AND F.mojap_snapshot_date = date '{snapshot_date}';
"""

pydb.create_temp_table(create_adoptions_applications_G50, "adoptions_applications_G50")


print("G50 cases done")

create_adoptions_applications = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_APPLICATIONS
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_applications') AS
SELECT
  *
FROM
  __temp__.ADOPTIONS_APPLICATIONS_U21
WHERE case_number <> 'CV11Z00105'
UNION ALL
SELECT
  *
FROM
  __temp__.ADOPTIONS_APPLICATIONS_G50
WHERE case_number <> 'CV11Z00105';
"""

pydb.read_sql_query(create_adoptions_applications)

print("adoptions_applications table created")

#### Adoptions_applications validation

In [ ]:
applications_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_applications")
applications_count

## Adoptions_cases table
<a name="adoptions_cases"></a>

### Drop the adoptions_cases table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adoptions_cases = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_CASES;"
pydb.read_sql_query(drop_adoptions_cases)

bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adoptions_cases/").delete()

### Create the adoptions_cases table in Athena

In [ ]:
create_adoptions_cases = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_CASES
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_cases') AS
SELECT F.CASE_NUMBER,
  F.VALUE AS Contested,
  F1.VALUE AS Case_issue_date,
  F2.VALUE AS Case_app_type,
  CASE F.CASE_NUMBER
      WHEN 'BM08Z09028' THEN '2008-09-19'
      ELSE F1.VALUE
  END AS Case_issue_date2
FROM {database}.case_fields F
INNER JOIN {database}.case_fields F2
ON F.CASE_NUMBER = F2.CASE_NUMBER
INNER JOIN {database}.case_fields F1
ON F.CASE_NUMBER    = F1.CASE_NUMBER
WHERE F.FIELD_MODEL = 'FM3A_AC'
AND F1.FIELD_MODEL  = 'FM3A_DOI'
AND F2.FIELD_MODEL  = 'FM3A_AT'
AND F.case_number <> 'CV11Z00105'
AND F.mojap_snapshot_date = date '{snapshot_date}'
AND F1.mojap_snapshot_date = date '{snapshot_date}'
AND F2.mojap_snapshot_date = date '{snapshot_date}';

"""
pydb.read_sql_query(create_adoptions_cases)

#### Adoptions_cases validation

In [ ]:
cases_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_cases")
cases_count

## Adoptions_disposals table
<a name="adoptions_disposals"></a>

### Drop the adoptions_disposals table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adoptions_disposals = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_DISPOSALS;"
pydb.read_sql_query(drop_adoptions_disposals)

bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adoptions_disposals/").delete()

### Create the adoptions_disposals table in Athena

In [ ]:
create_adoptions_disposals = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_DISPOSALS
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_disposals') AS
SELECT E.CASE_NUMBER,
  E.EVENT,
  E.RECEIPT_DATE,
  E.ENTRY_DATE,
  CASE E.RECEIPT_DATE
      WHEN NULL THEN E.ENTRY_DATE
      ELSE E.RECEIPT_DATE  
  END AS Receipt_date2,
  E.EVENT_MODEL
FROM {database}.events E
WHERE ((E.EVENT_MODEL IN ('A70', 'A71', 'A72', 'A73', 'A74', 'A75', 'A76', 'A77', 'A78', 'A79', 'A80', 'A81', 'A12', 'A13', 'A15')
AND E.ERROR          = 'N')
OR (E.EVENT_MODEL    IN ('G63', 'ORDREF', 'ORDNOM')
AND E.ERROR          = 'N')
OR (E.EVENT_MODEL    IN ('A12', 'A13', 'A15')
AND E.ERROR          = 'N'))
AND E.case_number <> 'CV11Z00105'
AND E.mojap_snapshot_date = date '{snapshot_date}'; 
"""
pydb.read_sql_query(create_adoptions_disposals)

#### Adoptions_disposals validation

In [ ]:
disposals_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_disposals")
disposals_count

## Adoptions_disposal_fields table
<a name="adoptions_disposal_fields"></a>

### Drop the adoptions_disposal_fields table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adoptions_disposal_fields = "DROP TABLE IF EXISTS fcsq.ADOPTIONS_DISPOSAL_FIELDS;"
pydb.read_sql_query(drop_adoptions_disposal_fields)

bucket.objects.filter(
    Prefix="fcsq_processing/Adoption/Adoptions_disposal_fields/"
).delete()

### Create the adoptions_disposal_fields table in Athena

In [ ]:
create_adoptions_disposal_fields = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPTIONS_DISPOSAL_FIELDS
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoptions_disposal_fields') AS
SELECT EVENT,
FIELD_MODEL,
VALUE
FROM {database}.event_fields E
WHERE (FIELD_MODEL LIKE 'A1%'
  OR FIELD_MODEL LIKE 'A7%'
  OR FIELD_MODEL IN ('G63_1', 'ORDNOM_5', 'ORDREF_5', 'A80_4', 'A81_5'))
  AND E.mojap_snapshot_date = date '{snapshot_date}';
"""
pydb.read_sql_query(create_adoptions_disposal_fields)

#### Adoptions_disposal_fields validation

In [ ]:
disposal_fields_count = pydb.read_sql_query("select count(*) as count from fcsq.adoptions_disposal_fields")
disposal_fields_count

# Stage 1 - Create The Main Parties Data

## Adopt_app_count table

### Drop the adopt_app_count table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_app_count = f"""
DROP TABLE IF EXISTS fcsq.ADOPT_APP_COUNT;
"""
pydb.read_sql_query(drop_adopt_app_count)

# clean up previous adopt_app_count files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_app_count/").delete()

### Create the adopt_app_count table in Athena

In [ ]:
create_adopt_app_count = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APP_COUNT
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_app_count') AS
SELECT case_number, role_model, COUNT(role) AS countofrole
FROM fcsq.adoptions_parties
GROUP BY case_number, role_model
HAVING role_model = 'APLZ';
"""

pydb.read_sql_query(create_adopt_app_count)

In [ ]:
adopt_app_count_validation = pydb.read_sql_query("select count(*) as count from fcsq.adopt_app_count")
adopt_app_count_validation

## Adopt_appl_sex table

### Drop the adopt_appl_sex table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_appl_sex = f"""
DROP TABLE IF EXISTS fcsq.ADOPT_APPL_SEX;
"""
pydb.read_sql_query(drop_adopt_appl_sex)

# clean up previous adopt_appl_sex files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_appl_sex/").delete()

### Create the adopt_appl_sex table in Athena

In [ ]:
create_adopt_appl_sex = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPL_SEX
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_appl_sex') AS
SELECT app_count.case_number, app_count.role_model, 
app_count.countofrole, 
MIN(parties.gender) min_sex,
MAX(parties_1.gender) max_sex
FROM fcsq.adopt_app_count app_count INNER JOIN fcsq.adoptions_parties parties ON app_count.case_number = parties.case_number
INNER JOIN fcsq.adoptions_parties parties_1 ON app_count.case_number = parties_1.case_number
GROUP BY app_count.case_number, app_count.role_model, app_count.countofrole, parties.role_model, parties_1.role_model
HAVING parties.role_model='APLZ' AND parties_1.role_model='APLZ';
"""

pydb.read_sql_query(create_adopt_appl_sex)

## adopt_appl_rtc table

### Drop the adopt_appl_rtc table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_appl_rtc = f"""
DROP TABLE IF EXISTS fcsq.adopt_appl_rtc;
"""
pydb.read_sql_query(drop_adopt_appl_rtc)

# clean up previous adopt_appl_rtc files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_appl_rtc/").delete()

### Create the adopt_appl_rtc table in Athena

In [ ]:
create_adopt_appl_rtc = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPL_RTC
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_appl_rtc') AS
SELECT appl_sex.case_number, 
        appl_sex.role_model, 
        appl_sex.countofrole, 
        appl_sex.min_sex, 
        appl_sex.max_sex, 
        MIN(parties.rel_to_child) min_rtc, 
        MAX(parties_1.rel_to_child) max_rtc
FROM fcsq.adopt_appl_sex appl_sex
INNER JOIN fcsq.adoptions_parties parties 
        ON appl_sex.case_number = parties.case_number 
INNER JOIN fcsq.adoptions_parties parties_1 
        ON appl_sex.case_number = parties_1.case_number
GROUP BY appl_sex.case_number, 
          appl_sex.role_model, 
          appl_sex.countofrole, 
          appl_sex.min_sex, 
          appl_sex.max_sex, 
          parties.role_model, 
          parties_1.role_model
HAVING parties.role_model='APLZ' AND parties_1.role_model='APLZ';
"""

pydb.read_sql_query(create_adopt_appl_rtc)

## adopt_applicant_type_a table

### Drop the adopt_applicant_type_a table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_applicant_type_a = f"""
DROP TABLE IF EXISTS fcsq.adopt_applicant_type_a;
"""
pydb.read_sql_query(drop_adopt_applicant_type_a)

# clean up previous adopt_applicant_type_a files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_applicant_type_a/").delete()

### Create the adopt_applicant_type_a table in Athena

In [ ]:
create_adopt_applicant_type_a = f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPLICANT_TYPE_A
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_applicant_type_a') AS
SELECT case_number, 
        role_model, 
        countofrole number_applicants, 
        min_sex, 
        max_sex, 
        min_rtc, 
        max_rtc,
CASE  WHEN countofrole=1 THEN 'single' 
      WHEN min_sex=1 AND max_sex =1 THEN 'same-sex couple' 
      WHEN min_sex=2 AND max_sex=2  THEN 'same-sex couple' 
      WHEN min_sex=1 AND max_sex =2 THEN 'mixed-sex couple'
                ELSE 'Other or not stated'       
END adopter_type
FROM fcsq.adopt_appl_rtc;
"""

pydb.read_sql_query(create_adopt_applicant_type_a)

## adopt_applicant_type_b table

### Drop the adopt_applicant_type_b table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_applicant_type_b = f"""
DROP TABLE IF EXISTS fcsq.adopt_applicant_type_b;
"""
pydb.read_sql_query(drop_adopt_applicant_type_b)

# clean up previous adopt_applicant_type_b files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_applicant_type_b/").delete()

### Create the adopt_applicant_type_b table in Athena

In [ ]:
create_adopt_applicant_type_b = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_applicant_type_b
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_applicant_type_b') AS
SELECT case_number, 
        role_model, 
        number_applicants, 
        min_sex, 
        max_sex, 
        min_rtc,
        max_rtc,
        adopter_type,
CASE WHEN (min_rtc Like 'Step%' OR max_rtc Like 'Step%') THEN 'Step parent'
      WHEN (min_rtc Like 'Natural%' OR max_rtc like 'Natural%') THEN 'Other or not stated'  
      WHEN number_applicants > 2 THEN 'Other or not stated'
      WHEN (min_rtc = 'Other' OR max_rtc = 'Other') THEN 'Other or not stated'
      WHEN (min_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation') AND max_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation')) THEN 'Other or not stated'
      WHEN (min_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation') OR max_rtc IN ('Child','Adoption Agency','Central Authority','Home Office','Local Authority','Voluntary Organisation')) THEN 'Sole applicant'
      WHEN number_applicants >1 THEN adopter_type 
      ELSE 'Sole applicant' 
      END adopter 
FROM fcsq.adopt_applicant_type_a;
"""

pydb.read_sql_query(create_adopt_applicant_type_b)

## adopt_applicant_type table

### Drop the adopt_applicant_type table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_applicant_type = f"""
DROP TABLE IF EXISTS fcsq.adopt_applicant_type;
"""
pydb.read_sql_query(drop_adopt_applicant_type)

# clean up previous adopt_applicant_type files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_applicant_type/").delete()

### Create the adopt_applicant_type table in Athena

In [ ]:
create_adopt_applicant_type = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_applicant_type
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_applicant_type') AS
SELECT
case_number, 
  role_model, 
  number_applicants, 
  min_sex, 
  max_sex, 
  min_rtc, 
  max_rtc, 
  adopter_type,
CASE WHEN (min_rtc = 'Foster Carer' AND max_rtc = 'Sibling') THEN 'Other or not stated'
        WHEN (adopter_type = 'mixed-sex couple' AND min_rtc = 'Uncle' AND max_rtc = 'Uncle') THEN 'Other or not stated'
        ELSE adopter
        END adopter
FROM fcsq.adopt_applicant_type_b;
"""

pydb.read_sql_query(create_adopt_applicant_type)

## adopt_child_parties table

### Drop the adopt_child_parties table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_child_parties = f"""
DROP TABLE IF EXISTS fcsq.adopt_child_parties;
"""
pydb.read_sql_query(drop_adopt_child_parties)

# clean up previous adopt_child_parties files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_child_parties/").delete()

### Create the adopt_child_parties table in Athena

In [ ]:
create_adopt_child_parties = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_child_parties
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_child_parties') AS
SELECT case_number, 
        role child_role, 
        party child_party, 
        dob, 
        gender child_sex
FROM fcsq.adoptions_parties
WHERE role_model='CHLDZ';
"""


"""
Note:
Removed dob TO_DATE as not supported and left dob as original timestamp

"""
pydb.read_sql_query(create_adopt_child_parties)

# Stage 2 - Applications

## adopt_application1 table

### Drop the adopt_application1 table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_application1 = f"""
DROP TABLE IF EXISTS fcsq.adopt_application1;
"""
pydb.read_sql_query(drop_adopt_application1)

# clean up previous adopt_application1 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_application1/").delete()

### Create the adopt_application1 table in Athena

In [ ]:
create_adopt_application1 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_application1
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application1') AS
SELECT 	a1.case_number, 
        a1.event, 
        a1.receipt_date2, 
        a1.app_type, 
        c1.case_app_type, 
        a1.date_of_issue, 
        date_parse(c1.case_issue_date2, '%Y-%m-%d') AS case_issue_date2,
        a1.high_court, 
        c1.contested, 
        b1.number_applicants, 
        b1.min_sex, 
        b1.max_sex, 
        b1.adopter_type, 
        b1.min_rtc,
        b1.max_rtc, 
        b1.adopter, 
        SUBSTR(cast(event as varchar(50)), 1,3) court, 
        ', '||  app_type ||  ',' app_type2,
	
        CASE WHEN a1.date_of_issue <= a1.receipt_date2 
                THEN a1.date_of_issue
              ELSE a1.receipt_date2
              END min_date,

        CASE WHEN a1.app_type='AO' OR a1.app_type='CA' OR a1.app_type='PFO' OR a1.app_type='AD' OR a1.app_type='PF' OR a1.app_type='SP' THEN 'Adoption'
              WHEN a1.app_type LIKE '%AO%' OR a1.app_type LIKE  '%CA%' OR a1.app_type LIKE '%PF%' OR a1.app_type LIKE '%AD%' OR a1.app_type LIKE '%SP%' THEN 'Adoption+other'
              ELSE 'Non-adoption'
              END adoption

FROM (fcsq.adoptions_applications a1 
LEFT JOIN fcsq.adopt_applicant_type b1 ON a1.case_number = b1.case_number) 
LEFT JOIN fcsq.adoptions_cases c1 ON a1.case_number = c1.case_number;
"""

pydb.read_sql_query(create_adopt_application1)
print ("Done")

## adopt_application2 table

### Drop the adopt_application2 table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_application2 = f"""
DROP TABLE IF EXISTS fcsq.adopt_application2;
"""
pydb.read_sql_query(drop_adopt_application2)

# clean up previous adopt_application2 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_application2/").delete()

### Create the adopt_application2 table in Athena

In [ ]:
create_adopt_application2 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_application2
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application2') AS
SELECT case_number, 
        event, 
        min_date, 
        EXTRACT(YEAR FROM min_date) year,

        CASE WHEN  min_date IS NULL THEN NULL
              WHEN EXTRACT(MONTH FROM min_date) between 1 and 3 THEN 1
              WHEN EXTRACT(MONTH from min_date) between 4 and 6 THEN 2
              WHEN EXTRACT(month from min_date) between 7 and 9 THEN 3
              WHEN EXTRACT(month from min_date) between 10 and 12 THEN 4
              END quarter,

        court, 
        app_type, 
        app_type2, 
        adoption, 
        case_app_type, 
        high_court, 
        contested, 
        number_applicants, 
        min_sex, 
        max_sex, 
        adopter_type, 
        min_rtc, 
        max_rtc, 
        adopter, 
        receipt_date2, 
        date_of_issue, 
        case_issue_date2,

        CASE WHEN app_type2 LIKE ', AO%' OR app_type2 LIKE ', AD%' OR app_type2 LIKE ', CA%' OR app_type2 LIKE ', PFO%' OR app_type2 LIKE ', PF%' THEN 'Adoption' 
              ELSE 'N'
              END adoption1 ,

        CASE WHEN app_type2 LIKE ', AO%' OR app_type2 LIKE ', AD%' OR app_type2 LIKE ', SP%' THEN 1
              ELSE 0
              END standard ,

        CASE WHEN app_type2 LIKE '%, CA%' OR app_type2 LIKE '%, CA%'
              THEN 1 
              ELSE 0
              END convention , 

        CASE WHEN app_type2 LIKE '%, PF%'
              THEN 1
                ELSE 0
                END foreign , 

        CASE WHEN app_type2 LIKE '%, PLA%' OR app_type2 LIKE ', FO%'
              THEN 1
              ELSE 0
              END placement , 

        CASE WHEN app_type2 LIKE '%, RPLA%'
              THEN 1
              ELSE 0
              END placement_revoke  , 


        CASE WHEN app_type2 LIKE '%, VPLA%'
              THEN 1
              ELSE 0
              END  placement_vary , 

        CASE WHEN app_type2 LIKE '%, CNO%'
              THEN 1
              ELSE 0
              END contact_s26 , 

        CASE WHEN app_type2 LIKE '%, RCNO%'
              THEN 1
              ELSE 0
              END contact_s26_revoke, 

        CASE WHEN app_type2 LIKE '%, VCNO%'
              THEN 1
              ELSE 0
              END contact_s26_vary , 

        CASE WHEN app_type2 LIKE '%, CCS%' 
              THEN 1
              ELSE 0
              END change_surname , 

        CASE WHEN app_type2 LIKE '%, RUK%'
              THEN 1
              ELSE 0
              END  remove_child_from_uk, 

        CASE WHEN app_type2 LIKE '%, OR%'
              THEN 1
              ELSE 0
              END other_recovery,

        CASE WHEN app_type2 LIKE '%, PT10%'
              THEN 1
              ELSE 0
              END other_part_10, 

        CASE WHEN app_type2 LIKE '%, PT9%'
              THEN 1
              ELSE 0
              END other_part_9, 

        CASE WHEN app_type2 LIKE '%, S84%'
              THEN 1
              ELSE 0
              END other_s84_order, 

        CASE WHEN app_type2 LIKE '%, S88%'
              THEN 1
              ELSE 0
              END other_s88_direction , 

        CASE WHEN app_type2 LIKE '%, S89%'
              THEN 1
              ELSE 0
              END other_s89_order 

FROM fcsq.adopt_application1;
"""

pydb.read_sql_query(create_adopt_application2)

## adopt_application3 table

### Drop the adopt_application3 table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_application3 = f"""
DROP TABLE IF EXISTS fcsq.adopt_application3;
"""
pydb.read_sql_query(drop_adopt_application3)

# clean up previous adopt_application3 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_application3/").delete()

### Create the adopt_application3 table in Athena

In [ ]:
create_adopt_application3 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_application3
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application3') AS
SELECT application2.case_number, 
        MIN(application2.min_date) app_date, 
        application2.year, 
        application2.quarter, 
        application2.court, 
        application2.app_type, 
        application2.app_type2, 
        application2.case_app_type, 
        application2.adoption, 
        application2.high_court, 
        application2.contested, 
        application2.number_applicants, 
        application2.min_sex, 
        application2.max_sex, 
        application2.adopter_type, 
        application2.min_rtc, 
        application2.max_rtc, 
        application2.adopter
FROM fcsq.adopt_application2 application2
GROUP BY application2.case_number, 
          application2.year, 
          application2.quarter, 
          application2.court, 
          application2.app_type, 
          application2.app_type2, 
          application2.case_app_type, 
          application2.adoption, 
          application2.high_court, 
          application2.contested, 
          application2.number_applicants, 
          application2.min_sex, 
          application2.max_sex, 
          application2.adopter_type, 
          application2.min_rtc, 
          application2.max_rtc, 
          application2.adopter
HAVING (application2.case_number)<>'CV11Z00105';
"""

pydb.read_sql_query(create_adopt_application3)

## adopt_application4 table

### Drop the adopt_application4 table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_adopt_application4 = f"""
DROP TABLE IF EXISTS fcsq.adopt_application4;
"""
pydb.read_sql_query(drop_adopt_application4)

# clean up previous adopt_application4 files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_application4/").delete()

### Create the adopt_application4 table in Athena

In [ ]:
create_adopt_application4 = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_application4
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_application4') AS
SELECT application2.case_number, 
        application2.min_date app_date, 
        application2.year, 
        application2.quarter, 
        application2.court, 
        application2.app_type, 
        application2.case_app_type, 
        application2.adoption, 
        application2.high_court, 
        application2.contested, 
        application2.number_applicants, 
        application2.min_sex, 
        application2.max_sex, 
        application2.adopter_type, 
        application2.min_rtc, 
        application2.max_rtc, 
        application2.adopter, 
        application2.standard, 
        application2.convention, 
        application2.foreign, 
        application2.placement, 

        application2.placement_revoke + application2.placement_vary  placement_revoke_or_vary, 

        application2.contact_s26, 

        application2.contact_s26_revoke + application2.contact_s26_vary contact_s26_revoke_or_vary, 
        
        application2.change_surname, 
        application2.remove_child_from_uk, 

        application2.other_recovery+application2.other_part_10+application2.other_part_9+application2.other_s84_order+application2.other_s88_direction+application2.other_s89_order other_order_type


FROM fcsq.adopt_application2 application2;
"""

pydb.read_sql_query(create_adopt_application4)

## TEMPLATE table

### Drop the TEMPLATE table if it already exists and remove its data from the S3 bucket

In [ ]:
drop_TEMPLATE = f"""
DROP TABLE IF EXISTS fcsq.TEMPLATE;
"""
pydb.read_sql_query(drop_TEMPLATE)

# clean up previous TEMPLATE files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/TEMPLATE/").delete()

### Create the TEMPLATE table in Athena

In [ ]:
create_TEMPLATE = f"""
CREATE TABLE IF NOT EXISTS fcsq.TEMPLATE
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/TEMPLATE') AS
"""

pydb.read_sql_query(create_TEMPLATE)