# Adopt Timeliness

In [1]:
import pandas as pd  # for the data structures to store and manipulate tables
import pydbtools as pydb  # see https://github.com/moj-analytical-services/pydbtools
import boto3  # for working with AWS

# few things for viewing dataframes better
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 900)
pd.set_option("display.max_colwidth", 200)

database = "familyman_dev_v2"
snapshot_date = "2021-08-19"
database_derived = "familyman_derived_dev_v1"

fcsq_database = "fcsq"

s3 = boto3.resource("s3")
bucket = s3.Bucket("alpha-family-data")

## Adopt_applications_data_sorted table

### Drop the adopt_applications_data_sorted table if it already exists and remove its data from the S3 bucket

In [2]:
drop_adopt_applications_data_sorted = f"""
DROP TABLE IF EXISTS fcsq.adopt_applications_data_sorted;
"""
pydb.start_query_execution_and_wait(drop_adopt_applications_data_sorted)

# clean up previous adopt_applications_data_sorted files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_applications_data_sorted/").delete()

[{'ResponseMetadata': {'RequestId': 'TSJ9E31TGV4Q51BY',
   'HostId': '7Hd1KaSg2/+knE6YgAjMBeSL9YZTDg8mhvVT9UA6g2E52IZFEcSaRNB/A1rlujzv2O8pDpywwDc=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '7Hd1KaSg2/+knE6YgAjMBeSL9YZTDg8mhvVT9UA6g2E52IZFEcSaRNB/A1rlujzv2O8pDpywwDc=',
    'x-amz-request-id': 'TSJ9E31TGV4Q51BY',
    'date': 'Wed, 06 Apr 2022 16:23:46 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_7f714072-94a4-4353-995f-55660a867518',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'pb9mc3FPfRUoAvAw2wI36j0k6CIZVDf7'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_2b354396-5aee-43e0-8033-02434098502f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TMD79xQPJbpJcQt2kPDH17n6wGIvDXHC'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_ede83172-b3b0-4fa1-bac0-6866aa897c52',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vx3yFV6QXddtIXeHYPR9KRjBToRzCQc9'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_8d9b345c-2a99-4ec6-b21b-475410713222',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mKKa5txIB0_IqZjQQBIT20p1UlU4YG8y'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_5d7c83eb-49dd-4152-8a26-66e189b7d580',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'J0BcGuFjVq1TiiH8lxQ9M5GTs2Sq0gHs'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_b3644943-398a-44ed-9547-51967f28d520',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'r7w9aBH4oYzbZi55CyHQdQ9v9an9xX.n'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_cb236698-fcea-4979-b84b-fd8496cb6b67',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'oKpEM9kFpyUo0LYHF36CyaSCumdfxzI3'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_22afc6ee-9810-4c2f-b122-ac35a6f1bd2a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'KAdziwy7VHf8ylv3aQJcdFkdE_WUMBNJ'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_7601297e-a611-405f-99e5-de26169e0630',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '3JyQ0_DW7fg78QQsQISx1k8Qqdwy6WsD'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_65639a3f-c9a7-4977-a692-0fd8f3196f3f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'IOARCxBI4qbHb655ljiq1ch4qMeY_AeF'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_291f5e9b-52f7-47b7-8626-77ba91ec8f8a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'JaT9Zg4RYXbqKTtTnGoqVeDFsP5wJ0ep'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_c3dcd6df-825c-43d4-90ed-685d01f6627d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'pxThpcfyKnRTMYf6dZLWkGvpZj.uPmQD'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_1aa56d9b-fd60-4362-98d7-53d9cb1e6f25',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'SeMfg3dkGH4zf0fOtvFq1Owsyq0REwkm'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_91c0298b-cbf9-4b27-8bbf-94bff7fbdf5d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'A_xWDCmcbMoDukvGF4lLBKYZ1sw6G4.D'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_85787f2e-c0b6-438d-80b9-9dde385115ec',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'DOLysPdO509BGFctwlUyJPXlUYL38G4L'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_5dbcb9f9-652b-4b22-9b62-cd58a83d70d7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'UFvzOw7iIAh8INp8RidamZOd1MVOb4vh'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_da05decb-a4b0-42be-b94a-2fa01ccf4a72',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '6kE0_LFegh1x4dw_Xr4UHORfgiCELoJJ'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_4cc9c335-a120-4205-b7d7-8cf07e50e84d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'uyd9IWY7GZFpgJS4CP3REJfpHY.5aEKR'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_9fa695f9-d1c1-4e85-baf1-6542a3d6aafe',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ycmhI.O88sKBcEvdrzwNA9si6ApkkyIr'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_17908bb0-4ee4-4466-8f29-ac9837c00c7a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5zmcccvKxFB7ICBd8FQNfWjSi0eetORp'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_674a3477-cc70-4435-880d-e8ffe94ad584',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'xlX.aWqq5sH1UHEiXTLxOKQnAa7lGkqA'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_75bc6483-c9a7-4440-81d2-31fff98d74d3',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'F8aRp0mFg1YvVaepRwYFwnWp3_kTDDeA'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_18baaf0c-62f6-4161-bc8f-60133fed1df2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'clbCXncucSeEFVRY6jm8XkOrCkM9u4mN'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_b5de8b05-2192-4637-ad34-d1b7a5d40bd0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'EJuFScZQhlaPrNShUreWhxhfgfWk_9hO'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_f5f59f00-1348-4d30-91e2-698133f2706e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'yAfmaRrB0iLxxnH0iadjge9O1QLOJ8PL'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_65000074-8a0d-4be1-87aa-7aa42f70b988',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9ChXrKEU39N9xmEJM.2pzuuBSi.OmLkh'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_e3183fcc-c4b9-4f4e-ab00-05013033e028',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ouLdjjOdpSmPDL2Gt5yuvt3Fw1tVpC.x'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_d38e6cba-e3c8-4149-a619-2846da48309e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GixccqgnC2__v9r0OkBG2VJEMYSGB7Sk'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_476603a1-ff34-4227-ad7b-2ca81221da31',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'fPMk5lGt2Sx05ScSJGSF3udUdKxBy3J5'},
   {'Key': 'fcsq_processing/Adoption/adopt_applications_data_sorted/20220406_154629_00012_dh4qi_ca777833-8cb1-4439-98d0-83d1514d14f1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '545jh5QVf2GEw3wyivnK9L9fWffD4bpT'}]}]

### Create the adopt_applications_data_sorted table in Athena

In [3]:
create_adopt_applications_data_sorted = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_applications_data_sorted
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_applications_data_sorted') AS
SELECT * FROM
fcsq.adopt_application_5
ORDER BY 
CASE_NUMBER, APP_DATE
"""

pydb.start_query_execution_and_wait(create_adopt_applications_data_sorted)

{'QueryExecutionId': '0fb4db2d-7d7f-44fd-bf52-8ea922c3b843',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_applications_data_sorted\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_applications_data_sorted') AS\nSELECT * FROM\nfcsq.adopt_application_5\nORDER BY \nCASE_NUMBER, APP_DATE",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/0fb4db2d-7d7f-44fd-bf52-8ea922c3b843'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 23, 47, 847000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 23, 50, 605000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2591,
  'DataScannedInBytes': 2392569,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/0fb4db2d-7d7f-44fd-bf52-8ea922c3b843-manifest.csv',
  'TotalExecutionTimeInMillis': 2758,
  'QueryQueueTimeInMillis': 122,
  'QueryPlanningTimeInMillis': 115,
  'ServiceProcessingTimeInMillis': 45},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_applications_data_sorted validation

In [4]:
adopt_applications_data_sorted_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_applications_data_sorted")
adopt_applications_data_sorted_count

    count
0  175169

## Create temporary tables

In [5]:
create_adopt_applications_1 = f"""
SELECT *, row_number() over (order by CASE_NUMBER, APP_DATE) as SEQ_NUM
FROM fcsq.adopt_applications_data_sorted
"""
pydb.create_temp_table(create_adopt_applications_1,'adopt_applications_1')

create_adopt_applications_2 = f"""
SELECT DISTINCT case_number, app_type, min(seq_num) as min_of_seq_num
FROM __temp__.adopt_applications_1 GROUP BY case_number, app_type
"""
pydb.create_temp_table(create_adopt_applications_2,'adopt_applications_2')

create_adopt_applications_3 = f"""
SELECT
    t1.case_number,
    t2.App_date,
    t2.year,
    t2.quarter,
    t2.court,
    t2.app_type,
    t2.Case_app_type, 
    t2.Adoption, 
    t2.Contested, 
    t2.Standard, 
    t2.Convention, 
    t2.Foreign, 
    t2.Placement, 
    t2.Placement_revoke_or_vary, 
    t2.Contact_s26, 
    t2.Contact_s26_revoke_or_vary, 
    t2.Change_surname, 
    t2.Remove_child_from_UK, 
    t2.Other_order_type, 
    t2.Adoption_Cases, 
    t2.Non_Adoption_Cases
FROM __temp__.ADOPT_APPLICATIONS_2 t1 LEFT JOIN
__temp__.ADOPT_APPLICATIONS_1 t2 ON (t1.MIN_of_seq_num = t2.Seq_Num)
"""
pydb.create_temp_table(create_adopt_applications_3,'adopt_applications_3')

## adopt_orders_data_sorted table

### Drop the adopt_orders_data_sorted table if it already exists and remove its data from the S3 bucket

In [6]:
drop_adopt_orders_data_sorted = f"""
DROP TABLE IF EXISTS fcsq.adopt_orders_data_sorted;
"""
pydb.start_query_execution_and_wait(drop_adopt_orders_data_sorted)

# clean up previous adopt_orders_data_sorted files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_orders_data_sorted/").delete()

[{'ResponseMetadata': {'RequestId': 'FAQK9BZ57N16Y8EM',
   'HostId': 'ft2WigBnI1RaYR3mc30NWQPUv6wuUpAE/A27qWRuw++41n5wIRo/lR1qQFBrOJYxr3RCAeEowemXuaKo+KRo1g==',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'ft2WigBnI1RaYR3mc30NWQPUv6wuUpAE/A27qWRuw++41n5wIRo/lR1qQFBrOJYxr3RCAeEowemXuaKo+KRo1g==',
    'x-amz-request-id': 'FAQK9BZ57N16Y8EM',
    'date': 'Wed, 06 Apr 2022 16:24:25 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_57d2365c-5faf-469d-88cc-c1e9475ce76d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Igi8ust1USPdl4MpRctTut5hSMkjVnoW'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_18c8900b-a47b-4b1f-956d-4d5164b3d0e3',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QXd9tstm4wI1S1b9hEn.TF5_0cCrAyC0'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_618aefd2-9f73-4f8c-9475-0967cef5aac1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QIcyApbSHi1SGeHG_5I4t5BxS2c8k_wl'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_5152485e-997d-408c-82fc-d8692791a7bb',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'jvaEqPSRSbmElTZutfdaPHmws8H5rlQv'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_9931e892-1439-430e-afe5-c883ff8d0a3f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Xx3FWFhmGoR4JGq9GHohmqCj79.YLZUJ'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_ca12b990-3391-46da-8cff-c906c7e32b66',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'xedriRdtYL6bKgnqHvgPpNNP6wu3kjX2'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_cfaf5fdc-cd10-42f8-8f85-e761c25a4065',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'h0ALKD_aqZTjIwNAUNLq0Uhq0Xn6QarI'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_6da09295-54c1-4639-a9e9-c6c46e001085',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tus89GPJ26AVBW9GNZcq.3cAqk_.7qUD'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_08669ac1-491a-49bc-bff4-3216e2619743',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'itYVfFx8MJl.TAZh_5OnhLkWgv2Y87tD'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_08459d50-6403-4961-b9b7-b700039589cd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'RXvNZjwfYGIFhWpdRUpK4ydcbZJr1DCm'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_231e5d25-639e-4d16-b962-182bc755e0f8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.yFKAkDkIFBDKIgbFQafrZbW9Cs.EtqN'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_c21b3a28-62c9-4581-8bab-180988fe9405',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vRL8xD2b1oM7wHmQsMGVoksKF2rBVHjF'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_c741da6e-9068-4bbc-8467-f2739730ce7f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ZjDX5nRutmbMpkVrFGkT.yYCvyHLRzc7'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_6c608d1f-cb14-4722-8114-1b8c5a44b1d2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'MC901H1N6bEcNaCD7j.qFNc9GefMgkmm'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_e3050996-3380-456a-b399-b26d181578b6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CzQPNjI_INcHMBMYlf_wkuo5KHuQh8Bu'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_be58d1c1-9637-4c19-9dc2-e0ecc5b36a9b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'x1RkQqRhfvZ1D9MRrn7zpgu18xagiQ7k'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_2e25079c-e152-4847-9199-d72932f80582',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OBToGM0g7ZmMFSaXXdCAAiN7rt8d5Chh'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_b0f361a2-cf17-4fd2-9448-93d404487c5e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'nfqcSxaUTfSdjppN4RTJbgp0Gp9ZQW7g'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_200da2bc-46b7-47bf-b555-23555c5dd578',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '3USukC1NhwjXfzp5DiBdOI6VZgMqXgJT'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_1d7afd09-c412-48f4-b7da-3fe133dfbae1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'k6ln3T_vogGHDDxbZ_dk1ITMfCO.QRdH'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_c28d021f-a862-4459-9ba6-ea5ff65504ad',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'udlgsrPHbkcHUA3_VeTU8oBzQdloPxwQ'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_21f72a16-0ba9-49b0-a071-1ce56eb7c4dd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YhaOLGUzZq_8WZxy8tqK2AgIR6.x3mP6'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_810c8680-cb40-4f75-b675-5be4e4f7efb0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2xLJozObbCvvuzUyILiq83q5TXyh6gEB'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_69708fe5-6a8a-4727-8eee-85f4fdad8213',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 's3gqoGpPEyPhkursn6uuxokJkVP5kWZB'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_ada80a8e-479f-4541-b2ed-c73bec53037f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bqJWn2MhGZQMuvEohoBofUIVO4rF87mO'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_0188a637-409d-4a97-b579-a1272539ff96',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'p8Y0abe5yL8BPJp1AgPzTbMPrMr35xzr'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_93820276-9404-4fb4-ba41-a96849c00eab',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Awgb3wbc6qpB7erVAlrB_wgu_2z6Kp.k'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_2259e5d9-9e19-4fc5-ab26-4edbd6fc0c5c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0dGLiezSriqYPNEa07B0RA5Q5Tinwi8o'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_8a00cb83-a2ee-4b90-9c84-0cf3da75f253',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '3XNaTXjO4HqwIhn0mIPosy6oa08C0f_O'},
   {'Key': 'fcsq_processing/Adoption/adopt_orders_data_sorted/20220406_154709_00045_mqd5q_71be7e87-4f9e-476d-b481-f7252b96266a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'NU0PNn93lAjJC8wX6U8RvniYmsNIza_7'}]}]

### Create the adopt_orders_data_sorted table in Athena

In [7]:
create_adopt_orders_data_sorted = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_orders_data_sorted
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_orders_data_sorted') AS
SELECT * 
FROM fcsq.adopt_disposals5 t1
    WHERE t1.Type != 'Contact_s26' AND t1.Type != 'Contact_s26_revoke_or_vary' AND t1.Type != 
        'Placement_revoke_or_vary' AND t1.Type != 'Other_order_type'
    ORDER BY t1.CASE_NUMBER, t1.Receipt_date;
"""
pydb.start_query_execution_and_wait(create_adopt_orders_data_sorted)

{'QueryExecutionId': 'fc08734a-7063-48a7-9558-f2845830c5bd',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_orders_data_sorted\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_orders_data_sorted') AS\nSELECT * \nFROM fcsq.adopt_disposals5 t1\n    WHERE t1.Type != 'Contact_s26' AND t1.Type != 'Contact_s26_revoke_or_vary' AND t1.Type != \n        'Placement_revoke_or_vary' AND t1.Type != 'Other_order_type'\n    ORDER BY t1.CASE_NUMBER, t1.Receipt_date",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/fc08734a-7063-48a7-9558-f2845830c5bd'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 24, 27, 727000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 24, 31, 115000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 3210,
  'DataScannedInBytes': 1800827,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/fc08734a-7063-48a7-9558-f2845830c5bd-manifest.csv',
  'TotalExecutionTimeInMillis': 3388,
  'QueryQueueTimeInMillis': 140,
  'QueryPlanningTimeInMillis': 114,
  'ServiceProcessingTimeInMillis': 38},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_orders_data_sorted validation

In [8]:
adopt_orders_data_sorted_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_orders_data_sorted")
adopt_orders_data_sorted_count

    count
0  150507

## Create temporary tables

In [9]:
"""
NOTE, WHERE clause usually references DATE_DIFF variable, this isn't working so far so just 
copied the creation of date_diff into the where clause
"""

create_adopt_orders_0 = f"""
SELECT t1.CASE_NUMBER, 
          t1.Court, 
          t1.Year, 
          t1.Quarter, 
          t2.App_type, 
          t2.App_date, 
          t1.Receipt_date AS Disp_Date, 
          t1.EVENT_MODEL, 
          t1.FIELD_MODEL, 
          t1.Order_type, 
          t1.Country_of_birth, 
          t1.Number_applicants, 
          t1.Adopter_type, 
          t1.Adopter, 
          t1.Child_sex, /*Changed this from child_sex2 as the process has changed, check to see if an error comes up*/ 
          t1.Age_band, 
          t1.Child_age, 
          t1.Adoption, 
          t1.Type, 
          t1.Adopter_2, 
          DAY(t1.Receipt_date -t2.App_date) as DATE_DIFF
      FROM fcsq.ADOPT_ORDERS_DATA_SORTED t1
           INNER JOIN __temp__.ADOPT_APPLICATIONS_3 t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER)
                 WHERE (DAY(t1.Receipt_date -t2.App_date)) >= 0;
"""
pydb.create_temp_table(create_adopt_orders_0,'adopt_orders_0')

create_adopt_orders_1 = f"""
   SELECT t1.CASE_NUMBER, 
          t1.Court, 
          t1.Year, 
          t1.Quarter, 
          t1.App_type, 
          t1.EVENT_MODEL AS Disp_Type, 
          t1.App_date, 
          t1.Disp_Date, 
          t1.FIELD_MODEL, 
          t1.Order_type, 
          t1.Number_applicants, 
          t1.Child_sex, /*Changed this from child_sex2 as the process has changed, check to see if an error comes up*/ 
          t1.Adoption, 
          t1.Type, 
          row_number() over (order by CASE_NUMBER,App_type,App_date) as Seq_no
      FROM __temp__.ADOPT_ORDERS_0 t1
      ORDER BY t1.CASE_NUMBER,
               t1.App_type,
               t1.App_date;
"""

pydb.create_temp_table(create_adopt_orders_1,'adopt_orders_1')

create_adopt_orders_2 = f"""
SELECT DISTINCT CASE_NUMBER, 
          App_type, 
          App_date, 
        (MIN(Seq_No)) AS MIN_of_Seq_No
      FROM __temp__.ADOPT_ORDERS_1 t1
      GROUP BY CASE_NUMBER,
               App_type,
               App_date;
"""

pydb.create_temp_table(create_adopt_orders_2,'adopt_orders_2')

create_adopt_orders_3 = f"""
   SELECT DISTINCT t1.CASE_NUMBER, 
          t1.App_type, 
          t2.Court, 
          t1.App_date, 
          t2.Disp_Date, 
          t2.Disp_Type, 
          t2.Year, 
          t2.Quarter, 
          t2.Order_type, 
          t2.Adoption, 
          t2.Type
      FROM __temp__.ADOPT_ORDERS_2 t1
           LEFT JOIN __temp__.ADOPT_ORDERS_1 t2 ON (t1.MIN_of_Seq_No = t2.Seq_No);
"""
pydb.create_temp_table(create_adopt_orders_3,'adopt_orders_3')

## adopt_apps_and_orders_match table

### Drop the adopt_apps_and_orders_match table if it already exists and remove its data from the S3 bucket

In [10]:
drop_adopt_apps_and_orders_match = f"""
DROP TABLE IF EXISTS fcsq.adopt_apps_and_orders_match;
"""
pydb.start_query_execution_and_wait(drop_adopt_apps_and_orders_match)

# clean up previous adopt_apps_and_orders_match files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/").delete()

[{'ResponseMetadata': {'RequestId': 'M6HZKN7WT0JC8J8V',
   'HostId': 'YqOcE60nL4W6qV+a7UO/uDYIJ/q5Yu2WzZCJpcsoq+6MRC9h+rlBjpy1yBjTolZU7yt81Y+OWl0=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'YqOcE60nL4W6qV+a7UO/uDYIJ/q5Yu2WzZCJpcsoq+6MRC9h+rlBjpy1yBjTolZU7yt81Y+OWl0=',
    'x-amz-request-id': 'M6HZKN7WT0JC8J8V',
    'date': 'Wed, 06 Apr 2022 16:25:14 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_0e8b0b27-afcd-403e-ba59-0175d3b315fc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'EnoHKy1gZ7HaoBnxc0cBlEQiZikrfxxi'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_f8048a7a-052a-4a75-bf57-ceb636bcb6eb',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TTabNr8x_vGGUJODyd7G5H_nnIMZvdLI'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_4d6f82be-c39b-406b-9605-9998b1b0ea4a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ygophD6i5VvJi3UFMYJUVB65k12Prw.k'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_1237488e-3214-4c8e-8e9f-a8666a48a0b2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'w4gfXDC8gNdET3dzrURydVv3TgK8wJ2f'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_1dfc8b38-0145-484f-afd8-9ddc8cca44fd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'v2VdWpfoYJXOm32GYDg.Mtpj5xfIuVso'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_4516320d-39fc-4a08-ad5d-e42c35c7cbd0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YFS3DRsd5bgbweQSrZtNM8o51n9gsWhm'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_2848d402-f22b-4f89-a95f-c8b877bd3a36',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Xbkeq2.FKrXwjbEBRV6hM4IJp6Xs7nQC'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_913905e9-52eb-4caa-87fe-16bd74bbe41e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7i.Mi4tmXhfbQy_Mv99Q.sPpt.GC_HMg'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_b38b6350-68dd-4c57-bb84-d4ad15dbd9fc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ECv_mLdnOHLeixR5I9VnMio4suQOTep6'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_43f26101-29d9-44f1-a477-e24c54df0f4d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Wscgp0BLI_1tmyb1awb0X674mN7cMDYK'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_b39ccd38-414a-4f2f-8fb8-22655deee9c6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bzgLLKSfABHvn2C9CAMP74y_rPLSNAwP'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_d9c6ab26-e90e-454b-a159-194dcf732e4d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YPtemwXbLtbY5SYi.oyqNxKC6JvkTCFq'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_877dc37a-9552-4372-8a2e-1203d37a22bd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zGYUgQVF9ZDi2jpAKNbX6LjInrS.B2sw'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_0af896e5-09bb-4cb7-86c2-2a57d5f861ed',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_pzLYYtXw7KqTA4W_fEHCzyP1p9VygPZ'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_a57fad3f-d5c2-4548-bdad-57a2090c6115',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'MUjwPmQ1BltI9L_vmbrI27LZASoddj83'},
   {'Key': 'fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH/20220406_155235_00059_qk5va_ef5d1135-f4b6-4334-a005-adbcceebd25b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8Dbxdlrhnoq66dIuCNcCH2q5lP9GAX8T'}]}]

### Create the adopt_apps_and_orders_match table in Athena

In [11]:
create_adopt_apps_and_orders_match =f"""
CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPS_AND_ORDERS_MATCH
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH') AS
   SELECT t2.CASE_NUMBER, 
          t2.App_type, 
          t2.Court, 
          t2.App_date, 
          t2.Disp_Date, 
          /* Wait_weeks */
            (DAY(t2.Disp_Date-t2.App_date)/7) AS Wait_weeks, 
          t2.Disp_Type, 
          t2.Year, 
          t2.Quarter, 
          t2.Order_type, 
          t2.Adoption, 
          t2.Type, 
          /* DSP_COURT */
         /*(INPUT(t2.Court, 3.0)) AS DSP_COURT*/ /*This line used to reformat to number but new SQL input is already number so can delete if 
		  															 everything works with the new line below*/
		  t2.Court AS DSP_COURT
      FROM __temp__.ADOPT_ORDERS_3 t2;


"""
pydb.start_query_execution_and_wait(create_adopt_apps_and_orders_match)

{'QueryExecutionId': 'd89a610e-84e7-44ab-a746-5fc2871858f1',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.ADOPT_APPS_AND_ORDERS_MATCH\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/ADOPT_APPS_AND_ORDERS_MATCH') AS\n   SELECT t2.CASE_NUMBER, \n          t2.App_type, \n          t2.Court, \n          t2.App_date, \n          t2.Disp_Date, \n          /* Wait_weeks */\n            (DAY(t2.Disp_Date-t2.App_date)/7) AS Wait_weeks, \n          t2.Disp_Type, \n          t2.Year, \n          t2.Quarter, \n          t2.Order_type, \n          t2.Adoption, \n          t2.Type, \n          /* DSP_COURT */\n         /*(INPUT(t2.Court, 3.0)) AS DSP_COURT*/ /*This line used to reformat to number but new SQL input is already number so can delete if \n\t\t  \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t everything works with the new line below*/\n\t\t  t2.Court AS DSP_COURT\n      FROM mojap_de_temp_alpha_user_thomasauburnmoj.ADOPT_ORDERS_3 t2",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/d89a610e-84e7-44ab-a746-5fc2871858f1'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 25, 15, 887000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 25, 17, 858000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1792,
  'DataScannedInBytes': 2602885,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/d89a610e-84e7-44ab-a746-5fc2871858f1-manifest.csv',
  'TotalExecutionTimeInMillis': 1971,
  'QueryQueueTimeInMillis': 153,
  'QueryPlanningTimeInMillis': 117,
  'ServiceProcessingTimeInMillis': 26},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### ADOPT_APPS_AND_ORDERS_MATCH validation

In [12]:
adopt_orders_data_sorted_count = pydb.read_sql_query("select count(*) as count from fcsq.ADOPT_APPS_AND_ORDERS_MATCH")
adopt_orders_data_sorted_count

    count
0  147875

In [13]:
create_adopt_case_data_v1 = f"""
SELECT T1.YEAR,
            T1.QUARTER,
            T1.COURT,
            T1.CASE_NUMBER,
            T1.APP_TYPE,
            T1.CASE_APP_TYPE,
            T1.ADOPTION,
            T1.HIGH_COURT,
            T1.CONTESTED,
            T1.NUMBER_APPLICANTS,
            T1.ADOPTER_TYPE,
            date_format(T1.APP_DATE,'%d-%m-%Y') AS APP_DATE2
    FROM fcsq.adopt_apps_6_adoptions_only AS t1
    ORDER BY case_number, app_date2, court;
    
"""

create_adopt_case_data_v2 = f"""
SELECT *,(case when row_number() over (partition by case_number order by 
        APP_DATE2) = 1 then 1 else 0 end) as case_number_id
FROM __temp__.adopt_case_data_v1
"""

create_adopt_case_data_v3 = f"""
SELECT *
FROM __temp__.adopt_case_data_v2
where case_number_id = 1 and year > 2010;
"""
pydb.create_temp_table(create_adopt_case_data_v1,'adopt_case_data_v1')

pydb.create_temp_table(create_adopt_case_data_v2,'adopt_case_data_v2')
pydb.create_temp_table(create_adopt_case_data_v3,'adopt_case_data_v3')

In [14]:
adopt_case_data_v3_check = "SELECT COUNT(*) as Count from __temp__.adopt_case_data_v3"
pydb.start_query_execution_and_wait(adopt_case_data_v3_check)

{'QueryExecutionId': 'f50aa850-6421-4400-bab1-da32bb59d0bd',
 'Query': 'SELECT COUNT(*) as Count from mojap_de_temp_alpha_user_thomasauburnmoj.adopt_case_data_v3',
 'StatementType': 'DML',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/f50aa850-6421-4400-bab1-da32bb59d0bd.csv'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 25, 48, 453000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 25, 49, 207000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 532,
  'DataScannedInBytes': 0,
  'TotalExecutionTimeInMillis': 754,
  'QueryQueueTimeInMillis': 171,
  'QueryPlanningTimeInMillis': 76,
  'ServiceProcessingTimeInMillis': 51},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

## Applicant_Info table

### Drop the Applicant_Info table if it already exists and remove its data from the S3 bucket

In [15]:
drop_Adopt_Applicant_Info = f"""
DROP TABLE IF EXISTS fcsq.Adopt_Applicant_Info;
"""
pydb.start_query_execution_and_wait(drop_Adopt_Applicant_Info)

# clean up previous Adopt_Applicant_Info files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_Applicant_Info/").delete()

[{'ResponseMetadata': {'RequestId': 'RAV0AXVAZ50J4K1Q',
   'HostId': 'cIobBfASdz4XFmtPcKDev5tUgPkfI4JfVeHM84O8y9u0R1cvG2kKx396ITK+inZfmvdgIHrDdcc=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'cIobBfASdz4XFmtPcKDev5tUgPkfI4JfVeHM84O8y9u0R1cvG2kKx396ITK+inZfmvdgIHrDdcc=',
    'x-amz-request-id': 'RAV0AXVAZ50J4K1Q',
    'date': 'Wed, 06 Apr 2022 16:25:53 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_98f32b66-33cd-4f93-b345-65fac5e327ba',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WE5YhRh6NNGZDqe7p7GzDLlxhsWl1Bvr'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_9eb205ee-f4cc-4ca5-aab9-513967b23876',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'oU0oInmYZSAXDaquez829plcICMec75_'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_d9a12334-5c88-4cfb-8264-07ed85d28ac2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'LJNuEIn8bQm5hniHokM.cBpauzzHSzWx'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_09fe9190-10c3-4a1f-8d89-dfcc6f27c090',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'IwNuTjwf3Hx_dl8frA3xjdXmjYyUSc3p'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_70a15738-b20d-40a2-8a4b-5e72e05a0c23',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'D4Fl1qUfbPAiXT.ApFzlVMBDI37qInbD'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_08d98311-08f7-4108-aec4-149e97abc75e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '6fPvCEvHIV_n4EMGD0FLwRnXZCZrd.pm'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_a5daec97-ac69-4880-872b-3e70fd3d6d89',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BSD12chNvf5NQzRRTPOkk33.kcmpuFX7'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_8f4643f0-f9d4-4cdb-bebd-4258ef1aa7af',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'intK8XMzUUbezO6GDVjQCnxut8RyFcJ5'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_3ec6b34c-51c3-44e8-a16e-42d58c1f2ff8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Fg_HaIQd7ll7Z1INB1IVNe4KAUXwfuab'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_5529b3ad-056f-4974-b3d9-ed5d0560d31d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'SQUtj7JD6drNBXb4vwJHCQkjONkDmVl4'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_5fa52cbb-8521-4140-a2e7-d310b23b6f4e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'eeheF.HLxH.kz2IR8SXVEki7x6HJeNek'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_e68cb7d5-52e9-4e8e-80df-032f7950cbab',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GZV0kV3KfiZz56EtNuel0YMgjmszpveT'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_7a8c013d-9f4a-4a25-b4f5-a9fe6b7b8ca0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'qX3vn5A_C1tEAHnlU3I2Ogr3D9r2xATL'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_b156cbb6-7e06-45f2-a5fc-4986e65f13c2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FHjkbY8k0IScfnaWCeL1H6Zd3Pr6Ct1q'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_9a0919d0-ba6e-4633-98f3-fb3d68a2f703',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ZXJujlRlLFmXRFpAenEq5BjmTJ0rAbSQ'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_c278a256-cc45-4347-af41-c9ba5b8bcd36',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8XM957No5PQFEue.cJI5J4cJi0RqqZaG'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_3f8c8b33-c409-4a89-8258-d5d7bba21eea',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BNzL92sxa4H2OyQU2HNYKQ2KRW.DfKCq'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_2896b845-b0ad-40e8-a719-87221b974941',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0cemAoWQZoMtYZ0_1_oYDrwSRVCMKdRN'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_5148fa68-6a62-44b8-8bc6-23f604b4596c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ATfazqxqalxA0NPosHyNiC0WlwXeM7kF'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Applicant_Info/20220406_155406_00065_p6897_30c02958-a579-4470-8161-2cafd194313f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '4eGpMjLm..KP8zAjaXu6ktdic6xM_LvA'}]}]

### Create the Applicant_Info table in Athena

In [16]:
create_Adopt_Applicant_Info = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_Applicant_Info
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Applicant_Info') AS
 SELECT DISTINCT
   {database}.roles.ROLE, 
   {database}.roles.REPRESENTATIVE_ROLE, 
   {database}.roles.ROLE_MODEL, 
   {database}.roles.PARTY, 
   {database}.roles.CASE_NUMBER, 
   {database}.parties.PERSON_GIVEN_FIRST_NAME, 
   {database}.parties.PERSON_FAMILY_NAME, 
   {database}.parties.COMPANY, 
   {database}.addresses.POSTCODE, 
   {database}.parties.GENDER, 
   {database}.roles.DELETE_FLAG
FROM 
  ({database}.roles INNER JOIN {database}.parties ON {database}.roles.PARTY = {database}.parties.PARTY) 
  LEFT JOIN {database}.addresses ON {database}.roles.ADDRESS = {database}.addresses.ADDRESS
WHERE 
    ((({database}.roles.ROLE_MODEL)= 'APLZ') AND (({database}.roles.DELETE_FLAG)= 'N')) 
    OR ((({database}.roles.ROLE_MODEL)= 'APLA') AND (({database}.roles.DELETE_FLAG)= 'N'))
    AND {database}.roles.mojap_snapshot_date = date '{snapshot_date}'
    AND {database}.parties.mojap_snapshot_date = date '{snapshot_date}'
    AND {database}.addresses.mojap_snapshot_date = date '{snapshot_date}';
"""

pydb.start_query_execution_and_wait(create_Adopt_Applicant_Info)

{'QueryExecutionId': '968b9782-d89e-4912-8447-ac05a0c85f4d',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adopt_Applicant_Info\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Applicant_Info') AS\n SELECT DISTINCT\n   familyman_dev_v2.roles.ROLE, \n   familyman_dev_v2.roles.REPRESENTATIVE_ROLE, \n   familyman_dev_v2.roles.ROLE_MODEL, \n   familyman_dev_v2.roles.PARTY, \n   familyman_dev_v2.roles.CASE_NUMBER, \n   familyman_dev_v2.parties.PERSON_GIVEN_FIRST_NAME, \n   familyman_dev_v2.parties.PERSON_FAMILY_NAME, \n   familyman_dev_v2.parties.COMPANY, \n   familyman_dev_v2.addresses.POSTCODE, \n   familyman_dev_v2.parties.GENDER, \n   familyman_dev_v2.roles.DELETE_FLAG\nFROM \n  (familyman_dev_v2.roles INNER JOIN familyman_dev_v2.parties ON familyman_dev_v2.roles.PARTY = familyman_dev_v2.parties.PARTY) \n  LEFT JOIN familyman_dev_v2.addresses ON familyman_dev_v2.roles.ADDRESS = familyman_dev_v2.addresses.ADDRESS\nWHERE \n    (((familyman_dev_v2.roles.ROLE_MODEL)= 'APLZ') AND ((familyman_dev_v2.roles.DELETE_FLAG)= 'N')) \n    OR (((familyman_dev_v2.roles.ROLE_MODEL)= 'APLA') AND ((familyman_dev_v2.roles.DELETE_FLAG)= 'N'))\n    AND familyman_dev_v2.roles.mojap_snapshot_date = date '2021-08-19'\n    AND familyman_dev_v2.parties.mojap_snapshot_date = date '2021-08-19'\n    AND familyman_dev_v2.addresses.mojap_snapshot_date = date '2021-08-19'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/968b9782-d89e-4912-8447-ac05a0c85f4d'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 25, 54, 950000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 26, 29, 946000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 34843,
  'DataScannedInBytes': 13627760989,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/968b9782-d89e-4912-8447-ac05a0c85f4d-manifest.csv',
  'TotalExecutionTimeInMillis': 34996,
  'QueryQueueTimeInMillis': 106,
  'QueryPlanningTimeInMillis': 1434,
  'ServiceProcessingTimeInMillis': 47},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Applicant_Info validation

In [17]:
Adopt_Applicant_Info_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_Applicant_Info")
Adopt_Applicant_Info_count

    count
0  252248

## adopt_respondent_info table

### Drop the adopt_respondent_info table if it already exists and remove its data from the S3 bucket

In [18]:
drop_adopt_respondent_info = f"""
DROP TABLE IF EXISTS fcsq.adopt_respondent_info;
"""
pydb.start_query_execution_and_wait(drop_adopt_respondent_info)

# clean up previous adopt_respondent_info files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_respondent_info/").delete()

[{'ResponseMetadata': {'RequestId': 'F0XT29FKK8KQ5HE0',
   'HostId': 'xpmXVpcmN/kXt4//AI+WvIeuZygqchRRWjsPmeLLQ/Md5XiuuF4aOKAa6asXOGuz+e0UQbLdUL0=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'xpmXVpcmN/kXt4//AI+WvIeuZygqchRRWjsPmeLLQ/Md5XiuuF4aOKAa6asXOGuz+e0UQbLdUL0=',
    'x-amz-request-id': 'F0XT29FKK8KQ5HE0',
    'date': 'Wed, 06 Apr 2022 16:26:39 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_79c47c3a-9b4f-4da0-bdcf-85d8cfbccb89',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'KZh1y1T5BDUsnpYwdHqZpcKqC9xVVVWB'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_df9c9a53-1fd9-4276-930b-e689c66c24f2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zKe6W2irsdN9mbOUdrAmQI9I7RZ1mPBM'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_bd46b290-a002-4060-a31a-b1145cf82d0a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ABdQ91ioepNB8V4YsQ7imZkyusHNr5ZF'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_e2a5b536-260e-49d5-b8ab-0bae49c5700a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ggm.DjUyDa5t.UHMdv4VAJcsSiWJjTyq'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_a4662e7e-6f20-44b6-8410-ac44aa1a5ab9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'UAsE8jqf2nY4lOtjT2MUGpRLbalqQQFw'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_6329924e-ac5d-46f1-9da2-1a224786b84e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'UsJ7uxUd0n6hq_3boxSXEzyA5LW_d8WA'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_1844ae6d-9022-4a1b-87b2-15d8b5e35681',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'W4g0LYYfOyV.gFBOuDEPOt3lI0AcaoLh'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_54a11c8e-6408-4a0c-a1aa-e8c3b2419620',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QAQceiMsbVWr.i13_0MhkSqa4JhKsHS7'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_76c508a7-c1f4-4e05-9155-591ca8f9f4dd',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0w.pDT1iIhPZJa3yWIHULb6wjDx.ko8D'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_977e4a6c-bb26-4925-a9f7-d227f856e035',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'aQoDHRFQI13FZP4r77WzkXCVrHA_sgVf'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_4c09b85e-6ece-440b-b679-ad250a386ccf',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'PhJyhj5c4bObk7FMSPbg.J9XVBIpSCJr'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_d3eca508-c741-44ea-91e8-bc95ed7bebb7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'i0K.w23J6SSgzBct9FBDwPqGN5obpgkf'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_e8a7b4c8-53b2-47b0-a017-494ca0ac6e79',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7mkQop53VYKcq501YD69GwhmK_2uiD3V'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_4a5bf956-096a-4114-82a9-9973dccaa153',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'omcY5ibOapMYmMGsf86DSe0nqWbR3u9Y'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_9b7794ea-2945-4bba-b60e-1803d6122953',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FZmh.CA2JV_D0fRKZuFehzrHv8LkxFdV'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_ed2ee003-8dff-4f41-970b-2492e6d3d803',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'N8DLwZksA08APXIvZh.EHZyFMQlv9JsI'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_f7bbe129-43c7-40c8-9575-882091fa81ae',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_CO_uxZzUOUmYS0q8C8OY6E7hXBZhH7G'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_af786f45-6886-4f29-bf6a-bf162d8593d2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'epeB.iSMRnaEUVyBt5FOXcIpgNzIwZYF'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_7f4b1ef5-6fef-4a98-8300-2c86df77fd50',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CNA_u2U8rXZV9yBFJ2E046wrIF.PewjV'},
   {'Key': 'fcsq_processing/Adoption/adopt_respondent_info/20220406_155455_00015_ebhc7_91f6eff6-7b37-47f4-a6cb-57471cf218c4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tEKNiSOCQFXok4qL_CZN.S3.uWSP41BL'}]}]

### Create the adopt_respondent_info table in Athena

In [19]:
create_adopt_respondent_info = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_respondent_info
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_respondent_info') AS
SELECT DISTINCT
  {database}.roles.ROLE, 
  {database}.roles.REPRESENTATIVE_ROLE, 
  {database}.roles.ROLE_MODEL, 
  {database}.roles.PARTY, 
  {database}.roles.CASE_NUMBER, 
  {database}.parties.GENDER, 
  {database}.addresses.POSTCODE, 
  {database}.roles.DELETE_FLAG
FROM 
  ({database}.roles INNER JOIN {database}.parties ON {database}.roles.PARTY = {database}.parties.PARTY) 
    LEFT JOIN {database}.addresses ON {database}.roles.ADDRESS = {database}.addresses.ADDRESS
WHERE 
    ((({database}.roles.ROLE_MODEL)='RSPA') AND (({database}.roles.DELETE_FLAG)='N')) 
    OR ((({database}.roles.ROLE_MODEL)='RSPZ') AND (({database}.roles.DELETE_FLAG)='N'))
    AND {database}.roles.mojap_snapshot_date = date '{snapshot_date}'
    AND {database}.parties.mojap_snapshot_date = date '{snapshot_date}'
    AND {database}.addresses.mojap_snapshot_date = date '{snapshot_date}';
"""

pydb.start_query_execution_and_wait(create_adopt_respondent_info)

{'QueryExecutionId': '105423d9-581e-4f6c-8fdf-34a42b6001d1',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_respondent_info\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_respondent_info') AS\nSELECT DISTINCT\n  familyman_dev_v2.roles.ROLE, \n  familyman_dev_v2.roles.REPRESENTATIVE_ROLE, \n  familyman_dev_v2.roles.ROLE_MODEL, \n  familyman_dev_v2.roles.PARTY, \n  familyman_dev_v2.roles.CASE_NUMBER, \n  familyman_dev_v2.parties.GENDER, \n  familyman_dev_v2.addresses.POSTCODE, \n  familyman_dev_v2.roles.DELETE_FLAG\nFROM \n  (familyman_dev_v2.roles INNER JOIN familyman_dev_v2.parties ON familyman_dev_v2.roles.PARTY = familyman_dev_v2.parties.PARTY) \n    LEFT JOIN familyman_dev_v2.addresses ON familyman_dev_v2.roles.ADDRESS = familyman_dev_v2.addresses.ADDRESS\nWHERE \n    (((familyman_dev_v2.roles.ROLE_MODEL)='RSPA') AND ((familyman_dev_v2.roles.DELETE_FLAG)='N')) \n    OR (((familyman_dev_v2.roles.ROLE_MODEL)='RSPZ') AND ((familyman_dev_v2.roles.DELETE_FLAG)='N'))\n    AND familyman_dev_v2.roles.mojap_snapshot_date = date '2021-08-19'\n    AND familyman_dev_v2.parties.mojap_snapshot_date = date '2021-08-19'\n    AND familyman_dev_v2.addresses.mojap_snapshot_date = date '2021-08-19'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/105423d9-581e-4f6c-8fdf-34a42b6001d1'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 26, 41, 97000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 27, 10, 478000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 29196,
  'DataScannedInBytes': 10043394139,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/105423d9-581e-4f6c-8fdf-34a42b6001d1-manifest.csv',
  'TotalExecutionTimeInMillis': 29381,
  'QueryQueueTimeInMillis': 142,
  'QueryPlanningTimeInMillis': 1606,
  'ServiceProcessingTimeInMillis': 43},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_respondent_info validation

In [20]:
adopt_respondent_info_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_respondent_info")
adopt_respondent_info_count

    count
0  286085

## applicants 3 table

In [21]:
create_adopt_applicants_1 = f"""
SELECT 	T1.role,
    T1.representative_role,
    T1.role_model,
    T1.party,
    T1.case_number,
    T1.gender,
    case when cast(gender as varchar(1)) = '1' then 'Male'
    when cast(gender as varchar(1)) = '2' then 'Female'
    else 'Unknown' end as Gender_Decode

    FROM fcsq.adopt_applicant_info AS t1
    ORDER BY t1.Case_Number;
"""
#pydb.start_query_execution_and_wait(create_adopt_applicants_1)
pydb.create_temp_table(create_adopt_applicants_1,'adopt_applicants_1')



create_adopt_applicants_2 = f"""
SELECT DISTINCT 
    T1.case_number,
    T1.party,
    max(T1.representative_role) as Rep_Role,
    max(T1.gender_decode) as Gender_Max
    from __temp__.adopt_applicants_1 AS t1
    group by Case_number, party;
"""

pydb.create_temp_table(create_adopt_applicants_2,'adopt_applicants_2')
#pydb.start_query_execution_and_wait(create_adopt_applicants_2)


create_adopt_applicants_3= f"""
SELECT t1.case_number,
    t1.party as App_Party_ID,
    t1.Rep_Role,
    t1.Gender_Max,
    case when t1.Rep_Role IS NULL then 'N'
    when t1.Rep_Role IS NOT NULL then 'Y'
    End as REPRESENTATION,
    case when Rep_Role IS NULL AND Gender_Max = 'Female' then 'Unrep_Female'
    when Rep_Role IS NULL AND Gender_Max = 'Male' then 'Unrep_Male'
    when Rep_Role IS NULL AND Gender_Max = 'Unknown' then 'Unrep_Unknown'
    when Rep_Role IS NOT NULL AND Gender_Max = 'Female' then 'Rep_Female'
    when Rep_Role IS NOT NULL AND Gender_Max = 'Male' then 'Rep_Male'
    when Rep_Role IS NOT NULL AND Gender_Max = 'Unknown' then 'Rep_Unknown'
    else '' end as App_Rep_Cat
    
    from __temp__.adopt_applicants_2 AS t1;


"""
#pydb.start_query_execution_and_wait(create_adopt_applicants_3)
pydb.create_temp_table(create_adopt_applicants_3,'adopt_applicants_3')

In [22]:
pydb.read_sql_query("SELECT count(*) as count from __temp__.adopt_applicants_3")

    count
0  249953

In [23]:
create_adopt_respondents_1 = f"""
SELECT T1.role,
    T1.representative_role,
    T1.role_model,
    T1.party,
    T1.case_number,
    T1.gender,
    case when cast(gender as varchar(1)) = '1' then 'Male'
    when cast(gender as varchar(1)) = '2' then 'Female'
    else 'Unknown' end as Gender_Decode

    FROM fcsq.adopt_respondent_info AS t1
    ORDER BY t1.Case_Number;
"""
#pydb.start_query_execution_and_wait(create_adopt_respondents_1)
pydb.create_temp_table(create_adopt_respondents_1,'adopt_respondents_1')



create_adopt_respondents_2 = f"""
    SELECT DISTINCT T1.case_number,
        T1.party,
        max(T1.representative_role) as Rep_Role,
        max(T1.gender_decode) as Gender_Max
    from __temp__.adopt_respondents_1 AS t1
    group by Case_number, party;
"""

pydb.create_temp_table(create_adopt_respondents_2,'adopt_respondents_2')
#pydb.start_query_execution_and_wait(create_adopt_respondents_2)


create_adopt_respondents_3= f"""
SELECT t1.case_number,
    t1.party as Resp_Party_ID,
    t1.Rep_Role,
    t1.Gender_Max,
    case when t1.Rep_Role IS NULL then 'N'
    when t1.Rep_Role IS NOT NULL then 'Y'
    End as REPRESENTATION,
    case when Rep_Role IS NULL AND Gender_Max = 'Female' then 'Unrep_Female'
    when Rep_Role IS NULL AND Gender_Max = 'Male' then 'Unrep_Male'
    when Rep_Role IS NULL AND Gender_Max = 'Unknown' then 'Unrep_Unknown'
    when Rep_Role IS NOT NULL AND Gender_Max = 'Female' then 'Rep_Female'
    when Rep_Role IS NOT NULL AND Gender_Max = 'Male' then 'Rep_Male'
    when Rep_Role IS NOT NULL AND Gender_Max = 'Unknown' then 'Rep_Unknown'
    else '' end as Resp_Rep_Cat
    
    from __temp__.adopt_respondents_2 AS t1;


"""
#pydb.start_query_execution_and_wait(create_adopt_respondents_3)
pydb.create_temp_table(create_adopt_respondents_3,'adopt_respondents_3')

In [24]:
adopt_app_rep_final = f"""
SELECT t1.YEAR, 
    t1.QUARTER,
    t1.CASE_NUMBER, 
    t1.Court,
    t2.App_Party_ID,
    t2.Representation,
    t2.Gender_Max as App_Gender,
    t2.App_Rep_Cat          
FROM __temp__.ADOPT_CASE_DATA_v3 t1
    LEFT JOIN __temp__.ADOPT_APPLICANTS_3 t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER);

"""

pydb.create_temp_table(adopt_app_rep_final,'adopt_app_rep_final')

In [25]:
adopt_app_rep_final_check = "SELECT COUNT(*) as Count from __temp__.adopt_app_rep_final"
pydb.start_query_execution_and_wait(adopt_app_rep_final_check)

{'QueryExecutionId': 'bf1a7c3b-4e7f-48f9-9954-0dcf300432b9',
 'Query': 'SELECT COUNT(*) as Count from mojap_de_temp_alpha_user_thomasauburnmoj.adopt_app_rep_final',
 'StatementType': 'DML',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/bf1a7c3b-4e7f-48f9-9954-0dcf300432b9.csv'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 28, 22, 638000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 28, 23, 288000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 473,
  'DataScannedInBytes': 0,
  'TotalExecutionTimeInMillis': 650,
  'QueryQueueTimeInMillis': 140,
  'QueryPlanningTimeInMillis': 83,
  'ServiceProcessingTimeInMillis': 37},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

In [26]:
adopt_resp_rep_final = f"""
   SELECT t1.YEAR, 
        t1.QUARTER,
        t1.CASE_NUMBER, 
        t1.Court,
          t2.Resp_Party_ID,
          t2.Representation,
          t2.Gender_Max as Resp_Gender,
          t2.Resp_Rep_Cat
          
      FROM __temp__.ADOPT_CASE_DATA_v3 t1
           LEFT JOIN __temp__.ADOPT_RESPONDENTS_3 t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER);
"""

pydb.create_temp_table(adopt_resp_rep_final,'adopt_resp_rep_final')

In [27]:
adopt_resp_rep_final_check = "SELECT COUNT(*) as Count from __temp__.adopt_resp_rep_final"
pydb.start_query_execution_and_wait(adopt_resp_rep_final_check)

{'QueryExecutionId': '0e8bb0fe-84ce-451f-be7f-099deffbc645',
 'Query': 'SELECT COUNT(*) as Count from mojap_de_temp_alpha_user_thomasauburnmoj.adopt_resp_rep_final',
 'StatementType': 'DML',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/0e8bb0fe-84ce-451f-be7f-099deffbc645.csv'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 28, 33, 490000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 28, 34, 120000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 434,
  'DataScannedInBytes': 0,
  'TotalExecutionTimeInMillis': 630,
  'QueryQueueTimeInMillis': 151,
  'QueryPlanningTimeInMillis': 68,
  'ServiceProcessingTimeInMillis': 45},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

## Adopt_Hearing_Events table

### Drop the Adopt_Hearing_Events table if it already exists and remove its data from the S3 bucket

In [28]:
drop_Adopt_Hearing_Events = f"""
DROP TABLE IF EXISTS fcsq.Adopt_Hearing_Events;
"""
pydb.start_query_execution_and_wait(drop_Adopt_Hearing_Events)

# clean up previous Adopt_Hearing_Events files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_Hearing_Events/").delete()

[{'ResponseMetadata': {'RequestId': 'C9DMW43GHBWXBSJM',
   'HostId': 'k5Arb3GF5ioNBkd8GMF18vwjE4ys+4muIO+U7oY2AW23KnCCParb67phQdDo6k7qpw7NHYcV3Ys=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'k5Arb3GF5ioNBkd8GMF18vwjE4ys+4muIO+U7oY2AW23KnCCParb67phQdDo6k7qpw7NHYcV3Ys=',
    'x-amz-request-id': 'C9DMW43GHBWXBSJM',
    'date': 'Wed, 06 Apr 2022 16:28:38 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_06a25b9a-48b4-40b4-b3cd-8764b9c63fb4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'RBd_Uo0kh.4AhZQJXsbo7F67SttDJrwX'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_5df12534-8fa0-4fd8-a03d-46b9f4af4ca4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9GkSjhm5L6Lb1boQozElXZSFsZnv2.Jb'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_20e62f67-84c5-4a19-98e8-c44a379ebf9b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'fG7aFyAJmxOq60Pjx_g0GWTxUtf4TUcx'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_5856b1b9-f103-4002-ad50-6544964c716b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mDAp5zgbnIvNuAEh0Zf4ydt_r6l2Tzpl'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_00337719-0b03-48b5-aabc-ca6bcf9c8795',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'H4Hbq9zk4MGj0lzZwycqFNgZnVxjtBoB'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_7fa25deb-3e31-4a93-ab2f-c4fda405da2a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.xnLlap6qU35UQ0AXc4VOs4VjOgA2TB.'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_150fb48d-9a46-4487-a1ab-10699c988467',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TEqMHPz5ZgkVVaPlaWqtz2N6jkvcxkz5'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_16aea1ba-c015-48a3-a078-b8759f1899c0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'drehYJJ4BkQ.opsg4QHUxWeGmVdoVgLo'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_009748d8-4acc-41a4-98ca-9854a6a65c17',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'RHIZiaBHHegCJWIn1vDLEma1XKZ5KWUa'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_ea495678-9a3b-4827-9d88-69ae3373e74d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'pf5PG5ZmWGU..qt0aB0nLJHP_e3m.Xmk'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_a10a1f24-cc0f-423e-8756-e32658b605ef',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'b1IPtzEc0RZC3avzIP.PnLmYu3MaMGM7'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_1b92441b-d2d1-4585-95cb-7fa45c2119c6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zmuK6EDGgM_VnsucCKO_QHT1RI.eIzvc'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_636ba6e2-18f9-4ae5-bde5-cf282f160414',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'n8UAH0IAC2DdFPl9KeCLGWkcJmMdm3Ys'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_d6ba0398-d139-48fe-8024-ecd53079c9a1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cBJNniXpy82huI8gg4N5QueSn.BrgXMc'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_76d58dc1-4faa-43d7-a162-ab0577868477',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YabhMoSEqRMJ1JyZu2.jglAnZy5Ll9uB'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_bd010f5a-6956-48ca-841e-086ddbc09b5f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'hnHSPwlJSjeGLB4Zl6WIbbCymaVHqP5W'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearing_Events/20220406_155648_00061_rrvbz_da4c8637-1176-4419-88b2-aef8e6957a90',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bQZIiNECkZK8QYTm0IcD3JK6ytpKl.Kw'}]}]

### Create the Adopt_Hearing_Events table in Athena

In [29]:
create_Adopt_Hearing_Events = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_Hearing_Events
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Hearing_Events') AS
SELECT {database}.hearings.EVENT,
  {database}.hearings.VACATED_FLAG,
  {database}.hearings.HEARING_TYPE,
  {database}.hearings.HEARING_DATE,
  {database}.events.RECEIPT_DATE,
  {database}.events.ERROR,
  {database}.events.CASE_NUMBER,
  {database}.events.EVENT_MODEL
FROM {database}.hearings
INNER JOIN {database}.events
ON {database}.hearings.EVENT            = {database}.events.EVENT
WHERE {database}.hearings.VACATED_FLAG IS NULL
AND {database}.events.ERROR             = 'N'
AND HEARING_DATE > date_parse('31-12-2009 00:00:00', '%d-%m-%Y %H:%i:%s')
AND (substring(case_number,5,1)='A' OR substring(case_number,5,1)='Z')
AND {database}.hearings.mojap_snapshot_date = date '{snapshot_date}' and {database}.events.mojap_snapshot_date = date '{snapshot_date}';
"""

pydb.start_query_execution_and_wait(create_Adopt_Hearing_Events)

{'QueryExecutionId': '310e58de-fb96-4d75-b4fd-c37de63e4bb9',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adopt_Hearing_Events\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Hearing_Events') AS\nSELECT familyman_dev_v2.hearings.EVENT,\n  familyman_dev_v2.hearings.VACATED_FLAG,\n  familyman_dev_v2.hearings.HEARING_TYPE,\n  familyman_dev_v2.hearings.HEARING_DATE,\n  familyman_dev_v2.events.RECEIPT_DATE,\n  familyman_dev_v2.events.ERROR,\n  familyman_dev_v2.events.CASE_NUMBER,\n  familyman_dev_v2.events.EVENT_MODEL\nFROM familyman_dev_v2.hearings\nINNER JOIN familyman_dev_v2.events\nON familyman_dev_v2.hearings.EVENT            = familyman_dev_v2.events.EVENT\nWHERE familyman_dev_v2.hearings.VACATED_FLAG IS NULL\nAND familyman_dev_v2.events.ERROR             = 'N'\nAND HEARING_DATE > date_parse('31-12-2009 00:00:00', '%d-%m-%Y %H:%i:%s')\nAND (substring(case_number,5,1)='A' OR substring(case_number,5,1)='Z')\nAND familyman_dev_v2.hearings.mojap_snapshot_date = date '2021-08-19' and familyman_dev_v2.events.mojap_snapshot_date = date '2021-08-19'",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/310e58de-fb96-4d75-b4fd-c37de63e4bb9'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 28, 39, 16000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 28, 48, 651000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 9463,
  'DataScannedInBytes': 2648141523,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/310e58de-fb96-4d75-b4fd-c37de63e4bb9-manifest.csv',
  'TotalExecutionTimeInMillis': 9635,
  'QueryQueueTimeInMillis': 132,
  'QueryPlanningTimeInMillis': 1042,
  'ServiceProcessingTimeInMillis': 40},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adopt_Hearing_Events validation

In [30]:
Adopt_Hearing_Events_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_Hearing_Events")
Adopt_Hearing_Events_count

    count
0  510058

## Adopt_Hearings_Cases table

### Drop the Adopt_Hearings_Cases table if it already exists and remove its data from the S3 bucket

In [31]:
drop_Adopt_Hearings_Cases = f"""
DROP TABLE IF EXISTS fcsq.Adopt_Hearings_Cases;
"""
pydb.start_query_execution_and_wait(drop_Adopt_Hearings_Cases)

# clean up previous Adopt_Hearings_Cases files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_Hearings_Cases/").delete()

[{'ResponseMetadata': {'RequestId': 'B8JH099KQDDCA51K',
   'HostId': '7nQAOL33SLqi3GMBon0klTLlQxpaSiWXpCO+4VWz1ltZeX4Bf0xgxGcUWHuai6YIw7sGaGvtjWA=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '7nQAOL33SLqi3GMBon0klTLlQxpaSiWXpCO+4VWz1ltZeX4Bf0xgxGcUWHuai6YIw7sGaGvtjWA=',
    'x-amz-request-id': 'B8JH099KQDDCA51K',
    'date': 'Wed, 06 Apr 2022 16:28:58 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_7c7dee8b-af31-47cb-9fa5-05f10bfe500e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'GtvozMAj3.yeFY1.2y.f4fnzNuzGxqxc'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_b0300d8a-aa63-4384-a235-82edaaf3af4f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'uNPISPkxTDuhfM8QvtMupOUBbO8_1ejd'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_3d39bcab-d212-43ae-84f2-f948a7dcb497',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cGJPkMkiBozXrCSrUH5B80Fyl0HSxN4L'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_6aa1beae-367c-4da9-9aec-3d538dca40e1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'nzu5YYp9wf41jlc5U2ipI6ob2F_GnCoK'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_71810ba0-dc26-4518-a132-57aba05e176f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.9S_wJyi2atxILyEt5VbK6y_ZxPG7vlv'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_fc6f9bc6-6bbb-4e48-a82b-eca5a59500d4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dzRAISqDOEsxIn9R_XzvT5S2P1FCxi8i'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_60c8581f-2d16-4b10-a310-d409dad9e5f8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Jqd21frOlL87lsFbAQ6ZGvKOl8xiRyH5'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_96cda06b-6c81-44bb-9bb7-02bdd4a07d15',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'O30uEjMVvkk2NuDzb9QG2.A6.OOpNxtP'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_a07061fe-02c9-4a39-9657-0b9d6a5bc592',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '4b_tuKWenfykZLAcyJhG5XULIBqRKQFj'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_f38107ee-2b26-4ef6-ba60-52dae1d13f90',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'R3BarkFeEINQFueZ5kNqqhEIp9Mclj0g'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_d50db47c-de0e-4332-8e3b-f49509d771a1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'VBsooJhNoD7Ivk_v4sSccEsZLEV_auV0'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_1dd1fb9b-fbae-4787-958d-92d1d38b164f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '4F.t4QomkZKMiolpH7rjOAQNbwCVJ46F'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_932a5d91-ca71-46dd-a260-7e4a6232e36f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dbJU5Q6wuj3g9Cb7Xll_xyhTt1KbmQSU'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_f0bdca41-93dc-481d-b5d2-bca71877db82',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rWewFK1hAXinRHSYjMEsfZcql0352xzW'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_708d746e-0389-45ca-99dc-053abd5baf32',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OAK38WYUTvd5dez7SiinQpUiC0oUw_Zk'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_4812d760-ee8a-4de1-83b5-aefcf3b7ff0e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QYURSrr0MMxwG1WgRXi.mbYY4flAmoMs'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_951188c1-bb4c-4e6d-a553-2204d936108c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vfy.KpzT1uilpTFkAfCNGBUljI9opm40'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_4d679d6b-804f-4198-b1a4-1cc29ec7f77f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YaQZ4iyko1cklu381xvrCqGRDHybx0Bz'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_2dbbb177-f7b0-4398-9744-ca0812c189df',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '3JVNt2w6Fkp3U70rVIr02jjR6LGipzJ0'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_c2bac069-7552-4185-8719-9f5cd233f86a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BXGvPVFpSlSKNgFkWQiIBDcHEZxuB3Se'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_3903fde1-83f0-4079-b4f3-a9d07492ae42',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'XTNxy7oR5fk6aROs9oc7XVr9Ewb9G7QC'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_a5b24798-2fa2-4083-a209-9a15f052f9ae',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'U_RkPjbU6TiNWbcekd7PWE0uVzLhEEbq'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_4990b09c-823b-4d37-ab05-e0e64b5a9022',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7yZKX3B4QMNxoYcVCk.30LCGGtdBTqpd'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Hearings_Cases/20220406_155710_00075_aanh8_ef349cc8-1a3a-47ad-a91d-2e0ac5593b2b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mWCx6vdRRG6dXIbgSmliJnojTlExszMs'}]}]

### Create the Adopt_Hearings_Cases table in Athena

In [32]:
"""
Equivalent to Hearings_Adopt_V3
"""

create_Adopt_Hearings_Cases = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_Hearings_Cases
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Hearings_Cases') AS
select t1.case_number,
    t1.error,
    t1.event,
    t1.event_model,
    t1.hearing_date,
    t1.hearing_type,
    t1.receipt_date,
    t1.vacated_flag,
    substring(Case_Number,5,1) AS Case_Type
    from fcsq.Adopt_Hearing_Events AS t1
    where t1.event_model in ('A8', 'A90', 'A91', 'G60')
    order by t1.case_number, t1.receipt_date;
"""

pydb.start_query_execution_and_wait(create_Adopt_Hearings_Cases)

create_Adopt_Hearings_Cases_v2 = f"""
SELECT *,
(case when row_number() over (partition by Case_Number order by receipt_date) = 1 then 1 else 0 end) as Case_Number_ID
FROM fcsq.Adopt_Hearings_Cases
"""

pydb.create_temp_table(create_Adopt_Hearings_Cases_v2,'adopt_hearings_cases_v2')
pydb.start_query_execution_and_wait(create_Adopt_Hearings_Cases_v2)

{'QueryExecutionId': 'c8701561-2c2c-498d-a668-74196a660f3f',
 'Query': 'SELECT *,\n(case when row_number() over (partition by Case_Number order by receipt_date) = 1 then 1 else 0 end) as Case_Number_ID\nFROM fcsq.Adopt_Hearings_Cases',
 'StatementType': 'DML',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/c8701561-2c2c-498d-a668-74196a660f3f.csv'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 11, 847000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 16, 140000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 4122,
  'DataScannedInBytes': 2380748,
  'TotalExecutionTimeInMillis': 4293,
  'QueryQueueTimeInMillis': 127,
  'QueryPlanningTimeInMillis': 90,
  'ServiceProcessingTimeInMillis': 44},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adopt_Hearings_Cases validation

In [33]:
Adopt_Hearings_Cases_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_Hearings_Cases")
Adopt_Hearings_Cases_count

    count
0  323515

## Hearing_Adopt_Applicants table

### Drop the Hearing_Adopt_Applicants table if it already exists and remove its data from the S3 bucket

In [34]:
drop_Hearing_Adopt_Applicants = f"""
DROP TABLE IF EXISTS fcsq.Hearing_Adopt_Applicants;
"""
pydb.start_query_execution_and_wait(drop_Hearing_Adopt_Applicants)

# clean up previous Hearing_Adopt_Applicants files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Hearing_Adopt_Applicants/").delete()

[{'ResponseMetadata': {'RequestId': '7P15VVANQ2W8CERH',
   'HostId': 'Dt7oFvddRVQZtz0Rh9igAuKGl2ro2z4erBOH+G6DGGLbdOVFpTyAdj1OX510xfnphb1JLzai4mg=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'Dt7oFvddRVQZtz0Rh9igAuKGl2ro2z4erBOH+G6DGGLbdOVFpTyAdj1OX510xfnphb1JLzai4mg=',
    'x-amz-request-id': '7P15VVANQ2W8CERH',
    'date': 'Wed, 06 Apr 2022 16:29:25 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_2dd3abd2-aacb-443b-8c41-0c5bbf52477f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'j350lmsHKc0SMdmMntIRGLzrfvJ4tbXr'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_84153c1a-0968-4050-bc99-bd5e63dc6483',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'DEWH3ihE_bNOCH0daHZnPjrexj97ZuPi'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_e4fa06e7-47c9-4da3-b423-39f5f9d13e0a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'qj_rJnY8LKyS0BNuNB.tcfsHXuOoqZqK'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_300e8f28-becc-4f50-86fb-343f8e2dbb42',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'bMvLPFswk9yqS3esfdCnL.p9vF92wrt1'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_665913e4-8789-4a9b-b2b2-03b6814d1a62',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'td3aFGB1Ja.okQuxRa9SOTq5ucOScrwL'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_67a105ce-222a-423d-bd6f-b8a3c3d4a509',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.ueBpJEhGcSLwdp0IvH7IydSOf64Iyru'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_2fbe0b07-5576-46f5-b12c-b38e2cc7ee80',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Rw1dafOPYC_eoZ1zDbxvm5l68iNOhcGU'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_81d81de0-0a14-4471-9c7e-d7e34b375173',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'QAmnbNZnYTgzaBJwSqbHcVXABq3_BqVK'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_d1a1767d-a76d-4a2a-bb96-66f60cd66e78',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'U7fU_7ynMYmj3JfgXogEBmvzlWirsS7X'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_312fd0b9-9231-4057-bc8d-7b5d99a8b24e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '_63BG0HpP.2Ayk7J946VaTFiUPInTyam'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_96835073-b54f-4bf6-9b18-1e02388b9da3',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'yUSee7cZBb3xUwIMSj6u8U7aOiLw4CmJ'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_e5851484-a612-4d58-9ba6-8444dcff4e29',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.G.oO3BPn4BY1BIgPDBF5no0PyXnRSoR'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_865dbf48-5acb-4f73-9bb4-fd0a112ac4c3',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'wXEppM0JpbK9TSwAB7o24MhENGVVlw8u'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_abaad62c-ad4f-471e-be09-b4bbdda9106f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dSi_wulUSTHIfTcQi5BSi3qdmnlDAnBV'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_d04248ca-7d57-4671-85cf-de3bd8631e2a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'nzhbDfv_ZdFMJywRRfLTs7Rn4V6OeZfP'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_24a947d9-df01-4073-8e91-2e5e9387b0dc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 's0FxsoB73ki5tIcQ9fkE3jY.oMyYlNUa'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_0666cbfe-a864-4d2f-abb0-e679bd485aa1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'CT8Z8v5pxeQRQM9uGqJc1bWYOqYf8Lgq'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_80903336-eb3b-4ec0-bd4c-443666840f82',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Le.XXeaQT2w18z7hmhRtNQReBZrIQrKP'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_63c6b2bb-14a5-4a5a-8f3d-a7622f186379',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gP2R6GKpxzmjtZfu4okRHu4yF57erU.g'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_727d55ae-6fce-4281-986d-262148bd1bbb',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ltRmVJ0m.GLkvZJb0HWco18EO21JBLYb'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_82601a55-725f-46d9-b902-f5695590f3f1',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'q6KlKti2KprsS5VKzwJzuT_mmJZlymUw'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_024e36e5-f98f-47f7-803b-d4a3b51ab0f4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Kj9tzpdJzeu1H39MHeH7pErxiQJKLh6M'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_7a8a73a2-127b-49ea-9c6d-2cd29d3166d7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'JDt1YCfPwnaHGqRG6.Z9G1Q7k_JKZ_Kh'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_d01cd188-7f8a-4ee6-81cf-cafa24172969',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Bi4mhGGQnu9HEKBKD1oojjGV9HapGV6V'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_4c739fb9-ffea-4d7c-bb08-b1866cc92965',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'OUq.xYH1o.r0WVNC6jbY8wk7p8_aR3p.'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Applicants/20220406_155738_00144_mvixq_b77cf777-0045-4afb-8bc5-9a6f74efd050',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'rxWWPlw85JzOmc0vMdcVDx.WD9UMQN7d'}]}]

### Create the Hearing_Adopt_Applicants table in Athena

In [35]:
create_Hearing_Adopt_Applicants = f"""
CREATE TABLE IF NOT EXISTS fcsq.Hearing_Adopt_Applicants
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Hearing_Adopt_Applicants') AS
SELECT t1.*,
t2.Case_Number_ID AS Hearing_Count
FROM __temp__.ADOPT_APP_REP_FINAL t1
LEFT JOIN __temp__.Adopt_Hearings_Cases_v2 t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER)
where t2.Case_Number_ID > 0;
"""

pydb.start_query_execution_and_wait(create_Hearing_Adopt_Applicants)

{'QueryExecutionId': '34a16562-a17d-4301-b7ee-a39c52418e89',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Hearing_Adopt_Applicants\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Hearing_Adopt_Applicants') AS\nSELECT t1.*,\nt2.Case_Number_ID AS Hearing_Count\nFROM mojap_de_temp_alpha_user_thomasauburnmoj.ADOPT_APP_REP_FINAL t1\nLEFT JOIN mojap_de_temp_alpha_user_thomasauburnmoj.Adopt_Hearings_Cases_v2 t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER)\nwhere t2.Case_Number_ID > 0",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/34a16562-a17d-4301-b7ee-a39c52418e89'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 26, 607000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 29, 504000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2752,
  'DataScannedInBytes': 2322806,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/34a16562-a17d-4301-b7ee-a39c52418e89-manifest.csv',
  'TotalExecutionTimeInMillis': 2897,
  'QueryQueueTimeInMillis': 97,
  'QueryPlanningTimeInMillis': 165,
  'ServiceProcessingTimeInMillis': 48},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Hearing_Adopt_Applicants validation

In [36]:
Hearing_Adopt_Applicants_count = pydb.read_sql_query("select count(*) as count from fcsq.Hearing_Adopt_Applicants")
Hearing_Adopt_Applicants_count

   count
0  95787

## Hearing_Adopt_Respondents table

### Drop the Hearing_Adopt_Respondents table if it already exists and remove its data from the S3 bucket

In [37]:
drop_Hearing_Adopt_Respondents = f"""
DROP TABLE IF EXISTS fcsq.Hearing_Adopt_Respondents;
"""
pydb.start_query_execution_and_wait(drop_Hearing_Adopt_Respondents)

# clean up previous Hearing_Adopt_Respondents files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Hearing_Adopt_Respondents/").delete()

[{'ResponseMetadata': {'RequestId': 'EHFPFZBRPPPWRBSK',
   'HostId': 'DH+joGwsk8EFMnQ8a9ECxeXLymDF+I68KbDft+hQMmptviv2xnrnLhKKhczkfLxWZZQv7KE0hso=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'DH+joGwsk8EFMnQ8a9ECxeXLymDF+I68KbDft+hQMmptviv2xnrnLhKKhczkfLxWZZQv7KE0hso=',
    'x-amz-request-id': 'EHFPFZBRPPPWRBSK',
    'date': 'Wed, 06 Apr 2022 16:29:38 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_eb92f812-8fb0-407e-9f2c-33dc70077db8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Q.MBV0vbgbEdupyDYJigDriNf0Z47Qns'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_b6bfadbd-d975-43ac-991d-c4fefa9fe482',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'AuA3naoPa9WfFtEQW3Qt.6Bj7FjWu.4r'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_3029a950-2575-4e5f-be93-81d5b4dec728',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'r5gqpPKeu3YxSdIwoPcGqafYMUVWSjh4'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_7a722dd3-a815-4a3e-b3a4-45491af43b0a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2AlrK5rFckg2MZ1AKVkpbeIVigJ2FTP_'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_34066726-e89e-4f29-8307-c579117ec455',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'w3Zu.pIsu.kHURAwpq6Qqrz2p_hGjwkG'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_2e047030-9bec-4a53-b674-73cff885da65',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'niaf9JrWb7RIuv4Jub.sJjuKe2tF0aXr'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_a2b29ac8-f8db-4c8d-93f8-df88b91809a5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '93ITa12btoZvSYE3pJRRKaaRK0vzkvAS'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_950f2e2b-bd7d-4f5e-89f9-b6fafdb48943',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'm1A9sIRENBJPQgGBfLPWazqyLf8tgKcB'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_52e5a493-9c2a-46f7-a7b8-71fe423590a6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'my6lGJqw9xGB2_sc6rO9iJ9spz2HLTtR'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_5806cac3-73ff-4ed8-88ab-c92f5bdfb9b0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'XcUbxEexT62_eG5.DkyCGaA5Lqfr9JtC'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_d8e746ce-9133-41f4-ab32-78159853ad07',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'm.11cESuH7ZIs1bT7IEgi2tFoRWLtt4J'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_38677427-4307-4490-82f6-a4af3da74137',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2fnt8oj9BF06yUq1kn0KYQEgJmJOMlEd'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_0ed08687-aef8-43dc-bbf2-00aaf031e925',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '.nnMz2xEVfZ40j4zsSMwSsPzOH4cdlY0'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_9aee6df9-11ff-419d-b2f2-43cbfe8c5bc7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'i9PigIlDce5ezz4PvRvfvd40OmeapZC6'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_e6c463f0-3177-465c-98e2-00a117d8f118',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'M1IeUgbGmaAVbe7PU5DAhVUF00y7GGRW'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_cf552e23-6b45-430b-967c-2416405bf18f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0JwEPJsP5_QFT9RsaNzRtE55noD2JnTl'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_f6066b4a-d75f-47bf-acf8-a44a765d3e9c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7gWfLBPo7yrhQywpq6gCmMY13JaadWB5'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_9e3ef068-e73d-4f84-ba74-58465bb002a5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'dm.YEn57SKNfDaFvtEqlnj8vJRuNySrk'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_c2ddb2e8-235d-402d-8dbb-62200245ee08',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'zcMnRielCIHtfmRlu0yzCuNdpO3Izd2r'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_470ce216-73b0-40d7-b839-61af64a993d7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'SC9S8N1udxujypP4jsj4Z.D.7Blo_tHR'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_909693e2-40c0-4f99-b522-ace27abe1c9b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 's5Nuf33phZ23pHN0Pyif_d18_IG0UqHh'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_6dc04bec-0357-4c73-8cec-4ecb747b513b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'nmIPORI2.IoAw9yq.GAo8NvmSZiWSLiN'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_d7f5bd1d-dbd3-422c-ad60-fb4e30e90ab8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'wHvd2Y4.va6LJP9geqzYAtPMmaDEzcy_'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_b8a53290-e1e4-4ab5-a6f8-6a1bdc8916b9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FNYLOuVFLirmgh8s7rL5HbP6BK1NwqyV'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_7f4c9bb4-c98b-4b50-8d67-98936deeaf58',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TVH6gHUP109DVex3jcejA8eHCe04Rgu0'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_c9790705-fe04-4e15-8911-97b2e85a4ee6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'C9oC2YaxSfdEk6UIKZLZo7y9JAEtxSFv'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_06d044d9-9e27-4341-a06c-319253a48220',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ZSD8wH3lUImcnZerbVrbBZuAh.x8g.U_'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_def1f568-e539-4dbd-8a61-b201587a402d',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'oOdrYCzHovu359IOvJG43XQ7XSmwnYHl'},
   {'Key': 'fcsq_processing/Adoption/Hearing_Adopt_Respondents/20220406_155753_00014_azqkv_3e12b1e5-d156-4264-b604-516fd48b66c4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'iup.NwGgJE.N_gSziXfwINtfZyQ33HrD'}]}]

### Create the Hearing_Adopt_Respondents table in Athena

In [38]:
create_Hearing_Adopt_Respondents = f"""
CREATE TABLE IF NOT EXISTS fcsq.Hearing_Adopt_Respondents
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Hearing_Adopt_Respondents') AS
    SELECT t1.*,
    t2.Case_Number_ID AS Hearing_Count
    FROM __temp__.ADOPT_RESP_REP_FINAL t1
    LEFT JOIN __temp__.Adopt_Hearings_Cases_v2 t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER)
    where t2.Case_Number_ID > 0;
"""

pydb.start_query_execution_and_wait(create_Hearing_Adopt_Respondents)

{'QueryExecutionId': '6d25aab9-dc9c-4c04-800e-b4a03f8e18b2',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Hearing_Adopt_Respondents\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Hearing_Adopt_Respondents') AS\n    SELECT t1.*,\n    t2.Case_Number_ID AS Hearing_Count\n    FROM mojap_de_temp_alpha_user_thomasauburnmoj.ADOPT_RESP_REP_FINAL t1\n    LEFT JOIN mojap_de_temp_alpha_user_thomasauburnmoj.Adopt_Hearings_Cases_v2 t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER)\n    where t2.Case_Number_ID > 0",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/6d25aab9-dc9c-4c04-800e-b4a03f8e18b2'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 39, 383000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 42, 381000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2836,
  'DataScannedInBytes': 2322207,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/6d25aab9-dc9c-4c04-800e-b4a03f8e18b2-manifest.csv',
  'TotalExecutionTimeInMillis': 2998,
  'QueryQueueTimeInMillis': 102,
  'QueryPlanningTimeInMillis': 158,
  'ServiceProcessingTimeInMillis': 60},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Hearing_Adopt_Respondents validation

In [39]:
Hearing_Adopt_Respondents_count = pydb.read_sql_query("select count(*) as count from fcsq.Hearing_Adopt_Respondents")
Hearing_Adopt_Respondents_count

   count
0  94976

## Adopt_App table

### Drop the Adopt_App table if it already exists and remove its data from the S3 bucket

In [40]:
drop_Adopt_App = f"""
DROP TABLE IF EXISTS fcsq.Adopt_App;
"""
pydb.start_query_execution_and_wait(drop_Adopt_App)

# clean up previous Adopt_App files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_App/").delete()

[{'ResponseMetadata': {'RequestId': '24EYY1GJR5MXZBE2',
   'HostId': '3i648leJ6j+IDfvOhRf0WqPu/5PUv1K2tnWkBHcG5+5XD8FINFxJjPiealLJIoMfDtD+nCR4dq0=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '3i648leJ6j+IDfvOhRf0WqPu/5PUv1K2tnWkBHcG5+5XD8FINFxJjPiealLJIoMfDtD+nCR4dq0=',
    'x-amz-request-id': '24EYY1GJR5MXZBE2',
    'date': 'Wed, 06 Apr 2022 16:29:51 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_App/20220406_155807_00018_dvwcd_c3f308ee-8c31-455a-8ec1-6eb1c1b30b41',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'AkFKw26eVKb_ePFPhztCtraS.ja78TLa'},
   {'Key': 'fcsq_processing/Adoption/Adopt_App/20220406_155807_00018_dvwcd_bca86a9f-2746-4aa4-a81c-88e7598614be',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'HuiOX.0rLIqFlcBiYQmby68LrH0PVacu'},
   {'Key': 'fcsq_processing/Adoption/Adopt_App/20220406_155807_00018_dvwcd_7545a6ab-ac64-4c12-a64b-1d9717e56801',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Mh8qaOjgJBL_6r0rSuDiezayOTOH9i.B'},
   {'Key': 'fcsq_processing/Adoption/Adopt_App/20220406_155807_00018_dvwcd_dc6a4579-347d-44e9-aab8-830a33d061a8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'DNoFLMe0FTfL_8xVDRNBUNaptGY8Z51k'}]}]

### Create the Adopt_App table in Athena

In [41]:
create_Adopt_App = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_App
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_App') AS
SELECT
  'Adoption' AS CASE_TYPE,
  Year,
  Quarter,
  'Party' AS Category,
  'Applicant' AS PARTY,
   App_Gender AS Gender,
  Representation,
  Count (*) AS Count
FROM
  fcsq.HEARING_ADOPT_APPLICANTS
WHERE 
  Representation <> '' /*A very small number of cases from 2011/12 look into whether these should be recoded as N (gender is also blank)*/
GROUP BY
  'Adoption',
  Year,
  Quarter,
  'Party',
  'Applicant',
  App_Gender,
  Representation;
"""

pydb.start_query_execution_and_wait(create_Adopt_App)

{'QueryExecutionId': 'be74bb43-d2e3-4ff3-b9b0-81e3b67f6cf8',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adopt_App\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_App') AS\nSELECT\n  'Adoption' AS CASE_TYPE,\n  Year,\n  Quarter,\n  'Party' AS Category,\n  'Applicant' AS PARTY,\n   App_Gender AS Gender,\n  Representation,\n  Count (*) AS Count\nFROM\n  fcsq.HEARING_ADOPT_APPLICANTS\nWHERE \n  Representation <> '' /*A very small number of cases from 2011/12 look into whether these should be recoded as N (gender is also blank)*/\nGROUP BY\n  'Adoption',\n  Year,\n  Quarter,\n  'Party',\n  'Applicant',\n  App_Gender,\n  Representation",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/be74bb43-d2e3-4ff3-b9b0-81e3b67f6cf8'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 52, 621000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 29, 54, 315000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1498,
  'DataScannedInBytes': 93047,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/be74bb43-d2e3-4ff3-b9b0-81e3b67f6cf8-manifest.csv',
  'TotalExecutionTimeInMillis': 1694,
  'QueryQueueTimeInMillis': 157,
  'QueryPlanningTimeInMillis': 130,
  'ServiceProcessingTimeInMillis': 39},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adopt_App validation

In [42]:
Adopt_App_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_App")
Adopt_App_count

   count
0    221

## Adopt_resp table

### Drop the Adopt_resp table if it already exists and remove its data from the S3 bucket

In [43]:
drop_Adopt_resp = f"""
DROP TABLE IF EXISTS fcsq.Adopt_resp;
"""
pydb.start_query_execution_and_wait(drop_Adopt_resp)

# clean up previous Adopt_resp files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_resp/").delete()

[{'ResponseMetadata': {'RequestId': 'XSNTWX6KPEEC00FN',
   'HostId': 'yelw9k4s0NTDvh8ouhnj2tZgb5SZSJAR/C2k3jgHL8la4p3oumuKTbGYrLZqewNYMbL3xcgOpXQ=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'yelw9k4s0NTDvh8ouhnj2tZgb5SZSJAR/C2k3jgHL8la4p3oumuKTbGYrLZqewNYMbL3xcgOpXQ=',
    'x-amz-request-id': 'XSNTWX6KPEEC00FN',
    'date': 'Wed, 06 Apr 2022 16:30:04 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_resp/20220406_155821_00014_dvdih_9e651853-f78d-479c-a92f-d8fcdc33ba7c',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'NIZyfXpKUiW5bP6oUf07VjJnMT2qo64C'},
   {'Key': 'fcsq_processing/Adoption/Adopt_resp/20220406_155821_00014_dvdih_cfa44764-1013-4ee3-a7a8-7526f055b567',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'f65qUNKsvUC_llf8DPmwtTvxljnOoiQT'},
   {'Key': 'fcsq_processing/Adoption/Adopt_resp/20220406_155821_00014_dvdih_73e5efea-9487-4be1-87ee-fe88e66cc8f0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'v7t0f2qv94CSF0QxWdlJEyDTgNCnvYpk'}]}]

### Create the Adopt_resp table in Athena

In [44]:
create_Adopt_resp = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_resp
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_resp') AS
SELECT
  'Adoption' AS CASE_TYPE,
  Year,
  Quarter,
  'Party' AS Category,
  'Respondent' AS PARTY,
  Resp_Gender AS Gender,
  Representation,
  Count (*) AS Count
FROM
  fcsq.HEARING_ADOPT_RESPONDENTS
WHERE 
  Representation <> '' /*A very small number of cases from 2011/12 look into whether these should be recoded as N (gender is also blank)*/
GROUP BY
  'Adoption',
  Year,
  Quarter,
  'Party',
  'Applicant',
  Resp_Gender,
  Representation;
"""

pydb.start_query_execution_and_wait(create_Adopt_resp)

{'QueryExecutionId': 'ec5e2cbf-6704-4c0b-b372-7d7a28927beb',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adopt_resp\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_resp') AS\nSELECT\n  'Adoption' AS CASE_TYPE,\n  Year,\n  Quarter,\n  'Party' AS Category,\n  'Respondent' AS PARTY,\n  Resp_Gender AS Gender,\n  Representation,\n  Count (*) AS Count\nFROM\n  fcsq.HEARING_ADOPT_RESPONDENTS\nWHERE \n  Representation <> '' /*A very small number of cases from 2011/12 look into whether these should be recoded as N (gender is also blank)*/\nGROUP BY\n  'Adoption',\n  Year,\n  Quarter,\n  'Party',\n  'Applicant',\n  Resp_Gender,\n  Representation",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ec5e2cbf-6704-4c0b-b372-7d7a28927beb'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 5, 223000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 7, 65000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1647,
  'DataScannedInBytes': 91018,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/ec5e2cbf-6704-4c0b-b372-7d7a28927beb-manifest.csv',
  'TotalExecutionTimeInMillis': 1842,
  'QueryQueueTimeInMillis': 152,
  'QueryPlanningTimeInMillis': 165,
  'ServiceProcessingTimeInMillis': 43},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adopt_resp validation

In [45]:
Adopt_resp_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_resp")
Adopt_resp_count

   count
0    233

## adopt_case table

### Drop the adopt_case table if it already exists and remove its data from the S3 bucket

In [46]:
drop_adopt_case = f"""
DROP TABLE IF EXISTS fcsq.adopt_case;
"""
pydb.start_query_execution_and_wait(drop_adopt_case)

# clean up previous adopt_case files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_case/").delete()

[{'ResponseMetadata': {'RequestId': 'G3EDVENE41DV40KK',
   'HostId': 'tx69Tv3XISaBIdYXiy+Cjt2csNmZfENAAZGH4CzL7jqmbUYS+IBdX2zUNSMDhJeRmoGLSk87x/A=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'tx69Tv3XISaBIdYXiy+Cjt2csNmZfENAAZGH4CzL7jqmbUYS+IBdX2zUNSMDhJeRmoGLSk87x/A=',
    'x-amz-request-id': 'G3EDVENE41DV40KK',
    'date': 'Wed, 06 Apr 2022 16:30:16 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_case/20220406_155930_00014_hzgue_b4b7e8f2-ab39-4117-b691-8fbb2b5d5a62',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'f9.oPSERh0EoQvMTmzv7lDy4krDfasSU'},
   {'Key': 'fcsq_processing/Adoption/Adopt_case/20220406_155930_00014_hzgue_f10f6637-7249-4c43-996b-e1feccca53fc',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5CxLsxj9UjEYqF0J4UexmJ_F2csfCWbM'},
   {'Key': 'fcsq_processing/Adoption/Adopt_case/20220406_155930_00014_hzgue_488f984a-0571-4836-a957-670db9d08e83',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0XEqRa2zwX6W4JlLKdkEREUs.H9L.Whw'}]}]

### Create the adopt_case table in Athena

In [47]:
create_adopt_case = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_case
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_case') AS
SELECT *,
    Count(*) as Count FROM
    (SELECT
        'Adoption' AS CASE_TYPE,
        Year,
        Quarter,
        'Cases' AS Category,
        'N/A' AS PARTY,
        'N/A' AS Gender,
        'N/A' AS Representation
    FROM
      __temp__.adopt_case_data_v3)
GROUP BY
  CASE_TYPE,
  Year,
  Quarter,
  Category,
  PARTY,
  Gender,
  Representation;
"""

pydb.start_query_execution_and_wait(create_adopt_case)

{'QueryExecutionId': '578a4306-7ed3-4b36-a787-6092aaa17b6e',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adopt_case\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_case') AS\nSELECT *,\n    Count(*) as Count FROM\n    (SELECT\n        'Adoption' AS CASE_TYPE,\n        Year,\n        Quarter,\n        'Cases' AS Category,\n        'N/A' AS PARTY,\n        'N/A' AS Gender,\n        'N/A' AS Representation\n    FROM\n      mojap_de_temp_alpha_user_thomasauburnmoj.adopt_case_data_v3)\nGROUP BY\n  CASE_TYPE,\n  Year,\n  Quarter,\n  Category,\n  PARTY,\n  Gender,\n  Representation",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/578a4306-7ed3-4b36-a787-6092aaa17b6e'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 17, 90000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 19, 135000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1853,
  'DataScannedInBytes': 45801,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/578a4306-7ed3-4b36-a787-6092aaa17b6e-manifest.csv',
  'TotalExecutionTimeInMillis': 2045,
  'QueryQueueTimeInMillis': 162,
  'QueryPlanningTimeInMillis': 102,
  'ServiceProcessingTimeInMillis': 30},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_case validation

In [48]:
adopt_case_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_case")
adopt_case_count

   count
0     43

## Adopt_Case_Hearings table

### Drop the Adopt_Case_Hearings table if it already exists and remove its data from the S3 bucket

In [49]:
drop_Adopt_Case_Hearings = f"""
DROP TABLE IF EXISTS fcsq.Adopt_Case_Hearings;
"""
pydb.start_query_execution_and_wait(drop_Adopt_Case_Hearings)

# clean up previous Adopt_Case_Hearings files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_Case_Hearings/").delete()

[{'ResponseMetadata': {'RequestId': 'Q0QP6Z3FMK08V17T',
   'HostId': 'tbDBaocM8gCO3XtpgDXH6UBs8nm5Mjn4Q6avb8qYVBsIMjTD7e+cy+ZNqJInUXMw6KBqgh6dxz0=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'tbDBaocM8gCO3XtpgDXH6UBs8nm5Mjn4Q6avb8qYVBsIMjTD7e+cy+ZNqJInUXMw6KBqgh6dxz0=',
    'x-amz-request-id': 'Q0QP6Z3FMK08V17T',
    'date': 'Wed, 06 Apr 2022 16:30:28 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_Case_Hearings/20220406_160004_00119_5829e_141c4e2e-437c-4beb-9411-74768150aa45',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'q0UXwRPqV3IA__zCX1hxkb7lspTOyAI6'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Case_Hearings/20220406_160004_00119_5829e_ff4da768-e316-4c04-b3c3-e0e442632d59',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tKTiiqPlvAbJYSrJZsLuKO_uVJcsZVOD'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Case_Hearings/20220406_160004_00119_5829e_407cdd45-c4c8-4b25-8333-1ad1bbb11cca',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'FLI.F6PO3KJjzlcxqFqdBfzRNmHVUdZW'}]}]

### Create the Adopt_Case_Hearings table in Athena

In [50]:
create_hearing_adopt_case =f"""
SELECT DISTINCT Year, Quarter, Case_Number
FROM fcsq.HEARING_ADOPT_Applicants;
"""

pydb.create_temp_table(create_hearing_adopt_case,'hearing_adopt_case')



create_Adopt_Case_Hearings = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_Case_Hearings
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Case_Hearings') AS
SELECT *, Count(*) as Count FROM
    (SELECT
      'Adoption' AS CASE_TYPE,
      Year,
      Quarter,
      'Cases with a hearing' AS Category,
      'N/A' AS PARTY,
      'N/A' AS Gender,
      'N/A' AS Representation
    FROM
      __temp__.Hearing_ADOPT_Case)
GROUP BY
  CASE_TYPE,
  Year,
  Quarter,
  Category,
  PARTY,
  Gender,
  Representation;
"""

pydb.start_query_execution_and_wait(create_Adopt_Case_Hearings)

{'QueryExecutionId': '4a145426-76ad-407d-85dd-c0985cc64278',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adopt_Case_Hearings\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Case_Hearings') AS\nSELECT *, Count(*) as Count FROM\n    (SELECT\n      'Adoption' AS CASE_TYPE,\n      Year,\n      Quarter,\n      'Cases with a hearing' AS Category,\n      'N/A' AS PARTY,\n      'N/A' AS Gender,\n      'N/A' AS Representation\n    FROM\n      mojap_de_temp_alpha_user_thomasauburnmoj.Hearing_ADOPT_Case)\nGROUP BY\n  CASE_TYPE,\n  Year,\n  Quarter,\n  Category,\n  PARTY,\n  Gender,\n  Representation",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/4a145426-76ad-407d-85dd-c0985cc64278'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 38, 146000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 41, 80000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2502,
  'DataScannedInBytes': 42002,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/4a145426-76ad-407d-85dd-c0985cc64278-manifest.csv',
  'TotalExecutionTimeInMillis': 2934,
  'QueryQueueTimeInMillis': 199,
  'QueryPlanningTimeInMillis': 257,
  'ServiceProcessingTimeInMillis': 233},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adopt_Case_Hearings validation

In [51]:
Adopt_Case_Hearings_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_Case_Hearings")
Adopt_Case_Hearings_count

   count
0     43

## Adoption table

### Drop the Adoption table if it already exists and remove its data from the S3 bucket

In [52]:
drop_Adoption = f"""
DROP TABLE IF EXISTS fcsq.Adoption;
"""
pydb.start_query_execution_and_wait(drop_Adoption)

# clean up previous Adoption files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adoption/").delete()

[{'ResponseMetadata': {'RequestId': 'V5HMB2KBYYBQP3C6',
   'HostId': 'FYFMtOuzoSrF96dnIcj3EkeVkr1y9GdVRUpDQ/BGFp/vxsLi3GAUD4q7g8NH65nAarx8aiNvVQI=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'FYFMtOuzoSrF96dnIcj3EkeVkr1y9GdVRUpDQ/BGFp/vxsLi3GAUD4q7g8NH65nAarx8aiNvVQI=',
    'x-amz-request-id': 'V5HMB2KBYYBQP3C6',
    'date': 'Wed, 06 Apr 2022 16:30:50 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adoption/20220406_160039_00016_w9dmt_244252a5-6f83-4f42-8003-2ff23de31e8b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'eqZIvr8M8TOYk4Lnk5D17OkQqb.zZZVf'},
   {'Key': 'fcsq_processing/Adoption/Adoption/20220406_160039_00016_w9dmt_b30fed24-9128-4696-8b70-d88036ece619',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'lTbUyKzNILSWWj1q7CedopsJakELF2uv'},
   {'Key': 'fcsq_processing/Adoption/Adoption/20220406_160039_00016_w9dmt_a04cdbfa-8934-48fb-adbf-f2f4e19373ca',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '7Kmm0BLp5jeWbsvsv1C4hTwQFrSW8XHd'},
   {'Key': 'fcsq_processing/Adoption/Adoption/20220406_160039_00016_w9dmt_6331f7b3-4c8c-4d94-afd3-e4a50779f8a2',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '1dAsTFdGPbVewa44kUciWVPfFlGnA3d5'}]}]

### Create the Adoption table in Athena

In [53]:
create_Adoption = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adoption
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoption') AS
SELECT
  *
FROM
 fcsq.ADOPT_APP
UNION ALL
SELECT
  *
FROM
  fcsq.ADOPT_RESP
UNION ALL
SELECT
  *
FROM
  fcsq.ADOPT_CASE
UNION ALL
SELECT
  *
FROM
  fcsq.ADOPT_CASE_HEARINGS;
"""

pydb.start_query_execution_and_wait(create_Adoption)

{'QueryExecutionId': '113acb0a-b6e0-46b6-89e3-8f2070680d9b',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adoption\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adoption') AS\nSELECT\n  *\nFROM\n fcsq.ADOPT_APP\nUNION ALL\nSELECT\n  *\nFROM\n  fcsq.ADOPT_RESP\nUNION ALL\nSELECT\n  *\nFROM\n  fcsq.ADOPT_CASE\nUNION ALL\nSELECT\n  *\nFROM\n  fcsq.ADOPT_CASE_HEARINGS",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/113acb0a-b6e0-46b6-89e3-8f2070680d9b'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 51, 388000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 30, 53, 400000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1835,
  'DataScannedInBytes': 10418,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/113acb0a-b6e0-46b6-89e3-8f2070680d9b-manifest.csv',
  'TotalExecutionTimeInMillis': 2012,
  'QueryQueueTimeInMillis': 129,
  'QueryPlanningTimeInMillis': 172,
  'ServiceProcessingTimeInMillis': 48},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adoption validation

In [54]:
Adoption_count = pydb.read_sql_query("select count(*) as count from fcsq.Adoption")
Adoption_count

   count
0    540

## Applicant_representation table

### Drop the Applicant_representation table if it already exists and remove its data from the S3 bucket

In [55]:
drop_Applicant_representation = f"""
DROP TABLE IF EXISTS fcsq.Applicant_representation;
"""
pydb.start_query_execution_and_wait(drop_Applicant_representation)

# clean up previous Applicant_representation files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Applicant_representation/").delete()

[{'ResponseMetadata': {'RequestId': 'QDY15P2WAMZGCESD',
   'HostId': 'jly/anVdp/JOA1BJIgJuw/s1dTbKuWHdhBjfRmOYGAwHrzfBiVsHEoxadEskbQgHmt8u8MXJ7sc=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'jly/anVdp/JOA1BJIgJuw/s1dTbKuWHdhBjfRmOYGAwHrzfBiVsHEoxadEskbQgHmt8u8MXJ7sc=',
    'x-amz-request-id': 'QDY15P2WAMZGCESD',
    'date': 'Wed, 06 Apr 2022 16:31:02 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_10810180-f396-4b4d-9af8-44f7ac85e940',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BnM2vktXWIv8bW4KUO8rNbR0lrFAhF5u'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_2e2f0bba-8cf5-405f-b593-8b10e074c69e',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YDNc1qYuTV6N0bpKPzjTBVpwHGzJUSqe'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_e302e9b4-a141-4956-b7a2-c2bea541a141',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'vt_eVTKLsrvhMwzTg2jlsPEgqxKxTXxq'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_fdcd87ba-8fbd-4b67-be09-5eaddfd80872',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'jAzbK9Q1kDrkP3uoRjsGakGwbqzjIN4I'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_27c52f37-47dc-4e12-ac9b-bbadf072b64b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ZcNelfcntgGJQLrHwoBJf3ICTm.YgGbe'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_f24b9406-b3a4-4667-b04c-0eb27158a382',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '0eWq98EU4Mf2aQJ_ETUVL0rX3ZjWjiiP'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_04257555-549b-4478-a955-ab07453e79e0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Ji_Ci39Gl5QIkpt1RuIH2XCwt2CjdSNv'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_b4c6641d-9c2b-4079-9a60-3f7c9ba658b5',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Xup1M7XM3XumYYISsNVIl4FJUvOhxsMP'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_afda4a14-62ea-46b9-a8b0-3ae557edf630',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'pbYA.LJL3pLdi_yXTQPkDg3emHPX4lFB'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_fc10776f-aff2-487c-b91c-fc7b859da22b',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'mRA.LhV6ngn00ngIDzfX64ebJZ_SxApA'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_29bb6975-a953-435b-945f-9442bfcdf376',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'wi8S24lgZjoWlD2Hmjlk2LKZrTHXItgb'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_c11c0c05-0fa4-4760-8cad-76d65cdb8789',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'DftUJbaDjbCYDry1.EqviizKKttl9wvm'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_c218fe51-e0fa-4628-a4b9-e9204a7b3273',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'YKgoKQLaasdlY2zmbeJmSVIfrfRptBQV'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_4c831095-510d-4f5b-8152-9b7e5ade7cf7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '5ixet5GZ0xzUz88f7AS_AArjUR2AyHhq'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_3137dcbe-bf94-45d0-9341-8e7bbbaf1dd9',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'hLg2HyD8PAcIwBvecWLMbQgxZweuA9k.'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_574d27e1-8e2c-4840-83c9-70eeaa9f40ef',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'BKSbywW7MwjGxjTYR8mobwClp0Rk4f_G'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_1a0d4731-b599-4cda-907d-df14b594cdd4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'D_BeJGqzpnTK2wT8DCadz28otABz9.ck'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_47b0befa-3c4c-4316-aca6-4e59886ccc19',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tBnhWhk6KsQ33UO8P1y4HajjAwKWhdi4'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_85519671-bb62-4301-b747-3b174f73aab4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'EKmL.Yc56V8oMoc9kDh_JaYPsVkktdX0'},
   {'Key': 'fcsq_processing/Adoption/Applicant_representation/20220406_160218_00086_mctx6_896af472-36ec-49fc-8fdb-5e248123fe65',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'pVm8oWzXLw_ranrt891JbTIgHrtPZJLq'}]}]

### Create the Applicant_representation table in Athena

In [56]:
create_applicants_1 = f"""
SELECT Distinct t1.Case_Number, t1.Party, MAX(t1.Representative_Role) as Max_Rep_Role
FROM fcsq.Adopt_Applicant_Info t1
Group by Case_Number, Party;
"""

pydb.create_temp_table(create_applicants_1,'applicants_1')

create_applicants_2 = f"""
SELECT  t1.*,
case when Max_Rep_Role IS NULL then 0
else 1
end as Rep_IND
FROM __temp__.Applicants_1 t1;
"""
pydb.create_temp_table(create_applicants_2,'applicants_2')

create_applicants_3 = f"""
SELECT Distinct t1.Case_Number,
Count(t1.Party) as CountOfParty,
SUM(t1.Rep_Ind) as SumOfRep_IND
FROM __temp__.Applicants_2 t1
Group by Case_Number;
"""
pydb.create_temp_table(create_applicants_3,'applicants_3')

create_Applicant_representation = f"""
CREATE TABLE IF NOT EXISTS fcsq.Applicant_representation
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Applicant_representation') AS
SELECT t1.Case_Number,
t1.CountOfParty,
t1.SumOfRep_IND,
CASE WHEN t1.SumOfRep_Ind > t1.CountOfParty then 'Error'
WHEN t1.SumOfRep_Ind = t1.CountOfParty then 'All'
WHEN t1.SumOfRep_Ind =0 then 'None' else 'Some'  end as App_Rep_Cat
FROM __temp__.Applicants_3 t1;
"""

pydb.start_query_execution_and_wait(create_Applicant_representation)

{'QueryExecutionId': 'c81baf9e-7867-4568-a6e1-02b948d94da5',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Applicant_representation\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Applicant_representation') AS\nSELECT t1.Case_Number,\nt1.CountOfParty,\nt1.SumOfRep_IND,\nCASE WHEN t1.SumOfRep_Ind > t1.CountOfParty then 'Error'\nWHEN t1.SumOfRep_Ind = t1.CountOfParty then 'All'\nWHEN t1.SumOfRep_Ind =0 then 'None' else 'Some'  end as App_Rep_Cat\nFROM mojap_de_temp_alpha_user_thomasauburnmoj.Applicants_3 t1",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/c81baf9e-7867-4568-a6e1-02b948d94da5'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 31, 27, 503000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 31, 29, 711000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 2039,
  'DataScannedInBytes': 1360282,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/c81baf9e-7867-4568-a6e1-02b948d94da5-manifest.csv',
  'TotalExecutionTimeInMillis': 2208,
  'QueryQueueTimeInMillis': 126,
  'QueryPlanningTimeInMillis': 130,
  'ServiceProcessingTimeInMillis': 43},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Applicant_representation validation

In [57]:
Applicant_representation_count = pydb.read_sql_query("select count(*) as count from fcsq.Applicant_representation")
Applicant_representation_count

    count
0  180013

## Respondent_Representation table

### Drop the Respondent_Representation table if it already exists and remove its data from the S3 bucket

In [58]:
drop_Respondent_Representation = f"""
DROP TABLE IF EXISTS fcsq.Respondent_Representation;
"""
pydb.start_query_execution_and_wait(drop_Respondent_Representation)

# clean up previous Respondent_Representation files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Respondent_Representation/").delete()

[{'ResponseMetadata': {'RequestId': 'R5T5JYQHC63MSYKW',
   'HostId': 'iWaQn6ThdQFBSbl2f6EUZOWhxTHX93Yi96OaWnVLrX7N2/ZVv76bqLHF36WHzpOPZ+6y1Jy58A4=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'iWaQn6ThdQFBSbl2f6EUZOWhxTHX93Yi96OaWnVLrX7N2/ZVv76bqLHF36WHzpOPZ+6y1Jy58A4=',
    'x-amz-request-id': 'R5T5JYQHC63MSYKW',
    'date': 'Wed, 06 Apr 2022 16:31:39 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_57bca47a-0df5-4e3a-aba4-4607b211c24a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '94fibNHyyH0kzfpIuqX3WF3v4t3n.opy'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_9799d36c-d44c-4bbe-b798-7b7f55966ace',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'e8fq00XSIneTMSO.WHZwzSm8GeZ2LyPh'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_12a228ca-b570-44fe-b536-e1675802a2b0',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'gw0ssL6hYFD2eoBSgCrVM2cLNJLdhsHS'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_2db07fc2-277d-4768-8026-174f7d213974',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'MIZvxnat_ODkvU3oHVNQctU0bIpSxEmY'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_b5e9cae2-d3ad-4000-83e5-c4de95af4659',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ndNizDT0eboY933H6Ydn_71vQCbySI2v'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_a4ca1e34-a432-4cbe-ac71-0977efecc6c7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ljOLyGd4L7U4XSKqTuUz1IUbJYT1a0_I'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_50fdffb2-b992-45f8-b1be-91b8e9cd055f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'TzDIYOsRWwCt.FxSkBB3.lO6L9_iCFj8'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_650c5f1e-b143-4104-aaac-f8b49bf0c003',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'jFvZU1KExqym64CUmCmeccdHKc306ovW'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_a6c9b18a-d947-4ac6-af62-1286e6311fa6',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'At0e0lbyzP9jpqAYKAF.XnZBgu_3N5dm'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_223033e3-cf1b-4c8d-b0fc-b2bc8aa090f7',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'cKeJshQLi2i2fKvSZQ7aopxNO5dgzUA5'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_a443bfc4-33ef-4782-941a-0e7b2fca8a52',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '49RzHaiCtgWjhcQi.HfhoToJs6ATC9wz'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_3faf076b-8643-41ae-b4bd-1a502923538a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '2kr3idIi6P.mI4bZz1n5TI6BPCTipv9I'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_c506096d-e505-4e0e-a755-ca34f7d8b7a4',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'ydONt8DuEaQ3BurjLix7fAtPbXnRfM59'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_280bd7e6-6424-49fe-8f18-43f3b5ccf221',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '17j.n4UErYWaZiJ8BBcFJPbIrfeNW67y'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_4f253e24-8ee9-4610-9d5f-b7f76649edea',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'VgNUJk1pfOxaeyLSOAJWHicvgWT9n75B'},
   {'Key': 'fcsq_processing/Adoption/Respondent_Representation/20220406_160339_00025_yheyr_29e1a281-3bea-4f62-9b7f-8fee260b3928',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'thAmwLbBa3elpkfLRN4dxC1wJacwDPWS'}]}]

### Create the Respondent_Representation table in Athena

In [59]:
create_respondents_1 = f"""
SELECT Distinct t1.Case_Number, t1.Party, MAX(t1.Representative_Role) as Max_Rep_Role
FROM fcsq.Adopt_Respondent_Info t1
Group by Case_Number, Party;
"""

pydb.create_temp_table(create_respondents_1,'respondents_1')

create_respondents_2 = f"""
SELECT  t1.*,
case when Max_Rep_Role IS NULL then 0
else 1
end as Rep_IND
FROM __temp__.respondents_1 t1;
"""
pydb.create_temp_table(create_respondents_2,'respondents_2')

create_respondents_3 = f"""
SELECT Distinct t1.Case_Number,
Count(t1.Party) as CountOfParty,
SUM(t1.Rep_Ind) as SumOfRep_IND
FROM __temp__.respondents_2 t1
Group by Case_Number;
"""
pydb.create_temp_table(create_respondents_3,'respondents_3')

create_Respondent_Representation = f"""
CREATE TABLE IF NOT EXISTS fcsq.Respondent_Representation
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Respondent_Representation') AS
SELECT t1.Case_Number,
t1.CountOfParty,
t1.SumOfRep_IND,
CASE WHEN t1.SumOfRep_Ind > t1.CountOfParty then 'Error'
WHEN t1.SumOfRep_Ind = t1.CountOfParty then 'All'
WHEN t1.SumOfRep_Ind =0 then 'None' else 'Some'  end as Res_Rep_Cat
FROM __temp__.Respondents_3 t1
"""

pydb.start_query_execution_and_wait(create_Respondent_Representation)

{'QueryExecutionId': '9994ff79-e10b-4226-b3b1-60aae3622362',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Respondent_Representation\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Respondent_Representation') AS\nSELECT t1.Case_Number,\nt1.CountOfParty,\nt1.SumOfRep_IND,\nCASE WHEN t1.SumOfRep_Ind > t1.CountOfParty then 'Error'\nWHEN t1.SumOfRep_Ind = t1.CountOfParty then 'All'\nWHEN t1.SumOfRep_Ind =0 then 'None' else 'Some'  end as Res_Rep_Cat\nFROM mojap_de_temp_alpha_user_thomasauburnmoj.Respondents_3 t1",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/9994ff79-e10b-4226-b3b1-60aae3622362'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 32, 5, 188000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 32, 7, 204000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1850,
  'DataScannedInBytes': 1268081,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/9994ff79-e10b-4226-b3b1-60aae3622362-manifest.csv',
  'TotalExecutionTimeInMillis': 2016,
  'QueryQueueTimeInMillis': 118,
  'QueryPlanningTimeInMillis': 97,
  'ServiceProcessingTimeInMillis': 48},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Respondent_Representation validation

In [60]:
Respondent_Representation_count = pydb.read_sql_query("select count(*) as count from fcsq.Respondent_Representation")
Respondent_Representation_count

    count
0  164479

## Adopt_Disposals_Final table

In [61]:
create_ADOPT_APP_AND_ORDERS_WITH_REP = f"""
SELECT t1.*,
t2.APP_REP_CAT, 
t3.RES_REP_CAT
FROM fcsq.ADOPT_APPS_AND_ORDERS_MATCH AS t1
LEFT JOIN fcsq.Applicant_Representation AS t2 ON (t1.CASE_NUMBER = t2.CASE_NUMBER)
LEFT JOIN fcsq.RESPONDENT_REPRESENTATION as t3 ON t1.CASE_NUMBER = t3.CASE_NUMBER;
"""
pydb.create_temp_table(create_ADOPT_APP_AND_ORDERS_WITH_REP,'ADOPT_APP_AND_ORDERS_WITH_REP')

In [62]:
pydb.read_sql_query("SELECT Count(*) as COUNT from __temp__.adopt_app_and_orders_with_rep")

    count
0  147875

In [63]:
create_Adopt_Disposals_Final = f"""
SELECT t1.*,
cast(t1.Year as varchar(3)) || '-Q' || cast(t1.quarter as varchar(3)) AS Quarter2, 
case when (t1.APP_REP_CAT Is Null Or t1.RES_REP_CAT Is Null)  then '5 Unknown'
    when t1.APP_REP_CAT='None' and t1.RES_REP_CAT ='None' then '4 Neither'
    when t1.APP_REP_CAT='None' and t1.RES_REP_CAT != 'None' then '3 Respondent Only'
    when t1.APP_REP_CAT != 'None' and t1.RES_REP_CAT = 'None' then '2 Applicant Only'
Else '1 Both'
End AS REP_CAT

FROM __temp__.ADOPT_APP_AND_ORDERS_WITH_REP AS t1 LEFT JOIN (SELECT * FROM {database}.courts_mv WHERE {database}.courts_mv.mojap_snapshot_date = date '{snapshot_date}')
AS t2 
ON t1.DSP_COURT = cast(t2.Code as varchar(3));

"""

pydb.create_temp_table(create_Adopt_Disposals_Final,'Adopt_Disposals_Final')

"""
Missed out these columns for now:

t2.Region_Pre2014, 
t2.Region,
Case when t1.YEAR < 2014 then t2.Region_Pre2014
Else t2.Region
End As Final_Region

"""

create_Adopt_Disposals_Final_2 = f"""
SELECT *
FROM __temp__.ADOPT_DISPOSALS_FINAL
WHERE adoption = 'Adoption';
"""

pydb.create_temp_table(create_Adopt_Disposals_Final_2,'Adopt_Disposals_Final_2')

#### Adopt_Disposals_Final validation

In [64]:
Adopt_Disposals_Final_count = pydb.read_sql_query("select count(*) as count from __temp__.Adopt_Disposals_Final_2")
Adopt_Disposals_Final_count

   count
0  82011

## Adopt_Quarterly table

### Drop the Adopt_Quarterly table if it already exists and remove its data from the S3 bucket

In [65]:
drop_Adopt_Quarterly = f"""
DROP TABLE IF EXISTS fcsq.Adopt_Quarterly;
"""
pydb.start_query_execution_and_wait(drop_Adopt_Quarterly)

# clean up previous Adopt_Quarterly files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_Quarterly/").delete()

[{'ResponseMetadata': {'RequestId': '8K3XM86RZDBQVEDF',
   'HostId': '69NepMSyEheLehLNoUPqAAdMiNHBlbc4WVIo9+SAvb61WHWX1F8kFFzmtyGqYti1nLZm0S6Te0g=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': '69NepMSyEheLehLNoUPqAAdMiNHBlbc4WVIo9+SAvb61WHWX1F8kFFzmtyGqYti1nLZm0S6Te0g=',
    'x-amz-request-id': '8K3XM86RZDBQVEDF',
    'date': 'Wed, 06 Apr 2022 16:32:54 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_7e40c586-ef48-48fb-8051-eeaebb6d6d06',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'l14nlgqTlDqnjn_S0K7xutNsIzzm9jOh'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_60d2ff42-3aa0-4cc4-8e2e-7e2a5d4bbcaa',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'tjFQsoU4eA1YbfSL_UEPEWZ0vtoLne7o'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_9eae589a-3d5b-420f-92ff-51cfc1ff5b8a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'NnIauX_vHUnzkzWGn153fgaQTxQgpfhE'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_0099ffd1-d888-4d24-be6c-4d17ab004074',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'EZnaBNf3N_2X38a5Y3SH7EzvG.tOw8TT'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_3fd3021e-ff1e-4155-81ff-bffd8bc73096',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'iIrtafeY9pLsnWud1Wa9Nls39NNje89w'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_dd3560b2-fc7d-407b-aa66-f653c3e7fd1f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'RrLHd4cb8ZbxA2wVpnaj92juZzF8.u5F'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_9d165434-6017-4ee2-a01a-51bd16acca10',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'Ny9OsSqCwvDBKKgV2jwmBcqBvcEdQDVw'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Quarterly/20220406_160607_00029_zdudd_41630826-350e-4824-9640-488c488e53ff',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '8QMIDiPyp6z3mk19ggJzKRKs8pFzVGlL'}]}]

### Create the Adopt_Quarterly table in Athena

In [66]:
create_Adopt_Quarterly = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_Quarterly
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Quarterly') AS
SELECT DISTINCT
        'Adoption' as type,
        year,
        'Q' || cast(quarter as varchar(3)) AS quarter,
        rep_cat,
        count(*) as n,
        avg(wait_weeks) as mean
    FROM 
        __temp__.ADOPT_DISPOSALS_FINAL_2
    WHERE year > 2010 
    AND quarter2 <> '2021-Q4'
    AND adoption='Adoption'
GROUP BY
    year,
    quarter,
    rep_cat
    
UNION ALL
SELECT DISTINCT
        'Adoption' as type,
        year,
        'Q' || cast(quarter as varchar(3)) AS quarter,
        'All' as rep_cat,
        count(*) as n,
        avg(wait_weeks) as mean
    FROM 
        __temp__.ADOPT_DISPOSALS_FINAL_2
    WHERE year > 2010 
    AND quarter2 <> '2021-Q4'
    AND adoption='Adoption'
GROUP BY
    year,
    quarter
"""


testA = f"""
SELECT * FROM __temp__.ADOPT_DISPOSALS_FINAL_2 WHERE year=2015 AND quarter = 3;
"""
testB = f"""
SELECT * FROM fcsq.Adopt_Quarterly WHERE year=2015 AND quarter = 'Q3' ORDER BY rep_cat
"""

pydb.start_query_execution_and_wait(create_Adopt_Quarterly)
#pydb.read_sql_query(testA)
pydb.read_sql_query(testB)

       type  year quarter            rep_cat     n       mean
0  Adoption  2015      Q3             1 Both    16  28.312500
1  Adoption  2015      Q3   2 Applicant Only    59  20.949153
2  Adoption  2015      Q3  3 Respondent Only    44  27.613636
3  Adoption  2015      Q3          4 Neither  1325  14.772830
4  Adoption  2015      Q3          5 Unknown    15  20.133333
5  Adoption  2015      Q3                All  1459  15.613434

#### Adopt_Quarterly validation

In [67]:
Adopt_Quarterly_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_Quarterly")
Adopt_Quarterly_count

pydb.read_sql_query("select * from fcsq.Adopt_Quarterly WHERE year = 2014 AND quarter = \'Q2' ORDER BY rep_cat")

       type  year quarter            rep_cat     n       mean
0  Adoption  2014      Q2             1 Both    17  35.058824
1  Adoption  2014      Q2   2 Applicant Only    58  23.672414
2  Adoption  2014      Q2  3 Respondent Only    45  24.444444
3  Adoption  2014      Q2          4 Neither  1580  14.211392
4  Adoption  2014      Q2          5 Unknown    15  11.800000
5  Adoption  2014      Q2                All  1715  14.985423

## Adopt_Annual table

### Drop the Adopt_Annual table if it already exists and remove its data from the S3 bucket

In [68]:
drop_Adopt_Annual = f"""
DROP TABLE IF EXISTS fcsq.Adopt_Annual;
"""
pydb.start_query_execution_and_wait(drop_Adopt_Annual)

# clean up previous Adopt_Annual files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/Adopt_Annual/").delete()

[{'ResponseMetadata': {'RequestId': '1J3MJF9EYVVJHVQE',
   'HostId': 'ujhWjkWUEBGXoGPNsFqelJ1/oKX/N2z+74sPVJ0nCfXm8JUfMKZ3krANAK+5S1dPrb1WNDu/BEM=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'ujhWjkWUEBGXoGPNsFqelJ1/oKX/N2z+74sPVJ0nCfXm8JUfMKZ3krANAK+5S1dPrb1WNDu/BEM=',
    'x-amz-request-id': '1J3MJF9EYVVJHVQE',
    'date': 'Wed, 06 Apr 2022 16:33:16 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/Adopt_Annual/20220406_160654_00062_n5f94_6abf0400-167e-4e05-ac59-0a6ddcfa5add',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'z_0HFWuHgekXREKBzsIBoHmmk8Ws0u5K'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Annual/20220406_160654_00062_n5f94_f92461a6-88f6-4446-a1dc-1c6f5770a1a8',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9NvQCEF1J4HiDphIhlM6yQM68OJz4HN6'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Annual/20220406_160654_00062_n5f94_7cdb224c-6418-47ea-b149-7a10b86def1f',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'WSKsYNyJYSD9XdF2jpYNUscyfCc.LVZ9'},
   {'Key': 'fcsq_processing/Adoption/Adopt_Annual/20220406_160654_00062_n5f94_0dae273c-20c7-4cdc-9092-1fb3c4f56891',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': 'oSXmNPo_F8k6PcSm8bCopHKuibQLvu_9'}]}]

### Create the Adopt_Annual table in Athena

In [69]:
create_Adopt_Annual = f"""
CREATE TABLE IF NOT EXISTS fcsq.Adopt_Annual
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Annual') AS
SELECT DISTINCT
        'Adoption' as type,
        year,
        'N/A' as quarter,
        rep_cat,
        count(*) as n,
        avg(wait_weeks) as mean
    FROM 
        __temp__.ADOPT_DISPOSALS_FINAL_2
    WHERE year > 2010 
    AND year < 2021
    AND adoption='Adoption'
GROUP BY
    year,
    rep_cat
    
UNION ALL
SELECT DISTINCT
        'Adoption' as type,
        year,
        'N/A' as quarter,
        'All' as rep_cat,
        count(*) as n,
        avg(wait_weeks) as mean
    FROM 
        __temp__.ADOPT_DISPOSALS_FINAL_2
    WHERE year > 2010 
    AND year < 2021
    AND adoption='Adoption'
GROUP BY
    year
"""

pydb.start_query_execution_and_wait(create_Adopt_Annual)

{'QueryExecutionId': '3e041272-6711-4042-979d-869868ea30f5',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.Adopt_Annual\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/Adopt_Annual') AS\nSELECT DISTINCT\n        'Adoption' as type,\n        year,\n        'N/A' as quarter,\n        rep_cat,\n        count(*) as n,\n        avg(wait_weeks) as mean\n    FROM \n        mojap_de_temp_alpha_user_thomasauburnmoj.ADOPT_DISPOSALS_FINAL_2\n    WHERE year > 2010 \n    AND year < 2021\n    AND adoption='Adoption'\nGROUP BY\n    year,\n    rep_cat\n    \nUNION ALL\nSELECT DISTINCT\n        'Adoption' as type,\n        year,\n        'N/A' as quarter,\n        'All' as rep_cat,\n        count(*) as n,\n        avg(wait_weeks) as mean\n    FROM \n        mojap_de_temp_alpha_user_thomasauburnmoj.ADOPT_DISPOSALS_FINAL_2\n    WHERE year > 2010 \n    AND year < 2021\n    AND adoption='Adoption'\nGROUP BY\n    year",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/3e041272-6711-4042-979d-869868ea30f5'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 33, 18, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 33, 23, 275000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 5085,
  'DataScannedInBytes': 409227,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/3e041272-6711-4042-979d-869868ea30f5-manifest.csv',
  'TotalExecutionTimeInMillis': 5275,
  'QueryQueueTimeInMillis': 125,
  'QueryPlanningTimeInMillis': 187,
  'ServiceProcessingTimeInMillis': 65},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### Adopt_Annual validation

In [70]:
Adopt_Annual_count = pydb.read_sql_query("select count(*) as count from fcsq.Adopt_Annual")
Adopt_Annual_count

   count
0     60

In [71]:
df = pydb.read_sql_query("SELECT * FROM fcsq.Adoption")
df.to_csv(path_or_buf = 's3://alpha-family-data/CSVs/Adoption_legrep.csv',index=False)
#df.to_excel('adoption.xlsx')

In [72]:
df = pydb.read_sql_query("SELECT * FROM fcsq.Adopt_Annual UNION ALL SELECT * FROM fcsq.Adopt_Quarterly ORDER BY type,year,quarter,rep_cat")
df.to_csv(path_or_buf = '~/FCSQ_data/timeliness.csv',index=False)

## adopt_timeliness_combined table

### Drop the adopt_timeliness_combined table if it already exists and remove its data from the S3 bucket

In [73]:
drop_adopt_timeliness_combined = f"""
DROP TABLE IF EXISTS fcsq.adopt_timeliness_combined;
"""
pydb.start_query_execution_and_wait(drop_adopt_timeliness_combined)

# clean up previous adopt_timeliness_combined files
bucket.objects.filter(Prefix="fcsq_processing/Adoption/adopt_timeliness_combined/").delete()

[{'ResponseMetadata': {'RequestId': 'V5YAWYFM18HH3215',
   'HostId': 'dVwx40Rzfv1eMZikeK/snof/lBX9mKWuP2F9XVDppRCb47s29ZmiNqkrguGdpHwoQeWgdLQLwAY=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'dVwx40Rzfv1eMZikeK/snof/lBX9mKWuP2F9XVDppRCb47s29ZmiNqkrguGdpHwoQeWgdLQLwAY=',
    'x-amz-request-id': 'V5YAWYFM18HH3215',
    'date': 'Wed, 06 Apr 2022 16:33:44 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'fcsq_processing/Adoption/adopt_timeliness_combined/20220406_161143_00022_x9h32_23771c0b-250c-486a-8cc9-10315062ea4a',
    'DeleteMarker': True,
    'DeleteMarkerVersionId': '9EWwV30uF_qEfD4UmXTvdyLdWXNZbZAk'}]}]

### Create the adopt_timeliness_combined table in Athena

In [74]:
create_adopt_timeliness_combined = f"""
CREATE TABLE IF NOT EXISTS fcsq.adopt_timeliness_combined
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_timeliness_combined') AS
SELECT * FROM fcsq.Adopt_Annual 
UNION ALL 
SELECT * FROM fcsq.Adopt_Quarterly ORDER BY type,year,quarter,rep_cat
"""

pydb.start_query_execution_and_wait(create_adopt_timeliness_combined)

{'QueryExecutionId': 'd03a2f93-4124-4b14-bb91-539d06a04977',
 'Query': "CREATE TABLE IF NOT EXISTS fcsq.adopt_timeliness_combined\nWITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Adoption/adopt_timeliness_combined') AS\nSELECT * FROM fcsq.Adopt_Annual \nUNION ALL \nSELECT * FROM fcsq.Adopt_Quarterly ORDER BY type,year,quarter,rep_cat",
 'StatementType': 'DDL',
 'ResultConfiguration': {'OutputLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/d03a2f93-4124-4b14-bb91-539d06a04977'},
 'QueryExecutionContext': {},
 'Status': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2022, 4, 6, 16, 33, 45, 448000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2022, 4, 6, 16, 33, 47, 36000, tzinfo=tzlocal())},
 'Statistics': {'EngineExecutionTimeInMillis': 1453,
  'DataScannedInBytes': 9114,
  'DataManifestLocation': 's3://aws-athena-query-results-593291632749-eu-west-1/tables/d03a2f93-4124-4b14-bb91-539d06a04977-manifest.csv',
  'TotalExecutionTimeInMillis': 1588,
  'QueryQueueTimeInMillis': 98,
  'QueryPlanningTimeInMillis': 107,
  'ServiceProcessingTimeInMillis': 37},
 'WorkGroup': 'primary',
 'EngineVersion': {'SelectedEngineVersion': 'Athena engine version 2',
  'EffectiveEngineVersion': 'Athena engine version 2'}}

#### adopt_timeliness_combined validation

In [75]:
adopt_timeliness_combined_count = pydb.read_sql_query("select count(*) as count from fcsq.adopt_timeliness_combined")
adopt_timeliness_combined_count

   count
0    318

In [76]:
df = pydb.read_sql_query("SELECT * FROM fcsq.adopt_timeliness_combined WHERE (Year<2021 OR Quarter!='Q3') AND (Year<2021 OR Quarter!='Q2')")
df = df.pivot_table(index=['type','year','quarter'],columns=['rep_cat'],values = ['n','mean'],aggfunc=sum, fill_value=0).swaplevel(axis=1).sort_index(axis=1)
df

rep_cat               1 Both                 2 Applicant Only       3 Respondent Only      4 Neither               5 Unknown              All
                                   mean    n              mean    n              mean    n              mean     n              mean    n              mean     n
type     year quarter
Adoption 2011 N/A             28.560000  100         18.811024  254         18.597765  179         15.139358  4083         14.797688  173         15.731259  4789
              Q1              31.761905   21         21.619048   63         20.225000   40         15.391906   939         14.319149   47         16.183784  1110
              Q2              35.125000   16         18.923077   52         16.181818   44         14.228782  1084         14.947368   38         14.789303  1234
              Q3              25.392857   28         16.200000   65         19.674419   43         15.819556   992         13.931034   58         16.113828  1186
              Q4              26.171429   35         18.635135   74         18.500000   52         15.209738  1068         17.033333   30         15.895155  1259
         2012 N/A             29.315789   76         22.701299  231         19.245399  163         13.914185  4801         18.504762  105         14.760789  5376
              Q1              26.071429   14         21.688525   61         19.692308   39         14.219780  1092         17.080000   25         14.956133  1231
              Q2              29.733333   15         25.888889   63         18.700000   40         13.996473  1134         19.914286   35         15.069153  1287
              Q3              33.000000   23         20.846154   52         21.459459   37         14.154589  1242         19.125000   24         15.004354  1378
              Q4              27.416667   24         21.927273   55         17.595745   47         13.369842  1333         17.142857   21         14.103378  1480
         2013 N/A             27.320513   78         20.352381  210         18.694805  154         13.715765  5696         15.000000   62         14.248226  6200
              Q1              35.083333   24         20.925926   54         21.148936   47         14.213355  1228         18.727273   11         15.121701  1364
              Q2              22.863636   22         17.754386   57         17.446429   56         13.530774  1511         14.320000   25         13.940754  1671
              Q3              28.357143   14         18.830508   59         18.000000   28         13.163376  1469         17.266667   15         13.632808  1585
              Q4              21.611111   18         25.525000   40         17.565217   23         14.038306  1488          9.727273   11         14.436709  1580
         2014 N/A             30.508475   59         21.717842  241         22.960000  200         14.864293  6234         30.825397   63         15.629248  6797
              Q1              20.000000    5         17.615385   52         21.615385   39         14.160542  1551         14.529412   17         14.464543  1664
              Q2              35.058824   17         23.672414   58         24.444444   45         14.211392  1580         11.800000   15         14.985423  1715
              Q3              29.368421   19         20.484375   64         22.275862   58         16.122147  1621         82.466667   15         17.181767  1777
              Q4              30.333333   18         24.388060   67         23.396552   58         14.921053  1482         17.562500   16         15.801950  1641
         2015 N/A             28.524590   61         20.034146  205         24.602679  224         14.970609  5580         15.500000   70         15.631759  6140
              Q1              28.571429   14         20.693548   62         23.656250   64         14.686329  1441         12.550000   20         15.372267  1601
              Q2              27.800000   20         17.972222   36         25.528302   53         14.993948  1487         14.944444   18         15.564436  1614
              Q3              28.312500   16         20.949153   59         27.613636   44         14.772830  1325         20.133333   15         15.613434  1459
              Q4              30.090909   11         19.604167   48         22.682540   63         15.450641  1327         15.470588   17         16.007503  1466
         2016 N/A             36.203704   54         22.802632  152         25.988889  270         15.053361  5266         13.612903   31         15.958947  5773
              Q1              43.900000   20         22.465116   43         28.567568   74         15.789324  1405         14.100000   10         16.934923  1552
              Q2              37.066667   15         22.472222   36         27.333333   69         14.719792  1349         11.777778    9         15.706360  1478
              Q3              28.200000   10         24.486486   37         24.080000   75         15.006033  1326         16.250000    4         15.810606  1452
              Q4              26.555556    9         21.805556   36         23.288462   52         14.613828  1186         13.750000    8         15.241673  1291
         2017 N/A             35.290323   31         24.232877  146         26.287671  219         15.600040  4948         17.421053   38         16.395392  5382
              Q1              34.333333    6         21.962963   27         27.350000   40         15.790030  1324         31.363636   11         16.437500  1408
              Q2              44.500000    8         25.413043   46         27.318182   66         15.449275  1242         10.625000    8         16.497080  1370
              Q3              33.142857    7         23.850000   40         23.810345   58         15.290786  1183         11.700000   10         16.003852  1298
              Q4              30.000000   10         24.909091   33         26.890909   55         15.851543  1199         12.777778    9         16.632466  1306
         2018 N/A             35.361111   36         27.310078  129         28.097222  144         15.977807  4551         21.142857   21         16.800041  4881
              Q1              39.500000    4         31.620690   29         32.259259   27         16.331683  1212         15.857143    7         17.084441  1279
              Q2              36.166667   12         25.360000   25         28.365854   41         15.754460  1177         27.166667    6         16.603489  1261
              Q3              28.125000    8         28.171429   35         25.545455   44         15.780579  1071         21.500000    4         16.628227  1162
              Q4              38.000000   12         24.650000   40         27.750000   32         16.019248  1091         21.000000    4         16.871077  1179
         2019 N/A             43.358974   39         24.739130   92         27.660099  203         16.390690  4597         30.187500   32         17.307274  4963
              Q1              49.533333   15         22.692308   26         28.596154   52         16.830481  1227          9.800000    5         17.750943  1325
              Q2              42.000000   10         25.000000   22         26.948276   58         16.181985  1088         14.875000    8         17.080944  1186
              Q3              37.375000    8         27.384615   26         28.538462   52         15.656034  1160         58.909091   11         16.948290  1257
              Q4              38.166667    6         23.555556   18         26.365854   41         16.871658  1122         18.750000    8         17.417573  1195
         2020 N/A             72.260870   23         34.310000  100         33.171598  169         19.843075  3473         17.913043   23         21.126188  3788
              Q1              32.000000    4         18.769231   39         28.853659   41         15.916834   998         11.750000    8         16.533945  1090
              Q2              34.666667    3         23.000000   12         23.000000   21         18.950368   544         24.800000    5         19.309402   585
              Q3              49.375000    8         30.619048   21         34.274510   51         22.093248   933         13.000000    2         23.078818  1015
              Q4             129.375000    8         63.571429   28         39.142857   56         22.152305   998         21.000000    8         24.847905  1098
         2021 Q1              40.666667    3         34.307692   26         35.658537   41         19.737900  1095         12.750000    8         20.623188  1173

In [77]:
df.to_csv(path_or_buf = '~/FCSQ_data/timeliness.csv',index=False)