# Childrens Act Disposals

In [1]:
# libraries
import pandas as pd
import pydbtools as pydb
import boto3
from datetime import datetime
#import re

In [2]:
# Structured  dataframes
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 900)
pd.set_option("display.max_colwidth", 200)

In [3]:
# Assigning databases and S3 bucket
db1 = "familyman_dev_v2"
fcsq_db = "fcsq"
s3 = boto3.resource("s3")
bucket = s3.Bucket("alpha-family-data")
snapshot_date = "2021-08-19"

### Extracting disposals

In [4]:
# The first select query extracts orders where the type of order is defined by the event model.
# The second select query extracts disposals where the type of order is determined by the value of the field model. Included in this are orders of no order (ORDNOM) and orders refused (ORDREF).
    # C43 contains child arrangement orders (contact/residence - the most common orders types in children act cases) 
# The cross join unnest function in the second select query splits the value (order types - where multiple values can be entered) into one row per value
pydb.create_temp_table(
f""" 
SELECT 
  event,
  case_number,
  event_model,
  receipt_date,
  entry_date,
  COALESCE(receipt_date, entry_date) AS disp_date,
  creating_court,
  CAST(NULL AS VARCHAR) AS field_model,
  CAST(NULL AS VARCHAR) AS all_ord_types,
  CAST(NULL AS VARCHAR) AS split_ord_type_value
FROM 
  {db1}.events 
WHERE 
  ((event_model IN ('C23','C25','C26','C27','C28','C29',
                    'C30','C31','C32A','C32B','C33','C34A','C34B','C35A','C35B','C37',
                    'C38A','C38B','C39','C40','C42','C43A','C44A','C44B','C45A','C45B',
                    'C53','C80','C81','C82') 
            AND error = 'N')
    OR (event_model = 'CPA' AND error = 'N' AND narrative Is Null))
  AND mojap_snapshot_date = date '{snapshot_date}'

UNION ALL

SELECT 
  e.event,
  e.case_number,
  e.event_model,
  e.receipt_date,
  e.entry_date,
  COALESCE(e.receipt_date, e.entry_date) AS disp_date,
  e.creating_court,
  f.field_model,
  f.value as all_ord_types,
  TRIM(ord_type) as split_ord_type_value
FROM 
  {db1}.events e
  INNER JOIN {db1}.event_fields f
    ON e.event = f.event
  CROSS JOIN UNNEST(SPLIT(f.value,',')) AS t(ord_type)  
WHERE 
  ((f.field_model IN ('C21_3', 'C24_6', 'C36_5', 'C43_5', 'ORDNOM_5', 'ORDREF_5'))
    AND error = 'N')
  AND e.mojap_snapshot_date = date '{snapshot_date}'
  AND f.mojap_snapshot_date = date '{snapshot_date}'
  
""",

"ca_disps1")

### Withdrawn events

In [7]:
#Extracting withdrawn events (G63). 
#To get the type of order being withdrawn we can link back to the original application (U22/G50) event
#Cross Join unnest function splits out the application values into a single row per order type

pydb.create_temp_table(
f""" 
SELECT 
  w.event,
  e.case_number,
  e.event_model,
  e.receipt_date,
  e.entry_date,
  COALESCE(e.receipt_date, e.entry_date) AS disp_date,
  e.creating_court,
  w.field_model,
  a.value as all_ord_types,
  TRIM(ord_type) as split_ord_type_value
FROM 
  {db1}.event_fields w
  left join {db1}.event_fields a
    on w.value = CAST (a.event AS VARCHAR)
  left join {db1}.events e
    on w.event = e.event
CROSS JOIN UNNEST(SPLIT(a.value,',')) AS t(ord_type)    
WHERE 
  w.field_model = 'G63_1' 
  AND a.field_model IN ('G50_AT','U22_AT')
  AND w.mojap_snapshot_date = date '{snapshot_date}'
  AND e.mojap_snapshot_date = date '{snapshot_date}'
  AND a.mojap_snapshot_date = date '{snapshot_date}'
  
""",

"ca_withdrawn")

### Joining withdrawn events to other disposal events

In [8]:
#Append withdrawn events to the main set of disposal events
pydb.create_temp_table(
f""" 
SELECT 
  *
FROM
  __temp__.ca_disps1
UNION ALL 
SELECT
  *
FROM
  __temp__.ca_withdrawn

""",
    
"ca_disps_all")

### Extracting children

#### Children - event level

In [9]:
#First we extract the child role ID where the child is listed on the event
#Cross join unnest function splits where multiple children are listed in the event field into one row per child
pydb.create_temp_table(
f"""
  SELECT 
    a.*,
    f.value children,
    TRY_CAST(TRIM(child_role_id) as bigint) child_role_id
  FROM 
    __temp__.ca_disps_all a
    LEFT JOIN {db1}.event_fields f
      ON f.event = a.event
   CROSS JOIN UNNEST(SPLIT(f.value,',')) AS t(child_role_id)
  WHERE 
     f.field_model IN('C21_CH','C23_CH','C24_CH','C25_CH','C26_CH','C27_CH','C28_CH','C29_CH',
                      'C30_CH','C31_CH','C32A_CH','C32B_CH','C33_CH','C34A_CH',
                      'C34B_CH','C35A_CH','C35B_CH','C36_CH','C37_CH','C38A_CH',
                      'C38B_CH','C39_CH','C40_CH','C42_CH','C43_CH',
                      'C43A_CH','C44A_CH','C44B_CH','C45A_CH','C45B_CH','C53_CH',
                      'C80_CH','C81_CH','C82_CH','CPA_CH','ORDNOM_CH','ORDREF_CH', 'G63_CH')
    AND child_role_id <> ''
    AND f.mojap_snapshot_date = DATE'{snapshot_date}'
""",

"ca_disps_child_event")

#### Children - case level

In [10]:
#Secondly, we take all the events in which children were not directly recorded and link to the case details to get child information recorded on the case
#Where a child id is not recorded on the event, this means the event relates to all children listed on the case
#We get the dob and gender of the child from the party table
pydb.create_temp_table(
f"""
  SELECT
    a.*,
    r.role child_role_id,
    p.dob,
    p.gender,
    r.delete_flag
  FROM
    __temp__.ca_disps_all a
    JOIN {db1}.roles r 
      on a.case_number = r.case_number
    JOIN {db1}.parties p 
      on r.party = p.party 
  WHERE
    event not in (SELECT event FROM __temp__.ca_disps_child_event)
    AND role_model in ('CHLDC', 'CHLDZ')
    AND r.mojap_snapshot_date = DATE'{snapshot_date}'
    AND p.mojap_snapshot_date = DATE'{snapshot_date}'
""",

"ca_disps_child_case")

#### Combining children events and children case data

In [11]:
#Append the two datasets created previouly, which also includes all disposal data
#The child event table also links to the party table to get the dob/gender info

pydb.create_temp_table( 
f"""
  SELECT 
    a.case_number,
    a.disp_date,
    EXTRACT(YEAR FROM a.disp_date) AS Year,
    EXTRACT(QUARTER FROM a.disp_date) AS Quarter,
    a.receipt_date,
    a.entry_date,
    a.event,
    a.event_model,
    a.field_model,
    a.split_ord_type_value,
    a.child_role_id,
    p.dob,
    p.gender,
    a.creating_court,
    r.delete_flag
  FROM
    __temp__.ca_disps_child_event a
    JOIN {db1}.roles r on a.child_role_id = r.role
    JOIN {db1}.parties p on r.party = p.party
  WHERE
    r.mojap_snapshot_date = DATE'{snapshot_date}'
    AND p.mojap_snapshot_date = DATE'{snapshot_date}'
  UNION ALL
  SELECT
    a.case_number,
    a.disp_date,
    EXTRACT(YEAR FROM a.disp_date) AS Year,
    EXTRACT(QUARTER FROM a.disp_date) AS Quarter,
    a.receipt_date,
    a.entry_date,
    a.event,
    a.event_model,
    a.field_model,
    a.split_ord_type_value,
    a.child_role_id,
    a.dob,
    a.gender,
     a.creating_court,
    a.delete_flag
  FROM
    __temp__.ca_disps_child_case a
""",

"ca_disps_all_children")

### Final orders

In [14]:
#Extract final order information for all disposals
pydb.create_temp_table( 
f"""
  SELECT 
    event,
    field_model,
    value as FO_value
  FROM 
    {db1}.event_fields
  WHERE 
      field_model IN ('C21_FO','C23_FO','C24_FO','C25_FO','C26_FO','C27_FO','C28_FO','C29_FO','C30_FO',
                      'C31_FO','C32A_FO','C32B_FO','C33_FO','C34A_FO','C34B_FO','C35A_FO','C35B_FO','C36_FO',
                      'C37_FO','C38A_FO','C38B_FO','C39_FO','C40_FO','C42_FO','C43_FO','C43A_FO','C44A_FO',
                      'C44B_FO','C45A_FO','C45B_FO','C53_FO','C80_FO','C81_FO','C82_FO','CPA_FO',
                      'ORDNOM_FO','ORDREF_FO','G63_FO')
              
    AND mojap_snapshot_date = DATE'{snapshot_date}'
""",

"ca_final_orders")

### Link final disposal information to all disposals

In [16]:
#Extract final order information for all disposals
pydb.create_temp_table( 
f"""
  SELECT 
    a.*,
    b.FO_value
  FROM 
    __temp__.ca_disps_all_children a 
  LEFT JOIN __temp__.ca_final_orders b
    ON a.event = b.event
""",

"ca_disps_children_FO")

In [23]:
pydb.read_sql_query ("select count(*) count from __temp__.ca_disps_all_children where year > 2010")

     count
0  9188692

In [22]:
pydb.read_sql_query ("select * from __temp__.ca_disps_children_FO where event_model = 'G63' limit 10")

  case_number  disp_date  year  quarter receipt_date          entry_date        event event_model field_model split_ord_type_value  child_role_id        dob  gender creating_court delete_flag fo_value
0  ME03C00157 2003-11-06  2003        4   2003-11-06 2003-11-06 09:51:02  26700203314         G63       G63_1                  DCO    26700061840 1993-10-30       2             ME           N        Y
1  BG05P00360 2005-09-28  2005        3   2005-09-28 2005-10-03 12:46:10  14600106361         G63       G63_1                  CNO    14600036979 2002-02-13       2             BG           N        Y
2  BG05P00360 2005-09-28  2005        3   2005-09-28 2005-10-03 12:46:10  14600106361         G63       G63_1                  PRO    14600036979 2002-02-13       2             BG           N        Y
3  NE06C00371 2006-07-06  2006        3   2006-07-06 2006-07-07 13:21:01  27800953491         G63       G63_1                  CNO    27800119825 1994-04-22       1             NE           N        Y
4  ZJ05P01019 2006-03-27  2006        1   2006-03-27 2006-03-31 10:02:43  13200182944         G63       G63_1                  CNO    13200060831 1998-02-28       1             ZJ           N        Y
5  YO07P01187 2008-04-07  2008        2   2008-04-07 2008-04-08 12:26:45  38600974774         G63       G63_1                   OD    38600099505 2006-03-23       1             YO           N        Y
6  YO07P01187 2008-04-07  2008        2   2008-04-07 2008-04-08 12:26:45  38600974774         G63       G63_1                  CNO    38600099505 2006-03-23       1             YO           N        Y
7  YO07P01187 2008-04-07  2008        2   2008-04-07 2008-04-08 12:26:45  38600974774         G63       G63_1                   RO    38600099505 2006-03-23       1             YO           N        Y
8  MB03P01152 2004-09-09  2004        3   2004-09-09 2004-09-17 14:28:03  27000357065         G63       G63_1                  PRO    27000089442 1995-01-11       1             MB           N        N
9  EX06C00039 2008-02-07  2008        1   2008-02-07 2008-02-13 10:24:26  19800526451         G63       G63_1                  CRO    19800087724 2006-09-08       2             EX           N        Y