# Childrens Act Disposals

In [136]:
# libraries
import pandas as pd
import pydbtools as pydb
import boto3
from datetime import datetime
#import re
import os  # for file paths
import awswrangler as wr

In [137]:
# Structured  dataframes
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 900)
pd.set_option("display.max_colwidth", 200)

In [138]:
# Assigning databases and S3 bucket
db1 = "familyman_dev_v2"
fcsq_db = "fcsq"
# create path for within athena FCSQ database in the S3 folder
fcsq_db_path = f"s3://alpha-family-data/fcsq_processing/CA_disps/"
s3 = boto3.resource("s3")
bucket = s3.Bucket("alpha-family-data")
snapshot_date = "2021-11-11"

### Extracting disposals

In [139]:
# The first select query extracts orders where the type of order is defined by the event model.
# The second select query extracts disposals where the type of order is determined by the value of the field model. Included in this are orders of no order (ORDNOM) and orders refused (ORDREF).
    # C43 contains child arrangement orders (contact/residence - the most common orders types in children act cases) 
# The cross join unnest function in the second select query splits the value (order types - where multiple values can be entered) into one row per value
pydb.create_temp_table(
f""" 
SELECT 
  event,
  case_number,
  event_model,
  event_model as lookup_event_code,
  receipt_date,
  entry_date,
  COALESCE(receipt_date, entry_date) AS disp_date,
  creating_court,
  CAST(NULL AS VARCHAR) AS field_model,
  CAST(NULL AS VARCHAR) AS all_event_ord_types,
  'N/A' AS order_type
FROM 
  {db1}.events 
WHERE 
  ((event_model IN ('C23','C25','C26','C27','C28','C29',
                    'C30','C31','C32A','C32B','C33','C34A','C34B','C35A','C35B','C37',
                    'C38A','C38B','C39','C40','C42','C43A','C44A','C44B','C45A','C45B',
                    'C53','C80','C81','C82') 
            AND error = 'N')
    OR (event_model = 'CPA' AND error = 'N' AND narrative Is Null))
  AND mojap_snapshot_date = date '{snapshot_date}'

UNION ALL

SELECT 
  e.event,
  e.case_number,
  e.event_model,
  CASE WHEN e.event_model IN ('C43', 'ORDNOM', 'ORDREF')
      THEN 'GEN'
      ELSE e.event_model END
    AS lookup_event_code,
  e.receipt_date,
  e.entry_date,
  COALESCE(e.receipt_date, e.entry_date) AS disp_date,
  e.creating_court,
  f.field_model,
  f.value as all_event_ord_types,
  TRIM(ord_type) as order_type
FROM 
  {db1}.events e
  INNER JOIN {db1}.event_fields f
    ON e.event = f.event
  CROSS JOIN UNNEST(SPLIT(f.value,',')) AS t(ord_type)  
WHERE 
  ((f.field_model IN ('C21_3', 'C24_6', 'C36_5', 'C43_5', 'ORDNOM_5', 'ORDREF_5'))
    AND error = 'N')
  AND e.mojap_snapshot_date = date '{snapshot_date}'
  AND f.mojap_snapshot_date = date '{snapshot_date}'
  
""",

"ca_disps1")

### Withdrawn events

In [140]:
#Extracting withdrawn events (G63). 
#To get the type of order being withdrawn we can link back to the original application (U22/G50) event
#Cross Join unnest function splits out the application values into a single row per order type

pydb.create_temp_table(
f""" 
SELECT 
  w.event,
  e.case_number,
  e.event_model,
  'GEN' AS lookup_event_code,
  e.receipt_date,
  e.entry_date,
  COALESCE(e.receipt_date, e.entry_date) AS disp_date,
  e.creating_court,
  w.field_model,
  a.value as all_event_ord_types,
  TRIM(ord_type) as order_type
FROM 
  {db1}.event_fields w
  left join {db1}.event_fields a
    on w.value = CAST (a.event AS VARCHAR)
  left join {db1}.events e
    on w.event = e.event
CROSS JOIN UNNEST(SPLIT(a.value,',')) AS t(ord_type)    
WHERE 
  w.field_model = 'G63_1' 
  AND a.field_model IN ('G50_AT','U22_AT')
  AND e.error = 'N'
  AND w.mojap_snapshot_date = date '{snapshot_date}'
  AND e.mojap_snapshot_date = date '{snapshot_date}'
  AND a.mojap_snapshot_date = date '{snapshot_date}'
  
""",

"ca_withdrawn")

### Joining withdrawn events to other disposal events

In [141]:
#Append withdrawn events to the main set of disposal events
pydb.create_temp_table(
f""" 
SELECT 
  *
FROM
  __temp__.ca_disps1
UNION ALL 
SELECT
  *
FROM
  __temp__.ca_withdrawn

""",
    
"ca_disps_all")

### Adding the order & disposal type description and case type

In [142]:
# The order type lookup file has been created previosuly
pydb.create_temp_table(
f"""
SELECT
  t1.*,
  CASE WHEN t2.order_code < 19 OR (SUBSTR(case_number,5,1) = 'C') THEN 'C'
        ELSE 'P' END 
      AS case_type,
  CASE WHEN t1.event_model = 'G63' THEN 3
       WHEN t1.event_model = 'ORDREF' THEN 4
       WHEN t1.event_model = 'ORDNOM' THEN 5
       WHEN t2.order_code BETWEEN 40 AND 45 THEN 2
       ELSE 1 END
    AS disp_type_code,
  CASE WHEN t1.event_model = 'G63' THEN 'Withdrawn'
       WHEN t1.event_model = 'ORDREF' THEN 'Refused'
       WHEN t1.event_model = 'ORDNOM' THEN 'No order'
       WHEN t2.order_code BETWEEN 40 AND 45 THEN 'Interim Order'
       ELSE 'Order' END
    AS disp_type,
  order_code,
  order_desc
FROM
  __temp__.ca_disps_all t1
  LEFT JOIN {fcsq_db}.ca_order_type_lookup t2
    ON t1.lookup_event_code = t2.event_model
    AND t1.order_type = t2.value
WHERE
  t2.order_code BETWEEN 0 AND 45

""",
    
"ca_disps_order_name")

### Extracting children

#### Children - event level

In [143]:
#First we extract the child role ID where the child is listed on the event
#Cross join unnest function splits where multiple children are listed in the event field into one row per child
pydb.create_temp_table(
f"""
  SELECT 
    a.*,
    f.value children,
    TRY_CAST(TRIM(child_role_id) as bigint) child_role_id
  FROM 
    __temp__.ca_disps_order_name a
    LEFT JOIN {db1}.event_fields f
      ON f.event = a.event
   CROSS JOIN UNNEST(SPLIT(f.value,',')) AS t(child_role_id)
  WHERE 
     f.field_model IN('C21_CH','C23_CH','C24_CH','C25_CH','C26_CH','C27_CH','C28_CH','C29_CH',
                      'C30_CH','C31_CH','C32A_CH','C32B_CH','C33_CH','C34A_CH',
                      'C34B_CH','C35A_CH','C35B_CH','C36_CH','C37_CH','C38A_CH',
                      'C38B_CH','C39_CH','C40_CH','C42_CH','C43_CH',
                      'C43A_CH','C44A_CH','C44B_CH','C45A_CH','C45B_CH','C53_CH',
                      'C80_CH','C81_CH','C82_CH','CPA_CH','ORDNOM_CH','ORDREF_CH', 'G63_CH')
    AND child_role_id <> ''
    AND f.mojap_snapshot_date = DATE'{snapshot_date}'
""",

"ca_disps_child_event")

#### Children - case level

In [144]:
#Secondly, we take all the events in which children were not directly recorded and link to the case details to get child information recorded on the case
#Where a child id is not recorded on the event, this means the event relates to all children listed on the case
#We get the dob and gender of the child from the party table
pydb.create_temp_table(
f"""
  SELECT
    a.*,
    r.role child_role_id,
    p.dob,
    p.gender,
    r.delete_flag
  FROM
    __temp__.ca_disps_order_name a
    JOIN {db1}.roles r 
      on a.case_number = r.case_number
    JOIN {db1}.parties p 
      on r.party = p.party 
  WHERE
    event not in (SELECT event FROM __temp__.ca_disps_child_event)
    AND role_model in ('CHLDC', 'CHLDZ')
    AND r.mojap_snapshot_date = DATE'{snapshot_date}'
    AND p.mojap_snapshot_date = DATE'{snapshot_date}'
""",

"ca_disps_child_case")

#### Combining children events and children case data

In [145]:
#Append the two datasets created previouly, which also includes all disposal data
#The child event table also links to the party table to get the dob/gender info

pydb.create_temp_table( 
f"""
  SELECT 
    a.case_number,
    a.disp_date,
    EXTRACT(YEAR FROM a.disp_date) AS Year,
    EXTRACT(QUARTER FROM a.disp_date) AS Quarter,
    a.case_type,
    a.receipt_date,
    a.entry_date,
    a.event,
    a.event_model,
    a.field_model,
    a.order_type,
    a.disp_type_code,
    a.disp_type,
    a.order_code,
    a.order_desc,
    a.child_role_id,
    p.dob,
    p.gender,
    a.creating_court,
    r.delete_flag
  FROM
    __temp__.ca_disps_child_event a
    JOIN {db1}.roles r on a.child_role_id = r.role
    JOIN {db1}.parties p on r.party = p.party
  WHERE
    r.mojap_snapshot_date = DATE'{snapshot_date}'
    AND p.mojap_snapshot_date = DATE'{snapshot_date}'
  UNION ALL
  SELECT
    a.case_number,
    a.disp_date,
    EXTRACT(YEAR FROM a.disp_date) AS Year,
    EXTRACT(QUARTER FROM a.disp_date) AS Quarter,
    a.case_type,
    a.receipt_date,
    a.entry_date,
    a.event,
    a.event_model,
    a.field_model,
    a.order_type,
    a.disp_type_code,
    a.disp_type,
    a.order_code,
    a.order_desc,
    a.child_role_id,
    a.dob,
    a.gender,
     a.creating_court,
    a.delete_flag
  FROM
    __temp__.ca_disps_child_case a
""",

"ca_disps_all_children")

### Final orders

In [146]:
#Extract final order information for all disposals
pydb.create_temp_table( 
f"""
  SELECT 
    event,
    field_model,
    value as FO_value
  FROM 
    {db1}.event_fields
  WHERE 
      field_model IN ('C21_FO','C23_FO','C24_FO','C25_FO','C26_FO','C27_FO','C28_FO','C29_FO','C30_FO',
                      'C31_FO','C32A_FO','C32B_FO','C33_FO','C34A_FO','C34B_FO','C35A_FO','C35B_FO','C36_FO',
                      'C37_FO','C38A_FO','C38B_FO','C39_FO','C40_FO','C42_FO','C43_FO','C43A_FO','C44A_FO',
                      'C44B_FO','C45A_FO','C45B_FO','C53_FO','C80_FO','C81_FO','C82_FO','CPA_FO',
                      'ORDNOM_FO','ORDREF_FO','G63_FO')
              
    AND mojap_snapshot_date = DATE'{snapshot_date}'
""",

"ca_final_orders")

### Link final disposal information to all disposals

In [147]:
#Extract final order information for all disposals
pydb.create_temp_table( 
f"""
  SELECT 
    a.*,
    b.FO_value
  FROM 
    __temp__.ca_disps_all_children a 
  LEFT JOIN __temp__.ca_final_orders b
    ON a.event = b.event
  WHERE 
    delete_flag = 'N'
""",

"ca_disps_children_FO")

In [121]:
pydb.read_sql_query ("select * from __temp__.ca_disps_children_FO limit 10")

  case_number  disp_date  year  quarter case_type receipt_date          entry_date        event event_model field_model order_type  disp_type_code disp_type  order_code                 order_desc  child_role_id        dob  gender creating_court delete_flag fo_value
0  LU16P03702 2017-10-30  2017        4         P   2017-10-30 2017-11-14 14:19:18  25801667869         C21       C21_3          A               1     Order          99        Blank Order (Order)        7096155 2003-07-22       2             LU           N        Y
1  NG16P00246 2016-07-12  2016        3         P   2016-07-12 2016-07-29 10:40:58  28602608257         C21       C21_3          A               1     Order          99        Blank Order (Order)        6835878 2014-09-02       1             NG           N        N
2  GU17P00306 2017-06-15  2017        2         P   2017-06-15 2017-06-17 09:09:26  21100971152         C21       C21_3          A               1     Order          99        Blank Order (Order)        8039161 2010-01-02       1             GU           N        N
3  SD17P01078 2020-10-09  2020        4         P   2020-10-09 2020-10-27 12:12:33  38300578365         C21       C21_3          A               1     Order          99        Blank Order (Order)        8428985 2008-01-13       1             SD           N        N
4  SN17P00566 2018-12-05  2018        4         P   2018-12-05 2019-01-04 10:09:09  34501200474         C43       C43_5        CAL               1     Order          30  Section 8 Residence Order        8684185 2015-06-11       2             SN           N        Y
5  SN17P00566 2018-05-23  2018        2         P   2018-05-23 2018-08-09 14:16:39  34501174914         C21       C21_3          A               1     Order          99        Blank Order (Order)        8684185 2015-06-11       2             SN           N        N
6  NR18C00005 2018-02-02  2018        1         P   2018-02-02 2018-03-08 13:51:13  28503439725         C21       C21_3          A               1     Order          99        Blank Order (Order)        8674494 2014-11-15       2             NR           N        N
7  NR18C00005 2018-07-11  2018        3         P   2018-07-11 2018-08-07 08:52:41  28503497909         C21       C21_3          A               1     Order          99        Blank Order (Order)        8674494 2014-11-15       2             NR           N        N
8  ZE18P00030 2018-08-16  2018        3         P   2018-08-16 2018-08-17 15:39:45  12100713155         C21       C21_3          A               1     Order          99        Blank Order (Order)        8683739 2014-08-06       2             ZE           N        N
9  WD17P01186 2017-12-20  2017        4         P   2017-12-20 2018-02-06 08:33:02  36201815666         C21       C21_3          A               1     Order          99        Blank Order (Order)        8516854 2003-01-15       2             WD           N        N

In [133]:
pydb.read_sql_query ("select count (*) count from __temp__.ca_disps_children_FO where year = 2019 and disp_type = 'Order' and delete_flag = 'N' and order_code = 30 and case_type = 'P'")

   count
0  75739

In [148]:
#drop table in Athena (if it already exists)
_ = pydb.start_query_execution_and_wait(f"""DROP TABLE {fcsq_db}.ca_disps""")

In [149]:
#set S3 file path
disp_s3_path = os.path.join(fcsq_db_path, "disps/")
# Delete all the underlying data stored within the S3 location
if wr.s3.list_objects(disp_s3_path):
    print("deleting objs")
    wr.s3.delete_objects(disp_s3_path)
    
t_disps = f"""
CREATE TABLE {fcsq_db}.ca_disps WITH
(
    external_location='{disp_s3_path}'
) AS   
SELECT
*
FROM
__temp__.ca_disps_children_FO
"""
    
_ = pydb.start_query_execution_and_wait(t_disps)

deleting objs