# Childrens Act Disposals

In [3]:
# libraries
import pandas as pd
import pydbtools as pydb
import boto3
from datetime import datetime
#import re
import os  # for file paths
import awswrangler as wr

In [4]:
# Structured  dataframes
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 900)
pd.set_option("display.max_colwidth", 200)

In [5]:
# Assigning databases and S3 bucket
db1 = "familyman_dev_v2"
fcsq_db = "fcsq"
# create path for within athena FCSQ database in the S3 folder
fcsq_db_path = f"s3://alpha-family-data/fcsq_processing/CA_disps/"
s3 = boto3.resource("s3")
bucket = s3.Bucket("alpha-family-data")
snapshot_date = "2021-11-11"

### Orders made

In [14]:
pydb.create_temp_table( 
f"""
  SELECT 
    DISTINCT
    case_number,
    disp_date,
    Year,
    Quarter,
    case_type,
    receipt_date,
    entry_date,
    event,
    event_model,
    field_model,
    order_type,
    disp_type_code,
    disp_type,
    order_code,
    order_desc,
    creating_court
  FROM 
    {fcsq_db}.ca_disps a 
  WHERE 
    disp_type_code = 1
""",

"ca_disp_order_type")

In [13]:
pydb.read_sql_query ("select count (*) count from __temp__.ca_order_type where year = 2020 and case_type = 'P' and order_code = 29 ")

   count
0  46368

### Disposal Events

In [18]:
pydb.create_temp_table( 
f"""
  SELECT 
    DISTINCT
    case_number,
    disp_date,
    Year,
    Quarter,
    case_type,
    receipt_date,
    entry_date,
    event,
    event_model,
    field_model,
    order_type,
    disp_type_code,
    disp_type,
    order_code,
    order_desc,
    creating_court
  FROM 
    {fcsq_db}.ca_disps a 
  WHERE 
    disp_type < 40
""",

"ca_disp_events")

In [21]:
pydb.read_sql_query ("select count (*) count from __temp__.ca_disp_events where year = 2011 and case_type = 'P'")

    count
0  122138

In [22]:
pydb.read_sql_query ("select *  from __temp__.ca_disp_events limit 10")

  case_number  disp_date  year  quarter case_type receipt_date          entry_date        event event_model field_model order_type  disp_type_code disp_type  order_code                 order_desc creating_court
0  TE11C00249 2012-04-27  2012        2         C   2012-04-27 2012-05-02 13:26:00  27001101651        C35A        <NA>        N/A               1     Order           4          Supervision Order             MB
1  CM14P02696 2015-02-04  2015        1         P   2015-02-04 2015-02-18 16:50:59  23300959782         C43       C43_5        CAL               1     Order          30  Section 8 Residence Order             IP
2  CM99P00447 2000-08-15  2000        3         P   2000-08-15 2000-08-22 09:47:27  16700066585         C43       C43_5         CN               1     Order          29    Section 8 Contact Order             CM
3  ME14P01411 2014-09-02  2014        3         P   2014-09-02 2014-10-06 12:17:59  16301148893         C43       C43_5        CAL               1     Order          30  Section 8 Residence Order             CT
4  ME18P01278 2020-10-16  2020        4         P   2020-10-16 2020-11-03 13:37:58  26701444366         C43       C43_5       CAST               1     Order          29    Section 8 Contact Order             ME
5  MA21P00027 2021-06-23  2021        2         P   2021-06-23 2021-06-30 14:25:58  26206160718         C43       C43_5        CAL               1     Order          30  Section 8 Residence Order             MA
6  VV10P00129 2010-07-23  2010        3         P   2010-07-23 2010-07-23 14:27:46  57700033266         C43       C43_5         CN               1     Order          29    Section 8 Contact Order             WV
7  PL20P00960 2021-04-01  2021        2         P   2021-04-01 2021-04-14 11:59:58  35200711820         C43       C43_5        CAL               1     Order          30  Section 8 Residence Order             TQ
8  SA19P00780 2019-07-29  2019        3         P   2019-07-29 2019-07-31 10:30:36  34401535385         C43       C43_5       CAST               1     Order          29    Section 8 Contact Order             SA
9  DD08P00065 2008-05-29  2008        2         P   2008-05-29 2008-06-16 11:23:00  18900397555         C43       C43_5         CN               1     Order          29    Section 8 Contact Order             DD