In [2]:
import numpy as np
import pandas as pd
import pydbtools as pydb

In [8]:
def add_count(Name,Count,validation_checks):
    if validation_checks.size!=0:
        validation_checks = np.vstack([validation_checks,[Name,Count]])
    else:
        validation_checks=np.array([Name,Count])
        validation_checks = validation_checks.reshape(1,2)


    return validation_checks

In [9]:
def get_count(Name,temp_flag, validation_checks):
    if temp_flag:
        database = '__temp__'
    else:
        database = 'fcsq'
    count = pydb.read_sql_query(f"select count(*) as count from {database}.{Name}")['count'][0]
    validation_checks = add_count(Name,count,validation_checks)
    return validation_checks

In [14]:
def get_count_2(Name,validation_checks):
    try:
        count = pydb.read_sql_query(f"select count(*) as count from fcsq.{Name}")['count'][0]
    except:
        count = pydb.read_sql_query(f"select count(*) as count from __temp__.{Name}")['count'][0]
    validation_checks = add_count(Name,count,validation_checks)
    return validation_checks

In [17]:
list_of_tables = [
    ['Adopt_applications_data_sorted',False],
    ['adopt_orders_data_sorted',False],
    ['ADOPT_APPS_AND_ORDERS_MATCH',False],
    ['Adopt_Applicant_Info',False],
    ['adopt_respondent_info',False],
    ['adopt_applicants_3',True]
]
validation_checks = np.array([])

for table in list_of_tables:
    validation_checks = get_count(table[0],table[1],validation_checks)
    
    

checks_df = pd.DataFrame(validation_checks,columns=['Name','Count'])
checks_df

                             Name   Count
0  Adopt_applications_data_sorted  175169
1        adopt_orders_data_sorted  150507
2     ADOPT_APPS_AND_ORDERS_MATCH  147875
3            Adopt_Applicant_Info  253131
4           adopt_respondent_info  286085
5              adopt_applicants_3  250761

In [20]:
list_of_tables = ['Adopt_applications_data_sorted',
                  'adopt_orders_data_sorted',
                  'ADOPT_APPS_AND_ORDERS_MATCH',
                  'Adopt_Applicant_Info',
                  'adopt_respondent_info',
                  'adopt_applicants_3']

validation_checks = np.array([])

for table in list_of_tables:
    validation_checks = get_count_2(table,validation_checks)

checks_df = pd.DataFrame(validation_checks,columns=['Name','Count'])
checks_df

                             Name   Count
0  Adopt_applications_data_sorted  175169
1        adopt_orders_data_sorted  150507
2     ADOPT_APPS_AND_ORDERS_MATCH  147875
3            Adopt_Applicant_Info  253131
4           adopt_respondent_info  286085
5              adopt_applicants_3       0